div#csrpromo {
    padding: 10px;
}

div#csrpromo span.large {
    font-size: 200%;
    font-weight: bold;
}

div#csrpromo span#moreinfo {
    color: #FE894C;
}

div#csrpromo span.small {
    font-size: 140%;
    font-weight: 500;
}

div#csrpromo span.click {
    padding-top: 50px;
    font-size: 110%;
    font-weight: 500;
    color: #00F;
    text-decoration: underline;
}

div#csrpromo a {
    text-decoration: none;
    color: #000;
}

div#csrpromo a:hover {
    color: #00F;
}