/* Generic styles from perl gs.css, and overrides of Java global.css */

.articlecopy p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    margin: 10px 0;
}

.ncopy {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 10pt;
}

.rcopy {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
}

.r2bcopy, .rlbcopy, .r2ibcopy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 10px;
}

.r2bcopy {
    color: #000000;
    font-style: normal;
}

.rlbcopy {
    color: #003399;
    font-style: normal;
}

.r2ibcopy {
    color: #000000;
    font-style: italic;
}

.orangeBold {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ff6600;
}

.contentGS .articlecopy ul {
    margin: 10px 0 10px 20px;
    font-size: 14px;
}

.contentGS .articlecopy li {
    font-size: 14px;
    margin-left: 20px;
}

.contentGS .articlecopy a {
    color: #000000;
}

.contentGS .articlecopy a:link {
    color: #003399;
}

.contentGS .articlecopy a:visited {
    color: #666666;
}

.contentGS .articlecopy a:hover {
    color: #000000;
}

.articlecopy table p, .contentGS .articlecopy table li {
    font-size: 13px;
}
