
/* General */
.contentGS .articlecopy a:link, .contentGS .articlecopy a:visited, .contentGS .articlecopy a:hover {
    text-decoration: underline;
}

.articlecopy {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 15px 60px 85px 60px;
    font-size: 14px;
}

.contentGS .articlecopy li {
    list-style-type:disc;
}

/* Article Tools box */
div#articletools {
    float: right;
    padding: 0 13px 2px 5px;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    width:332px;
}

#toolsmenu {
    border:1px solid #BBB;
    float:right;
    background-color:#EEE;
    font-size:11px;
    padding:2px 5px 2px 5px;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    width:200px;
    color: #BBBBBB;
}

div#toolsmenu strong {
    padding-left: 3px;
}

div.simplemenu {
    margin:0;
    padding: 5px 0 0 10px;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-weight:bold;
    list-style-position:inside;
}

div.simplemenu img {
    width: 15px;
    height: 11px;
}

div.simplemenu a {
    margin-left: 5px;
}

#squareadvert {
    color: #999;
    width:312px;
    padding:5px 5px 5px 5px;
    margin:10px 0 10px 0;
    border:1px solid #BBB;
    font-size:10px;
    float:right;
    clear: both;
}

/* Article body */
.article-title {
    font-size: 21px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 15px;
}

.abstract, .byline {
    margin-bottom: 15px;
}

/* User comments */

div#articleComments {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #000000;
}

div#enterComment {
    color: #000000;
}

div#articleComments {
    font-size: 12px;
}

div#articleComments {
    margin-top: 15px;
    margin-bottom: 25px;
}

div.comment {
    padding: 10px 0 10px 0;
}

div#nameEmail {
    margin: 10px 0 15px 0;
}

hr.commentDivider {
    color: #003399;
}

div.captcha {
    margin-bottom: 10px;
}



/* P R I N T   S T Y L E S */
@media print {
    .search, #adLeaderboard, #footer, .noprint, #topnav, #promoContent  {
        display:none;
    }
    .articlecopy {
        border-left: 0;
        border-right: 0;
    }
    body, body.unframed #pageGS {
        background-color: #fff;
        border: 0 solid   #fff;
    }
}