/* GS-6223 variant b */
div#more-about-alt{
    background: url("/res/img/content/article/altmoreonheader.gif") no-repeat;
    background-position: 0.5ex 0.5ex;
    float:right;
    width:312px;
    margin: 0 0 5px 0;
    border-style: solid;
    border-width:1px;
    border-color: #BBBBBB;
    padding: 3em 10px 0 0;
}
div#more-about-alt li,
div#more-about-alt a:link,
div#more-about-alt a:visited{
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
div#more-about-alt a:hover{
    text-decoration: underline;
}

div#more-about-alt span.headline{
    display: none;
}

/* hide the filler text */
p#destination-insert-before-node {
    display:none;
}


div#more-about-alt ul{
   margin-bottom: 0;
   padding-bottom: 0;
}
div#more-about-alt li{
    list-style:none;
    padding: 0 0 2px 1.0em;
    margin-left: 0;
    background-image: url("/res/img/content/article/altmoreonbullet.gif");
    background-repeat: no-repeat;
    background-position: 0 .6ex;
    list-style-position:outside;  
}

div#more-about-alt div.paragraph {
  margin-bottom:0;
}

