h1#backToSchoolText {
    background: url( "../../img/content/backtoschool/backToSchool.gif" ) no-repeat;
}

h2#getTheGear {
    background: url( "../../img/content/backtoschool/yellow_banner_getthegear.gif" ) no-repeat;
}

h2#startHere {
    background: url( "../../img/content/backtoschool/yellow_banner_starthere.gif" ) no-repeat;
}

h2#especiallyFor {
    background: url( "../../img/content/backtoschool/yellow_banner_tweensandteens.gif" ) no-repeat;
}

h2#giveYourChild {
    background: url( "../../img/content/backtoschool/yellow_banner_giveyourchild.gif" ) no-repeat;
}

