.bulleted li {
    background: url(/res/img/community/backtoschool/modules/orange_bullet.jpg) no-repeat left 10px;
}

#stickies {
    margin: 17px 0 -17px 0;
}

.manila .bulleted li {
	background: url(/res/img/community/backtoschool/manila/bullet.png) no-repeat left 10px;
}

#contentTop .flash {
    margin: 12px 7px 0 0;
}

#contentRight {
    margin: 0 5px 0 0;
}

.moduleBox .wrapper {
    min-height: 420px;
    height: 420px;
}

#contentMiddleModuleTop {
    height: 420px;
}

p.question {
    background: url(/res/img/community/backtoschool/q.png) no-repeat left 2px;
}
