.bigDottedDivider {
    margin-top: 0px;
    height: 14px;
    font-size: xx-small;
    border-bottom: 2px dotted #c56;
    margin-bottom: 6px;
}

.mediumDottedDivider {
    margin-top: 0px;
    height: 12px;
    font-size: xx-small;
    border-bottom: 2px dotted #ccc;
    margin-bottom: 6px;
}

#pageGS {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

#pageGS #contentGS  a:hover {
    color: #6cc;
}


/* Left, nav column */
#contentGS .left h3 {
    font-size: small; /* 13pt */
    font-weight: 700;
    background-color: #6cc;
    color: #fff;
    padding: 4px 0 4px 16px;
}

#contentGS .left ul {
    margin: 6px 0 6px 0px;
}

#contentGS .left ul li {
    font-size: 11px; /* 11pt */
    font-weight: bolder;
    background-color: #eee;
    color: #999;
    padding: 4px 12px 4px 16px;
    margin-bottom: 1px;
    /*  background-image: url( ../../img/bullet/gs_horizDotBg.gif );
background-repeat: no-repeat;       */
}

#contentGS .left ul li a {
    color: #aaa;
}

.bookPicks {
      color: #c56 !important;
}

.bookPicks img {
      padding: 3px 12px 3px 0;
}

/* Middle column */
#contentGS .middle h1 {
    font-family: Rockwell light, courier, courier new;
    font-size: xx-large;
    font-weight: 100;
    padding: 8ex 0 1ex 16px;
    color: #fff;
    background-color: #6cc;
    margin-bottom: 16px;
}

#contentGS .middle h2 {
    font-family: century gothic;
    font-size: large;
    font-weight: 100;
    color: #fff;
    background-color: #fb0;
    padding: 4px 0 2px 16px;
}

#contentGS .middle li {
    padding: 8px 0 2px 16px;
    font-size: small; /* 13pt */
    font-weight: 700;
    background-color: #fff;
    color: #5bc;
}

#contentGS .middle li a {
    color: #39a;
}

#contentGS .middle h3 {
    font-family: rockwell;
    padding: 13px 0 2px 16px;
    font-size: medium;
    font-weight: 100;
    color: #5bc;
    margin-top: 10px;
    border-top: 1px dotted #cccccc;
    background-position: 14px 12px;

}

#contentGS .middle h3.dialog {
    background-image: url( ../../img/bullet/yellow/trans/dialog.gif );
    background-repeat: no-repeat;
    padding-left: 40px;
}

#contentGS .middle h3.checkmark {
    background-image: url( ../../img/bullet/yellow/trans/check.gif );
    background-repeat: no-repeat;
    padding-left: 40px;
}

#contentGS .middle h3.apple {
    background-image: url( ../../img/bullet/yellow/trans/apple.gif );
    background-repeat: no-repeat;
    padding-left: 40px;
}

#contentGS .middle h3.star {
    background-image: url( ../../img/bullet/yellow/trans/star.gif );
    background-repeat: no-repeat;
    padding-left: 40px;
}

#contentGS .middle h3.asterisk {
    background-image: url( ../../img/bullet/yellow/trans/burst.gif );
    background-repeat: no-repeat;
    padding-left: 40px;
}

#contentGS .middle p {
    padding: 5px 0 5px 16px;
    font-size: small;
    font-weight: 700;
    color: #777;
}

#contentGS .middle p a {
    color: #39a;
    font-weight: 300;
    text-decoration: underline;
}