/* Many of these styles should be refactored into a new microsite stylesheet. */

#marginGS
{
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#pageGS {
    width: 976px;
}

#adLeaderboard {
    width: 976px;
}

#topnav table#nav {
    width: 952px;
}

#contentGS {
    width: 952px;
    margin: 0 12px 25px;
}


ul.bulleted {
    /* to handle IE6 bug: http://www.webmasterworld.com/forum83/9077.htm */
    position: relative;
}

.bulleted li {
    background: url(/res/img/content/backtoschool/modules/orange_bullet.jpg) no-repeat left 5px;
    padding-left: 10px;
	margin-bottom: 2px;
    line-height: 20px;
}

#contentTop {
    margin: 0 0 4px 0;
    position: relative;
    top: 0;
}

#contentTop .sponsor {
	position: absolute;
	top: -14px;
    right: 0;
}

#contentTop .manila {
	background: url(/res/img/content/backtoschool/manila/manila.png) no-repeat left top;
	padding: 1px 0;
    margin: 8px 0 0 -4px;
    height: 324px;
}

.manila h2 {
	width: 175px;
	text-align: center;
	font: 18px "Times New Roman", Times, sans-serif;
	color: #81c83c;
	margin: 10px 0 2px 12px;
}

.manila .left-side {
	float: left;
	padding: 18px 0 0 30px;
	width: 301px;
}

.manila .learnMore {
    text-align: right;
    margin-top: 7px;
}

#stickies {
	list-style-type: none;
	margin: 17px 0 0 0;
    padding: 0;
}

#stickies li {
	float: left;
}

.manila .hr {
	margin: 5px 0 10px;
	height: 0;
	border: none;
	border-top: 1px solid #c1bdbd;
	border-bottom: 1px solid #fff;
}

.hr hr {
	display: none;
}

.manila ul {
	margin-top: 5px;
}

.manila .bulleted li {
	background: url(/res/img/content/backtoschool/manila/bullet.png) no-repeat left 7px;
    padding: 0 0 0 10px;
    margin: 0;
}

#contentTop .flash {
	float: right;
	margin: 12px 15px 0 0;
    _margin: 12px 8px 0 0;
}

.manila .header {
	font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    color: #3ab3d0;
}

.clear {
	clear: both;
}

.cleared:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#contentMiddle {
    width: 642px;
    float: left;
    position: relative;
}

#contentRight {
    float: right;
    margin: 0;
    height: 604px;
    width: 300px;
    position: relative;
}

.moduleBox {
    width: 208px;
    background: url(/res/img/content/backtoschool/modules/shadowbox_bg.png) repeat-y;
    float: left;
    margin: 0 8px 0 0;
}

#contentMiddleModuleTop {
    height: 281px;
    margin-bottom: 17px;
    _margin-bottom: 8px;
}

.moduleBox.last {
    width: 208px;
    background: url(/res/img/content/backtoschool/modules/shadowbox_bg.png) repeat-y;
    float: left;
    margin: 0 0 0 0;
}

.moduleBox .wrapper {
	background: url(/res/img/content/backtoschool/modules/shadowbox_bottom.png) no-repeat left bottom;
	padding-bottom: 9px;
    min-height: 281px;
    height: auto !important;
    height: 281px;
    position: relative;
}

.moduleBox h3 img {
	display: block;
}

.moduleBox .leadoff {
	margin: 10px 0 7px 13px;
}

.moduleBox p {
	margin: 5px 14px;
	color: #626262;
}

.moduleBox form {
	margin: 15px 0;
}

.moduleBox select {
    margin: 5px 5px;
    width: 170px;
}

.moduleBox .bulleted {
	margin: 5px 15px 10px;
}

#supplyListMenu {
    margin-top: 18px;
    color: #666;
}

.wrapper .adDiv {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

#AboveFold_300x250 {
    border: 0;
    margin: 0;
    padding-top: 0;    
}

#imgBTS_Quiz_Promo_300x316 {
    border-top: 1px solid #CCCCCC;
    margin-top: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.greenBoxWrapper {
    border-top: 1px solid #CCCCCC;
    margin-top: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}

.greenBox {
    border: solid 8px #81C83C;
    padding: 15px;
}

#greenBox {
    width: 255px;
    height: 272px;
}

.greenBox h3 {
    color: #81C83C;
    font-size: 12px;
    border-bottom: 1px solid #CCCCCC;
}

ul.greenArrow {
    line-height: 15px;
    margin: 10px 0 0 0;
}

.greenArrow li {
    background: url(/res/img/content/article/greenarrow.gif) no-repeat left 3px;
    padding: 0 0 0 10px;
    _padding: 0 0 0 20px;
    margin: 10px 0 0 0;
}

#popularArticles {
    display: none;
}