@import "microsite.css";

.mediumDottedDivider {
    margin-top: 0px;
    height: 12px;
    font-size: xx-small;
    border-bottom: 2px dotted #ccc;
    margin-bottom: 6px;
}

#contentGS .left ul {
    margin: 6px 0 6px 0px;
}

#contentGS .left ul li {
    font-size: 11px; /* 11pt */
    font-weight: bolder;
    background-color: #eee;
    color: #999;
    padding: 4px 12px 4px 16px;
    margin-bottom: 1px;
    background-image: url(/res/img/bullet/white/dotOnEee.gif);
    background-repeat: no-repeat;
    background-position: .8ex 2.1ex;
}

#contentGS .left ul li.seeAll {
    text-align: right;
    background-image: none;
}

#contentGS .middle h2#getReady {
          background-color: #fb0;
          background-position: 10px; 5px; 8px; 5px;
          height: 25px;
      }

#contentGS .middle h2#getTheRightStuff {
      background-color: #fb0;
      background-position: 10px; 5px; 8px; 5px;
      height: 25px;
}


#contentGS .middle h3 {
    font-family: rockwell;
    padding: 13px 0 2px 16px;
    font-size: medium;
    font-weight: 100;
    color: #5bc;
    margin-top: 10px;
    border-top: 1px dotted #cccccc;
    background-position: 14px 12px;
}

#contentGS .middle h3#askAnExpert {
          text-indent: -100em;
          overflow: hidden;
          background-image: url(/res/img/content/backToSchool/askAnExpert.gif);
          background-repeat: no-repeat;
          background-position: 10px 20px;
          height: 35px;
      }

#contentGS .middle h3#parentPoll {
          text-indent: -100em;
          overflow: hidden;
          background-image: url(/res/img/content/backToSchool/parentPoll.gif);
          background-repeat: no-repeat;
          background-position: 10px 20px;
          height: 35px;
      }

#contentGS .middle h3#theTwinsStartKindergarten {
          text-indent: -100em;
          overflow: hidden;
          background-image: url(/res/img/content/backToSchool/theTwinsStartKindergarten.gif);
          background-repeat: no-repeat;
          background-position: 10px 20px;
          height: 35px;
      }


#contentGS .middle h3#freeNewsletters {
          text-indent: -100em;
          overflow: hidden;
          background-image: url(/res/img/content/backToSchool/freeNewsletters.gif);
          background-repeat: no-repeat;
          background-position: 10px 20px;
          height: 35px;
      }

#contentGS .middle h3#ourNewLook {
          text-indent: -100em;
          overflow: hidden;
          background-image: url(/res/img/content/backToSchool/ourNewLook.gif);
          background-repeat: no-repeat;
          background-position: 10px 20px;
          height: 35px;
      }


#pageGS #contentGS h3.seeAll a.seeAll {
    color: #FFF;
}

#pageGS #contentGS h3.seeAll a.seeAll:hover {
    color: #8ee;
}

