/* ---------------------------------- */
/* ARTICLE AND ASK THE EXPERTS LAYOUT */
/* ---------------------------------- */

/* -------------- */
/* ARTICLE STYLES */
/* -------------- */

#contentGS {
    position: relative;
    zoom: 1.0;
}

#main {
    width: 610px;
    margin: 0 0 0 15px;
    position: relative;
}

#rightColumn {
    width: 300px;
    position: absolute;
    top: 10px;
    right: 15px;
}

#cmsRelatedArticles {
    margin-bottom: 20px;
}

.pt {
    padding-top: 10px;
}

.pr {
    padding-right: 10px;
}

.pb {
    padding-bottom: 10px;
}

.pl {
    padding-left: 10px;
}

.bolder {
    font-weight: bolder;
}

.breadcrumbs {
    font-size: 11px;
}

ul.horizontal li {
    display: inline;
    margin-left: 15px;
}

.clear {
    clear: both;
    height: 0;
}

.float.right {
    float: right;
}

.float.left {
    float: left;
}

.divider {
    border-bottom: 2px dotted #ccc;
}

.divider hr {
    display: none;
}

.headerTools {
    margin-top: 10px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.headerTools h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}

.headerTools ul {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.headerTools ul li {
    font-size: 11px;
}

#main .printViewLinks {
    display: none;
}

#main .printViewLinks .printArticle {
    margin-right: 5px;
}

#main .printViewLinks .backToArticle {
    margin-left: 5px;
}

#main .breadcrumbs {
    color: #666;
}

#main .breadcrumbs a {
    color: #666;
    text-decoration: underline;
}

#content {
    width: 610px;
    margin: 10px 0;
}

/* -------------- */
/* ARTICLE HEADER */
/* -------------- */

#bodyHeader {
}

#bodyHeader #breadcrumbs {
    font: 11px Arial, Arial, Helvetica, sans-serif;
    color: #666;
    padding-bottom: 10px;
}

#bodyHeader h1, #bodyHeader h2 {
    font: 27px Georgia, "Times New Roman", Times, serif;
    color: #444;
}

#bodyHeader .pageIdentifier {
    font: italic 13px Arial, Arial, Helvetica, sans-serif;
    color: #666;
}

#bodyHeader .summary {
    font: 15px Arial, Arial, Helvetica, sans-serif;
    color: #444;
    margin: 5px 0 0 0;
}

/* ----------------- */
/* ARTICLE FUNCTIONS */
/* ----------------- */

#cmsArticleFunctions {
    text-align: right;
    float: right;
    padding: 0;
    margin: 10px 0;
}

#cmsArticleFunctions ul span {
    font: 12px Arial, Arial, Helvetica, sans-serif;
    text-align: right;
    list-style-type: none;
}

#cmsArticleFunctions ul li {
    float: left;
    padding-left: 20px;
}

#cmsArticleFunctions a:hover {
    text-decoration: none;
}

#cmsArticleFunctions span:hover {
    text-decoration: underline;
}

/* ------------ */
/* ARTICLE BODY */
/* ------------ */

#cmsArticleText {
    margin-bottom: 10px;
}

#cmsArticleText .mainImage {
    float: left;
    margin: 5px 10px 0 0;
}

#cmsArticleText .caption {
    text-align: center;
    font-size: 12px;
    color: #999;
    margin: 10px 0 0 0;
}

#cmsArticleText h1 {
    font: bold 18px/1.0 Georgia, "Times New Roman", Times, serif;
    color: #444;
    margin-bottom: 10px;
}

#cmsArticleText h2 {
    font: bold 18px/1.0 Georgia, "Times New Roman", Times, serif;
    color: #444;
    margin-bottom: 10px;
}

#cmsArticleText h3 {
    font: bold 16px/1.0 Georgia, "Times New Roman", Times, serif;
    color: #444;
    margin-bottom: 10px;
}

#cmsArticleText h4 {
    font: bold 16px/1.0 Arial, Arial, Helvetica, sans-serif;
    color: #444;
    margin: 0px;
}

#cmsArticleText p {
    font: 13px/1.6 Arial, Arial, Helvetica, sans-serif;
    color: #444;
    margin-bottom: 10px;
}

#cmsArticleText ul,
    #cmsArticleText ol,
    #authorBio ul,
    #authorBio ol {
    font: 13px/1.6 Arial, Arial, Helvetica, sans-serif;
    color: #444;
    margin-bottom: 10px;
}

#cmsArticleText ul li,
    #authorBio ul li {
    list-style: disc inside;
    color: #eb9339;
    padding: 5px 25px;
}

.darktext {
    color: #444;
}

#cmsArticleText ol li,
    #authorBio ol li {
    list-style: decimal inside;
    color: #444;
    padding: 5px 25px;
}

#cmsArticleText table {
    border: 1px solid #e8f5f5;
    padding: 5px 10px;
    border-collapse: collapse;
    line-height: 19px;
    font: 13px Arial, Arial, Helvetica, sans-serif;
    color: #444;
    margin: 0 0 10px 0;
}

#cmsArticleText th {
    background-color: #e8f5f5;
    padding: 5px 10px;
    line-height: 19px;
}

#cmsArticleText td {
    padding: 5px 10px;
    line-height: 19px;
}

/* --------------- */
/* ARTICLE SIDEBAR */
/* --------------- */

#cmsArticleSidebar {
    background: url(/res/img/box/sidebar_border.gif) repeat-y; /*padding: 20px;*/
    margin: 0 15px 0 3px;
    float: left;
    width: 245px;
}

#cmsArticleSidebar div {
    margin: 0;
}

#cmsArticleSidebar h3 {
    color: #d66671;
    padding: 10px 20px 0 20px;
    margin: 0;
}

#cmsArticleSidebar p {
    line-height: 1.4;
    padding: 8px 20px 0 20px;
}

#cmsArticleSidebar ul, #cmsArticleSidebar ol {
    font: 13px/1.4 Arial, Arial, Helvetica, sans-serif;
    margin: 15px 0;
}

/* --------------------------------------- */
/* ARTICLE AUTHOR AND LICENSOR ATTRIBUTION */
/* --------------------------------------- */

.authorPageBar {
    margin: 10px 0;
    float: left;
}

.licensorAttributionPageBar {
    margin: 10px 0;
}

.authors, .attribution {
    font: 13px Georgia, "Times New Roman", Times, serif;
    color: #444;
}

.authors p, .attribution p {
    font: 13px/1.0 Arial, Arial, Helvetica, sans-serif;
    color: #999;
    margin: 10px 0;
}

/* ------------------ */
/* ARTICLE PAGINATION */
/* ------------------ */

#content .cmsArticlePagination {
    font-size: 13px;
    line-height: 1.0;
    text-align: right;
    color: #444;
    padding: 0;
    margin: 0 0 10px 0;
}

#content .cmsArticlePagination .active {
    font-weight: bold;
    margin-left: 15px;
}

#content .cmsArticlePagination a {
    text-decoration: underline;
    margin: 0 0 0 15px;
}

/* --------------------- */
/* ARTICLE RELATED LINKS */
/* --------------------- */

#relatedLinks {
    background-color: #e8f8fd;
    padding: 20px 20px 0 20px;
    margin: 20px 0;
}

#relatedLinks h4 {
    font: 16px/1.6 Arial, Arial, Helvetica, sans-serif;
    color: #444;
}

#relatedLinks ul {
    font: 14px/1.6 Arial, Arial, Helvetica, sans-serif;
    color: #39a;
    padding-bottom: 20px;
}

#relatedLinks li {
    list-style: disc inside;
    color: #eb9339;
}

/* ------------------- */
/* ARTICLE LEFT COLUMN */
/* ------------------- */

/* -------------------- */
/* ARTICLE RIGHT COLUMN */
/* -------------------- */

#rightColumn .module {
    border: 1px solid #ccc;
    padding: 10px 15px 15px 15px;
    margin-bottom: 20px;
}

.searchByTopic h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.searchByTopic input.text {
    width: 200px;
    margin-right: 15px;
    padding: 2px;
    color: #666;
}

#b2sHouseAd {
    margin-top: 20px;
}

/* -------------------- */
/* ARTICLE COMMENT FORM */
/* -------------------- */
#cmsArticleForm {
    margin: 20px 0;
}

#cmsArticleForm p {
    font: 13px/1.4 Arial, Arial, Helvetica, sans-serif;
    color: #444;
    margin: 0 0 10px 25px;
}

#cmsArticleForm h4 {
    font: 16px/1.0 Arial, Arial, Helvetica, sans-serif;
    color: #d66671;
    margin: 0 0 10px 0;
}

#cmsArticleForm textarea {
    width: 428px;
}

#cmsArticleForm input.txt {
    border: 1px solid #737373;
    width: 320px;
}

#cmsArticleForm label {
    font: 13px/2.1 Arial, Arial, Helvetica, sans-serif;
    color: #444;
    width: 100px;
}

#cmsArticleForm .captcha {
    margin: 10px 0 10px -4px;
    padding:0;
}

#cmsArticleForm input.btn {
    font: bold 14px/1.0 Arial, Arial, Helvetica, sans-serif;
    color: white;
    height: 20px;
    width: 60px;
    background-color: #5bc;
    border: none;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

/* ---------------- */
/* ARTICLE COMMENTS */
/* ---------------- */
#cmsArticleComments {
    margin: 20px 0 0 0;
}

#cmsArticleComments h4 {
    font: 14px/1.0 Arial, Arial, Helvetica, sans-serif;
    color: #d66671;
    margin: 0 0 5px 0;
}

#cmsArticleComments .comment-text {
    font: 13px/1.4 Arial, Arial, Helvetica, sans-serif;
    color: #444;
}

#cmsArticleComments .comment-date {
    font: 11px/1.0 Arial, Arial, Helvetica, sans-serif;
    color: #d66671;
    margin: 16px 0 5px 0;
}

/* ------------------ */
/* ARTICLE SHARE THIS */
/* ------------------ */

.shareThis {
    font: 11px/1.0 Arial, Arial, Helvetica, sans-serif;
    float: left;
    padding: 3px 0 8px 10px;

}

#content .shareThis a {
    text-decoration: underline;
    color: #666;
    margin: 0 6px 0 0;
}

/* --------------------- */
/* ASK THE EXPERT STYLES */
/* --------------------- */

.text-uppercase {
    text-transform: uppercase;
}

/* --------------------- */
/* ASK THE EXPERT HEADER */
/* --------------------- */

#bodyHeader h3 {
    font: bold 13px Arial, Arial, Helvetica, sans-serif;
    color: #5bc;
    margin: 10px 0 10px 0;
}

/* ----------------------- */
/* ASK THE EXPERT QUESTION */
/* ----------------------- */

#cmsAskTheExpertsQuestion {
    margin: 0 0 20px 0;
}

#cmsAskTheExpertsQuestion h3 {
    font: bold 12px/1.0 Arial, Arial, Helvetica, sans-serif;
    color: #d66671;
    margin: 0 0 10px 0;
}

#cmsAskTheExpertsQuestion p {
    font: 14px/1.6 Arial, Arial, Helvetica, sans-serif;
    color: #444;
    margin: 0 0 10px 0;
}

/* --------------------- */
/* ASK THE EXPERT ANSWER */
/* --------------------- */

#cmsAskTheExpertsAnswer h3 {
    font: bold 12px/1.0 Arial, Arial, Helvetica, sans-serif;
    color: #d66671;
    margin: 0 0 10px 0;
}

/* ------------------ */
/* ASK THE EXPERT BIO */
/* ------------------ */

.authorBio {
    border-top: 2px solid #999;
    color: #444;
    font: 13px/1.6 Arial,Helvetica,sans-serif;
    margin: 20px 0 10px;
    padding-top: 20px;
}


/* ------------------------- */
/* ASK THE EXPERT DISCLAIMER */
/* ------------------------- */

#disclaimer p {
    font: italic 13px/1.6 Arial, Arial, Helvetica, sans-serif;
    color: #444;
    margin-bottom: 15px;
}

/* GS-8538 For supply list articles */
#cmsArticleText p.targetCheckbox {
    background: transparent url(/res/img/promo/target/checkbox.gif) no-repeat scroll 0 3px;
    padding-left: 23px;
}

/* ----------------- */
/* ARTICLE SLIDESHOW */
/* ----------------- */

#slideshow {
    clear: both;
    border: 1px solid #ccc;
    width: 608px;
    margin-bottom: 20px;
}

#ss_header {
    background: #ececec;
    width: 588px;
    height: 24px;
    border-bottom: 1px dotted #999;
    padding: 10px;
}

#ss_body {
    clear: both;
    background: #fff;
    width: 588px;
    padding: 10px;
}

#ss_footer {
    clear: both;
    background: #ececec;
    width: 608px;
    border-top: 1px dotted #999;
    padding: 10px 0;
    overflow: hidden;
}

.ss_image {
    float: left;
    padding: 0 10px 10px 0;
}

#slideshow .ss_title {
    font: bold 18px/1.0 Georgia, "Times New Roman", Times, serif;
    color: #444;
    padding:0 0 15px 0;
}

.ss_text {
    font: 13px/1.6 Arial, Arial, Helvetica, sans-serif;
    color: #444;
}

.ss_text p {
    margin-bottom: 15px;
}

.ss_list {
    list-style: inside;
    font: 13px/1.6 Arial, Arial, Helvetica, sans-serif;
    color: #F90;
}

.ss_next {
    text-align: right;
}

/*  */
.rounded {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.rounded_top {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
}

.rounded_bottom {
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
}

/*  */
.stepNav {
    width: 204px;
    float: right;
    padding: 3px 10px 8px 0;
}

.prev {
    float: right;
    width: 60px;
    height: 17px;
}

.stepNavText {
    float: right;
    font: 11px Arial, Arial, Helvetica, sans-serif;
    color: #444;
    padding: 1px 8px;
}

.next {
    float: right;
    width: 60px;
    height: 17px;
}

/*  */
#slideMenu {
    float: left;
}

/*  */
.choose {
    background: url(/res/img/slideShow/choose.png) no-repeat;
    width: 140px;
    height: 24px;
}

#ss_jsddm {
    margin: 0;
    padding: 0;
}

#ss_jsddm li {
    float: left;
    list-style: none;
    font: 12px Arial, Arial, Helvetica, sans-serif;
}

#ss_jsddm li a {
    display: block;
    margin: 0;
    padding: 0;
    width: 140px;
    height: 24px;
}

#ss_jsddm li a:hover {
    background: url(/res/img/slideShow/choose_on.png) no-repeat;
}

#ss_jsddm li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border: 1px solid #6cd;
}

#ss_jsddm li ul li {
    float: none;
    display: inline;
}

#ss_jsddm li ul li a {
    position: relative;
    display: block;
    margin: 0;
    padding: 6px 30px 6px 6px;
    width: auto;
    height: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #fff;
    color: #3399a9;
    font: 12px Arial, Arial, Helvetica, sans-serif;
}

#ss_jsddm li ul li a:hover {
    background: #6cd;
    color: #fff;
}

#google_ads_div_Article_Slideshow_Sponsor_610x16, #google_ads_div_Library_Article_Page_Sponsor_610x16 {
    padding-top: 10px;
}