/* General elements to omit from print-friendly version - copied from article.css */
.search, #adLeaderboard, #footer, .noprint, #promoContent, #rightColumn {
    display: none;
}

/* CMS-article-specific elements to omit from printer-friendly version */
.breadcrumbs, .headerTools, #leftNav, #boxAd, #houseAd, #popularArticles, #recentPosts, .searchByTopic, .cmsArticlePagination, #cmsArticleLanguages, #cmsArticleFunctions, #shareThis, #relatedLinks, .divider {
    display: none;
}

#main {
    width: 100%;
}

#content {
    width: 98%;
    margin: 0;
}

#main .printViewLinks {
    display: block;
    padding-bottom: 15px;
}

.authors {
    width: 100%;
}

.bodyHeader .licensor {
    position: absolute;
    top: -100px;
    right: 0;
}

/* GS-8341 for Target supply list only */
#cmsArticleText p.targetCheckbox a.targetLink {
    display: none;
}

/* P R I N T   S T Y L E S */
@media print {
    /* left-align logo with article text */
    #topnav table td a img {
        position: relative;
        left: -33px;
    }
    #cmsArticleSidebar {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
	    border: 3px solid #42bcce;
    }
    #cmsArticleSidebar div img{
        display: none;
    }
    div.divider {
        width: 90%;
    }
    body, body.unframed #pageGS {
        background-color: transparent;
        border: 0 solid   #fff;
    }
    #contentGS {
        width: 98%;
    }
    #pageGS {
        width: 98%;
    }
    #main .printViewLinks {
        display: none;
    }
}