/*#features {
    position:relative;
    width:584px;
    height:291px;
}

#featurelist {
    position:absolute;
    bottom:10px;
    left:10px;
}

#featurelist ul {
    width: 270px;
}

#featurelist li {
    padding: 3px;
}

#featureImage {
    padding: 0;
}*/