@charset "UTF-8";
/* CSS Document */

.clear {
	clear:both;
	height:0;
}

.divider {
    border-bottom: 1px dotted #999;
    /*width:448px;*/
    height:1px;
    /*padding: 0;*/
    margin:0 25px;
    /*outline: 1px solid red;*/
}

.divider hr {
    display: none;
}

.tall {
    margin-top:15px;
}

.taller {
    margin-top:45px;
}

#content {
    overflow: hidden;
    width: 948px;
    padding: 20px 0 0;
}

#leftColumn{
    width:615px;
    float:left;
    padding: 0 13px;
    zoom: 1.0;
    /*overflow:visible;*/
    /*outline: 1px solid red;*/
    /*border: 1px solid red;*/
}

#rightColumn{
    width:300px;
    float:right;
    zoom: 1.0;
    /*outline: 1px solid red;*/
    /*border: 1px solid red;*/
}

/* -------------- */
/* FEATURED TOPIC */
/* -------------- */

#featured {
    width:615px;
    float:left;
}

#featured .header {
    height:30px;
    background:#6cd;
    padding:5px 15px;
}

#featured .header h1 {
    font: 24px Arial, Arial, Helvetica, sans-serif;
    color:white;
}

#featured .one_of_two {
    /*outline:1px solid red;*/
    width:340px; height:235px;
    background:white;
    float:left;
}

#featured .two_of_two {
    /*outline:1px solid red;*/
    width:242px; height:218px;
    background:url(/res/img/topicCenter/tc_feature_bg.jpg) repeat-x;
    padding:12px 15px 5px 15px;
    float:right;
    border-right:1px solid #ededed;
}

#featured .two_of_two h3 {
    font: 22px/1.1 Georgia, "Times New Roman", Times, serif;
    /*color:#39a;*/
}

#featured .two_of_two p {
    font: 13px Arial, Arial, Helvetica, sans-serif;
    color:#444;
    padding:0;
}

#featured .two_of_two ul{
    font: 13px Arial, Arial, Helvetica, sans-serif;
    padding:15px 0;
}

#featured .two_of_two li{
    list-style: disc inside;
    color: #eb9339;
    border-top:1px dotted #999;
    padding:5px 0;
}

/* ------ */
/* TOPICS */
/* ------ */

#topics{
    padding: 9px 0 0 0;
    width:615px;
    float:left;
    /*overflow:visible;*/
}

/* ---------------- */
/* TOPICS NAVIGATION*/
/* ---------------- */

#topicNavigation {
    float:left;
    width: 120px;
    padding:15px 10px 0 0;
    /*position:relative;*/
    /*overflow:visible;*/
}

#topicNavigation h2 {
    font: 22px Arial, Arial, Helvetica, sans-serif;
    color: #d66671;
    padding:0 0 15px 0;
    text-align:right;
}

#topicNavigation ul {
    text-align:right;
    padding:0 0 20px 5px;
}

#topicNavigation li {
    list-style: disc inside;
    font: 14px Arial, Arial, Helvetica, sans-serif;
    color:#eb9339;
    padding:0 0 10px 5px;
    cursor:pointer;
}

#topicNavigation li span {
    color:#39a;
}

#topicNavigation li span:hover {
    text-decoration:underline;
}

#topicNavigation li .on {
    color:#666;
}

#topicNavigation li:hover .on {
    text-decoration:none;
}

#topicNavigation .highlight {
    list-style: url("/res/img/topicCenter/greenarrow_4.gif") inside;
    cursor:default;
}

#contentProvider img{
    float:right;
}

/* -------------- */
/* TOPICS CONTENT */
/* -------------- */

#topicContent {
    float:right;
    width:480px;
    padding:0;
    background:url(/res/img/box/tc_sides.gif) repeat-y;
    position:relative;
}

.topic {
    overflow:auto;
}

#topicContent .topicImage {
    float:right;
    margin:0 25px;
}

#topicContent div {
    line-height:0;
}

#topicContent h3 {
    font: bold 20px Arial, Arial, Helvetica, sans-serif;
    color: #444;
    padding: 0 0 0 30px;
}

#topicContent p {
    font: 13px Arial, Arial, Helvetica, sans-serif;
    color: #444;
    padding: 15px 0 0 30px;
}

#topicContent span {
    font: 13px Arial, Arial, Helvetica, sans-serif;
}

#topicContent h4 {
    font: bold 16px Arial, Arial, Helvetica, sans-serif;
    color: #39a;
    padding: 15px 0 0 30px;
}

#topicContent h4 a {
    font: bold 16px Arial, Arial, Helvetica, sans-serif;
}

#topicContent ul {
    font: 13px/1.8 Arial, Arial, Helvetica, sans-serif;
    padding: 5px 25px 0 45px;
}

#topicContent li {
    list-style: disc outside;
    color: #eb9339;
    padding:0;
}

#topicContent a {
    font:13px Arial, Arial, Helvetica, sans-serif;
}

#topicContent .more {
    /*outline:1px solid red;*/
    float:right;
    margin:0;
    padding:8px 30px 5px 0;
    /*border-bottom:1px dotted #999;*/
}

/* --------- */
/* COMMUNITY */
/* --------- */

#community{
    width:615px;
    float:left;
    padding:0 0 15px 0;
    /*background:url(/res/img/topicCenter/topic_center_speech_bubbles.jpg) no-repeat scroll 0 25px;*/
}

/* -------------------- */
/* COMMUNITY NAVIGATION */
/* -------------------- */

#communityNavigation {
    float:left;
    width: 120px;
    padding:3px 10px 0 0;
}

#communityNavigation h2 {
    font: 22px Arial, Arial, Helvetica, sans-serif;
    color: #d66671;
    padding:0 0 15px 0;
    text-align:right;
}

/* ----------------- */
/* COMMUNITY CONTENT */
/* ----------------- */

#communityContent {
    float:right;
    width:480px;
    background:url(/res/img/box/tc_sides.gif) repeat-y;
    padding:0;
}

#communityContent .communityImage {
    float:right;
    margin:0 25px;
    border-bottom: 5px solid white;
    border-left: 15px solid white;
    /*outline:1px solid red;*/
}

#communityContent h2 {
    font: 22px Arial, Arial, Helvetica, sans-serif;
    color: #d66671;
    padding:0 25px;
}

#communityContent ul {
    font: 13px Arial, Arial, Helvetica, sans-serif;
    padding: 5px 25px 0 25px;
}

#communityContent li {
    list-style: none;
    border-bottom:1px dotted #999;
    margin: 5px 0;
    padding: 5px 0;
}

#communityContent a {
    font:13px/1.2 Arial, Arial, Helvetica, sans-serif;
}

#communityContent .more {
    float:right;
    margin: 0;
    padding:7px 30px 5px 0;
}

/* ------------------------ */
/* RECENT DISCUSSION STYLES */
/* ------------------------ */

.rd_holder{
    background:url(/res/img/box/tc_sides.gif) repeat-y;
}

#recentDiscussions {
    width:430px;
    padding:0 25px;
}

#recentDiscussions h2{
    font: 22px Arial, Arial, Helvetica, sans-serif;
    color: #d66671;
    padding:0 0 5px 0;
}

#recentDiscussions p{
    padding:0 0 10px 0;
}

#recentDiscussions .text3 p {
    padding: 0;
    margin: 0;
}
#recentDiscussions .avatar {
    width:58px;
}

#recentDiscussions .discussionTopic {
    width:364px;
}

#recentDiscussions .discussionHolder {
    margin:0 0 10px 0;
}

.text3 {
    font: 12px / 1.3 Arial, Helvetica, sans-serif;
}

.text3_230 {
    font: 12px / 2.3 Arial, Helvetica, sans-serif;
}

.smallText1 {
    font: 11px / 1.3 Arial, Helvetica, sans-serif;
    /*color: #777;*/
}

.smallAlertTextBoldNeutral {
    font: bold 11px / 1.2 Arial, Helvetica, sans-serif;
}

.alertDoubleArrow {
    font: 15px Arial, Helvetica, sans-serif;
    /*color: #d61;*/
}

/* ------------ */
/* RIGHT COLUMN */
/* ------------ */

#seasonalPromo {
    padding-bottom: 18px;
}

/* --- */
/* EOF */
/* --- */
