@charset "UTF-8";
/* CSS Document */

.clear {
	clear:both;
	height:0;
}

#leftColumn{
    float:left;
    padding: 0 13px;
}

/* -------------- */
/* FEATURED TOPIC */
/* -------------- */

#featured {
    width:615px;
    float:left;
}

#featured .header {
    height:30px;
    background:#6cd;
    padding:5px 15px;
}

#featured .header h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:white;
}

#featured .one_of_two {
    /*outline:1px solid red;*/
    width:340px; height:235px;
    background:white;
    float:left;
}

#featured .two_of_two {
    width:245px; height:195px;
    background:#f7f7f7;
    padding:10px 15px;
    float:right;
}

#featured .two_of_two h3 {
    font: 22px Georgia, "Times New Roman", Times, serif;
    /*color:#39a;*/
}

#featured .two_of_two p {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#444;
    padding:10px 0;
}

#featured .two_of_two ul{
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding:0 15px;
}

#featured .two_of_two li{
    list-style: disc outside;
    color: #eb9339;
    border-top:1px dotted #999;
    padding:5px 0;
}

/* ---------------- */
/* TOPICS NAVIGATION*/
/* ---------------- */

#topicNavigation {
    float:left;
    width: 130px;
}

#topicNavigation h2 {
    font: 22px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #d66671;
    padding:0 0 15px 0;
    text-align:right;
}

#topicNavigation ul {
    font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align:right;
}

#topicNavigation li {
    list-style: disc outside;
    color: #eb9339;
    padding:0 0 10px 0;
}

/* -------------- */
/* TOPICS CONTENT */
/* -------------- */

#topics {
    float:right;
    width:460px;
    border:1px solid #999;
}

#topics img {
    float:right;
    width:130px; height:150px;
    border:1px solid #00f;
    margin:20px;
}

#topics h3 {
    font: bold 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #444;
    padding: 20px 0 0 20px;
}

#topics p {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #444;
    padding: 15px 0 0 20px;
}

#topics h4 {
    font: bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #39a;
    padding: 15px 0 0 20px;
}

#topics ul {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0 0 0 35px;
}

#topics li {
    list-style: disc outside;
    color: #eb9339;
    padding:3px 0;
}

#topics a {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#topics .more {
    float:right;
    padding:10px 20px 10px 0;
}

/* -------------------- */
/* COMMUNITY NAVIGATION */
/* -------------------- */

#communityNavigation {
    float:left;
    width: 130px;
    padding:40px 0 0 0;
}

#communityNavigation h2 {
    font: 22px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #d66671;
    padding:0 0 15px 0;
    text-align:right;
}

/* ----------------- */
/* COMMUNITY CONTENT */
/* ----------------- */

#community {
    float:right;
    width:460px;
    padding:40px 0 0 0;
}

#community ul {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#community li {
    list-style: none;
    border-bottom:1px dotted #999;
    padding:10px 0;
}

#community a {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#community .more {
    float:right;
    padding:10px 0;
}

/* ------------ */
/* MOST POPULAR */
/* ------------ */