@import "collegeQuickFinder.css";

#pageGS {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

#pageGS #contentGS  a:hover {
    text-decoration:underline;
}

/* Middle column */
#contentGS .middle h1 {
    font-family: Rockwell light, courier, courier new;
    font-size: xx-large;
    font-weight: 100;
    padding: 8ex 0 1ex 16px;
    color: #fff;
    background-color: #6cc;
    margin-bottom: 16px;
}

#contentGS .middle h2 {
    font-family: century gothic;
    font-size: large;
    font-weight: 100;
    color: #fff;
    background-color: #fb0;
    padding: 4px 0 2px 16px;
}

#contentGS .middle li {
    padding: 8px 0 2px 16px;
    font-size: small; /* 13pt */
    font-weight: 700;
    background-color: #fff;
    color: #5bc;
}

#contentGS .middle li a, #contentGS .middle li a:visited {
    color: #39a;
    text-decoration:none;
}

#contentGS .middle li a:hover {
    text-decoration:none;
}

#contentGS .middle p {
    padding: 0px 0 18px 16px;
    font-size: small;
    font-weight: 700;
    color: #777;
}

#contentGS .middle p a, #contentGS .middle p a:visited {
    color: #39a;
    font-weight: 300;
    text-decoration:underline;
}
#contentGS .middle p a:hover {
    text-decoration: underline;
}

#pageGS #contentGS .left h3.seeAll {
    font-weight: bold;
    background-color: #6cc;
    color: #fff;
    padding: 4px 5px 4px 16px;
    text-align:right;
}

#pageGS #contentGS .left a.seeAll:link, a.seeAll:active, a.seeAll:visited {
    color: #fff;
    text-align:right;
}

#pageGS #contentGS a.noHover:hover {
   text-decoration:none;
}


#contentGS .left h3 {
    font-size: small; /* 13pt */
    font-weight: 700;
    background-color: #6cc;
    color: #fff;
    padding: 4px 0 4px 16px;
}

#contentGS .left #allArticles {
    background-color: #eee;
}

#contentGS .left ul li a {
    color: #aaa;
}

#contentGS .left ul .bookPicks {
	color: #c56 !important;
    background-image: none;
    font-size: 11px;
}

#contentGS .left ul li.bookPicks img {
      padding: 3px 3px 3px 0px;
}

#contentGS .left ul {
    margin: 5px 0px 6px 0px;
}

#contentGS .left ul li {
    font-size: 11px; /* 11pt */
    font-weight: bolder;
    background-color: #eee;
    color: #999;
    padding: 0px 12px 4px 16px;
    margin-bottom: 1px;
    background-image: url("../../img/content/countdownToCollege/dotOnEee.gif");
    background-repeat: no-repeat;
    background-position: .8ex 1.5ex;
}

#contentGS .left li.empty {
    font-size: 11px; /* 11pt */
    font-weight: bolder;
    background-color: #eee;
    color: #999;
    padding: 0px 12px 4px 16px;
    margin-bottom: 1px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: .8ex 1.5ex;
	height: 100%;
}

#contentGS .leftBottom {
    background-color: #eee;
    padding: 4px 12px 4px 16px;
    margin-bottom: 1px;
}

#contentGS .middle h2#whatYourChildNeeds {
    text-indent: -100em;
    overflow: hidden;
    background: url("../../img/content/countdownToCollege/t_whatYourChildNeeds.gif");
    background-repeat: no-repeat;
    background-color: #fb0;
    background-position: 0px; 0px; 0px; 0px;
    height: 26px;
	margin-bottom: 4px;
	margin-top: 0px;
}

#contentGS .middle h2#resources {
    text-indent: -100em;
    overflow: hidden;
    background: url("../../img/content/countdownToCollege/t_resources.gif");
    background-repeat: no-repeat;
    background-color: #fb0;
    background-position: 0px; 0px; 0px; 0px;
    height: 26px;
	margin-top: 0px;
}

div.collegeBoardLogo {
    background-color: #fff;
    margin-top: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:3px 0px 3px 90px;
}

#contentGS .middle ul#module, td#module {
    font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	color: #999999;
	padding: 0px 20px 0px 20px;
	line-height: 15px;
	background-color: #fff;
	margin-top: 20px;
}

.moduleTitle {
    font-family: "LucidaGrande", Arial, sans-serif;
	font-size: 14px;
	color: #55BBCC;
	padding: 7px 20px 0px 18px;
	line-height: 16px;
	background-color: #fff;
	font-weight: bold;
	margin-bottom: 4px;
}

#contentGS div.moduleTitle a.noHover, #contentGS div.moduleTitle a.noHover:visited {
     color: #55BBCC;
}

#contentGS div.module a.noHover, #contentGS div.module a.noHover:visited {
    color: #999999;
}

.module {
    font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	color: #999999;
	padding: 0px 20px 0px 18px;
	line-height: 15px;
	background-color: #fff;
}

img.actionTipsTitle {
	margin-top: 0px;
	margin-bottom: 15px;
    margin-left:0px;
    display: block;
}

table#actionTips {
    font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	color: #999999;
}

h2#financialAidPlanner {
    height: 269px;
	width: 305px;
	margin-top: 13px;
	margin-bottom: 8px;
}

span.actionTip {
    line-height:15px;
}

.empty ul li {
    font-size: 11px; /* 11pt */
    font-weight: bolder;
    background-color: #eee;
    color: #999;
	height: 100%;
    padding: 0px 12px 4px 16px;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-position: .8ex 2.1ex;
}

.midDotLine {
    height: 24px;
	font-size: xx-small;
    background-image: url("../../img/content/countdownToCollege/mid_dot_line.gif");
	background-repeat: repeat-x;
    padding-top:0px;
    margin-bottom: 9px;
}

.grayLine {
    margin-top: 7px;
    font-size: xx-small;
    border-top: 1px solid #CACACA;
    padding-top:7px;
}

.redDotLine {
	display: block;
	height: 25px;
    padding-top:5px;
    background-image: url("../../img/content/countdownToCollege/red_dot.gif");
	background-repeat: repeat-x;
}

.yellowbar {
    margin-top: 2px;
    border-top: 1px solid #FCE398;
    margin-bottom: 10px;
    padding-top:7px;
}

.midDashLine {
    margin-top: 0px;
	margin-bottom: 8px;
    height: 20px;
    padding-top:3px;
    background-image: url("../../img/content/countdownToCollege/dash_line.gif");
	background-repeat: repeat-x;
}

div#bottomAdd {
    font-size: 12px;
	margin-top: 20px;
	color: #000000;
	text-align: left;
    padding: 10px 20px 20px 20px;
    border: 1px solid #CBCBCB;
	width: 264px;
}

div#bottomAdd a {
	color: #39a;
	text-decoration: none;
}

h2#adBlurb {
	font-size: 12px;
	text-align: center;
	margin-bottom: 8px;
}

.right {
    vertical-align:top;
}

#contentGS a.seeFullArticle {
	font-size: 11px;
	color: #3399AA;
	line-height: 30px;
	text-decoration: underline;
}

#contentGS span.actionTip a {
   color:#3399AA;
}

#contentGS a.actionTipsLink {
	font-size: 11px;
	color: #3399AA;
	text-decoration: underline;
}