@charset "UTF-8";

/* start a discussion hover page */

.fltlft {
/* this class can be used to float an element left in your page */
    float: left;
}

.fltrt {
/* this class can be used to float an element right in your page. */
/* The floated element must precede the element it should be next to on the page. */
    float: right;
}

.clearfloat {
/* this class should be placed on a div or break element and */
/* should be the final element before the close of a container */
/* that should fully contain a float */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}

.hover{
    color:#333;
}

#reportItDialog{
    padding:0 0 32px 7px;
}

#reportItDialog .sd_icon{
    padding:15px 20px 15px 0;
}

#reportItDialog .sd-btn-layout{
    margin:0 12px 0 0;
}

#reportItDialog h2 {
    font: 24px Georgia, "Times New Roman", Times, serif;
    color: #d61;
}
#reportItDialog h2 span#reportHoverHeader {
    color: #D61;
    font: 24px Georgia,"Times New Roman",Times,serif;
    float: none;
}
.text2bold {
    font: bold 13px / 1.3 Arial, Helvetica, sans-serif;
    /*color: #333;*/
}

#reportItDialog .smallText1 {
    font: 11px / 1.3 Arial, Helvetica, sans-serif;
    /*color: #777;*/
}

#reportItDialog textarea {
    width:608px; height:248px;
    margin:12px 0;
}

.tint_333{ /* Text, Captions */
    color:#333;
}
.tint_777{ /* Form text */
    color:#777;
}

.hover .closebtn, .dialogCancelButton{
    display:block;
    line-height:1.0;
    margin:0;
    cursor:pointer;
}

/* ------------------- */
/* SLIDING DOOR BUTTON */
/* ------------------- */

button {
    overflow: visible; /*resets ie extra margin added by long strings */
}

/* ------------------- */
/* 25 px height button */
/* ------------------- */

/* do not change */
.btn25{
    cursor: pointer;
    display:block;
    margin:0;
    border:0 none transparent;
    padding:0;
    background-color:transparent; /* hide form background color in IE */
}

.btn25-inactive {
    cursor: default;
    display: block;
    margin: 0;
    border: 0 none transparent;
    padding: 0;
    background-color: transparent; /* hide form background color in IE */
}

.lftDoor25 {
    display:inline-block;
    padding: 0 0 0 15px;
    line-height: 25px;
    float:left;
}

.rtDoor25 {
    display: inline-block;
    padding:0 15px 0 0;
    height: 25px;
    line-height: 25px;
}

/* skin */
.btn25-inactive .lftDoor25 {
    background: url(/res/img/discussion_boards/db_btn_sprite_25_lft.gif) no-repeat left bottom;
}

.btn25-inactive .rtDoor25 {
    background: url(/res/img/discussion_boards/db_btn_sprite_25_rt.gif) no-repeat right bottom;
}

.lftDoor25 {
    background: url(/res/img/discussion_boards/db_btn_sprite_25_lft.gif) no-repeat left top;
}

.rtDoor25 {
    background: url(/res/img/discussion_boards/db_btn_sprite_25_rt.gif) no-repeat right top;
}

.btn25:active .lftDoor25, .btn25:hover .lftDoor25 {
    background-position: left -25px;
}

.btn25:active .rtDoor25, .btn25:hover .rtDoor25 {
    background-position: right -25px;
    outline: none; /* hide dotted outline in Firefox */
}

/* icon */
.lftDoor25 .rtDoor25 img{
    margin:0;
    border:0 none transparent;
}

.lftDoor25 .rtDoor25 {
    white-space:nowrap;
}

/* font size and family */
.btn25 {
    font: bold 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px #444;
    color: #fff;
}

/*
Immediately below is a temporary hack to serve the
following margin values only to Gecko browsers
Gecko browsers add an extra 3px of left/right
padding to button elements which can't be overriden.
Thus, we use -3px of left/right margin to overcome this.
*/

@-moz-document url-prefix() {
    button.btn25 {
        margin:0 -3px;
    }
}