@charset "UTF-8";

.rnd4 {
/* this class should be used to round the corners on 25 px height buttons */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.rnd6 {
/* this class should be used to round the corner on 35 px height buttons */
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

.rnd8 {
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

.tint_777{ /* Form text */
    color:#777;
}

/* start a discussion hover */

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color:#333;
    filter:alpha(opacity=75);
    -moz-opacity:0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}
.ui-dialog {
    background-color: #ebebeb;
    padding: 2px 12px;
    border: 2px solid white;
}
.ui-corner-all {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.ui-dialog-titlebar {
    position: relative;
    font-size: 1px;
    line-height: .1;
    height: 0;
}
.ui-dialog .ui-dialog-titlebar {
    display:none;
}
.ui-dialog .ui-dialog-content{
    overflow:hidden;
}

.hover {
    color: #333;
}

.hover .title {
    line-height: 1.0;
    margin: 0;
}
.hover .closebtn, .dialogCancelButton {
    display: block;
    line-height: 1.0;
    margin: 0;
    cursor: pointer;
}

/* PREVIEW DISCUSSION DIALOG HOVER */

#previewDiscussionDialog{

}

#previewDiscussionDialog p{
    margin:0; padding:0;
}

#previewDiscussionDialog h4{
    margin:0; padding:0;
}

#previewDiscussionDialog .title1 {
    font: 20px Georgia, "Times New Roman", Times, serif;
    color: #d61;
}

#previewDiscussionDialog .sd_icon{
    padding:15px 5px 0 0;
}

#previewDiscussionDialog h2 {
    font: 24px Georgia, "Times New Roman", Times, serif;
    color: #d61;
    margin: 25px 0 12px;
    position: relative;
}
#previewDiscussionDialog .text2bold {
    font: bold 13px / 1.3 Arial, Helvetica, sans-serif;
    /*color: #333;*/
}

#previewDiscussionDialog .smallText1 {
    font: 11px / 1.3 Arial, Helvetica, sans-serif;
    /*color: #777;*/
}

#previewDiscussionDialog .smallAlertTextBoldNeutral {
    font: bold 11px / 1.2 Arial, Helvetica, sans-serif;
}

#previewDiscussionDialog .db_discussion{
    padding:0;
    margin:0;
}

#previewDiscussionDialog .db_discussTopic{
    margin:0;
    padding:20px 0 15px 3px;
}

#previewDiscussionDialog .db_discussContainer{
    display:inline;
    position:relative;
    padding:0 0 0 15px;
}

#previewDiscussionDialog .db_discussContainer b.db_pointLeft {
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-top: 7px solid #ebebeb;
    border-right: 7px solid white;
    border-bottom: 7px solid #ebebeb;
}

#previewDiscussionDialog b.db_discussArrow{
    position:absolute;
    left:8px; top:18px;
}

#previewDiscussionDialog .db_discuss{
    width:430px;
    background:white;
    padding:12px;
    float:left;
}

#previewDiscussionDialog .sd-btn-layout{
    margin:0 20px 24px 65px;
}

/* END PREVIEW DISCUSSION DIALOG HOVER */

button {
    overflow: visible;
}
