/* Generic classes */

.left {
	float: left;
}

.right {
	float: right;
}

.cleared:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Box structure */

#donorsChoose {
    margin-top: 10px;
}

.donorsChooseBox {
    padding-bottom: 105px;
	background-image: url(/res/img/content/donorsChoose/background_bottom.gif);
    background-repeat: no-repeat;
	background-position: left bottom;
    position: relative;
}

.donorsChooseBox .outer {
    padding-top: 17px;
    background-image: url(/res/img/content/donorsChoose/background_top.gif);
    background-repeat: no-repeat;
	background-position: left top;
}

.donorsChooseBox .inner {
	padding: 5px 27px 1px 22px;
    width: 251px;
    background-image: url(/res/img/content/donorsChoose/background_middle.gif);
    background-repeat: repeat-y;
    background-position: left top;
    background-color: transparent;
}

/* Holiday theme */

.donorsChooseBox.holiday {
    padding-bottom: 102px;
    background-image: url(/res/img/content/donorsChoose/holiday/widget_bottom3.gif);
    position: relative;
}

.donorsChooseBox.holiday .outer {
    padding-top: 65px;
    background-image: url(/res/img/content/donorsChoose/holiday/widget_headertop-1.gif);
}

#donorsChoose .donorsChooseBox.holiday .inner {
    padding: 22px 27px 0 22px;
    background-image: url(/res/img/content/donorsChoose/holiday/widget_1px_center.gif);
    background-repeat: repeat-y;
    background-position: left top;
    /*background-color: transparent;    */
}

#donorsChoose .donorsChooseBox.holiday h2 {
    display: none;
}

#donorsChoose .donorsChooseBox.holiday li {
    background: transparent url(/res/img/content/donorsChoose/holiday/widget_redBullet.gif) no-repeat scroll left 4px;
    margin: 0 0 5px;
    padding: 0 0 0 10px;
}

/* Content */

#donorsChoose h2 {
    text-indent: -9999px;
    overflow: hidden;
    height: 34px;
    margin-top: 7px;
    margin-bottom: 20px;
    background: url(/res/img/content/donorsChoose/header.gif) no-repeat left top;
}

#donorsChoose li {
    background: transparent url(/res/img/content/backtoschool/modules/orange_bullet.jpg) no-repeat scroll left 4px;
    margin: 0 0 5px;
    padding: 0 0 0 10px;
}

#donorsChoose li .title {
    font-weight: bold;
    font-size: 12px;
}

#donorsChoose li .title a, #donorsChoose li .title a:link, #donorsChoose li .title a:visited, #donorsChoose li .title a:active {
    color: #0065b3;
}

#donorsChoose li .description {
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #666666;
}

#donorsChoose li .moreDetails {
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #666666;
}

#donorsChoose li .costToComplete {
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    color: #666666;
}

#donorsChoose .give img {
    margin-top: 1px;
}

#donorsChoose .learnHow {
    font-weight: normal;
    font-size: 10px;
    color: #0065b3;

    position: absolute;
    bottom: 37px;
    _bottom: 47px;
    left: 87px;
}

#seeMoreDonorsChoose {
    position: absolute;
    bottom: 65px;
    _bottom: 75px;
    right: 27px;
}

#donorsChooseOrg {
    position: absolute;
    bottom: 3px;
    _bottom: 13px;
    left: 165px;
}
