
#pageGS {
    width: 976px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666666;
    line-height: 16px;
}

#adLeaderboard {
    width: 976px;
}

#topnav table#nav {
    width: 952px;
}

#contentGS {
    width: 962px;
    position: relative;
    margin: 0 0 25px 12px;
}

#contentGS a {
    color: #3399AA;
}

.hr.dotted {
    border-bottom: 2px dotted #CCCCCC;
    margin-right: 10px;
    height: 10px;
}

.hr hr {
    display: none;
}

#contentTop {
    width: 952px;
    height: 125px;
    padding-top: 15px;
    position: relative;
    margin-bottom: 15px;
}

#contentMiddle {
    float: left;
    width: 550px;
}

#contentRight {
    float: right;
    margin-right: 3px;
    width: 400px;
}

div.success {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

div.success img {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

/** Hot Topics */
.contentMiddleModule {
    margin: 0;
}

.gray {
    background-color: #C1BFBF;
    padding: 16px;
    margin-right: 7px;
    margin-top: 16px;
}

.gray .wrapper {
    background-color: #FFFFFF;
}

.blue {
    background-color: #3D69A8;
    padding: 16px;
    margin-right: 7px;
}

.blue .wrapper {
    background-color: #FFFFFF;
}

div.petition {
    padding: 80px 15px 55px 15px;
    position: relative;
}

.petition img.petition {
    position: absolute;
    top: 15px;
    left: 15px;
}

.petition #signPetitionButton {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

div.hot_topics {
    padding: 60px 15px 15px 30px;
    position: relative;
}

.hot_topics img.hot_topics {
    position: absolute;
    top: 15px;
    left: 15px;
}

.hot_topics .header {
    margin-bottom: 7px;
    font-size: 14px;
}

.red {
    color: #ED1B24;
    font-weight: bold;
}

.hot_topics ul li {
    background: transparent url(/res/img/content/backtoschool/modules/orange_bullet.jpg) no-repeat scroll left 7px;
    line-height: 18px;
    padding-left: 10px;
    font-size: 13px;
}

.hot_topics .source {
    color: #999999;
    padding-left: 2px;
}

/** Form */
/* inspired by sabine brings - www.brings-online.com - a form with style - www.cssplay.co.uk */
form#mailForm {
    font-size: 1.4em;
    width: 580px;
    padding: 0 10px 10px 10px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

form#mailForm fieldset {
    width: 450px;
    display: block;
    padding: 0 5px 5px 5px;
    line-height: 1.5em;
    border: none;
    margin: 15px 0 0 5px;
}

form#mailForm legend {
    color: #3399AA;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 14px;
    width: 254px;
    margin-left: 125px;
}

form#mailForm label {
    clear: left;
    display: block;
    float: left;
    width: 150px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 0.5em;
    font-size: 16px;
    line-height: 1.5em;
    font-style: normal;
}

form#mailForm input {
    padding: 0;
    margin-bottom: 0.8em;
    margin-top: 3px;
    width:260px;
    color: #666666;
}

form#mailForm p {
    clear: left;
    font-size: 12px;
    line-height: 14px;
    margin: 15px 25px 10px 25px;
}

form#mailForm p.large {
    font-size: 16px;
}

form#mailForm input.submit {
    width: 150px;
    color: #000;
}

form#mailForm textarea {
    width: 425px;
    height: 10em;
    border: 1px solid #e1e1e1;
    padding: 5px;
    overflow: auto;
    margin: 0 0 0 25px;
}

form#mailForm div.captcha {
    margin: 15px 0 15px 22px
}

form#mailForm div.captcha input {
    left: 0;
}

#marginGS ul.error {
    font-size:small;
    border: 1px solid red;
    padding:5px;
}

#marginGS ul.error li {
    margin-left:10px;
}


/** Strong American Schools */
.strongAmericanSchools {
    margin-top: 5px;
    position: relative;
    background-color: #FFFFFF;
    padding-right: 20px;
    margin-bottom: 20px;
}

.strongAmericanSchools .header {
    font-size: 14px;
    margin-bottom: 5px;
}

.strongAmericanSchools .body {
    font-size: 12px;
    line-height: 16px;
}

/** Participate */
.participate {
    padding: 20px;
    margin: auto;
    text-align: center;
}