/* Many of these styles should be refactored into a new microsite stylesheet. */

#pageGS {
    width: 976px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666666;
    line-height: 16px;
}

#adLeaderboard {
    width: 976px;
}

#topnav table#nav {
    width: 952px;
}

#contentGS {
    width: 962px;
    position: relative;
    margin: 0 0 25px 12px;
}

#contentGS a {
    color: #3399AA;
}

.hr.dotted {
    border-bottom: 2px dotted #CCCCCC;
    margin-right: 10px;
    height: 10px;
}

.hr hr {
    display: none;
}

.hr.middleDivider {
    margin-right: 2px;
}

#contentTop {
    width: 952px;
    height: 271px;
    padding-top: 15px;
    position: relative;
}

#contentMiddle {
    float: left;
    width: 625px;
}

#contentRight {
    float: right;
    padding-top: 10px;
    margin-right: 3px;
}

.contentMiddleModule {
    margin: 0;
    padding-top: 10px;
}

.moduleBox {
    background: transparent url(/res/img/content/election2008/shadow_bottom.png) repeat-x scroll left bottom;
    float: left;
    margin: 0 8px 0 0;
    padding: 0 0 9px;
}

#contentRight .moduleBox {
    margin-right: 7px;
}

.moduleBox .wrapper-outer {
    background: transparent url(/res/img/content/election2008/shadow_left.png) repeat-y scroll left top;
}

.moduleBox .wrapper-inner {
    background: transparent url(/res/img/content/election2008/shadow_right.png) repeat-y scroll right top;
    min-height: 230px;
    height: auto !important;
    height: 230px;    
    padding-bottom: 1px;
    position: relative;
    width: 203px;
}

.moduleBox .left-corner {
	position: absolute;
	bottom: -9px;
	left: 0;
}

.moduleBox .right-corner {
	position: absolute;
	bottom: -9px;
	right: 0;
}

.moduleBox input {
    color: #666666;
}

.seeMore {
    position: absolute;
    bottom: -8px;
    left: -12px;
}

.flush {
    margin: 0;
}

.moduleBox h3 img {
    display: block;
}

.moduleBox .leadoff {
    margin: 10px 0 5px 10px;
}

.moduleBox form {
    margin: 0;
    padding: 0;
}

form .emailField {
    width: 100%;
}

form .zipField {
    width: 50%;
}

.moduleBox p.parentAdvisor {
    margin-right: 6px;
}

form p.parentAdvisor input {
    margin: 0 4px 0 0;
}

form p.parentAdvisor label {
    font-size: 12px;
}

.moduleBox p {
    color: #666666;
    margin: 10px;
}

.moduleBox p.flush {
    margin-bottom: 0;
    margin-top: 0;
}

#startlingStat {
    color: #3B6BAB;
    margin: 20px;
}

.alignright {
    text-align: right;
}

.gray .wrapper {
    background: transparent url(/res/img/content/election2008/third-tier_bg.png) no-repeat scroll left top;
    height: 231px;
    padding: 16px;
}

.moduleBox.large .wrapper-inner {
    width: 320px;
}

.cleared:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div.video {
    margin: 8px 0 0 8px;
}

div.hot_topics {
    padding: 68px 15px 15px 30px;
    position: relative;
}

.hot_topics img.hot_topics {
    position: absolute;
    top: 15px;
    left: 15px;
}

.hot_topics .header {
    margin-bottom: 7px;
    font-size: 14px;
}

.red {
    color: #ED1B24;
    font-weight: bold;
}

.hot_topics ul li {
    background: transparent url(/res/img/content/backtoschool/modules/orange_bullet.jpg) no-repeat scroll left 7px;
    line-height: 18px;
    padding-left: 10px;
    font-size: 13px;    
}

.hot_topics .source {
    color: #999999;
    padding-left: 2px;
}

/** Strong American Schools */
.strongAmericanSchools {
    height: 155px;
    margin-top: 5px;
    position: relative;
    background-color: #FFFFFF;
    padding-right: 20px;
}

.img_strong {
    position: absolute;
    top: 15px;
}

.strongAmericanSchools div.text {
    position: absolute;
    width: 345px;
    top: 15px;
    left: 182px;
}

.strongAmericanSchools .header {
    font-size: 14px;
    margin-bottom: 5px;
}

.strongAmericanSchools .body {
    font-size: 12px;
    line-height: 16px;
}

/** Toolkits */
div.toolkitsWrapper {
    width: 320px;
    height: 318px;
    background-color: #3B6BAB;
    float: left;
    clear: left;
    margin-top: 8px;
}

div.toolkits {
    background-color: #FFFFFF;
    width: 296px;
    height: 294px;
    position: relative;
    top: 12px;
    left: 12px;
}

.img_edin08 {
    position: absolute;
    top: 20px;
    left: 20px;
}

div.toolkits ul {
    position: relative;
    top: 82px;
    margin: 0 20px 10px 20px;
}

div.toolkits ul li {
    margin: 0 0 10px 0;
    position: relative;
    padding: 0 0 0 25px;
}

div.toolkits ul li img {
    position: absolute;
    left: 0;
    top: 1px;
}

div.toolkits ul li a {
    font-size: 14px;
}

div.toolkits ul li span {
    font-size: 12px;
    display: block;
}


/** Content bottom*/
#contentGS #contentBottomHeader {
    padding-top: 0;
}