#intro h3 {
    font-size: 16px;
    font-weight: bold;
    color: #5BC;
    margin-bottom: 5px;
}

#tabbed-info{
   margin-top:10px;     
}

#tabbed-info .inner{
  background-image:url(/res/img/content/gradeLanding/activities_header.png);
  padding-top: 5px;
}
