#tabbed-info {
    font-size:13px;
}
#tabbed-info h2#fun_activities{
    clear:both;
}
#tabbed-info h3 {
	clear: both;
	float: left;
	font-size: 13px;
	line-height: 15px;
}

#tabbed-info h3 a {
	display: block;
	width: 98px;
	height: 20px;
	padding: 3px 0 0 20px;
	background: url(/res/img/library/button.png) no-repeat left top;
	border-top: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
}

#tabbed-info h3 .active {
	background: url(/res/img/library/button-active.png);
	color: #fff;
	border-color: #2387a2;
}

#tabbed-info h3 .active:hover {
	text-decoration: none;
}

#tabbed-info #fifthgrade {
	border-bottom: 1px solid #c4c4c4;
}

#tabbed-info .contents {
	width: 332px;
	float: right;
	background: #fff url(/res/img/library/middle-box3-bg.png) repeat-x 0 bottom;
	border-bottom: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
}

#tabbed-info .column {
	width: 145px;
	padding: 5px 10px;
	height: 157px;
	border-top: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
}

#tabbed-info h4 {
	font-size: 14.5px;
	font-weight: bold;
	margin: 0 0 5px;
}

#tabbed-info div.gradelevel-books {
     text-align:right;
}

div.featured {
    position:relative;
    padding:0 0 0 55px;
    width:90px;
    height:60px;
    margin:0 0 5px 0;
}

div.featured-image {
    position:absolute;
    clear:both;
    left:0;
    top:0;
}
