#pageWrapper #main h1 {
    background:transparent url(/res/img/schoolChoice/schoolchoice_headerbar.gif) no-repeat scroll left top;
}

#pageWrapper {
	background: url(/res/img/library/grade_bg.jpg) repeat-x 0 top;
}

.box .inner .content {
	padding: 5px 15px 1px;
	background-color: #fff;
    /*position: relative;*/
}

#content .box .inner {
    padding: 5px 0 0 0;
    /*padding: 0;*/
    background-color: transparent;
    background-image: url(/res/img/content/gradeLanding/middlecontent_top.png);
    position: relative;
}

#content .box {
    background-image: url(/res/img/content/gradeLanding/middlecontent_bottom.png);
    position: relative;
}

.box.thin {
    background-image: url(/res/img/library/right-box2-bottom.png);
}

.box.thin .inner {
    background-image: url(/res/img/library/right-box2-top.png);
}

#pageWrapper #content h2 {
    margin: 0 0 7px;
}

#content #intro h2 {
    margin-bottom: 5px;
}

#supplement h2 {
	font-size: 18px;
	color: #d66671;
	margin: 10px 0;
}

#supplement h2 .smaller {
    font-size: 17px;
    color: #666;
}

#main input, #main select {
    font-family: Arial, Arial, sans-serif;
    color: #666;
}

h2.quotable {
	background: url(/res/img/library/quote_bubble.png) no-repeat left 4px;
	min-height: 22px;
	padding: 2px 0 0 30px;
}

#intro, #intro .inner, #intro .inner .content {
    position: relative;
}

#intro ul.horizontalList li {
    background: 0;
    list-style: none;
    margin: 0 5px 0 0;
    padding: 0 4px 0 0;
    display: inline;
    font-size: 12px;
    border-right: 1px solid #888;
}

#intro ul.horizontalList li.noborder {
    border-right: 0;
    padding-right: 0;
}

#intro ul.horizontalList li.selected {
    padding-left: 15px;
    background: url(/res/img/library/arrow-down.png) no-repeat 0;
}

#intro ul.horizontalList li.selected a {
    text-decoration: none;
    color: #666;
    cursor: default;
}

#communityModule div.column {
    margin: -4px 0 5px 10px;
    width: 262px;
}

.gradeLevelBox table, .gradeLevelBox td {
    margin: 0;
    padding: 0;
}

.gradeLevelBox td.left {
    vertical-align: top;
    padding-bottom: 10px;
}

.gradeLevelBox td.right {
    vertical-align: top;
    padding-left: 10px;
    float:none;
}

#intro .gradeLevelBox p {
    margin: 0 0 5px 0;
    padding: 0;
}

.gradeLevelBox a {
    font-size: 13px;
}

.gradeLevelBox ul.gradeArticleLinksList {
    width: 230px;
}

#content .gradeLevelBox ul.gradeArticleLinksList li {
    display: inline;
    padding-right: 5px;
}

#content .gradeLevelBox ul.gradeArticleLinksList.vertical li {
    display: block;
    margin-bottom: 0;
}

.gradeLevelBox ul.gradeArticleLinksList li a {
    font-size: 13px;
}

#intro div.pin {
    font-size: 1px;
}

#schoolChoicePromo .inner {
    padding-right: 5px;
}

#findASchool {
    font-size: 13px;
}

#findASchool .inner {
    padding-right: 10px;
}

div.findSchoolForm input.formText{
    height:19px;
}

div.findSchoolForm input.formText, div.findSchoolForm select.formState {
    color: #777;
    margin-right: 5px;
    vertical-align: top;
}

div.findSchoolForm select.formState {
    margin-right: 1px;
}

div.findSchoolForm input.formText {
    width: 170px;
    font-size: 11px;
}

div.findSchoolForm input.formButton {
    position: relative;
    top: -3px;
}

div.withinLine {
    margin-top: 10px;
}

div.withinLine span, div.withinLine input.formZip, div.withinLine select {
    vertical-align: top;
}

div.compareSchoolForm input.formZip, div.compareSchoolForm select.formLevel, div.compareSchoolForm select.formMiles {
    color: #777;
    margin: 0 6px;
}

div.compareSchoolForm input.formZip {
    width: 75px;
    margin-right: 10px;
}

div.compareSchoolForm input.formButton {
    position: relative;
    top: -3px;
}

#topSchools .inner {
    padding-right: 10px;
}

#content #topSchools h2 {
    margin-bottom: 0;
}

#topSchools .changeCity {
    font-size: 12px;
    margin: 4px 0 2px 0;
    position: relative;
}

#topSchools .changeCity select {
    position: relative;
    top: 2px;
}

.changeCity select#topCitiesCityList {
    width: 175px;
}

#topSchools .changeCity select#topSchoolsStateSelector {
    margin-left: 5px;
}

#mapContainer {
    padding-top: 10px;
    position: relative;
}

#map {
    width: 150px;
    height: 180px;
    position: relative;
}

.topRatedSchools th {
    border: 0 solid #DDD;
    border-bottom-width: 1px;
    color: #999;
    font-size: x-small;
    margin-bottom: 5px;
    padding: 0 10px 5px 0;
    vertical-align: bottom;
}

.topRatedSchools td {
    font-size: small;
    margin: 0;
    padding: 2px 10px 3px 0;
}

.topRatedSchools .dottedLineBottomBox {
    padding-bottom: 4px;
    padding-top: 4px;
    border: 0 solid #DDD;
    border-bottom-width: 1px;
    margin-bottom: 3px;
}

#topSchools .topRatedSchools a {
    display: block;
    float: left;
    width: 215px;
}

.topRatedSchools img.ratingImage {
    float: right;
}

#main p.more a {
    color: #CE6373;
}

#pageWrapper #Top_300x137{
    /*margin-top:10px;*/
}

#pageWrapper #House_Ad_300x137{
     margin-top:10px;
}

#pageWrapper div#schoolChoicePackPromo .blurb{
    margin: 0 13px 5px 0 ;
}

#noTopSchools{
    margin-top:60px;
}
