#givingContest {
    background: url(/res/img/holidayGiving/contest_module.gif) no-repeat left top;
    position: relative;
    width: 208px;
    height: 284px;
}

#givingContest #text {
    padding: 85px 3px 0 3px;
    width: 200px;
    height: 190px;
}

#givingContest #text p {
    font-size: 12px;
    line-height: 16px;
}

#givingContest #text p.more {
    text-align: right;
}

#givingContest img {
    position: absolute;
    left: 65px;
    bottom: 40px;
}

#donorsChooseWrapper {
    width: 300px;
    /*position: absolute;*/
}



#marginGS
{
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

ul.bulleted {
    /* to handle IE6 bug: http://www.webmasterworld.com/forum83/9077.htm */
    position: relative;
}

.bulleted li {
    background: url(/res/img/content/backtoschool/modules/orange_bullet.jpg) no-repeat left 5px;
    padding-left: 10px;
	margin-bottom: 2px;
    line-height: 20px;
}

#contentTop {
    margin: 0 0 8px 0;
    position: relative;
    top: 0px;
}

.hr hr {
	display: none;
}


#contentTop .flash {
    margin-left: 1px;
}

.clear {
	clear: both;
}

.cleared:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#contentMiddle {
    width: 642px;
    float: left;
    position: relative;
}

#contentRight {
    float: right;
    margin: 0;
    /*height: 604px;*/
    width: 300px;
    position: relative;
}

.moduleBox {
    width: 208px;
    background: url(/res/img/content/backtoschool/modules/shadowbox_bg.png) repeat-y;
    float: left;
    margin: 0 8px 0 0;
}

#contentMiddleModuleTop {
    height: 273px;
    margin-bottom: 17px;
    _margin-bottom: 8px;
}

.moduleBox.last {
    width: 208px;
    background: url(/res/img/content/backtoschool/modules/shadowbox_bg.png) repeat-y;
    float: left;
    margin: 0 0 0 0;
}

.moduleBox .wrapper {
	background: url(/res/img/content/backtoschool/modules/shadowbox_bottom.png) no-repeat left bottom;
	padding-bottom: 9px;
    min-height: 273px;
    height: auto !important;
    height: 273px;
    position: relative;
}

.moduleBox h3 img {
	display: block;
}

.moduleBox .leadoff {
	margin: 10px 0 7px 13px;
}

.moduleBox p {
	margin: 5px 14px;
	color: #626262;
}

.moduleBox .bulleted {
	margin: 5px 15px 10px;
}

.wrapper .adDiv {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

#AboveFold_300x250 {
    border: 0;
    margin: 0;
    padding-top: 0;
}
