h1#title {
    text-indent: -5000px;
    background: url( "../../img/content/holidayLearning/holidayLearning.gif" ) no-repeat;
    width: 155px;
    height: 192px;
    float: left;
    margin:0;
    padding:0;
}

h2#subTitle1 {
    text-indent: -5000px;
    background: url( "../../img/content/holidayLearning/greatLearningGifts.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}

h2#subTitle2 {
    text-indent: -5000px;
    background: url( "../../img/content/holidayLearning/holidayActivities.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}