.cleared {
	height: 1%;
}

.hr {
	margin-top: 5px;
}

#pageWrapper li {
	margin: 0;
	height: 1%;
	background-position: left 6px;
}

#browse-tips ul {
	min-width: 0;
}

#browse-tips li {
	margin-bottom: 10px;
}

#browse-tips li a {
	background-position: left 6px;
}

#browse-tips li a.closed {
	background-position: 3px 4px;
}

#browse-tips li li {
	background-position: left 7px;
	margin: 0;
}

#intro .column {
	padding-bottom: 5px;
}

#tabbed-info .contents p, #tabbed-info .contents li {
	height: auto;
	line-height: 16px;
}

#tabbed-info h3 {
	width: 119px;
	float: none;
}

#supplement #quotable {
	background-position: left 8px;
	height: 23px;
	padding: 5px 0 0 30px;
}

h3#quotable {
	background: url(/res/img/library/quote_bubble.png) no-repeat left 54px;
}

.quotable {
	background-position: left 8px;
	height: 23px;
	padding: 5px 0 0 30px;
}

* html #pageWrapper #sidebar, * html #pageWrapper #main, * html #supplement, * html #intro .column {
	display: inline;
}

* html #intro .column li {
	margin-left: -15px;
}

* html #tabbed-info .contents {
	position: relative;
}

* html #tabbed-info .featured-book img {
	left: -55px;
}