@charset "UTF-8";

/* ---------------- */
/* DEBUGGING SYTLES */
/* ---------------- */

.outline1 {
    outline: 1px solid red;
}

.outline2 {
    outline: 1px solid green;
}

.outline3 {
    outline: 1px solid blue;
}

/* --------------------- */
/* GENERAL LAYOUT STYLES */
/* --------------------- */

.gainlayout {
    position: relative;
    zoom: 1;
}

.fltlft {
/* this class can be used to float an element left in your page */
    float: left;
}

.fltrt {
/* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
}

.clearfloat {
/* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}

.sdrt{
    border-top: 1px dotted #999;
}

.sdrb{
    border-bottom: 1px dotted #999;
}

/* clear fix */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* end clear fix */

/* ------------------------ */
/* RECENT DISCUSSION STYLES */
/* ------------------------ */

#recentDiscussions {

}

#recentDiscussions .avatar {
    width:58px;
}

#recentDiscussions .discussionTopic {
    width:364px;
}

#recentDiscussions .discussionHolder {
    margin:0 0 10px 0;
}

.text3 {
    font: 12px / 1.3 Arial, Helvetica, sans-serif;
}

.text3_230 {
    font: 12px / 2.3 Arial, Helvetica, sans-serif;
}

.smallText1 {
    font: 11px / 1.3 Arial, Helvetica, sans-serif;
    /*color: #777;*/
}

.smallAlertTextBoldNeutral {
    font: bold 11px / 1.2 Arial, Helvetica, sans-serif;
}

.alertDoubleArrow {
    font: 15px Arial, Helvetica, sans-serif;
    /*color: #d61;*/
}

/* --------------- */
/* ORIGINAL STYLES */
/* --------------- */

/* Generic Classes */

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.cleared:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box {
	margin: 10px 0 0;
	padding-bottom: 5px;
	background-repeat: no-repeat;
	background-position: left bottom;
}

.box .inner {
	padding: 5px 15px 1px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: left top;
}

.adTop_300x137{
    margin:10px 0 0 0;
}

.column {
	float: left;
}

.hr hr {
	display: none;
}

.hr {
	height: 0;
	clear: both;
	margin: 15px 0;
    border-bottom: 2px dotted #ccc;
}

#pageWrapper p, #pageWrapper ul {
	margin-bottom: 10px;
	font-size: 13px;
}

#pageWrapper li {
	background: url(/res/img/content/backtoschool/modules/orange_bullet.jpg) no-repeat left 4px;
	padding: 0 0 0 10px;
	margin: 0 0 5px;
}

/* Specific Layout */

#pageWrapper {
	background: url(/res/img/library/page_bg.png) repeat-x 0 top;
}

/* Center Content */

#pageWrapper #main {
	float: left;
	margin: 2px 0 0 10px;
	width: 761px;
    display: inline;
}

#pageWrapper #main h1 {
	background: url(/res/img/library/header.jpg) no-repeat left top;
	height: 30px;
	padding: 5px 10px 0;
	font-size: 20px;
	color: #fff;
	margin: 12px 0 0;
}

#pageWrapper #content {
	float: left;
	width: 452px;
}

#pageWrapper #content h2 {
	font-size: 18px;
	color: #d66671;
	margin: 10px 0;
}

#main-copy {
	background-image: url(/res/img/library/middle-box2-bottom.png);
}

#main-copy .inner {
	background-image: url(/res/img/library/middle-box2-top.png);
}

#main-copy .column {
	width: 262px;
	margin: -4px 0 5px 10px;
}

#tabbed-info .inner {
	background-image: url(/res/img/library/middle-box3-top.png);
    padding-left: 0;
    padding-right: 0;
	background-color: transparent;
}

#tabbed-info .wrapper {
	position: relative;
}

#tabbed-info .contents p, #tabbed-info .contents li {
	line-height: 16px;
}

#pageWrapper #content #tabbed-info h2 {
	padding: 2px 10px 5px;
	background-color: #6cd;
	color: #fff;
	margin: 0;
}

#supplement {
	float: left;
	width: 300px;
	margin: 0 0 0 9px;
    display: inline;
}

/*#supplement h3 {
	color: #5bc;
	font-size: 16px;
	margin: 5px 0 10px;
	font-weight: bold;
}*/

#topics {
	background-image: url(/res/img/library/right-box-bottom.png);
}

#topics .inner {
	padding-left: 0;
	padding-right: 0;
	background-image: url(/res/img/library/right-box-top.png);
}

#topics h3 {
	padding: 2px 10px 5px;
	background-color: #6cd;
	color: #fff;
	margin: 0 0 10px;
	font-size: 14px;
}

#topics ul, #topics img {
	margin-left: 10px;
	margin-right: 10px;
}

#more-info {
	background-image: url(/res/img/library/right-box2-bottom.png);
}

#more-info .inner {
	background-image: url(/res/img/library/right-box2-top.png);
}

#more-info ul {
    margin-bottom: 0;
    clear: both;
}

.more {
	text-align: right;
}

/* ------- */
/* Feature */
/* ------- */
#feature{
    background:#fff;
    margin:10px 0 0 0;
}
#feature img {
    float:left;
    padding:0 15px 5px 0;
}
#feature #featuredFeature h3.featuredTitle{
    font:22px Georgia, "Times New Roman", Times, serif;
    padding:25px 15px 5px 15px;
    text-align:left;
}
#feature #featuredFeature p {
    padding:5px 15px;
    margin:0;
}
#feature ul {
    clear:both;
    padding:5px 15px 10px 15px;
    line-height:1.1;
}
.rounded {
  -moz-border-radius-bottomleft:9px;
  -moz-border-radius-bottomright:9px;
  -webkit-border-bottom-left-radius:9px;
  -webkit-border-bottom-right-radius:9px;
}
