#contentBottom {
    width: 950px;
    border-top: 2px dotted #ccc;
    position: relative;
    left: 2px;
    padding-top: 7px;
    height: 162px;
}

#contentBottomHeader {
    width: 950px;
    height: 27px;
    position: relative;
    padding-top: 17px;
    left: 2px;
    clear: both;
}

#contentBottomHeader h2 {
    font-size: 14pt;
    color: #66CCCC;
    padding-bottom: 5px;
}

.editorialFooterBox {
    float: left;
    width: 158px;
    height: 160px;
    line-height: 18px;
    font-size: 7px;
    color: #888888;
    border-right: 1px solid #DDDDDD;
    padding: 2px 15px 0 15px;
    margin: 0;
}

#footerSearchBox {
    color: #888;
    width: 150px;
}

#footerStateSelector {
    margin-top: 6px;
    color: #888;
}

#goButton {
    float: right;
}

#signMeUpButton {
    margin-top: 10px;
    float: right;
}

.editorialFooterBox.right {
    border-right: 0;
}

.editorialFooterBox.right a {
    float: right;
}

.editorialFooterBox h3 {
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 15px;
}

#searchPrompt {
    font-size: 9pt;
    padding-top: 12px;
    margin-bottom: 6px;
}

ul.bulleted {
    /* to handle IE6 bug: http://www.webmasterworld.com/forum83/9077.htm */
    position: relative;
}

.bulleted li {
    background: url(/res/img/content/backtoschool/modules/orange_bullet.jpg) no-repeat left 7px;
    padding-left: 10px;
	margin-bottom: 2px;
    line-height: 20px;
}
