.contentMiddleModule {
    border-top: 2px dotted #ccc;
    padding:7px 0 0 0;
}

.hideTopBorder {
    border-top: none;
    padding-top: 0;
}

.contentMiddleModule {
    margin: 0 0 7px 2px;
    position: relative;
}

.gray .wrapper {
	background: url(/res/img/content/backtoschool/tier3_bg.jpg) repeat-x;
    padding: 0 0 0 16px;
    min-height: 288px;
	height: auto !important;
	height: 288px;
}


.box {
	background: #fff;
	width: 266px;
	min-height: 250px;
	height: auto !important;
	height: 250px;
	float: left;
	margin-top: 14px;
	padding: 10px 15px 0;
    color: #666;
}

#boxFirstHeader {
    padding-top: 7px;
    position: relative;
}

.box.first {
	margin-right: 17px;
}

.wrapper .box {
    position: relative;
}

.wrapper .box .adDiv {
    position: absolute;
    bottom: 10px;
    left: 40px;
}

.box .bulleted {
	margin: 10px;
}

.box .bulleted li {
	margin-bottom: 7px;
}

p.question {
    background: url(/res/img/content/backtoschool/q.png) no-repeat left 1px;
    padding: 1px 0 0 25px;
    margin: 10px;
}

#promoPrompt {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666;
    padding: 25px 5px 15px 20px;
}

#promoResponseButton {
    text-align: right;
    padding: 0 10px 15px 15px;
}


#seeOtherStories {
    text-align: right;
    padding-right: 10px;
}

