#pageGS {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

#pageGS #contentGS  a:hover {
    text-decoration:underline;
}

#pageGS #contentGS a.noHover:hover {
   text-decoration:none;
}

.wrapBorder {
    float:left;
    border-right: 1px solid #ccc;
    height:100%;
    padding: 0;
    margin: 0;
}

/* Left, nav column */
#contentGS .left {
    float: left;
    width: 164px;
    padding-right: 5px;
}

#contentGS .left h3 {
    font-weight: bold;
    background-color: #6cc;
    color: #fff;
    padding: 4px 5px 4px 16px;
    text-align: left;
}

#contentGS .left h3 a {
    color: #fff;
    text-align: right;
    display: block;
}

#contentGS .left h3.seeAll {
    font-weight: bold;
    background-color: #6cc;
    color: #fff;
    padding: 4px 5px 4px 16px;
    text-align:right;
}

#contentGS .left a.seeAll:link, a.seeAll:active, a.seeAll:visited {
    color: #fff;
    text-align:right;
}

#contentGS .left #allArticles {
    background-color: #eee;
}

#contentGS .left #allArticles a {
    text-decoration: underline;
}

#contentGS .left ul {
    margin: 5px 0px 6px 0px;
}

#contentGS .left ul li {
    font-size: 11px;
    font-weight: bolder;
    background-color: #eee;
    color: #999;
    padding: 0px 12px 4px 16px;
    margin-bottom: 1px;
    background-image: url( "../../img/content/countdownToCollege/dotOnEee.gif" );
    background-repeat: no-repeat;
    background-position: .8ex 1.4ex;
}

#contentGS .left ul li.noBullet {
    background-image: none;
    padding-left: 6px;
}

#contentGS .left ul li a {
    color: #aaa;
}

#contentGS .left ul .bookPicks {
	color: #c56 !important;
    background-image: none;
    font-size: 11px;
}

#contentGS .left ul li.bookPicks img {
      padding: 3px 3px 3px 0px;
}

#contentGS .left ul li.seeMore {
    background-image:none;
    text-align:right;
    padding-top:4px;
}

/* Middle column */
#contentGS .middle h1 {
    font-family: Rockwell light, courier, courier new;
    font-size:100%;
    font-weight:normal;
    padding:0;
    color: #fff;
    background-color: #6cc;
    margin-bottom:0;
}

#contentGS .middle h1.pageHeading {
    text-indent: -5000px;
    width: 155px;
    height: 192px;
    float: left;
    margin:0;
    padding:0;
}

#contentGS .middle h2 {
    font-family: century gothic;
    font-weight: normal;
    color: #fff;
    background-color: #fb0;
    padding:0;
    text-indent: -5000px;
    width: 365px;
    height: 26px;
}

#contentGS .middle h2.sectionHeading {
    text-indent: -5000px;
    width: 365px;
    height: 26px;
}

#contentGS .middle li {
    padding: 8px 0 2px 16px;
    font-size: small; /* 13pt */
    font-weight: 700;
    background-color: #fff;
    color: #5bc;
}

#contentGS .middle li a, #contentGS .middle li a:visited {
    color: #39a;
    text-decoration:none;
}

#contentGS .middle li a:hover {
    text-decoration:none;
}

#contentGS .middle p {
    padding-left: 16px;
    font-size: small;
    font-weight: 700;
    color: #777;
}

#contentGS .middle p a, #contentGS .middle p a:visited {
    color: #39a;
    font-weight: 300;
    text-decoration:underline;
}

#contentGS .middle p a:hover {
    text-decoration: underline;
}

#contentGS .middle {
    float: left;
    padding: 0 5px 0 5px;
    width: 370px;
}

#contentGS .middle div {
    width: 365px;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 28px;
    margin-bottom: 5px;
}

#contentGS .middle div.question, #contentGS .middle div#lower {
    border-bottom: 1px dashed #ccc;
}

#contentGS .middle div#contentHeaderImage {
    height:200px;
    border-bottom:none;
    background: url("../../img/content/countdownToCollege/red_dot.gif") bottom repeat-x;
    padding-bottom:10px;
}

#contentGS .middle div#contentHeaderImage img {
    float: left;
}

#contentGS #promos {
    float: right;
}

h3#askTheExperts {
    text-indent: -5000px;
    background-image: url( "../../img/content/backtoschool/askTheExperts.gif" );
    width: 169px;
    height: 23px;
}

h3#freeNewsletters {
    text-indent: -5000px;
    background-image: url( "../../img/content/backtoschool/freeNewsletters.gif" );
    width: 174px;
    height: 20px;
}


/*override global's*/
#contentGS #adSquareOrRect {
    text-align: center;
    color: #999;
    padding: 0;
    margin: 0;
    float: none;
    border: 0;
    font-size: 10px;    
}

#adCommonSenseMedia {
    text-align:center;
    color: black;
    font-size: 12px;
}

#contentGS .adSquare {
    text-align: center;
    color: #999;
    padding: 0;
    margin: 0;
    float: none;
}

.textAd {
	margin-top: 20px;
    padding: 10px 20px 20px 20px;
    border: 1px solid #cbcbcb;
	width: 259px;
}

ul.pdf{
    text-indent:20px;
    padding-left:30px;
    padding-top:5px;
}
ul.pdf li {
    background: url("../../../res/img/adobe/pdficon.gif") no-repeat left;
}

.byGrade a {
    display: block;
    width: 16px;
    height: 17px;
}

.byGrade a.by_k {
    background-image: url( "../../img/content/grade/hollowK.gif" );
}

.byGrade a.by_k:hover {
    background-image: url( "../../img/content/grade/blueK.gif" );
}

.byGrade a.by_1 {
    background-image: url( "../../img/content/grade/hollow1.gif" );
}

.byGrade a.by_1:hover {
    background-image: url( "../../img/content/grade/blue1.gif" );
}

.byGrade a.by_2 {
    background-image: url( "../../img/content/grade/hollow2.gif" );
}

.byGrade a.by_2:hover {
    background-image: url( "../../img/content/grade/blue2.gif" );
}

.byGrade a.by_3 {
    background-image: url( "../../img/content/grade/hollow3.gif" );
}

.byGrade a.by_3:hover {
    background-image: url( "../../img/content/grade/blue3.gif" );
}

.byGrade a.by_4 {
    background-image: url( "../../img/content/grade/hollow4.gif" );
}

.byGrade a.by_4:hover {
    background-image: url( "../../img/content/grade/blue4.gif" );
}

.byGrade a.by_5 {
    background-image: url( "../../img/content/grade/hollow5.gif" );
}

.byGrade a.by_5:hover {
    background-image: url( "../../img/content/grade/blue5.gif" );
}

