/* ---------------- */
/* Related Articles */
/* ---------------- */

#cmsRelatedArticles {
    background: url(/res/img/box/morein_sides.gif) repeat-y;
    width: 300px;
}

#cmsRelatedArticleContent {
    margin: 0 20px 10px 15px;
}

#cmsRelatedArticleContent h2 {
    font: 18px/1 Arial, Arial, Helvetica, sans-serif;
    color: #d66671;
    margin-bottom: 10px;
}

#cmsRelatedArticleContent a {
    font: 13px/1.2 Arial, Arial, Helvetica, sans-serif;
}

#cmsRelatedArticleContent div {
    border-bottom: 1px dotted #b8b8b8;
    margin: 5px 0;
    padding: 5px 0;
}

#cmsRelatedArticleContent div.lastone {
    border: none;
    margin: 5px 0;
    padding: 5px 0;
}

.bolder {
    font-weight: bolder;
}