h3#movingWithKids {
    text-indent: -5000px;
    background: url( "../../img/content/movingWithKids/movingWithKids.gif" ) no-repeat;
    width: 155px;
    height: 192px;
    float: left;
}

h3#learn {
    text-indent: -5000px;
    background: url( "../../img/content/movingWithKids/learnMoving.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}

h3#choose {
    text-indent: -5000px;
    background: url( "../../img/content/movingWithKids/chooseGreatSchool.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}

h3#ease {
    text-indent: -5000px;
    background: url( "../../img/content/movingWithKids/easeTransition.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}
