/* Ads */

#AboveFold_Left_160x600 {    
    padding: 20px 0 0 10px;
    clear: both;
}

#google_ads_div_Library_Microsite_Preschool_Promo_170x92 {
    padding: 20px 0 0 10px;
    clear: both;
}

#AboveFold_300x250 {
    border-top: none;
    margin-top: 0;
}

#House_Ad_300x137 {
    border-top: none;
    padding-top: 10px;
}

/* Left Content */

#contentLeft {
    float: left;
    width: 174px;
}

/* Center Content */

#pageWrapper #main h1 {
	background: url(/res/img/preschool/preschool_headerbg.jpg) no-repeat left top;
}

#pageWrapper #content h3 {
    color: #5bc;
	font-size: 16px;
	margin: 5px 0 10px;
	font-weight: bold;
}

#pageWrapper #intro h2 {
    font-size: 26px;
	color: #d66671;
	margin: 10px 0;
}

#intro {
	background-image: url(/res/img/preschool/wide-box-bottom.png);
}

#intro .inner {
	background-image: url(/res/img/preschool/wide-box-top.png);
}

#intro .content {
    margin-top: 10px;
    float: right;
}

#intro .image {
	background: url(/res/img/preschool/HeroImage.gif) no-repeat left top;
    float: left;
    margin-top: 10px;
    height: 166px;
    width: 362px;
}

#intro .contentBottom {
    padding-top: 5px;
    clear: both;
}

#intro .description {
	margin-bottom: 5px;
}

#tabbed-info .wrapper {
    height: 210px;
}

#pageWrapper #tabbed-info .contents {
	width: 450px;
    background: #fff url(/res/img/library/middle-box3-bg.png) repeat-x 0 bottom;
	border-bottom: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}

#tabbed-info .column {
	width: 204px;
    padding: 5px 10px;
	border-top: 1px solid #c4c4c4;
    height: 200px;
}

#tabbed-info .column.last {
	padding: 5px 10px 5px 11px;
    border-left: 1px solid #c4c4c4;
}

#tabbed-info .column ul {
    clear: both;
}

#tabbed-info h4 {
	font-size: 14.5px;
	font-weight: bold;
	margin: 0 0 5px;
}

#tabbed-info .featured-book img {
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
}

#supplement h2 {
	font-size: 18px;
	color: #d66671;
	margin: 10px 0;
}

#supplement .column {
	width: 140px;
	margin: 0 0 5px 10px;
}

#more-info p img {
    float: left;
}

h3.quotable {
	background: url(/res/img/library/quote_bubble.png) no-repeat left top;
	min-height: 18px;
	padding: 2px 0 0 30px;
}

div#searchLine2 {
    height: 26px;
}

#location {
    font-size: 11px;
    width: 250px;
    color: #777777;
    margin: 0;
    padding: 0;
}

#stateSelector {
    color: #888888;
    vertical-align: top;
    margin-top: 3px;
}