div#main {
    position:relative;
    margin: 0;
    height: 866px;
    padding-top: 15px;
    overflow:hidden;
}

div#left_col {
    position:absolute;
    top:0;
    left: 20px;
}
div#left_col.border10 {
    top:15px;
}

/** Adjusting these values will require a change to the js function adjustLeftColAd */
div#leftcolAd {
    position:absolute;
    top: 230px;
    left: 20px;
    width: 204px;
    margin: 0 auto 0 auto;
    padding-top: 10px;
    text-align: center;
}

table#right {
    position:relative;
    left:220px;
    width:660px;
}

a.border10Links:link, a.border10Links:visited, a.border10Links:hover, .contentGS .billsBlog a:link,
    .contentGS .billsBlog a:visited, .contentGS .billsBlog a:hover{
	font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	text-decoration: underline;
	letter-spacing: 0px;
}

a.underline:link, a.underline:visited, a.underline:hover {
	font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	text-decoration: underline;
	letter-spacing: 0px;
}

a.dearParentsLink:link, a.dearParentsLink:visited {
	font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	text-decoration: none;
	letter-spacing: 0px;
}

.bold {
	font-weight: bold;
}

a.dearParentsLink:hover {
	text-decoration: underline;
}

a.arrowLink:link, a.arrowLink:visited, a.arrowLink:active {
	font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	text-decoration: none;
	letter-spacing: 0px;
}

a.arrowLink:hover {
	text-decoration: underline;
}

.greyBar {
	padding: 0px 0px 17px 0px;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #cccccc;
}

.findBox {
	border: 3px solid #66CCCC;
	border-top: 0px;
	padding: 24px 11px 0px 23px;
    font-family: "Century Gothic", Arial, sans-serif;
	font-size: 13px;
	line-height: 17px;
	color: #777777;
	width: 283px;
	height: 299px;
	letter-spacing: 0px;
}
.btest {
    width: 611px;
    height: 162px;
}
.btest .goInterstitial {
    float: left;
}
.btest .middleBottom {
    margin-right: 34px;
}
.btest .dotted {
    border-right: 1px dotted #999;
    border-width: 0 1px 0 0;
    padding-right: 18px;
    width: 294px;
    margin-right: 24px;
}
.compareBox {
	border: 3px solid #66CCCC;
	border-top: 0px;
	padding: 24px 11px 0px 23px;
    font-family: "Century Gothic", Arial, sans-serif;
	font-size: 13px;
	line-height: 17px;
	color: #777777;
	width: 282px;
	height: 299px;
	letter-spacing: 0px;
}

.middleBottom {
	padding: 0px 0px 8px 0px;
	text-align: right;
}

.middleTitle {
	padding: 10px 0px 7px 26px;
    font-family: "Century Gothic", Arial, sans-serif;
	font-size: 20px;
	line-height: 17px;
	color: #ffffff;
	background-color: #66CCCC;
	letter-spacing: 0px;
}

.yellowArrow {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-image: url(/res/img/content/research/yellow_arrow.gif);
	background-repeat: no-repeat;
	background-position: 7px 0px;
	width: 22px;
}

.goBlue {
	padding: 5px 0px 0px 0px;
	background-image: url(/res/img/content/research/go_blue.gif);
	background-repeat: no-repeat;
	width: 39px;
	height: 20px;
}

.districtText {
	padding: 5px 0px 0px 15px;
    font-family: Arial, Arial, sans-serif;
	font-size: 11px;
	line-height: 10px;
	color: #777777;
	letter-spacing: 0px;
}

.districtText2 {
	padding: 0px 0px 0px 0px;
    font-family: Arial, Arial, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #777777;
	letter-spacing: 0px;
}

.zip {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 50px;
	font-size: 11px;
}



h2.topSchoolsHeader {
    color:#55BBcc;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    margin-top:5px;
}

/*h2.fourStepsHeader {
    color:#D66671;
    font-size:16px;
    font-weight:bold;
    margin:5px 0 10px;
}

.fourStepsImg {
    float:left;
    padding:0 10px 20px 0;
}*/
#fourStepsBox h2#fourStepsHeader {
    font: bold 16px/17px Arial,Arial,sans-serif;
    color:#D66671;
    margin:5px 0 10px;
    float:none;
}
#fourStepsBox img {
    float:left;
    padding:0 10px 20px 0;
}
.topSchoolImgDiv {
    width:100px;
    float:left;
    height:85px;
}

#topHighSchools{
    width:372px;
    float:left;
    padding-top:14px;
}

#houseAd370x158{
    width:370px;
    float:left;
    padding: 1px 2px 1px 0;
}

#schoolFinderPromo{
	background-image: url(/res/img/promo/schoolfinder/mapwidget_rcpage_mapbg.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
    float: left;
    width: 247px;
    height: 152px;
    padding: 4px 16px;
}

#schoolFinderPromo h2{
    color:#55BBCC;
    font-weight: bold;
    font-size: 16px;
}

#schoolFinderPromo p {
    margin-left: 120px;
    margin-top: 6px;
    margin-bottom: 2px;
    color:#666666;
    font-family:Arial,Arial,sans-serif;
    font-size:13px;
}

#schoolFinderPromo img {
    margin-left: 200px;
}


.topSchoolTextDiv {
    font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #666666;
	letter-spacing: 0px;
    width:258px;
    float:left;
    height:75px;
    padding-right: 10px;
}

 .businessWeekImgDiv {
     width:135px;
     float:left;
     height:23px;
     padding: 14px 0px 0px 0px;
 }

/*.contentGS ul.fourStepsUlstyle {
	margin-left:14px;
	list-style-type: none;
}*/

#fourStepsBox ul{
    margin-left:14px;
    list-style-type: none;
}

/*.contentGS ul.fourStepsUlstyle li {
	padding-left: 20px;
	margin-bottom: 5px;
}*/

#fourStepsBox li {
    padding-left: 20px;
	margin-bottom: 5px;
}

/*.contentGS ul.fourStepsUlstyle li#img1{
    background:transparent url(/res/img/content/research/statepage_number1.gif) no-repeat scroll left 4px;
    position:relative;         
}*/

#fourStepsBox ul li#img1{
    background:transparent url(/res/img/content/research/statepage_number1.gif) no-repeat scroll left 4px;
    position:relative;
}

/** + html .contentGS ul.fourStepsUlstyle li#img1{
   background-position:left 2px;
}

* html .contentGS ul.fourStepsUlstyle li#img1{
   background-position:left 2px;
}*/

#fourStepsBox ul li#img1{
    background-position:left 2px;
}

/*.contentGS ul.fourStepsUlstyle li#img2{
    background:transparent url(/res/img/content/research/statepage_number2.gif) no-repeat scroll left 4px;
    position:relative;
}*/

#fourStepsBox ul li#img2{
    background:transparent url(/res/img/content/research/statepage_number2.gif) no-repeat scroll left 4px;
    position:relative;
}

/** + html .contentGS ul.fourStepsUlstyle li#img2{
    background-position:left 2px;
}

* html .contentGS ul.fourStepsUlstyle li#img2{
    background-position:left 2px;
}*/

#fourStepsBox ul li#img2{
    background-position:left 2px;
}

/*.contentGS ul.fourStepsUlstyle li#img3{
    background:transparent url(/res/img/content/research/statepage_number3.gif) no-repeat scroll left 4px;
    position:relative;
}*/

#fourStepsBox ul li#img3{
    background:transparent url(/res/img/content/research/statepage_number3.gif) no-repeat scroll left 4px;
    position:relative;
}

/** + html .contentGS ul.fourStepsUlstyle li#img3{
    background-position:left 2px;
}

* html .contentGS ul.fourStepsUlstyle li#img3{
    background-position:left 2px;
}*/

#fourStepsBox ul li#img3{
    background-position:left 2px;
}

/*.contentGS ul.fourStepsUlstyle li#img4{
    background:transparent url(/res/img/content/research/statepage_number4.gif) no-repeat scroll left 4px;
    position:relative;
}*/

#fourStepsBox ul li#img4{
    background:transparent url(/res/img/content/research/statepage_number4.gif) no-repeat scroll left 4px;
    position:relative;
}

/** + html .contentGS ul.fourStepsUlstyle li#img4{
    background-position:left 2px;
}

* html .contentGS ul.fourStepsUlstyle li#img4{
    background-position:left 2px;
}*/

#fourStepsBox ul li#img4{
    background-position:left 2px;
}

.getGuideButton{
    margin:8px 0 5px 15px;
}

select.school {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100px;
	font-size: 11px;
}

input.district {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 127px;
	font-size: 11px;
}

.goInterstitial .state {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 102px;
	font-size: 11px;
}

.state2 {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 43px;
	font-size: 11px;
}

.miles {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 40px;
	font-size: 11px;
}

.keyword {
	border: 1px solid #A7A6AA;
	width: 97px;
	height: 17px;
	margin: 0px 3px 0px 0px;
	vertical-align: top;
}

.blueDash {
	padding: 0px 0px 0px 0px;
    margin-top: 0px;
	margin-right: 10px;
    height: 21px;
    background-image: url(/res/img/content/research/blue_dash.gif);
	background-repeat: repeat-x;
}

.blueDot {
    background-image: url(/res/img/content/research/blue_dot.gif);
	background-repeat: repeat-x;
}

.blueDotVert {
    background-image: url(/res/img/content/research/blue_dot_vert.gif);
	background-repeat: repeat-y;
}

.redDotVert {
	background-image: url(/res/img/content/research/red_dot_vert.gif);
	background-repeat: repeat-y;
}

.greyDash {
    text-indent:-50em;
    padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
    background-image: url(/res/img/content/research/grey_dash2.gif);
	background-repeat: repeat-x;
	height: 15px;
}

.blueTitleText {
	padding: 0px 0px 6px 0px;
	font-family: Arial, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #55BBCC;
	font-weight: bold;
	letter-spacing: 0px;
}

.k12Success {
	display: block;
	padding: 3px 27px 0px 13px;
	width: 154px;
	font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	letter-spacing: -1px;
}

.k12SuccessImg {
    text-indent:-50em;
	padding: 0px 0px 16px 0px;
	background-image: url(/res/img/content/research/img_pencil.jpg);
	background-repeat: no-repeat;
	margin: 0px auto 0px auto;
	width: 94px;
	height: 94px;
}

.k12SuccessSearch {
    padding: 5px 0px 10px 12px;
	width: 182px;
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
	background-color: #66CCCC;
	letter-spacing: 0px;
}

.k12SuccessSearchBold {
	font-weight: bold;
}

.k12SuccessSearchKeyword {
	padding: 7px 0px 0px 0px;
	font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.askExperts {
	padding: 2px 14px 0px 15px;
	width: 117px;
	font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #666666;
	letter-spacing:0px;
}

.askExpertsImg {
    text-indent:-100em;
	padding: 0px 0px 21px 0px;
	background-image: url(/res/img/content/research/img_books.jpg);
	background-repeat: no-repeat;
	margin: 0px auto 0px auto;
	width: 65px;
	height: 86px;
}

.billsBlog {
	padding: 2px 12px 0px 15px;
	width: 119px;
	font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #666666;
	letter-spacing:0px;
}

.billsBlogImg {
    text-indent:-150em;
    padding: 0px 0px 21px 0px;
	background-image: url(/res/img/content/research/img_bills_blog.jpg);
	background-repeat: no-repeat;
	margin: 0px auto 0px auto;
	width: 65px;
	height: 86px;
}

div.healthyKids {
	padding: 2px 19px 0px 11px;
	width: 115px;
	font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	letter-spacing: -1px;
}

.healthyKidsImg {
    text-indent:-150em;
    padding: 0px 0px 21px 0px;
	background-image: url(/res/img/content/research/blueberries.jpg);
	background-repeat: no-repeat;
	margin: 0px auto 0px auto;
	width: 65px;
	height: 86px;
}

.editorsPick {
	padding: 0px 43px 0px 13px;
	width: 145px;
	font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #666666;
	letter-spacing:0px;
}

.editorsPickImg {
    text-indent:-150em;
    padding: 0px 0px 18px 0px;
	background-image: url(/res/img/content/research/mmyers.jpg);
	background-repeat: no-repeat;
	margin: 0px 15px 0px auto;
	width: 94px;
	height: 94px;
}

#contentGS .arrowUL {
	padding: 7px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	list-style: none;
	color: #666666;
	font-weight: normal;
}

#contentGS .arrowLI {
	padding: 0px 0px 2px 10px;
	background-image: url(/res/img/content/research/pink_arrow.gif);
	background-repeat: no-repeat;
	background-position: 0ex .5ex;
	color: #3399AA;
	font-weight: normal;
}

.lisa {
	border: 1px solid #DDEEEE;
	padding: 2px 2px 2px 2px;
    text-indent:-1000em;
    background-image: url(/res/img/content/research/lrosenthal.jpg);
	background-repeat: no-repeat;
	background-position: 2px; 2px; 2px; 2px;
	width: 53px;
	height: 69px;
}

.lisaDashedBorder {
	padding: 0px 0px 0px 0px;
	margin: 0px 7px 3px 0px;
	border: 1px dashed #DDEEEE;
    width: 59px;
}

#lisaSignature {
    text-indent:-50em;
    background-image: url(/res/img/content/research/lisa_signature.gif);
    background-repeat: no-repeat;
    margin:10px 0px 10px 0px;
    width: 147px;
	height: 26px;
}

.printName {
	padding: 0px 0px 0px 2px;
	font-family: Arial, Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	color: #55BBCC;
	letter-spacing: 0px;
}

.italicTitle {
	padding: 0px 0px 0px 2px;
	font-family: Arial, Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	font-style: italic;
	color: #55BBCC;
	letter-spacing: 0px;
}

.border10 {
	border: 6px solid #DDEEEE;
	padding: 8px 10px 10px 10px;
    font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #666666;
	letter-spacing: 0px;
	width: 172px;
}

td#editorPhoto, td#editorText {
    padding-bottom:7px;
    border-bottom:1px solid #DDEEEE;
}

td#leftBox {
    padding-top:7px;
}

#contentGS .dearParentsUL {
	padding: 4px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	list-style: none;
	color: #666666;
	font-weight: normal;
}

#contentGS .dearParentsLI {
	padding: 1px 0px 8px 10px;
	background-image: url(/res/img/content/research/grey_dot.gif);
	background-repeat: no-repeat;
	background-position: 0ex .8ex;
	color: #666666;
	font-weight: normal;
}

h1#stateSchools {
	padding: 9px 0px 9px 17px;
    font-family: Arial, Arial, sans-serif;
	font-size: 19px;
	line-height: 17px;
	color: #55BBCC;
	background-color: #DDEEEE;
	letter-spacing: 0px;
}

h2.updatesTitle {
	padding: 0px 0px 0px 0px;
    font-family: Arial, Arial, sans-serif;
	font-size: 13px;
	line-height: 19px;
	color: #FFBB00;
	font-weight: bold;
	letter-spacing: 0px;
}

.updatesText {
	padding: 10px 0px 0px 0px;
    font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #666666;
	letter-spacing: 0px;
}

.updatesText a:link, .updatesText a:visited, .updatesText a:hover, .updatesText a:active {
    text-decoration: underline;
}

.italicTitle {
    display: block;
}

.formText {
	color: #555555;
}
img#map {
    padding-left:5px;
    padding-right:5px;
}
/* Overrides frame.css */
body.framed #pageGS {
    width: 900px;
    padding: 0;
    background: none;
}

.photoName {
    position: relative;
    top: 16px;
    left: -7px;
    font-family: Arial, Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	color: #55BBCC;
	letter-spacing: 0;
}

.photoCaption {
    position: relative;
    top: 16px;
    left: -7px;
    font-weight: bold;
    line-height: 14px;
}

.granolaBites {
    letter-spacing: 0;
    font-size: 10px;
}

.granolaBites img {
    padding-top: 5px;
}

input.goImageButton {
    width:40px;
    height:18px;
    padding-left:8px;
    padding-top:2px;
}


div#alert {
    font-family:Arial,Arial,sans-serif;
    margin: 0 0 5px 0;
    border-top:3px solid #DDEEEE;
    border-bottom:3px solid #DDEEEE;
    position:relative;
    height:56px;
    cursor: pointer;
}

div#alert img {
    position:absolute;
    top:14px;
    left:11px;
}

div#alert div {
    position:relative;
    width:550px;
    top:12px;
    left:50px;
    line-height:17px;
}

div#alert div span.alert1 {
    padding:0;
    margin:0;
    font-size:15px;
    display:block;
    color:#CC5566;
    font-weight:bold;
}


div#alert div span.alert2 {
    padding:0;
    margin:0;
    font-size:12px;
    font-weight:normal;
    color:#666666;
}

div#alert div a {
    font-size: 12px;
}

div.top_5_promo_research {
    margin:10px 0 0 0;
    padding:0 0 0 35px;
    font-family: Arial, Arial, sans-serif;
    font-size:13px;
    color:#444444;
}

div.top_5_promo_research img {
    float:left;
    margin:3px 0 0 0;
}

div.top_5_promo_research div span.headline {
    font-weight:bold;
}

div.top_5_promo_research div span.subline {
    font-style:italic;
    padding-left:7px;
}

.contentGS div.top_5_promo_research a {
    display:block;
}

div.top_5_promo_research div,
div.top_5_promo_research a.copy {
    margin:0 0 0 50px;
}