h3#schoolChoiceTips {
    text-indent: -5000px;
    background: url( "../../img/content/schoolChoiceTips/schoolChoiceTips.gif" ) no-repeat;
    width: 155px;
    height: 192px;
    float: left;
}

h3#idPriority {
    text-indent: -5000px;
    background: url( "../../img/content/schoolChoiceTips/identifyWhatMattersMost.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}

h3#learnOptions {
    text-indent: -5000px;
    background: url( "../../img/content/schoolChoiceTips/learnAboutYourOptions.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}

h3#mostOfVisit {
    text-indent: -5000px;
    background: url( "../../img/content/schoolChoiceTips/makeTheMostofYourVisit.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}

h3#applyAndEnroll {
    text-indent: -5000px;
    background: url( "../../img/content/schoolChoiceTips/applyAndEnroll.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}