/* Left Content */

#contentLeft {
    float: left;
    width: 174px;
}

#skyscraper {
    padding-top: 10px;
    margin-left: 10px;
    clear: both;
}

/* Center Content */

#pageWrapper #main h1 {
	background: url(/res/img/schoolChoice/schoolchoice_headerbar.gif) no-repeat left top;
}

#pageWrapper .more {
    font-size: 13px;
    margin-bottom: 10px;
}

* html #pageWrapper .more {
    margin-bottom: 0;
}

* + html #pageWrapper .more {
    margin-bottom: 0;
}

#intro {
	background-image: url(/res/img/library/middle-box-bottom.png);
}

#intro .inner {
	background-image: url(/res/img/library/middle-box-top.png);
}

#main-copy .inner h2 {
    padding-top: 5px;
    padding-bottom: 5px;
}

#main-copy .inner h2 img {
    padding-right: 5px;
}

#step1top {
    height: 100px;
    overflow: hidden;
    padding-bottom: 0.3em;
}

#step3top {
    height: 100px;
}

.steplinks {
    padding-top: 5px;
}

#intro h2 {
	position: relative;
	z-index: 20;
}

#intro .inner .description {
    float: left;
    width: 115px;
    padding-right: 5px;
}

#intro .inner .video {
    float: left;
    border: 1px solid #cccccc;
}

.searchContent {
    height: 25px;
}

.searchInput {
    width: 250px;
    float: left;
}

#searchState {
    float: left;
    margin-left: 7px;
}

#searchGo {
    float: left;
    margin-top: -3px;
    margin-left: 3px;
    
}

#downloadWorksheetDiv {
    padding-top: 5px;
    clear: both;
    height: 25px;
}

#downloadWorksheetText {
    margin-top: 3px;
    float: left;
}

#worksheet {
    float: left;
    margin-left: 7px;
}

#worksheetGo {
    float: left;
    margin-top: -3px;
    margin-left: 3px;
}

#next {
    padding-bottom: 6px;
    background-image: url(/res/img/schoolChoice/schoolchoice_next_bottom.gif);
    background-repeat: no-repeat;
    background-position: left bottom;
}

#next .outer {
    padding-top: 6px;
    background-image: url(/res/img/schoolChoice/schoolchoice_next_top.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

#next .inner {
    padding: 6px 16px 6px 16px;
    background-image: url(/res/img/schoolChoice/schoolchoice_next_sides.gif);
    background-repeat: repeat-y;
    background-position: left top;
    background-color: transparent;
}

#next .outer .inner h2 {
    padding-top: 0px;
}

#next .outer .inner h2 .next {
    color: #666666;
}

#next .outer .inner #shouldKnowLi {
    height: 30px;
    position: relative;
}

#next .outer .inner #shouldKnow {
    margin-left: 3px;
    position: absolute;
    top: -3px;
    width: 115px;
}

#next .outer .inner .go {
    margin-left: 3px;
    margin-top: -3px;
    position: absolute;
    top: -2px;
    left: 271px;
}

#shouldKnow, #worksheet, #searchState, #horizontalCompareCitySelect, #compareState, .searchInput, #top5State {
    color: #666666;
    font-size: 13px;
}


/* Right Content */

#viewTopSchoolsDiv {
    height: 25px;
}

#viewTopSchoolsText {
    margin-top: 2px;
    float: left;
}

#top5State {
    width: 110px;
    float: left;
    margin-left: 5px;
}

#top5Go {
    float: left;
    margin-left: 3px;
    margin-top: -3px;
}

#AboveFold_300x600 {
    border-top: none;
    margin-top: 0;
    padding-top: 15px;
}

#supplement {
    overflow: hidden;
}

#supplement .column {
	width: 160px;
	margin: -4px 0 5px 10px;
}

#schoolChoicePromo{
      background-image: url(/res/img/library/right-box2-bottom.png);
}

#schoolChoicePromo .inner{
    background-image: url(/res/img/library/right-box2-top.png);
    padding-top:15px;
    padding-right: 5px;
}

#houseAd {
    padding-bottom: 10px;
}


#top5 {
	background-image: url(/res/img/library/right-box2-bottom.png);
}

#top5 .inner {
	background-image: url(/res/img/library/right-box2-top.png);
    padding-right: 3px;
    padding-top:15px;
}

#top5 .column {
    float: left;
	width: 140px;                                               
	margin: 0 0 5px 0;
}

#top5top {
    height: 125px;
}

#poll {
    padding-bottom: 6px;
    background-image: url(/res/img/schoolChoice/schoolchoice_poll_bottom.gif);
    background-repeat: no-repeat;
    background-position: left bottom;
}

#poll .outer {
    padding-top: 6px;
    background-image: url(/res/img/schoolChoice/schoolchoice_poll_top.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

#poll .inner {
    padding: 6px 16px 6px 16px;
    background-image: url(/res/img/schoolChoice/schoolchoice_pol_sides.gif);
    background-repeat: repeat-y;
    background-position: left top;
    background-color: transparent;
}

#poll

#moving {
	background-image: url(/res/img/schoolChoice/moving_bottomcurves.gif);
    height: 400px;
}

#moving .inner {
	background-image: url(/res/img/schoolChoice/moving_topcurves.gif);
    padding-right: 3px;
    padding-top:15px;
    position: relative;
}

#moving h3 {
    color: #D66671;
}

#moving #movingTop {
    height: 93px;
}

#moving #movingTop .column {
    float: left;
	width: 140px;
	margin: -4px 0 5px 10px;
}

#moving #movingArticles {
    padding-top: 10px;
    clear: both;
}

#moving #compareCitiesDiv {
    padding-top: 5px;
    height: 60px;
}

#moving #compareForm #compareCitiesLeft {
    width: 34px;
    float: left;
}

#moving #compareForm #compareCitiesRight {
    width: 245px;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

#moving #compareForm #compareCitiesYellow {
}

#moving #compareForm h2 {
    font-size: 15px;
    padding-bottom: 3px;
}

#moving #compareForm #horizontalCompareCitySelect {
    clear: left;
    float: left;
    margin-top: 5px;
    width: 136px;
}

#moving #compareForm #compareState {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#moving #compareForm #compareCitiesGo {
    float: left;
    margin-top: 2px;
    margin-left: 3px;
}

#moving.box .inner {
    padding-right: 0;
}

p.searchOr {
    margin-top: 10px;
}

h3.searchHeader {
    color: #55bbcc;
    font-size: 14px;
    margin-bottom: 3px;
}

h3.searchHeader .gray {
    color: #666;
}

.compareSchoolForm {
    font-size: 13px;
    margin-bottom: 15px;
}

* + html .compareSchoolForm {
    margin-top: -6px;
}

div.compareSchoolForm input.formZip, div.compareSchoolForm select.formLevel, div.compareSchoolForm select.formMiles {
    color: #777;
    margin: 0 4px;
}

div.compareSchoolForm input.formZip {
    width: 55px;
    margin: 0 5px;
}

div.compareSchoolForm input.formButton {
    position: relative;
    top: 6px;
}

div.compareSchoolForm span {
    position: relative;
    top: 0;
}

* html div.compareSchoolForm span {
    top: -2px;
}

* + html div.compareSchoolForm span {
    top: -2px;
}