h1#specialNeedsText {
    background: url(/res/img/content/specialNeeds/headertext.gif) no-repeat;
}
#contentGS div.welcome {
    border-bottom: 0 dotted #CCCCCC;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #3399AA;
}


#contentGS div.welcome div#schwabOnly{
    padding-top:2px;
    padding-bottom: 2px;
    border-bottom: 0;
}
div#schwabOnly:hover{
    text-decoration:underline;
}

#contentGS div.welcome a {
    font-size: 15px;
}
#contentGS div.welcome span#msg{
    display: block;
    font-weight: bold;
    text-align: center;
}

#contentGS div.welcome span#from{
    font-weight: normal;
    display: block;
    text-align: center;
}
#contentGS div.middle div.bottom {
    background:transparent url(/res/img/content/countdownToCollege/red_dot.gif) repeat-x scroll center bottom;
    border-bottom: 0;
    padding-bottom: 16px;
    padding-top: 6px;
    margin-bottom: 0;
    font-size: 12px;
    color:#777777;
}
h2#Identifying-a-Learning-Difficulty {
    background: url(/res/img/content/specialNeeds/text_1.gif) no-repeat;

}
h2#Managing-Home-and-Family {
    background: url(/res/img/content/specialNeeds/text_2.gif) no-repeat;
}
h2#Managing-School-and-Learning {
    background: url(/res/img/content/specialNeeds/text_3.gif) no-repeat;
}

h2#Technology-to-Support-Learning{
    background: url(/res/img/content/specialNeeds/text_4.gif) no-repeat;
}

h2#Other-Disabilities{
    background: url(/res/img/content/specialNeeds/text_5.gif) no-repeat;
}
h2#Managing-Your-Child {
    background: url(/res/img/content/specialNeeds/text_6.gif) no-repeat;
}

#contentGS div.multipleQuestions {
    margin-bottom: 0;
    padding-bottom: 13px;
}

#contentGS div.question p.answer {
    margin: 0 0 15px 18px;
}

#provided_by {
    margin: 10px 0 5px 2px;
    padding: 20px 58px 20px 58px;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}