h1#specialNeedsText {
    background: url( "../../img/content/specialNeeds/text_1.gif" ) no-repeat;
}

h2#identifyLearningProblem {
    background: url( "../../img/content/specialNeeds/text_2.gif" ) no-repeat;
}

h2#supportChild {
    background: url( "../../img/content/specialNeeds/text_3.gif" ) no-repeat;
}

h2#knowLegalRights {
    background: url( "../../img/content/specialNeeds/text_4.gif" ) no-repeat;
}

h2#specificDisabilities {
    background: url( "../../img/content/specialNeeds/text_5.gif" ) no-repeat;
}

#contentGS div.multipleQuestions {
    margin-bottom: 0;
    padding-bottom: 13px;
}

#contentGS div.question p.answer {
    margin: 0 0 15px 18px;
}