h1#stateStandardsText {
    background: url( "../../img/content/stateStandards/learningStandards.gif" ) no-repeat;
}

h2#moreFromGreatSchools {
    background: url( "../../img/content/stateStandards/more_from_greatschools.gif" ) no-repeat;
}

h2#stateStandardsHead {
    background: url( "../../img/content/stateStandards/stateStandards.gif" ) no-repeat;
}

h2#nationalStandardsHead {
    background: url( "../../img/content/stateStandards/nationalStandards.gif" ) no-repeat;
}

#contentGS .middle p.introText {
    padding: 7px 20px 7px 20px;
    margin-bottom: 5px;
    font-weight: 400;
}

p.dashesBelow {
    border-bottom: 1px dashed #CCCCCC;
}

h4.stateChoiceHeader {
    padding: 7px 0 7px 16px;
    font-size: 16pt;
    color: #66CCCC;
}

select#standardsStateSelector {
    margin-left: 20px;
    margin-top: 8px;
    color: #666666;
}

#contentGS .middle div#stateStandardsLinks {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    margin-bottom: 0;
    border-bottom: none;
}

#contentGS .middle div#nationalStandardsLinks {
    padding-bottom: 0;
    padding-left: 16px;
    margin-bottom: 0;
    border-bottom: none;
}

#contentGS .middle li.state_link {
    width: 300px;
    display: none;
    padding-top: 10px;
    padding-bottom: 0;
}

#contentGS .middle p#state_select_text {
    width: 130px;
    float:left;
    font-weight: 400;
}

#pageGS #contentGS a.no_underline_article_link,
#pageGS #contentGS a.no_underline_article_link:link,
#pageGS #contentGS a.no_underline_article_link:visited,
#pageGS #contentGS a.no_underline_article_link:active
{
    text-decoration: none;
}

#pageGS #contentGS a.no_underline_article_link:hover
{
    text-decoration: underline;
}