h1#summerReadingText {
    background: url( "../../img/content/summerReading/GS_SRG_text1.gif" ) no-repeat;
}

h2#loveOfReading {
    background: url( "../../img/content/summerReading/GS_SRG_text2.gif" ) no-repeat;
}

h2#parentsShouldKnow {
    background: url( "../../img/content/summerReading/GS_SRG_text3.gif" ) no-repeat;
}

h2#bookPicks {
    background: url( "../../img/content/summerReading/GS_SRG_text4.gif" ) no-repeat;
}
