h1#summerPlanning {
    background: url( "../../img/content/summerPlanning/summertext.gif" ) no-repeat;
}

h2#greatSummer {
    background: url( "../../img/content/summerPlanning/summerplanningtext2.gif" ) no-repeat;
}

h2#learningFun {
    background: url( "../../img/content/summerPlanning/summerplanningtext3.gif" ) no-repeat;
}

h2#brainDrain {
    background: url( "../../img/content/summerPlanning/summerplanningtext4.gif" ) no-repeat;
}

