#cmsArticleText p.targetCheckbox {
    background: transparent url(/res/img/promo/target/checkbox.gif) no-repeat scroll 0 3px;
    padding-left: 23px;
}

#cmsArticleText p.targetCheckbox a.targetLink {
    color: #C00;
    text-decoration: none;
    margin-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

#cmsArticleText p.targetCheckbox a.targetLink:hover {
    text-decoration:underline;
}

#cmsArticleText p.targetCheckbox a.targetLink img {
    margin-left: 5px;
}

#targetContainer {
    position: relative;
}

#targetList {
    position:absolute;
    width: 268px;
    padding:16px;
    background: url(/res/img/promo/target/supplyListBorder.gif) no-repeat;
    height: 568px;
    font-family: Verdana, Arial, Helvetica, Sans-serif;
}

#targetList img.targetLogo {
    position: absolute;
    left: 21px;
    top: 16px;
}

#targetList h2 {
    font-size: 20px;
    color: #C00;
    margin-left: 70px;
}

#targetList h3 {
    font-size: 16px;
    color: #666;
    margin-left: 70px;
    margin-bottom: 25px;
}

#targetList #targetSearchMore {
    font-weight: bold;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    color: #666;
    text-decoration:underline;
    border-top: 1px solid #DCDCDC;
    padding-top: 25px;
    margin-top: 15px;
    clear: both;
    display: block;
    width: 100%;
}

#targetList .targetSupplyItem {
    border-top: 1px solid #DCDCDC;
    padding-top: 15px;
    margin-top: 15px;
    clear: left;
    height: 75px;
}

#targetList .targetSupplyItem img {
    float: left;
    margin-right: 10px;
}

#targetList .targetSupplyItem a {
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-weight: bold;
    font-size: 11px;
    margin-right: 45px;
    display: block;
    color: #666;
    text-decoration:underline;
}