h1#title {
    text-indent: -5000px;
    background: url( "../../img/content/travel/header_text.gif" ) no-repeat;
    width: 155px;
    height: 192px;
    float: left;
    margin:0;
    padding:0;
}

h2#subTitle1 {
    text-indent: -5000px;
    background: url( "../../img/content/travel/text_1.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}

h2#subTitle2 {
    text-indent: -5000px;
    background: url( "../../img/content/travel/text_2.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}

h2#subTitle3 {
    text-indent: -5000px;
    background: url( "../../img/content/travel/text_3.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}
h2#subTitle4 {
    text-indent: -5000px;
    background: url( "../../img/content/travel/text_4.gif" ) no-repeat;
    width: 365px;
    height: 26px;
}