#content {
    overflow: hidden;
    width: 100%;
}

#leftColumn{
    width:615px;
    float:left;
    padding: 0 13px 0 11px;
    zoom: 1.0;
/*overflow:visible;*/
/*outline: 1px solid red;*/
/*border: 1px solid red;*/
}

#rightColumn{
    width:300px;
    float:right;
    zoom: 1.0;
/*outline: 1px solid red;*/
/*border: 1px solid red;*/
}

#titleLeft{
    float:left;
    margin-bottom:10px;
}
#titleRight{
    float:right;
    font-size:12px;
    margin:5px;
}
#titleRightLeft{
    float:right;
    margin-top:12px;
    margin-right:5px;
    color:#999999;
}
#titleRightRight{
    float:right;
    /*display:block;*/
}
/*#titleRightRight p{
    vertical-align:middle;
}*/
#leftColumn h3 {
    -x-system-font:none;
    color:#D66671;
    font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:22px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin-top:6px;
}