#content {
   overflow: hidden;
   width: 100%;
}

#leftColumn{
   width:615px;
   float:left;
   padding: 0 13px;
   zoom: 1.0;
   /*overflow:visible;*/
   /*outline: 1px solid red;*/
   /*border: 1px solid red;*/
}

#rightColumn{
   width:300px;
   float:right;
   zoom: 1.0;
   /*outline: 1px solid red;*/
   /*border: 1px solid red;*/
}