/*
    Tabs Layout
    Added by: Mitchell Seltzer

    To be used with tabs.js
*/

/*  TAB STYLE Mobile
----------------------------------------------------------------------------- */
.gsTabs  ul.tabStyle-3 {height:40px;padding: 0;margin:0;border-bottom: 1px solid #bcdeed; margin-bottom:0px;}
.gsTabs  ul.tabStyle-3 li {list-style:none;display: inline-block;*display: inline;font: normal 1em/44px Arial, Helvetica, sans-serif; margin-bottom: 0px;outline:0 none;}
.gsTabs ul.tabStyle-3 li a {padding:10px 10px 9px 10px;color: #555555;text-decoration: none;margin-left: 0px;border: 1px solid #BCDEED;background-color: #F3FAFD;*zoom:1;text-shadow: 0 1px 0 #FFFFFF;}
.gsTabs ul.tabStyle-3 li a {border-bottom:none;outline:0 none;
    -webkit-border-radius: 4px 4px 0 0; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    -moz-border-radius: 4px 4px 0 0; /* FF1-3.6 */
    border-radius: 4px 4px 0 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    -moz-box-shadow: inset 0 1px 0 rgba(238, 246, 250, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(238, 246, 250, 0.5);
    box-shadow: inset 0 1px 0 rgba(238, 246, 250, 0.5);
}

.gsTabs ul.tabStyle-3 li a:hover {background: #E2F1F7 none;color: #2b2b2b;border: 1px solid #A6D3E7;outline:0 none;}
.gsTabs ul.tabStyle-3 li a:hover {border-bottom: none; padding-bottom: 9px;outline:0 none;}
.gsTabs ul.tabStyle-3 li a:focus {outline:0 none;}
.gsTabs ul.tabStyle-3 li a.selected { none;color: #2b2b2b;border: 1px solid #A6D3E7;outline:0 none;text-shadow: 0 1px 0 #FFFFFF;}
.gsTabs ul.tabStyle-3 li a.selected {border-bottom: none; padding-bottom: 11px;outline:0 none;background-color: #BCDEED; /* for non-css3 browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E2F1F7), to(#BCDEED)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #E2F1F7, #BCDEED); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #E2F1F7, #BCDEED); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #E2F1F7, #BCDEED); /* IE10 */
    background-image:      -o-linear-gradient(top, #E2F1F7, #BCDEED); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #E2F1F7, #BCDEED); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E2F1F7', EndColorStr='#BCDEED'); /* IE6�IE9 */
    -moz-box-shadow: inset 0 1px 0 rgba(238, 246, 250, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(238, 246, 250, 0.5);
    box-shadow: inset 0 1px 0 rgba(238, 246, 250, 0.5);
}
