div#container {
  width:900px;
  margin-right:auto;
  margin-left:auto;
  margin-top:0px;
  padding:0px;
  text-align:left;
}

div#shutterfly {
    float:right;
    border: 1px solid #BBB;
    background:#FFF;
}

span#adtext {
    padding-left:10px;
    font-size: x-small;
    color:#A5A5A5;
}
.content {
  width:650px;
  padding:15px;
  background:#eee;
  margin:20px auto;
  text-align:left;
  border: 1px solid #BBB
}

#innerbox {
  padding-left:25px;
  padding-right:25px;
}

.content #innerbox a {
    font-weight:bold;
    text-decoration:underline;
}

#pageGS h3 {
    padding-top:10px;
    padding-bottom:15px;
    display: block;
    font-size: large;
    font-weight: bold;
}

#pageGS h4 {
    font-size: medium;
    font-weight: bold;
}

ul#betalist li {
    padding-left:5px;
    padding-top:5px;
    margin-left: 20px;
    list-style: disc;
}

span#errorMessage {
    color: red;
    display:block;
    padding:8px;
}

#pageGS h6 {
    font-size: x-small;
}

div.formtext {
    padding-top:8px;
    padding-bottom:5px;
    font-size:small;
}
