.menuBar { padding: 3px; text-align: center;  margin-bottom: 5px; position: relative; top: 1px; left: 1px;  border-right: 1px solid #ffffff; background-color: #003399; }
.menuBar:hover { padding: 3px; text-align: center;  margin-bottom: 5px; position: relative; top: 1px; left: 1px;  border-right: 1px solid #ffffff; background-color: #cccccc; }
.menuBaractive { padding: 3px; text-align: center;  margin-bottom: 5px; position: relative; top: 1px; left: 1px;  border-right: 1px solid #ffffff; background-color: #FF6600; }
.menuBar a:link { font-size: 12px; color: #ffffff; text-decoration: none; font-weight: bold;}    /* unvisited links */
.menuBar a:visited { font-size: 12px; color: #ffffff; text-decoration: none; font-weight: bold;}   /* visited links   */
.menuBar a:hover   { font-size: 12px; color: #ffffff; text-decoration: none; font-weight: bold;} /* user hovers     */
.menuBar a:active  { font-size: 12px; color: #ffffff; text-decoration: none; font-weight: bold;}   /* active links    */
.menuBaractive a:link { font-size: 12px; color: #ffffff; text-decoration: none; font-weight: bold;}    /* unvisited links */
.menuBaractive a:visited { font-size: 12px; color: #ffffff; text-decoration: none; font-weight: bold;}   /* visited links   */
.menuBaractive a:hover   { font-size: 12px; color: #ffffff; text-decoration: none; font-weight: bold;} /* user hovers     */
.menuBaractive a:active  { font-size: 12px; color: #ffffff; text-decoration: none; font-weight: bold;}   /* active links    */

.orangeBold {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #ff6600;}
.orangeheader { color: #ff6600; text-decoration: none; font-size: 13px; font-family: arial, Helvetica, sans-serif; font-weight: bold; }
.header { color: #000000; text-decoration: none; font-size: 14px; font-family: arial, Helvetica, sans-serif; font-weight: bold; }
.topheader { color: #003366; text-decoration: none; font-size: 16px; font-family: arial, Helvetica, sans-serif; font-weight: bold; }
.copy { color: #000000; text-decoration: none; font-size: 12px; font-family: arial, Helvetica, sans-serif; font-weight: normal; }
.quote { color: #000000; text-decoration: none; font-size: 12px; font-family: arial, Helvetica, sans-serif; font-style: italic; padding: 10px;}
.quotee {text-align:right; padding-right:10px; }

h4 {font-family: Arial, Helvetica, sans-serif; line-height:120%;}
td { font-family: arial; font-size: 12px; font-style: normal; font-weight: normal; line-height: 11pt; color: #000000; }
ul.arrow { list-style-image: url("/images/arrow_orange.gif"); margin-left: 15px;}
li {line-height:140%;margin-bottom:10px;}
.bodycopy {padding-right:10px;}
.bodycopy a:hover {color:000000;font-weight: normal}
.footernav  {position:absolute;bottom: 10px;}
html, body {min-height:97%;height:97%;}

a:link {color:#0000ff; text-decoration:underline; font-weight: normal;}
a:hover {color:#cccccc;text-decoration:underline;}
.footernav a:hover {color:#000000;text-decoration:underline; font-weight: bold;}
a:visited {color:#0000ff;text-decoration:underline; font-weight: normal;}

a.navwhite {color: #ffffff; font-family: arial, Helvetica; font-size: 12px; font-weight: bold; text-decoration: none;}
a.navwhite:hover {color: #cccccc; font-family: arial, Helvetica; font-size: 12px; font-weight: bold; text-decoration: underline;}
a.navwhite:visited {color: #ffffff; font-family: arial, Helvetica; font-size: 12px; font-weight: bold; text-decoration: none;}

#header {padding-left:5px;}
#header tr td a:hover {color:000000;font-weight:bold;}
#main {padding-left:5px;}
#footer tr td a {padding-top:10px;}
#footer tr td a:hover {color:000000;font-weight:bold;}