#pageGS {
    color: #666666;
}

.pageTitle h2 {
    font-size: 19px;
    color: #55BBCC;
}

.contentGS p {
    margin: 0 0 1.2em 0;
    line-height: 15px;
}

.content {
    float: right;
    width: 678px;
    margin: 15px 80px 0 0;
    display: inline;
}

.description {
    margin-top: 15px;
    font-size: 13px;
    line-height: 18px;
}

#adAboveFold_Right_120x600 {
    margin: 5px 12px 0 20px;
    float: left;
    padding-right: 12px;
    border-right: 1px solid #CCCCCC;
    display: inline;
}

.mslFormDiv {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mslForm {
    display: inline;
    margin: 0;
    padding: 0;
}

.formLine1 {
    height: 31px;
    width: 250px;
}

.formLine2 {
    height: 15px;
}

#formEmailInput {
    float: left;
    width: 200px;
    margin-top: 3px;
}

#formGoButton {
    float: right;
    width: 41px;
    height: 26px;

}

#paLabel {
    padding-left: 5px;
}

.privacyNote {
    margin-top: 20px;
}

.warning li {
   color: #cc5566;
}

.warning img {
    padding-right: 3px;
}

.spacer {
    clear: both;
    height: 1px;
}
