#pageGS {
    color: #666666;
}


.pageTitle h2 {
    font-size: 19px;
    color: #55BBCC;
}

.description {
    margin-top: 15px;
    font-size: 13px;
    line-height: 18px;
    position: relative;
}

.header {
    font-weight: bold;
}

.description p {
    margin: 0em 0 1.2em 0;
    line-height: 15px;
}

.findSchools {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    /*float: right;*/
    /*width: 678px;*/
    margin-top: 15px;
}

.msl {
    font-weight: bold;
}

.mslLogin {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
}

.contentGS .mslLogin a {
    text-decoration: underline;
}

#adAboveFold_Right_120x600 {
    margin-top: 5px;
    float: left;
    padding:0 6px;
    border-right: 1px solid #CCCCCC;
    margin-right: 12px;
}

.spacer {
    clear: both;
    height: 1px;
}
