#msl_header{
    margin:5px 0 10px 0;
    font-size:small;
    font-weight:normal;
}

#msl_header div#msl_header_top {
    padding-bottom:7px;
    border-bottom: 1px solid #CCCCCC;
    position:relative;
}

#msl_header div#msl_header_top div#dashboard_link {
    position:absolute;
    right:0;
    top:0;
}

#msl_header div#msl_header_bottom {
    margin-top:7px;
    position:relative;
}
#msl_header div#msl_header_bottom div#page_status {
    position:absolute;
    right:0;
    top:0;
}

#msl_header div#msl_title {
    font-family:"Trebuchet MS",Arial,sans-serif;
    color:#CC5566;
    font-size:medium;
    font-weight:700;
}

.addToMsl {
    display:none;
}

.note {
    color:#888888;
    font-size:11px;    
}

#msl_alert {
     margin-bottom:15px;
}

#House_Ad_300x137 {
    padding-top:10px;
    border-top:1px solid #CCCCCC;
}

div.phone span {
    padding:0 4px 0 6px;
}