#msl_header{
    margin:5px 0 10px 0;
    font-size:small;
    font-weight:normal;
}

#msl_header div#msl_header_top {
    padding-bottom:7px;
    border-bottom: 1px solid #CCCCCC;
    position:relative;
}

#msl_header div#msl_header_top div#dashboard_link {
    position:absolute;
    right:0;
    top:0;
}

#msl_header div#msl_header_bottom {
    margin-top:7px;
    position:relative;
}
#msl_header div#msl_header_bottom div#page_status {
    position:absolute;
    right:0;
    top:0;
}

#msl_header div#msl_title {
    font-family:"Trebuchet MS",Arial,sans-serif;
    color:#CC5566;
    font-size:medium;
    font-weight:700;
}

.addToMsl {
    display:none;
}

div#msl_compare {
    border:2px solid #EEEEEE;
    padding:2px 2px 10px 2px;
    position:relative;
}

div#msl_compare div#headWrap {
   border:solid red;
}

div#msl_compare div#head {
    background:#66CCCC none repeat scroll 0 0;
    clear:both;
    margin-bottom:10px;
    padding:5px 0 5px 15px;
}

div#msl_compare div#headWrap img {
    position:absolute;
    bottom:0;
    right:0;
}