body {
    width: 97%;
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFF;
}

.small {
    font-size: 80%;
}

h3 {
    line-height: 110%;
    font-size: 130%;
    margin-bottom: 0px;
}

BLOCKQUOTE {
    margin: 1em 0em 1em 2em;
}

body, html, td {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

a:hover {
    color: #CCC;
}

form {
    padding: 0px;
    margin: 0px;
}

/* =================== wizard */
.wizard {
    background: url( ../../img/innershadow_box_ul.gif ) no-repeat top left #FaFaFa;
}

.wizard2 {
    background: url( ../../img/innershadow_box_lr.gif ) no-repeat bottom right;
}

.wizard3 {
    background: url( ../../img/innershadow_box_ur.gif ) no-repeat top right;
}

.wizard4 {
    background: url( ../../img/innershadow_box_ll.gif ) no-repeat bottom left;
}

.pad {
    padding: 7px 7px 7px 10px;
}

#header td {
    font-weight: bold;
    color: #999; /* NDP 5/05 */
    border-bottom: 1px solid #AAA;
    padding-bottom: 4px;
}

#header td#active {
    font-weight: bold;
    color: #F60;
}

#main td {
    padding-top: 7px;
    padding-bottom: 8px;
    font-size: 90%;
    padding-right: 25px;
}

#footer td {
    border-top: 1px solid #AAA;
    padding-top: 4px;
}

.formrow, .formrowoptional {
    clear: both;
    padding-top: 2px;
}

.formrow span.label, .formrowoptional span.label {
    float: left;
    width: 120px;
    text-align: right;
    font-size: 80%;
    padding-right: 5px;
}

.formrow span.labelright {
    font-size: 80%;
}

.formrowoptional {
    color: #999;
}

.formrow input {
    text-align: left;
}

#Submit {
    font-size: 12px;
    text-align: center;
    color: #666;
    font-weight: bold;
    height: 30px;
    width: 90px;
    border: 0px;
    background: transparent url( "../../img/submit.gif" ) no-repeat;
}

.error {
    margin: 8px 20px 20px 20px;
    padding: 5px;
    width: 80%;
    color: #aa0000;
    background-color: #ffeeee;
    border: 1px solid #990000;
}


