.adBox {
    background: #f1f1f1 url(/res/img/home/ad_box/corners.png) no-repeat left top;
}

.adBox .wrapper-outer {
	padding: 0;
    background: url(/res/img/home/ad_box/corners.png) no-repeat right top;
}

.adBox .wrapper-inner {
	padding: 0;
    background: url(/res/img/home/ad_box/corners.png) no-repeat left bottom;
}

.adBox .wrapper-content {
	background: url(/res/img/home/ad_box/corners.png) no-repeat right bottom;
	padding: 1px 10px 10px;
}
