.moduleBox .blue {
	background: url(/res/img/home/blue_module/blue_bg.png) repeat-x left 20px;
    height: 215px;
}

.moduleBox .blue.narrow {
	background: url(/res/img/home/blue_module/blue_bg_narrow.png) repeat-x left 20px;
    height: 215px;
}

.blue .heading {
	margin: 0;
}

.blue .white-box {
	width: 315px;
	padding: 10px 0 1px;
	margin: 8px 5px 5px;
	display: inline;
	float: left;
	background: #fff url(/res/img/home/blue_module/blue_white-top.png) no-repeat left top;
}

.blue .white-box.narrow {
	width: 303px;
	background: #fff url(/res/img/home/blue_module/blue_white-top_narrow.png) no-repeat left top;
}

.blue .transparent-box {
	width: 244px;
	padding: 10px 0 1px;
	margin: 8px 0 5px;
	float: left;
	background: url(/res/img/home/blue_module/blue_transparent_bg.png) no-repeat left top;
}

/* Modify this height to make sure the heights are the same */

.blue .white-box, .blue .transparent-box {
	min-height: 175px;
	height: auto !important;
	height: 175px;
}

.blue h3.bubble {
	background: url(/res/img/home/blue_module/bubble.png) no-repeat left top;
	padding: 0 0 0 30px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
}