.clear {
	clear: both;
}

.cleared:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*
To use:
- Make sure you have an IE-specific stylesheet (targeting IE 6 and 7) with this in it:

.cleared {
	height: 1%;
}

- Put class="cleared" on an element that contains nothing but floats to have its bottom clear those floats.
*/

.moduleBox {
	background: url(/res/img/home/module/top_left.png) no-repeat left top;
	float: left;
	font: .8125em Arial, Arial, Helvetica, sans-serif;
    line-height: 1.25em;
}

.wrapper-outer {
	background: url(/res/img/home/module/right.png) no-repeat right top;
	padding-top: 10px;
}

.wrapper-inner {
	background: url(/res/img/home/module/bottom.png) no-repeat left bottom;
	padding-left: 10px;
}

.wrapper-content {
	background: url(/res/img/home/module/bottom_right_corner.png) no-repeat right bottom;
	padding: 0 10px 10px 0;
}

.heading {
	display: block;
	margin: 0 0 3px;
}

.leadoff {
	display: block;
	margin: 0 0 15px;
}

.leadoff.left {
    float: left;
}

.moduleBox h3 {
	font: 1.25em "Century Gothic", "Avant Garde", Arial, Helvetica, sans-serif;
	color: #5bc;
	margin: 0 15px 15px;
}

.moduleBox p, .moduleBox ul {
	margin: 0 15px 15px;
}

.moduleBox p.flush, .moduleBox ul.flush {
	margin-bottom: 0;
}

.moduleBox ul {
	padding: 0;
	list-style-type: none;
}

.moduleBox li {
	padding-left: 10px;
	margin-bottom: 5px;
}

.moduleBox ul li {
	background: url(/res/img/home/module/bullet.png) no-repeat left 6px;
}

.moduleBox .arrows li {
	background: url(/res/img/home/module/bullet_arrow.png) no-repeat left 4px;
    position:relative;
}

.moduleBox .arrows li.latestToolsLast {
	display: none;
}