div#outer {
    padding:30px 0 0 50px;
    font-size:13px;
}

div#outer div#top h1 {
    font-size:15px;
}

div#outer div#top h1 {
    font-weight:bold;
	color: #39a;
}

div#outer div#top div#pageHeading {
    padding:15px 0 15px 0;
}

div#outer div#navLinks a {
    margin:10px 20px 10px 0;
    text-decoration:underline;
}

div#outer div#navLinks a.active {
   color:#666;
   text-decoration:none;
}


div#outer div.pageLinks {
    padding:20px 0 30px 0;
    line-height:20px;
}

div#outer div.pageLinks span.pageLink a {
    text-decoration:underline;
}

div#outer div.pageLinks span.pageLink {
    padding:0 10px 0 0;
    white-space:nowrap;
}

div#outer table#items {
    width:700px;
}

table#items th {
    border-bottom:1px solid;
}

div#outer table#items tr {
    height:22px;
}