div.contentGS {
    margin-top: 10px;
}

.contentGS h1 {
    font-size: medium;
    font-weight: bold;
    color: #eb7a31;
    padding-bottom: .5em;
}

.contentGS p {
    font-size: small;
}

table.bpsv {
    border: 1px dotted #000;
    border-width: 1px 0 1px 0;
    width: 100%;
}

table.bpsv th {
    font-size: small;
    font-weight: normal;
    vertical-align: bottom;
    text-align: center;
    background-color: #e5e5e5;
    padding: 4px;
    border: 1px dotted #000;
    border-width: 0px 0 0px 0;
}

table.bpsv td {
    font-size: small;
    font-weight: normal;
    padding: 6px;
}

table.bpsv tr.even td {
    background-color: #eeeeee;
}

table.bpsv td.name {
    white-space: nowrap;
    font-weight: bold;
}

table.bpsv td.rank {
    width: 2em;
    text-align: center;
}

table.bpsv td.e,
    table.bpsv td.m,
    table.bpsv td.h {
    width: 10em;
    text-align: center;
}

table.bpsv td.price,
    table.bpsv td.api {
    text-align: right;
    padding-right: 3em;
    padding-left: 1em;
}

td.sidebar {
    padding-left: 2em;
    width: 33%;
    font-size: small;
}


td.sidebar a {
    padding: 2px 0 2px 0;
    background-image: url( ../../img/orange_arrow_right_trans.gif );
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 16px;
}

p.footnote {
    text-align: right;
    padding: 4px;
}

p.footnote a {
    padding: 2px 0 2px 0;
    background-image: url( ../../img/orange_arrow_right_trans.gif );
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 16px;
}

#map, #mapContainer {
    width: 600px;
    height: 600px;
}

#mapContainer {
    border: 1px solid #999;
}

div#cities {
    margin: .5em 1em .5em 1em;
    padding: .3em 1em .3 1em;
}

div#cities h3 {
    color: #eb7a31;
    font-size: medium;
    font-weight: 700;
    text-align: left;
    padding-bottom: 5px;
}

div#cities li {
    font-size: small;
    display: list-item;
    border-top: 1px dotted #999;
    padding: 3px 0 3px 0;
}
