div#editorialBar {
    clear: both;
    height: 118px;
    padding: 5px 0 5px 0;
    margin: 25px 20px 0;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

div.editorialMoving, div.editorialChoosing {
    padding:2px 0 0 10px;
    margin: 0;
    float: left;
    width: 275px;
    height: 109px;
    font-weight: bold;
    color:#55BBCC;
}

div.editorialMoving {
    border-right: 1px solid #DDDDDD;
}

div.compareVertical {
    float: left;
    padding: 5px 0 0 0;
    margin: 0;
    border-right: 1px solid #DDDDDD;
    height: 109px;
    width: 285px;
}

div.compareVertical img, div.compareVertical h2, div.compareVertical select, div.compareVertical input {
    float: left;
}

div.compareVertical img, div.compareVertical select.compareCitySelect {
    margin: 0 10px 0 0;
}

div.compareVertical img {
    top: 0;
}

div.compareVertical h2 {
    position: relative;
    top: 5px;
    margin-bottom: 20px;
}

div.compareVertical select.compareCitySelect {
    clear: left;
}

div.compareVertical input {
    clear: left;
    margin-top: 6px;
}

div.compareLocal {
    float: left;
    padding: 2px 0 0 0;
    margin: 0;
    border-right: 1px solid #DDDDDD;
    height: 109px;
    width: 285px;
}

div.editorialMoving a img,
div.editorialChoosing a img,
div img.leftPhoto {
    float:left;
    margin-right:10px;
}

div#editorialBar img.word {
    margin:10px 0 7px 0;
}

div#editorialBar li {
    list-style-type:disc;
    margin-left:15px;
    line-height:21px;

}

div#editorialBar ul li a {
    font-family: Arial, sans-serif;
    font-size:13px;
    font-weight:normal;
}

div.compareCitiesNear h2 {
    font: 700 18px Arial, sans-serif;
    color: #55BBCC;
}

div#editorialBar ul.contentList {
    float:right;
    width:196px;
}

.topSchoolsImg{
    float:left;
}

.topSchoolTextDiv, .topSchoolLinkDiv {
	padding: 10px 0 0 0;
    font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #666666;
	letter-spacing: 0;
    font-weight:normal;
}

  .topSchoolLinkDiv {
    padding: 5px 0 0 0;
    clear:both;
}

* + html .topSchoolLinkDiv {
    padding: 3px 0 0 0;
}

* html .topSchoolLinkDiv {
    padding: 3px 0 0 0;
}
.contentGS .topSchoolLinkDiv a:link, .contentGS .topSchoolLinkDiv a:visited, .contentGS .topSchoolLinkDiv a:active {
    font-weight:normal;
}

#allCitiesLink{
    color:#888888;
    font-size:11px;
    font-weight:normal;
}

#allCitiesLink a{
    font-weight: normal;
}

#compareCitiesWrapper{
    height:97px;
}