div#compareInCity {
    border:2px solid #EEEEEE;
    padding:2px 2px 10px 2px;
    _padding:2px 2px 14px 2px;
    position:relative;
    margin:11px 0 0 0;
}

div#compareInCity div#headWrap {
    position:relative;
    clear:both;
    height:100%;
    border:1px solid #FFFFFF;
}

div#compareInCity div#head {
    background:#66CCCC;
    margin-bottom:10px;
    padding:5px 0 5px 15px;
    clear:both;
}

div#compareInCity div#head div#headText {
    width:210px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 16px;
    color:#FFFFFF;
}


div#compareInCity div#headWrap img {
    position:absolute;
    bottom:0;
    right:0;
}

div#level_radios {
    padding:0 10px 0 18px;
    width:100px;
    margin:0;
}

div#level_radios label {
    line-height:25px;
    padding: 0 0 0 10px;
}

div#compareInCity input.submit {
    position:absolute;
    bottom:14px;
    _bottom:27px;
    right:60px;
}