div#editorialBar {
    clear: both;
    height: 115px;
    padding: 5px 0 5px 0;
    margin-top: 25px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

div.editorialMoving, div.editorialChoosing {
    padding:2px 0 0 10px;
    margin: 0;
    float: left;
    width: 275px;
    height: 109px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#55BBCC;
}

div.editorialMoving {
    border-right: 1px solid #DDDDDD;
}

div.compareVertical {
    float: left;
    padding: 5px 0 0 0;
    margin: 0;
    border-right: 1px solid #DDDDDD;
    height: 109px;
    width: 285px;
}

div.compareVertical img, div.compareVertical h2, div.compareVertical select, div.compareVertical input {
    float: left;
}

div.compareVertical img, div.compareVertical select.compareCitySelect {
    margin: 0 10px 0 0;
}

div.compareVertical img {
    top: 0;
}

div.compareVertical h2 {
    position: relative;
    top: 5px;
    margin-bottom: 20px;
}

div.compareVertical select.compareCitySelect {
    clear: left;
}

div.compareVertical input {
    clear: left;
    margin-top: 6px;
}

div.compareLocal {
    float: left;
    padding: 2px 0 0 0;
    margin: 0;
    border-right: 1px solid #DDDDDD;
    height: 109px;
    width: 285px;
}

div.editorialMoving a img,
div.editorialChoosing a img,
div img.leftPhoto {
    float:left;
    margin-right:10px;
}

div#editorialBar img.word {
    margin:10px 0 7px 0;
}

div#editorialBar li {
    list-style-type:disc;
    margin-left:15px;
    line-height:21px;

}

div#editorialBar ul li a {
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size:13px;
    color:#3399AA;
    font-weight:normal;
}

div.compareCitiesNear h2 {
    font-size: 18px;
    font-weight: bold;
    color: #55BBCC;
}

div#editorialBar ul.contentList {
    float:right;
    width:196px;
}

.topSchoolsImg{
    float:left;
}

.topSchoolTextDiv {
	padding: 10px 0px 0px 0px;
    font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #666666;
	letter-spacing: 0px;
    font-weight:normal;
}

.contentGS .topSchoolTextDiv a:link, .contentGS .topSchoolTextDiv a:visited, .contentGS .topSchoolTextDiv a:active {
    color: #3399AA;
    font-weight:normal;
}