#myDialog {
    font-family: Arial, Arial, sans-serif;
    position: relative;
}

#dialogTopBar {
    background-color: #8BCBCB;
    height: 26px;
    position: relative;
}

    #dialogTopBar .dialogClose {
        position: absolute;
        right: 8px;
        top: 5px;
        cursor: pointer;
    }

#dialogHeader {
    background-color: #F3F3D8;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-left: 12px;
    padding-top: 7px;
    padding-bottom: 10px;
    line-height: 21px;
    border-left: 4px solid #DDEEEE;
    border-right: 4px solid #DDEEEE;
}

#dialogBody {
    position: relative;
    background-color: #FFFFFF;
    border-left: 4px solid #DDEEEE;
    border-bottom: 4px solid #DDEEEE;
    border-right: 4px solid #DDEEEE;
    padding: 15px 0 15px 0;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 237px;
    max-height: 237px;
    height: 237px;
}

    #dialogBody .dialog_lc {
        float: left;
        width: 166px;
        min-height: 222px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 15px;
    }

    #dialogBody .dialog_lc.last {
        border-right: none;
    }

    #dialogBody .dialog_lc_title {
        margin-bottom: 10px;
        position: relative;
        font-size: 18px;
    }

        #dialogBody .dialog_lc_title .levelCode {
            font-weight: bold;
            margin-bottom: 5px;
        }

        #dialogBody .dialog_lc_title .compareButton {
            font-weight: bold;
        }

    #dialogBody .dialog_lc_schoolName {
        margin-top: 13px;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
    }

#dialogFooter {
    border-bottom: 4px solid #DDEEEE;
    border-left: 4px solid #DDEEEE;
    border-right: 4px solid #DDEEEE;
    height: 38px;
    position: relative;
}

    #dialogFooter .logo {
        float: left;
        position: absolute;
        top: 8px;
        left: 12px;
    }

    #dialogFooter .closeWindow {
        float: right;
        position: absolute;
        top: 10px;
        right: 25px;
    }

    /* divider is actually superimposed on dialogBody */
    #leftDivider {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 1px;
        height: 237px;
        position: absolute;
        top: -270px;
        left: 190px;
        background-color: #E2E3CB;
    }

    /* divider is actually superimposed on dialogBody */
    #rightDivider {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 1px;
        height: 237px;
        position: absolute;
        top: -270px;
        left: 378px;
        background-color: #E2E3CB;
    }