.i2bcopy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 10pt; color: #ff6600;}
.ocopy {font-family: arial; font-size: 11px; font-style: normal; line-height: 10pt; color: #ff6600;}
.bigwhitecopy {font-family: arial; font-size: 14px; font-style: normal; font-weight: bold; line-height: 12pt; color: #ffffff;}
.bwhcopy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 10pt; height:20px; color: #ffffff;}

div.datatable span.footnote {
  float:right;
  font-size:65%;
  margin-top:5px;
  margin-right:5px;
}

span.moreabout {
  float:right;
  font-size:80%;
  padding-right:15px;
}

div#introtext {
  padding:10px;
  font-size:80%;
}

span#infolink {
  font-size:80%;
  padding-right:10px;
  padding-left:10px;
  padding-top:10px;
}

div.datatable{
  margin-bottom:30px;
  padding-left:10px;
  padding-right:10px;
  padding-top:20px;

}
    div#structureTable div.datatable {
        margin-bottom:7px;
    }
    div#structureData {
        margin-bottom:25px;
    }

    div.datatable table.datagrid {
      border:thin solid black;
      font-size:75%;
    }

    div.datatable .title {
      padding-top:5px;
      padding-bottom:5px;
      padding-left:2px;
      padding-right:5px;
      font-weight:bold;
      font-size:80%;
      color:#003399;
    }

    div.datatable td.odd {
      background:#FFFFCC;
    }

    div.datatable td.even {
      background:#FFFFFF;
    }

    div.datatable td.monocol {
      padding-left:7px;
      padding-right:7px;
      padding-top:10px;
      padding-bottom:10px;
      vertical-align:top;
    }

    div.datatable td.lcol {
      padding-left:5px;
      padding-right:5px;
      padding-top:3px;
      padding-bottom:3px;
      width:25%;
      vertical-align:top;
    }

    div.datatable td.rcol {
      padding-left:5px;
      padding-top:3px;
      padding-bottom:3px;
      padding-right:8px;
    }

#reportlink {
   font-size:85%;
   font-weight:bold;
   padding-top:10px;
   padding-left:15px;
   text-decoration:underline;
   color:blue;
}

