/*------------------------------------------------------

GreatSchools

District Overview

Internet Explorer 7 styles

-------------------------------------------------------*/


#dd_col_right {
	width: 160px;
	margin: 0 13px 0 0;
	float: right;
}

#dd_col_right form { /* has IE 7 equivalent */
	margin: 0 0 0 -3px;
	height: 75px;
	width: 150px;
	font: 12px/16px Trebuchet MS, sans-serif;
	color: #666;
}

#dd_col_right form input {
	float: left;
	margin: -3px 2px 0 0;
}

#dd_col_right form label {
	display: block;
	font-size: 12px;
	margin: 0 0 8px 0;
}