/* Nearby Schools
----------------------------------*/

#nearbySchools {
	width: 278px; /* right column width 300 - 2 1px borders, -20px padding */
	padding: 9px;
	border: 1px solid #f4bc00;
}

#nearbySchools h2 {
	background: #6bcacc;
	color: #fff;
	padding: 8px 0 8px 8px;
	font: bold 15px/16px Trebuchet MS, sans-serif;
}

#nearbySchools a {
	font: bold 13px/14px Trebuchet MS, sans-serif;
	_font: bold 13px/16px Trebuchet MS, sans-serif; /* IE 6 hack */
	color: #39a;
    display:block;
    width:210px;
    text-decoration: none;
    padding-bottom:1px;
}

#map {
	width: 276px;
	height: 128px;
	margin: 2px 0 0 0;
	border: 1px solid #cdcdce;
}

.tooltip {
    font-size: small;
    font-weight: bold;
    padding: 2px;
    border-width: 1px 2px 2px 1px;
    border-color: #000 #666 #666 #000;
    border-style: solid;
    background-color: #FF9;
    color: #000;
}

#nearbySchools .head_top {
	font: 10px/11px Trebuchet MS, sans-serif;
	color: #888;
	margin: 18px 0 0 0;
	float: left;
	text-transform: uppercase;
}

#nearbySchools .head_rating {
	font: 10px/11px Trebuchet MS, sans-serif;
	color: #888;
	margin: 12px 0 3px 200px;
	text-align: center;
	text-transform: uppercase;
}

#nearbySchools ul {
}

#nearbySchools ul li {
	list-style: none;
	margin: 0;
	padding: 6px 0 2px 0;
	/*(height: 31px; /* 40px - paddding-top */
	font: 11px/11px Trebuchet MS, sans-serif;
	color: #666;
	border-top: 1px solid #ccc;
}

/* ratings classes, adds the GS ratings image to the list item, classes are set in the html */

#nearbySchools .r1 {
	background: url(../../../res/img/school/ratings/1.gif) no-repeat 228px center;
}

#nearbySchools .r2 {
	background: url(../../../res/img/school/ratings/2.gif) no-repeat 228px center;
}

#nearbySchools .r3 {
	background: url(../../../res/img/school/ratings/3.gif) no-repeat 228px center;
}

#nearbySchools .r4 {
	background: url(../../../res/img/school/ratings/4.gif) no-repeat 228px center;
}

#nearbySchools .r5 {
	background: url(../../../res/img/school/ratings/5.gif) no-repeat 228px center;
}

#nearbySchools .r6 {
	background: url(../../../res/img/school/ratings/6.gif) no-repeat 228px center;
}

#nearbySchools .r7 {
	background: url(../../../res/img/school/ratings/7.gif) no-repeat 228px center;
}

#nearbySchools .r8 {
	background: url(../../../res/img/school/ratings/8.gif) no-repeat 228px center;
}

#nearbySchools .r9 {
	background: url(../../../res/img/school/ratings/9.gif) no-repeat 228px center;
}

#nearbySchools .r10 {
	background: url(../../../res/img/school/ratings/10.gif) no-repeat 228px center;
}