



.hidden {
    display: none;
}

/** ads */

.ad_middle  {
    border-top: 1px solid #CCCCCC;
    margin-top: 20px;
    padding-top: 15px;
    
}
.ad_top #AboveFold_300x250{
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
}
