

div.summaryWithNoGSRating,
div.summaryWithGSRating{
	width: 667px;
    height:166px;
    border: 2px solid #EEEEEE;
    margin: 0 0 10px;
    padding: 3px;
    float:left;
}

div.summaryWithGSRating{
    height:182px;
}

div.summaryWithNoGSRating div.leftBlock,
div.summaryWithNoGSRating div.leftBlock div.noGsRating,
div.summaryWithNoGSRating div.leftBlock div.summaryText,
div.summaryWithNoGSRating div.rightBlock,
div.summaryWithGSRating div.leftBlock,
div.summaryWithGSRating div.leftBlock div.gsRating,
div.summaryWithGSRating div.leftBlock div.summaryText,
div.summaryWithGSRating div.rightBlock{
    float:left;
}

div.summaryWithNoGSRating .leftBlock div.noGsRating{
    background:#66CCCC url(/res/img/school/overview/7970_b/school_summary_box.png) no-repeat  ;
    width: 150px;
    height: 166px;
}

div.summaryWithNoGSRating div.rightBlock,
div.summaryWithGSRating div.rightBlock{
    padding-top: 7px;
    width:148px;
    height:151px;
}
div.summaryWithGSRating div.rightBlock{
    padding-top: 15px;
}

div.summaryWithNoGSRating div.leftBlock .summaryText {
    width:356px;
}

div.summaryWithNoGSRating div.leftBlock #rating_summary {
	margin: 20px 18px 0 10px;
    font-size: 13px;
}

#rating_summary p{
    margin-top: 3px;
    margin-bottom: 12px;
}
#rating_summary p.last{
   margin-bottom: 0;
}

#rating_summary a{
    font-size: 12px;
}

/*  with GS Rating */
div.summaryWithGSRating div h2{
    height:27px;
    text-indent:-9999px;
    background:transparent url(/res/img/school/overview/7970_b/rating_summary_hed.gif) no-repeat scroll 10px 8px;
}
div.summaryWithGSRating .leftBlock {
    width: 505px;
    height: 166px;
}

div.summaryWithGSRating div.leftBlock #rating_gs {
    float:left;
	margin: 16px 18px 0 24px;
    _margin: 16px 18px 0 12px;
    font-size: 13px;
}

div.summaryWithGSRating div.leftBlock .summaryText {
    width: 366px;
}
div.summaryWithGSRating div.leftBlock #rating_summary {
	margin: 10px 18px 0 0;
    font-size: 13px;
}

div.summaryWithGSRating div.leftBlock  #rating_gs img {
    padding-bottom: 8px;
}

div.summaryWithGSRating div.leftBlock  #rating_gs .whatsThis {
    margin-left:  8px;
}