
#ratingsParentOnly, #ratingsBoth, #ratingsNone, #ratingsGSOnly {
	width: 667px;
}

#ratingsBoth h2, #ratingsGSOnly h2{
	background: url( /res/img/school/overview/7970_b/rating_summary_hed.gif ) no-repeat  left ;
    background-position: 10px 8px;
    padding-bottom: 6px;
    _padding-bottom:0;
}

#ratingsParentOnly #rating_parent,
    #ratingsBoth #rating_parent,
    #ratingsNone #rating_parent,
    #ratingsGSOnly #rating_parent{ /* has IE 7 equivalent */
    background: url( /res/img/school/overview/7970_b/background.gif ) no-repeat   ;
	margin: 6px 0px 16px 0;
    padding:35px 6px;
	_margin: 18px 20px 15px 0; /* IE 6 hack */
    _padding:0px 0px; /* IE 6 hack */
    _height: 150px;
}
#ratingsParentOnly #rating_parent a img.parentTitle, #ratingsBoth #rating_parent a img.parentTitle,
    #ratingsNone #rating_parent a img.parentTitle, #ratingsGSOnly #rating_parent a img.parentTitle{ /*ie6 hack */
    _padding-top :22px;
}
  
#ratingsBoth #rating_gs, #ratingsGSOnly #rating_gs {
	float: left;
	width: 128px;
    padding-left:5px;
	margin: 14px 0 14px 0;
	text-align: center;
	border-right: none;
}
#ratingsBoth #rating_parent, #ratingsGSOnly #rating_parent,
#ratingsGSOnly #rating_parent{
    margin-top: -14px ;
}

#ratingsBoth #rating_gs img { /* has IE 7 equivalent */
	margin-bottom: 10px;
	_margin-bottom: 9px; /* IE 6 hack */
}


/* ratingsNone: is used when there are neither GS or Parent Ratings */

#ratingsNone #rating_parent, #ratingsGSOnly #rating_parent, #ratingsBoth #rating_parent, #ratingsParentOnly #rating_parent{
    width: 138px;
    _width:148px;
    margin-right:10px;
    _margin-right:6px;
}

#ratingsNone,
#ratingsParentOnly{
    height: 166px;

}
#ratingsNone a {
	font-size: 13px;
}
#ratingsNone h2,
#ratingsParentOnly h2{
    background:#66CCCC url(/res/img/school/overview/7970_b/school_summary_box.png) no-repeat  ;
    height:166px;
    _height:182px

}


#rating_summary {
	float: left;
	margin: 10px 10px 0;
	_margin: 10px 16px 15px 10px; /* IE 6 hack */
    width:320px;
    height: 145px;
    font-size: 13px;
}

#ratingsNone #rating_summary,
#ratingsParentOnly #rating_summary{
    padding-top: 14px;
}

#rating_summary p{
    margin-top: 3px;
    margin-bottom: 8px;
}

#rating_summary a{
    font-size: 12px;
}

.hidden {
    display: none;
}

/** ads */

.ad_middle  {
    border-top: 1px solid #CCCCCC;
    margin-top: 20px;
    padding-top: 15px;
    
}
.ad_top #AboveFold_300x250{
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
}
