#ratingsBoth #rating_parent {
	float: right;
	text-align: center;
	margin: 0px 15px 25px 0;
	width: 140px;
}
#ratingsParentOnly #rating_parent,#ratingsNone #rating_parent,#ratingsBoth #rating_parent, #ratingsGSOnly #rating_parent {
    float: right;
	text-align: center;
    width: 135px;
}
#ratingsParentOnly #ratingsBoth #rating_parent, #ratingsGSOnly #rating_parent {
	margin: -16px 0px 0 0;
}

#ratingsParentOnly #rating_parent,#ratingsNone #rating_parent {
	margin: 8px 0px 0 0;
}

#ratingsGSOnly #rating_gs img {
	margin-bottom: 6px;
}
