#ratingsBoth #rating_parent {
	float: right;
	text-align: center;
	margin: 0px 15px 25px 0;
	width: 140px;
}

#ratingsParentOnly #rating_parent {
    float: right;
	text-align: center;
	margin: 8px 0px 0 0;
	width: 135px;
}

#ratingsGSOnly #rating_gs img {
	margin-bottom: 6px;
}
