/* GreatSchools School Overview */
#schoolOverview {
	width: 864px;
	_width: 864px; /* IE 6 hack */
	float: left;
	margin: 5px 0 0 0; /* bottom margin is arbitrary and can be changed once code is implemented */
}

#schoolOverview p {
	font: 12px/16px Trebuchet MS, sans-serif;
	color: #666;
}

#schoolOverview a, #schoolOverview a:hover {
	color: #39a;
	text-decoration: underline;
}

hr { /* has IE 7 equivalent */
	width: 177px; /* width of modules plus 2 2px border (4px) */
	background: #dee;
	height: 1px;
	border: 0;
	margin: 5px 0 5px 0;
	_margin: 0; /* IE 6 hack */
	_border: 1px solid #dee; /* IE 6 hack */
}

#col_left {
	width: 173px;
	margin: 0 14px 0 0;
	_margin: 0 10px 0 0; /* IE 6 hack */
	float: left;
}

#col_center {
	width: 366px;
	float: left;
	/*padding-right: 9px;*/
	/*border-right: 1px solid #dedede;*/
}

#col_right {
	width: 300px;
	float: right;
}

/* left column modules */
/* Quick Facts */
#quickFacts {
	width: 173px;
	border: 2px solid #eee;
    margin-bottom: 10px;
}

#quickFacts h2 {
	background: url(/res/img/school/overview/header_QuickFacts.gif) no-repeat 10px 6px;
	width: 173px;
	height: 27px;
	text-indent: -9999px; /* allows the text to appear in the html, but will not be visible with styles enabled */
	margin-bottom: 0;
}

#quickFacts h3, #quickFacts address, #quickFacts p {
	font: 12px/16px Trebuchet MS, sans-serif;
	color: #666;
	margin: 0 0 8px 10px;
    padding:0 4px 0 0;
}

#quickFacts h3 {
    background: url(/res/img/school/overview/v1_dotline.gif) repeat-x 0 0;
    padding-top: 6px;
    width: 150px;
}

.phoneFax {
	text-transform: uppercase;
}

#quickFacts ul {
	margin: 14px 8px 10px 10px;
}

#quickFacts ul li {
	font: 12px/15px Trebuchet MS, sans-serif;
	color: #666;
	background: url(/res/img/school/overview/li_yellow-triangle.gif) no-repeat left 2px;
	list-style: none;
	margin: 0 0 4px 0;
	padding: 0 0 0 10px;
}

#quickFacts div.mapit {
    margin: 0 0 8px 10px;
}

/* Editor */

#editor {
	width: 173px;
	border: 2px solid #dee;
}

#editor img {
	margin: 10px 0 0 10px;
	float: left;
}

#editor .name {
	width: 60px;
	float: right;
	margin: 30px 30px 0 0;
	_margin: 30px 15px 0 0; /* IE 6 hack */
	color: #39a;
	line-height: 14px;
	font-weight: bold;
}

#editor .title {
	width: 80px;
	float: right;
	margin: 0 10px 0 0;
	_margin: 0 6px 0 0; /* IE 6 hack */
	line-height: 14px;
	_text-indent: .1em; /* IE 6 hack */
}

#editor h3 { /* has IE 7 equivalent */
	font: bold 13px/16px Trebuchet MS, sans-serif;
	color: #888;
	width: 150px;
	margin: 100px 0 0 10px;
	_margin: 15px 0 0 10px; /* IE 6 hack */
	padding: 10px 0 5px 0;
	float: none;
	border-top: 1px solid #dee;
}

#editor hr { /* has IE 7 equivalent */
    width: 150px;
    margin-left: 10px;
    _margin-top: -5px;
}

#editor ul {
	width: 150px;
    margin: 10px 0 5px 10px;
}

#editor ul li {
	font: 12px/15px Trebuchet MS, sans-serif;
	color: #666;
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}

#editor .articleLink {
    text-decoration: none;
}

#editor .articleLink  a:hover {
    text-decoration: underline;
}


/* Big Picture */
#bigPicture {
	width: 173px;
	clear: both;
	border: 2px solid #eee;
    margin-bottom: 10px;
}

#bigPicture h2 {
	background: url(/res/img/school/overview/header_BigPicture.gif) no-repeat 10px 6px;
	width: 173px;
	height: 27px;
	text-indent: -9999px;
    margin-bottom: 0;
}

#bigPicture h3.divider {
    background: url(/res/img/school/overview/v1_dotline.gif) repeat-x 0 3px;
    text-indent: -9999px;
    margin-top: 0;
    margin-bottom: 0;
}

#bigPicture p {
	font-family: Century Gothic, Trebuchet MS, sans-serif;
	margin: 10px 0 5px 10px;
}

#bigPicture h3 {
	font: 12px/15px Trebuchet MS, sans-serif;
	color: #666;
	margin: 0 10px 10px 10px;
	padding: 0;
}


/* center column modules */
/* Ratings */
.parentTitle {
	margin: 0;
	border: 0;
}

.stars { /* has IE 7 equivalent */
    margin: 7px 0 0 0;
    _margin: 9px 0 0 0;
	border: 0;
}

.rateIt { /* has IE 7 equivalent */
	margin: 14px 0 10px 0;
	_margin: 12px 0 8px 0;
	border: 0;
}

/* ratingsBoth: used when both ratings are present */
#ratingsBoth {
	width: 356px;
	float: left;
	margin: 0 0 10px 0;
	padding: 3px;
	border: 2px solid #EEEEEE;
}

#ratingsBoth h2 {
	background: url(/res/img/school/overview/header_ratingsBox.gif) no-repeat 14px center #6bcacc;
	height: 27px;
	_width: 353px; /* IE 6 hack */
	text-indent: -9999px; /* allows the text to appear in the html, but will not be visible with styles enabled */
}

#ratingsBoth a {
	font-size: 13px;
}

#ratingsBoth #rating_gs {
	float: left;
	width: 178px;
	margin: 14px 0 14px 0;
	text-align: center;
	border-right: 1px solid #ccc;
}

#ratingsBoth #rating_gs img { /* has IE 7 equivalent */
	margin-bottom: 10px;
	_margin-bottom: 9px; /* IE 6 hack */
}

#ratingsBoth #rating_parent { /* has IE 7 equivalent */
    float: right;
    text-align: center;
	margin: 19px 15px 0 0;
	_margin: 20px 8px 17px 0px; /* IE 6 hack */
	width: 140px;
}


/* #ratingsParentOnly: used when there is only a Parent Rating */
#ratingsParentOnly {
	width: 356px;
	height: 145px;
	float: left;
	margin: 0 0 10px 0;
	padding: 3px;
	border: 2px solid #EEEEEE;
}

#ratingsParentOnly h2 {
	height: 145px;
	_height: 147px; /* IE 6 hack */
	width: 150px;
	float: left;
	background: url(/res/img/school/overview/header_ratingsBox_parentOnly.gif) no-repeat 23px 32px #6cc;
	text-indent: -9999px;
}

#ratingsParentOnly #rating_parent { /* has IE 7 equivalent */
	float: right;
	text-align: center;
	margin: 19px 33px 0 0;
	_margin: 18px 16px 15px 0; /* IE 6 hack */
	width: 135px;
}

#ratingsParentOnly a {
	font-size: 13px;
}


/* #ratingsGSOnly: used when there is only a GreatSchools Rating */
#ratingsGSOnly {
	width: 356px;
	float: left;
	margin: 0 0 10px 0;
	padding: 3px;
	border: 2px solid #EEEEEE;
}

#ratingsGSOnly h2 {
	background: url(/res/img/school/overview/header_ratingsBox.gif) no-repeat 14px center #6bcacc;
	height: 27px;
	_width: 352 px; /* IE 6 hack */
	text-indent: -9999px; /* allows the text to appear in the html, but will not be visible with styles enabled */
}

#ratingsGSOnly a {
	font-size: 13px;
}

#ratingsGSOnly #rating_gs {
	float: left;
	width: 178px;
	margin: 14px 0 14px 0;
	text-align: center;
	border-right: 1px solid #ccc;
}

#ratingsGSOnly #rating_gs img { /* has IE 7 equivalent */
	margin-bottom: 10px;
	_margin-bottom: 9px; /* IE 6 hack */
}

#ratingsGSOnly #rating_parent { /* has IE 7 equivalent */
	float: right;
	text-align: center;
	margin: 29px 37px 0 0;
	_margin: 34px 15px 6px 0; /* IE 6 hack */
	width: 102px;
	_height: 109px; /* IE 6 hack */
}


/* ratingsNone: is used when there are neither GS or Parent Ratings */
#ratingsNone {
	width: 356px;
	height: 145px;
	float: left;
	margin: 0 0 10px 0;
	padding: 3px;
	border: 2px solid #EEEEEE;
}

#ratingsNone h2 {
	height: 145px;
	width: 150px;
	float: left;
	background: url(/res/img/school/overview/header_ratingsBox_parentOnly.gif) no-repeat 23px 32px #6cc;
	text-indent: -9999px;
}

#ratingsNone #rating_parent { /* has IE 7 equivalent */
	float: right;
	text-align: center;
	margin: 32px 45px 0 0;
	_margin: 30px 23px 15px 0; /* IE 6 hack */
	width: 102px;
}

#ratingsNone a {
	font-size: 13px;
}

/* Latest Parent Reviews */
#parentReviews {
	width: 356px;
	float: left;
	margin: 0 0 10px 0;
    padding: 3px 3px 18px 3px;
    border: 2px solid #EEEEEE;
}

#parentReviews h2 {
	background: url(/res/img/school/overview/header_LatestParentsReviews.gif) no-repeat;
	height: 25px;
	text-indent: -9999px;
}

#parentReviews p {
	margin: 5px 0 0 20px;
	_margin: 5px 0 0 10px; /* IE 6 hack */
	width: 160px;
	float: left;
	font-size: 12px;
	line-height: 15px;
}

#parentReviews em {
	color: #5bc;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
}
#parentReviews a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    float: right;
	margin: 4px 15px 0 0;
}

#parentReviews .rating {
	margin: 15px 0 0 20px;
	float: left;
}

#parentReviews .callout {
	width: 144px;
	font-size: 14px;
	line-height: 18px;
	padding: 7px 8px 0 10px;
	margin: 18px 0 0 0;
	float: right;
	border: 1px solid #ddd;
}

#parentReviews .callout a {
	font-size: 12px;
	margin: 16px 6px 7px 0;
	_margin: 15px 6px 7px 0;
	float: right;
}

#parentReviews a.ps, #parentReviews div.psCallout a {
    font-size: 12px;
    position: relative;
    right: 20px;
}

#parentReviews a.ps {
   margin: 0px 0 0 0;
   padding: 5px 0 0 0;
}
#parentReviews div.psCallout a {
    margin: -5px 0 0 0;
}

#parentReviews div.psCallout  {
    font: 16px Trebuchet MS, sans-serif;
    padding:8px 0px 20px 15px;
    margin:40px 0 0 0;
    color:#888888;
    background:#DDEEEE;
    position:relative;
}

#parentReviews div.psCallout em {
    font-family:Trebuchet MS, sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#55BBCC;
}

/* Learn About This School's */
#learnSchool {
	width: 356px;
	margin: 0;
	float: left;
    padding: 3px;
    border: 2px solid #EEEEEE;
}

#learnSchool h2 {
	background: url(/res/img/school/overview/header_LearnAboutThisSchool.gif) no-repeat;
	height: 37px;
	text-indent: -9999px;
}

#learnSchool img {
	margin: 12px 0 0 16px;
}

#learnSchool p {
	font-size: 11px;
	margin: -3px 0 0 0;
	_margin: -6px 0 0 0; /* IE 6 hack */
	padding: 0 0 15px 58px;
	border-bottom: 1px dashed #ccc;
    text-decoration:none;
}

#learnSchool .last {
	border: 0;
}

#learnSchool div.last {
    padding-bottom:15px;
}

#insideScoop {
	width: 356px;
	float: left;
	margin: 10px 0 8px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#insideScoop img {
    margin:3px 0 0 0;
}

#learnSchool .dash {
    padding-bottom:15px;
    border-bottom: 1px dashed #ccc;
}

#learnSchool .dash {
    padding-bottom:15px;
}

#learnSchool div, #learnSchool a, #learnSchool a:hover, #learnSchool a:visited {
  	font: 11px Trebuchet MS, sans-serif;
	color: #666;
    text-decoration:none;
}

#learnSchool img#pdficon {
   float:left;
   margin:0 5px 0 57px;
   padding:0;
}

/* Compare This School To */
#compareSchool {
	width: 356px;
	margin: 13px 0 0 0;
    padding: 3px;
    border: 2px solid #EEEEEE;
    float: left;
}

#compareSchool h2 {
	background: url(/res/img/school/overview/header_CompareThisSchoolTo.gif) no-repeat;
	height: 37px;
	text-indent: -9999px;
    margin-bottom: -4px;
}

#compareSchool img {
    display: none;
}

#compareForm {
	width: 192px;
	height: 75px;
	float: left;
}

/* form */
#compareSchool form {
	margin: -1px 0 0 10px;
	_margin: -2px 0 0 10px; /* IE 6 hack */
	float: left;
	height: 85px;
	width: 270px;
	font: 12px/16px Trebuchet MS, sans-serif;
	color: #666;
}

#compareSchool form input { /* has IE 7 equivalent */
	float: left;
	margin: 8px 8px 0 7px;
	_margin: 6px 0 -5px 7px; /* IE 6 hack */
}

#compareSchool form label { /* has IE 7 equivalent */
	display: block;
	margin: 8px 0 0 0;
	_margin: 7px 0 0 0; /* IE 6 hack */
    position: relative;
    top: -2px;
    _top: 0;
}

#compareSchool form .submit {
	float: right;
	margin: 47px 0 0 0;
}

/* Learn More */
#learnMore {
	width: 358px;
	float: left;
	margin: 0 0 0 186px;
	padding: 0;
	border: 1px solid green;
}

.clear {
	clear: both;
}

div#topCompare div#compareSchool {
    margin-top:0;

}

/* Test drop down school compare selector */
div#topCompareRight {
    float:left;
    padding-bottom:12px;
    margin:0 0 20px 0;
    background-color: #F3F9F9;
}

span#compareSelectorSpan  {
    float:left;
    height: 25px;
    width: 200px;
    padding: 10px 0 0 22px;
}

select#compareSelector{
    width: 185px;
    color:#666666;
    font-family:Trebuchet MS,sans-serif;
    font-size:12px;
}

span#compareGo {
    float:left;
    height: 25px;
    padding: 12px 6px 0 0;
}

#schoolOverview ul#frmErrors {
    margin-top: 1em;
}

@media print {
    #parentReviews p a,#quickFacts div.mapit{display:none;}
    #col_center{border-right:none;}
}

#surveyTeaser_wrapper {
    border: 2px solid #EEEEEE;
    padding: 3px;
    float: left;
    margin: 10px 0 10px 0;
}

.surveyTeaser {
    border: 3px solid #F2F3DB;
}

img.psRating {
    padding:15px 0 6px 10px;
}

div.psComment {
	font: 12px/15px Trebuchet MS, sans-serif;
    color:#666666;
    padding:0 40px 0 10px;
}

#learnMoreModule {
    margin-bottom:20px;
}

#lmmBorder {
    border-left: 2px solid #DDEEEE;
    border-right: 2px solid #DDEEEE;
    border-bottom: 2px solid #DDEEEE;
    border-top:1px solid #66CCCC;
}

#learnMoreModule #lmModules {
    position:relative;
}

#lmModules div.right {
    position:absolute;
    left:200px;
    _left:191px; 
}

#learnMoreModule div.parent {
    top:0;
}

#learnMoreModule div.survey {
    top:40px;
}

#learnMoreModule div.district {
    top:77px;
}

#learnMoreModule #lmHeader {
    background: url(/res/img/school/overview/learn_more/header.gif) no-repeat;
    height:28px;
    text-indent:-1000em;
    border-right:1px solid #66CCCC;
}

#learnMoreModule #lmModules div.left {
    margin:18px 0 18px 10px;
}

div#leftcolAd {
    margin: 0 auto 0 auto;
	width: 177px;
    height:625px;
}

div#communityQuestion_wrapper {
    padding: 3px;
    border: 2px solid #EEEEEE;
    float: left;
    margin-bottom: 10px;
    width: 356px;
}

div#communityQuestionPromo.overviewBorder {
    padding: 3px 15px;
    border: 3px solid #F2F3DB;
}

div#communityQuestionPromo.overviewBorder div.avatar {
    left: 15px;
}

#rateReview.overview {
    border: 2px solid #EEEEEE;
    margin-bottom: 10px;
}

div#col_right div#nearbySchools {
    border: 2px solid #EEEEEE;
    padding: 8px;
}

div#seoTitle {
    clear: both;
    padding-top: 15px;
}