.overview #schoolProfileHeader {
    padding-bottom: 10px;
    border-bottom: 2px solid #DDEEEE;
    margin-bottom: 9px;
}
.toolsImg {
    display:none;
}
.subnavTools {
    float:left;
    color:#3399AA;
    line-height:35px;
}
.contentGS .subnavTools a {
    text-decoration:underline;
}
.overview #ratings {
    display:block;
}
#schoolProfile.overview #schoolName {
    margin-top:12px;
}
#schoolProfile #navigation, #schoolProfile #subnav {
    display:none;
}

#schoolProfile.overview #schoolName {
    _margin: 0 0 2px 12px;
}