/* ab test */
/*#tools .print,*/
#tools .emailFriend {
    padding: 10px 0 2px 0px;
    _padding-bottom: 0;
}

#tools {
    width:270px;
}

#tools a{
    line-height:2.0;
}

#tools div#topTools{
    width: 240px;
}
#tools div#bottomTools{
    width: 280px;
    float:left;
    height: 27px;
}

#schoolProfile #schoolName, #breadcrumbs{
    width:530px;
}

#schoolProfileHeader #bottomTools p {
    margin: 10px 0 0 0;
}

.hidden {
    display: none;
}
#navigation {
    margin: 0 auto 8px;
}
/* ab test */