/*------------------------------------------------------

School Profile header

-------------------------------------------------------*/
#schoolProfileHeader { /* Has IE 7 equivalent */
	width: 860px;
    /*height: 92px; */
    float: left;
	border: 2px solid #dee;
    border-bottom: 0;
    padding-bottom: 15px;
}

.overview #schoolProfileHeader { /* Has IE 7 equivalent */
    padding-bottom: 20px;
    _padding-bottom: 21px;
    /*height: 87px;
    _height: 86px; */
}

/* breadcrumbs */

#breadcrumbs {
	margin: 2px 0 0 24px;
	_margin: 2px 0 12px 24px; /* IE 6 hack */
}

#breadcrumbs ul li {
	font: 11px "Trebuchet MS", Arial, sans-serif;
	color: #888;
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

#breadcrumbs ul li a {
	text-decoration: underline;
	color: #888;
}


/* tools */

#tools { /* has IE 7 equivalent */
	width: 240px;
	float: right;
	margin: 2px 20px 0 0;
	_margin: -9px 5px 0 0; /* IE 6 hack */
	font: 13px/15px "Trebuchet MS", Arial, sans-serif;
	color: #777;
}

#schoolProfileHeader p {
	color: #5bc;
	margin: 0 1px 0 4px;
	_margin: 0 0 0 3px; /* IE 6 hack */
	padding: 0;
	float: left;
}

#tools .add {
	background: url(../../img/school/tools_th_add.gif) no-repeat 0 center;
	padding: 0 0 0 17px;
	text-decoration: underline;
	margin: 0;
	float: left;
}

#tools .rate {
	background: url(../../img/school/tools_th_rate.gif) no-repeat 0 center;
	padding: 0 0 0 17px;
	text-decoration: underline;
}

#tools .email { /* has IE 7 equivalent */
    font: bold 13px "Trebuchet MS", Arial, sans-serif;
    background: url(../../img/school/tools_th_email.gif) no-repeat 0 center;
	padding: 0 0 0 17px;
	margin: 8px 0 0 0;
    _margin: 7px 0 0 0; /* IE 6 hack */
    color: #777;
	float: none;
}

#tools a {
	font: bold 13px/15px "Trebuchet MS", Arial, sans-serif;
	color: #39a;
}

#tools .enterEmail { /* has IE 7 equivalent */
	width: 154px;
	height: 16px;
    _height: 14px;
    font: 12px/13px "Trebuchet MS", Arial, sans-serif;
	color: #777;
	float: left;
	margin: 5px 11px 0 17px;
    _margin: 4px 9px 0 17px; /* IE 6 hack */
    padding: 1px 0 0 3px;
    _padding: 3px 0 0 3px;
}

#tools .go {
	width: 39px;
	height: 20px;
	margin: 5px 0 0 0;
    _margin: 4px 0 0 0; /* IE 6 hack */
	border: 0;
    _float: left;
}


/* school name */

#schoolProfile #schoolName { /* has IE 7 equivalent */
    width: 550px;
    float: left;
    margin: 12px 0 8px 24px;
    _margin: 0 0 0 12px;
}

#schoolProfile #schoolProfileHeader h1 {
    font: bold 24px "Trebuchet MS", Arial, sans-serif;
    color: #5bc;
}

#schoolProfile.overview #schoolName {
    margin: 22px 0 8px 24px;
    _margin: 10px 0 8px 12px;
}

#schoolProfile.overview #schoolProfileHeader h1 { /* makes the school name larger, centers it vertically */
	font: bold 26px "Trebuchet MS", Arial, sans-serif;
	color: #5bc;
}




/* Ratings */

#ratings {
	margin: 8px 0 0 25px;
	width: 300px;
}

.rating_gs {
	margin: 0 10px 0 0;
	float: left;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}

a.parent_rating, span.parent_rating {
	width: 99px;
	height: 25px;
	margin: 0;
	float: left;
}

a:hover.parent_rating {
    text-decoration: none;
}

/* Parent Ratings rollovers */

.parent_0 { /* displays the "no star" parent rating */
	background: url(../../img/school/ratings/ratings_parent_head_no.gif) no-repeat;
}

a:hover.parent_0 { /* displays the "no star" rollover */
	background: url(../../img/school/ratings/ratings_parent_head_no_roll.gif) no-repeat;
}

.parent_1 { /* displays the 1 star parent rating */
	background: url(../../img/school/ratings/ratings_parent_head_1.gif) no-repeat;
}

.parent_2 { /* displays the 2 star parent rating */
	background: url(../../img/school/ratings/ratings_parent_head_2.gif) no-repeat;
}

.parent_3 { /* displays the 3 star parent rating */
	background: url(../../img/school/ratings/ratings_parent_head_3.gif) no-repeat;
}

.parent_4 { /* displays the 4 star parent rating */
	background: url(../../img/school/ratings/ratings_parent_head_4.gif) no-repeat;
}

.parent_5 { /* displays the 5 star parent rating */
	background: url(../../img/school/ratings/ratings_parent_head_5.gif) no-repeat;
}


/* main navigation */

#navigation {
	background: #6cc;
	text-transform: uppercase;
	width: 864px;
    height: 30px;
	float: left;
    border-bottom: 1px solid #fff;
}

#navigation td {
	font: bold 11px/13px "Trebuchet MS", Arial, sans-serif;
    /*font: bold 10px/11px Lucinda Grande, Lucida Grande, lucida, verdana, sans-serif;*/
    /*letter-spacing: -0.5px;*/
    /*_letter-spacing: -1.5px;*/
    color: #fff;
	text-decoration: none;
	text-align: center;
	/*border-right: 1px dotted #fff;*/
	background: url(../../img/school/border_dotted.gif) repeat-y right; /* creates dotted border, necessary for consistency in IE 6 */
}

#navigation td a { /* Has IE 7 equivalent */
	color: #fff;
    height: 28px;
    _height: 27px;
    display: block;
	padding: 2px 20px 0 20px;
    _padding: 3px 20px 0 20px;
}

#navigation td a:hover {
	color: #5bc;
	text-decoration: none;
    background: #dee url(../../img/school/border_dotted.gif) repeat-y right; /* creates dotted border, necessary for consistency in IE 6 */
}

/* Do not add dotted border on right of last cell, even during hover */
#navigation td.last a:hover {
    background: #dee;
}

#navigation .last { /* sets no border for the last tab (far right) */
	background: 0;
}

#navigation .on { /* sets the "on" state for the tabs */
	color: #5bc;
    background: #dee url(../../img/school/border_dotted.gif) repeat-y right; /* creates dotted border, necessary for consistency in IE 6 */
}


/* secondary (sub) navigation */

#subnav { /* Has IE 7 equivalent */
	width: 864px;
    background: #dee;
	height: 22px;
    float: left;
	_float: none; /* IE 6 hack */
	color: #ccc;
    border-bottom: 1px dashed #fff;
    _border-bottom: 1px dashed #dee;
}

#subnav ul {
	margin: 2px 8px 0 0;
	_margin: 2px 5px 0 0; /* IE 6 hack */
	float: right;
}

#subnav ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
    font-size: small; /* Gets perl side to display separating pipe at right size */
}

#subnav ul li a {
	color: #5bc;
	font: 11px/12px "Trebuchet MS", Arial, sans-serif;
	text-decoration: underline;
	margin: 0;
	padding: 0 4px 0 4px;
}


/* School Overview page header */

.overview #ratings { /* hides the ratings */
	display: none;
}

.overview #navigation { /* has IE 7 equivalent */
    _float: none; /* IE 6 hack */
}

/*
 * Styles that mirror global.css (so this stylesheet is still effective in perl land which doesn't use global)
 */

#schoolProfileHeader ul, #schoolProfileHeader ol, #schoolProfileHeader li,
    #schoolProfileHeader h1, #schoolProfileHeader h2, #schoolProfileHeader h3,
    #schoolProfileHeader h4, #schoolProfileHeader h5, #schoolProfileHeader h6,
    #schoolProfileHeader pre,
    #schoolProfileHeader blockquote,
    #schoolProfileHeader fieldset,
    #schoolProfileHeader input,
    #schoolProfileHeader label,
    #schoolProfileHeader address {
    list-style: none;
    font-size: small;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#navigation a,
    #navigation a:link,
    #navigation a:visited,
    #navigation a:active {
    text-decoration: none;
}

#schoolProfileHeader body, #schoolProfileHeader form {
    margin: 0;
    padding: 0
}

/**********************
 *                    *
 *                    *
 *                    *
 **********************
 * O L D  S T Y L E S *
 **********************
 *                    *
 *                    *
 *                    *
 **********************/

#schoolProfile #bodyContents {
    font-size:12px;
    text-align:left;
    clear: both;
}

#schoolProfile #bodyContents h1{
    font-weight:bold;
    font-size:16px;
    padding: 10px 0 3px 12px;
}

#schoolProfile #bodyContents table {
    text-align:left;
}

#schoolProfile .breadcrumb {
    color: #3399aa;
    font-size: 12px;
    font-weight: normal;
    padding-top:10px;
}

#schoolProfile .breadcrumb a {
    color: #3399aa;
    text-decoration: underline;
}

#schoolProfile .breadcrumb .hr {
    display: block;
    border-top: 1px solid #ccc;
}

/***************************
 * P R I N T   S T Y L E S *
 ***************************/

@media print {
    .search, #adLeaderboard, #footer, .noprint, #promoContent  {
        display:none;
    }
    .wrap0  {
        width:75%;
        background:white;
    }
    body, body.unframed #pageGS {
        background-color: #fff;
        border: 0 solid   #fff;
    }

    #schoolProfile #bodyContents {
        width: 75%;
    }
    #schoolProfile {
        _width: 72%;
    }
    #schoolProfileHeader {
        border: 0 solid #fff;
        float: none; /* Fix Firefox bug where print truncates after first page, see GS-3241 */
    }
    #schoolProfile #navigation, #schoolProfile #subnav, #schoolProfileHeader #tools {
        display: none;
    }
    #editorialFooter {
        display: none;
    }
}
