/*------------------------------------------------------

School Profile header
Internet Explorer 7 specific styles

-------------------------------------------------------*/


#schoolProfileHeader {
    padding-bottom: 19px;
    margin-bottom: -19px;
}

.overview #schoolProfileHeader {
    padding-bottom: 19px;
    /*height: 88px;*/
}

#schoolProfile #schoolName {
    margin: 12px 0 0 24px;
}

#schoolProfile.overview #schoolName { /* has IE 7 equivalent */
    margin: 22px 0 8px 24px;
}

#tools {
	margin: 3px 20px 0 0;
}

#tools .email {
    margin-top: 7px;
}

x#tools xp#compare {
    font: bold 13px "Trebuchet MS", Arial, sans-serif;
    background: url(../../img/school/tools_compare.gif) no-repeat 0 center;
    float:left;
    text-decoration:underline;
    padding:0 0 0 17px;
    margin:10px 0 0 0;
}

#tools .enterEmail {
	height: 14px;
    margin-top: 4px;
    padding-top: 3px;
}

#navigation {
	margin: 15px 0 0 0;
}

#navigation td a {
    height: 27px;
	padding: 3px 20px 0 20px;
}

.overview #navigation {
	margin: 19px 0 0 0;
}

#subnav {
    border-bottom: 1px dashed #dee;    
}
