#schoolProfile.overview #schoolName {
    margin-top:10px;
    margin-bottom:0;
}

#schoolProfile #headSpacer {
    display:block;
    height:10px;
    text-indent:-1000px;
    margin:5px;
    border:1px solid #FFFFFF;
    float:left;
}