#schoolProfile {
    margin: 10px 15px 0 20px;
}

/* breadcrumbs */
#breadcrumbs {
    font: 11px Arial, Arial, sans-serif;
    padding-right: 50px;
}
#breadcrumbs ul li {
    color: #888;
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}
#breadcrumbs ul li a {
    text-decoration: underline;
    color: #888;
}

#schoolProfileHeader {
    position: relative;
}

/* tool links */
#schoolToolLinks {
    width: 500px;
    font-size: 12px;
    margin-top: 5px;
    padding-top: 3px;
    border-top: 1px dotted #ccc;
}
#schoolToolLinks span {
    margin-right: 10px;
}
#schoolToolLinks img, #schoolToolLinks span.sprite {
    margin-right: 3px;
}

/* School info */
#schoolInfo {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #83BBD9;
    background-color: #F4FAFD;
    padding: 12px;
}
#schoolInfoLeftColumn {
    float: left;
    margin-right: 25px;
}
#schoolInfoRightColumn {
    float: left;
}
#schoolInfo label {
    float: left;
    width: 50px;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

/* columns */
#schoolProfileLeftColumn {
    float: left;
    width: 612px;
}
#schoolProfileRightColumn {
    float: right;
    width: 300px;
}
#schoolProfileRightColumn .mod {
    margin-top: 20px;
}

#schoolProfileBody {
    margin-top: 15px;
}
/* Tabs */
#schoolProfileTabsWrapper, #schoolProfileSubTabsWrapper {
    position: relative;
    clear: left;
}
#schoolProfileTabs, #schoolProfileSubTabs {
    list-style: none outside none;
}
#schoolProfileTabs li {
    float: left;
    text-align: center;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 5px 12px;
}
#sptab1 {
    border-left: 1px solid #ccc;
}
#schoolProfileTabs li.active {
    padding: 8px 18px;
}
#schoolProfileTabs li.inactive {
    background-color: #EBEBEB;
    position: relative;
    top: 5px;
}

#schoolProfileSubTabsWrapper {
    width: 100%;
    border-bottom: 1px solid #A2CEE5;
    height: 27px;
    background-color: #F0F8FD;
}
#schoolProfileSubTabs li {
    float: left;
    text-align: center;
    padding: 5px 12px;
}
#schoolProfileSubTabs li.active {
    background-color: #154192;
    color: #FFF;
}
#schoolProfileSubTabs li.inactive {
    background-color: #F0F8FD;
}


#schoolInaccuracy {
    font-size: 11px;
}
#schoolProfileContentsWrapper {
    border: 1px solid #C6C6C6;
    border-top: 15px solid #154192;
    position: relative;
    top: -1px;
    clear: left;
}
#bodyContents {
    padding: 11px 16px 11px 12px;
}
