#resultsheader {
    padding: 10px 0 20px 0;
    background: none;
    margin-top: 10px;    
}
#resultsheader #rh_col_left{
    border-bottom: 1px solid #CCCCCC;
    position: relative;
    width: 100%;
}

#resultsheader #rh_col_left span, #resultsheader #rh_col_left div {
    line-height: 17px;
    margin-top: 0;
}

.query {
    margin: 0 0 0 0;
    display: block;
    width: 475px;
}

#searchfilterform div.formContainer{
    height:24px;
    line-height:23px;
    padding-top: 8px;
}

#searchfilterform div.checkboxes {
    float:left;
}
#resultsPerPageSelector{
    float: right;
}
#searchfilterform div.resultsPerPage {
    float: right;
}

#searchfilterform select {
    margin-left:10px;
}

#resultsheader #rh_col_left #resultspagination {
    background: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 1px;
    right: 0;
}

#pagination{
    height: 23px;
    padding: 5px 10px;
    line-height: 22px;
    margin-bottom: 15px;
}

#pagination .showAll {
    float:left;
    padding-left: 0;
    margin-left: 0;
}

#preschoolsRatingNote{
    padding-bottom: 15px;
}

.hidden{
    display: none;
}

.contentGS {
    padding: 0 10px 0 10px;
}

/* used on "Show all" and "View district profile" links on schoolresults */
.minilink {
    font-size: small;
    font-weight:normal;
    padding-left: 0;
}

.showAll {
    margin-left: 10px;
}

#searchResultsList .school {
    /*width: 217px;*/
}


#searchResultsList .result .school.wide {
    width: 370px;
}

#searchResultsList .rating {
    /*margin-left: 50px;*/
}

#searchResults div.district {
    font-size: small;
}

.cobranded #searchfooter {
    width: 400px !important;
}

div#mapContainer {
    margin-top: 20px;
    border-top: 1px solid #CCCCCC;
    padding-top: 20px;
}

#searchResults span.enrollment {
    font-weight: bold;
}

form#searchfilterform div label a,
    form#searchfilterform div label a:link,
    form#searchfilterform div label a:visited,
    form#searchfilterform div label a:active,
    form#searchfilterform div label a:hover {
    color: #666666;
    text-decoration: none;
}

div#compareInCity div#head div#headText {
    line-height: 18px;
}

div#col_right div#compareInCity div#headWrap {
    height: auto;
}

div#col_right.city div#compareInCity div#headWrap img {
    _display: none;
}

div#col_right div#compareInCity input.submit {
    _position: relative;
    _float: right;
    _bottom: 22px;
    _right: 58px;
}

.compare_schools_row {
    margin-top: 5px;
    margin-bottom: 6px;
    height: 13px;
    float:left;
    position: relative;
}

.compare_schools_row label, .compare_schools_row span {
    vertical-align: bottom;
    height: 13px;
    width: 200px;
}

.compare_schools_row span.compare_submit {
    position: absolute;
    left: 15px;
}
.compare_schools_row .compare_submit input {
    position: absolute;
    left: 5px;
    top: -3px;
}

.compare_schools_row label img {
    position: relative;
    left: 5px;
    top: 2px;
}

#schoolsTable {
    border-top:dotted #E2E3CB;
}

#schoolsTable .school {
    margin:15px 0 15px 0;
    padding:0 0 15px 0;
    border-bottom:1px solid #E2E3CB;
}
#schoolsTable .school p {
    margin: 0;
}

#schoolsTable .last {
   border-bottom:none;
}

.school {
    /*position:relative;*/
}

.school div.mslRemove {
    /*position:absolute;*/
    /*right:0;*/
    /*bottom:17px;*/
    padding-top:11px;
    float:right;
    font-size:13px;
}

.school div.mslRemove img {
    margin:0 5px 0 0;
}

a.mapSchoolImage:hover {
    text-decoration:none;
}

a.mapSchoolImage img {
    padding:0 4px 0 4px;
}

#contentGS a.mapSchoolText {
    text-decoration:underline;
    vertical-align:top;
    font-size:11px;
}

div#localQuestionsContainer {
    border-top: 1px solid #CCCCCC;
    padding-top: 15px;
}
.resultcontrols {
    display:block;
    height:25px;
}

#resultsheader #google_ads_div_Search_Site_SponsoredSearch_Top_542x60,
#resultsheader #google_ads_div_Search_All_Cities_SponsoredSearch_Top_542x60
{
    padding-top: 15px;
}

#resultsheader #google_ads_div_Search_Site_SponsoredSearch_Bottom_542x60,
#resultsheader #google_ads_div_Search_All_Cities_SponsoredSearch_Bottom_542x60
{
    padding-top: 15px;
}