#resultsheader {
    padding: 10px 0px 20px 0px;
    background: none;
}
#resultsheader #rh_col_left{
    height:25px;
    border-bottom: 1px solid #CCCCCC;
}

.query {
    margin: 10px 0 10px 0;
    float: left;
}

#searchResults {
    padding-top: 4px;
}
#searchfilterform div.formContainer{
    height:24px;
    line-height:23px;
    padding-top: 8px;
}

#searchfilterform div.checkboxes {
    float:left;
}
#resultsPerPageSelector{
    float: right;
}
#searchfilterform div.resultsPerPage {
    float: right;
}

#searchfilterform select {
    margin-left:10px;
}

#resultspagination {
    float: right;
    background: none;
    padding-bottom:0;
    margin-bottom:10px;
}

#pagination{
    height: 23px;
    padding: 5px 10px;
    line-height: 22px;
}
#pagination .showAll {
    float:left;
    padding-left: 0px;
    margin-left: 0px;
}



#searchResultsHeader {
    width: 542px;
    margin-top:5px;
    margin-bottom: 0px;
    background: url(/res/img/search/tab_off_bg.gif) repeat;
    line-height:22px;
}

#schoolResultsHeader {
    width: 205px;
    margin-right: 0px;
    margin-left: 0px
}
#searchResultsHeader div.divider {
    float:left;
    background: url(/res/img/search/tab_divider.gif) no-repeat;
    width:3px;
    margin: 0px;
    padding: 0px;
    height:22px;
}
#searchResultsHeader div.firstspace {
    float:left;
    width:0px;
    margin: 0px;
    padding: 0px;
    height:22px;
}
#searchResultsHeader div.active{
    background: url(/res/img/search/tab_on_bg.gif) repeat;
}

#searchResultsHeader img.sortActive{
    display: inline;
    margin: 2px;
}

#searchResultsHeader img.sortInActive{
    display: none;
}
#searchResultsHeader img.sortMouseOver{
    display: none;
    margin: 2px;
}

#ratingsHeader {
    width: 163px;
    margin-right: 0px;
    margin-left: 0px;
}

#searchResultsList .result:first-child{
    border-top: 0px;
}

#searchResultsList .result.first {
    border-top: 0px;
}

#reviewsHeader {
    float:left;
    width: 151px;
    margin-right: 0px;
    padding-left: 12px;
    text-align : left;
}

.contentGS {
    padding: 0 10px 0 10px;
}

/* used on "Show all" and "View district profile" links on schoolresults */
.minilink {
    font-size: small;
    font-weight:normal;
    padding-left: 0;
}

.minilink:hover {
    text-decoration: underline;
}

.showAll {
    margin-left: 10px;
}

#searchResultsList .school {
    width: 217px;
}

#searchResultsList .rating {
    margin-left: 50px;
}

#searchResults div.district {
    font-size: small;
}

#searchResultsHeader {
    cursor: pointer;
}

#searchResultsHeader :hover{
    background: url(/res/img/search/tab_on_bg.gif) repeat;
    text-decoration: underline;
}

.cobranded #searchfooter {
    width: 400px !important;
}

div#mapContainer {
    margin-top: 20px;
    border-top: 1px solid #CCCCCC;
    padding-top: 20px;
}

#searchResults span.enrollment {
    font-weight: bold;
}

form#searchfilterform div label a,
    form#searchfilterform div label a:link,
    form#searchfilterform div label a:visited,
    form#searchfilterform div label a:active,
    form#searchfilterform div label a:hover {
    color: #666666;
    text-decoration: none;
}

div#compareInCity div#head div#headText {
    line-height: 18px;
}

div#col_right div#compareInCity div#headWrap {
    height: auto;
}

div#col_right.city div#compareInCity div#headWrap img {
    _display: none;
}

div#col_right div#compareInCity input.submit {
    _position: relative;
    _float: right;
    _bottom: 22px;
    _right: 58px;
}

.compare_schools_row {
    margin-top: 5px;
    margin-bottom: 6px;
    height: 13px;
    position: relative;
}

.compare_schools_row label, .compare_schools_row span {
    vertical-align: bottom;
    height: 13px;
    width: 200px;
}

.compare_schools_row span.compare_submit {
    position: absolute;
    left: 15px;
}
.compare_schools_row .compare_submit input {
    position: absolute;
    left: 5px;
    top: -3px;
}

.compare_schools_row label img {
    position: relative;
    left: 5px;
    top: 2px;
}

#schoolsTable {
    border-top:dotted #E2E3CB;
}

#schoolsTable .school {
    margin:15px 0 15px 0;
    padding:0 0 15px 0;
    border-bottom:1px solid #E2E3CB;
}

#schoolsTable .last {
   border-bottom:none;
}

div.school {
    position:relative;
}

div.school div.mslRemove {
    position:absolute;
    right:0;
    bottom:17px;
    font-size:13px;
}

div.school div.mslRemove img {
    margin:0 5px 0 0;
}

.phone {
   float:left;
}

a.mapSchoolImage:hover {
    text-decoration:none;
}

a.mapSchoolImage img {
    padding:0 4px 0 4px;
}

#contentGS a.mapSchoolText {
    text-decoration:underline;
    vertical-align:top;
    font-size:11px;
}