.contentGS {
    padding: 0 10px 0 10px;
}

/* used on "Show all" and "View district profile" links on schoolresults */
.minilink {
    font-size: 11px;
    font-weight:normal;
    padding-left: 4px;
}

.minilink:hover {
    text-decoration: underline;
}

.showAll {
    margin-left: 10px;
}

#searchResultsList .school {
    width: 217px;
}

#searchResultsList .rating {
    margin-left: 50px;
}

#searchResults div.district {
    font-size: small;
}

.cobranded #searchfooter {
    width: 400px !important;
}

div#mapContainer {
    margin-top: 20px;
    border-top: 1px solid #CCCCCC;
    padding-top: 20px;
}

#searchResults span.enrollment {
    font-weight: bold;
}

form#searchfilterform div label a,
    form#searchfilterform div label a:link,
    form#searchfilterform div label a:visited,
    form#searchfilterform div label a:active,
    form#searchfilterform div label a:hover {
    color: #666666;
    text-decoration: none;
}

div#compareInCity div#head div#headText {
    line-height: 18px;
}

div#col_right div#compareInCity div#headWrap {
    height: auto;
}

.compare_schools_row {
    margin-top: 5px;
    height: 13px;
    position: relative;
}

.compare_schools_row label, .compare_schools_row span {
    vertical-align: bottom;
    height: 13px;
    width: 200px;
}

.compare_schools_row span.compare_submit {
    position: absolute;
    left: 15px;
}
.compare_schools_row .compare_submit input {
    position: absolute;
    left: 5px;
    top: -3px;
}

.compare_schools_row label img {
    position: relative;
    left: 5px;
    top: 2px;
}

