/* hello */
body {
width:97%;margin:10px;padding:10px;font-family: Arial, Helvetica, sans-serif;background: #FFF;
}
.wrap0 {
float:left;
background:url( /res/img/school/shadow.gif) right bottom no-repeat;
}
.wrap1 {
background:url( /res/img/school/shadow180.gif) no-repeat;
}
.wrap2 {
background:url( /res/img/school/corner_bl.gif) -16px 100% no-repeat;
}
.wrap3 {
padding:4px 6px 6px 4px;
background:url( /res/img/school/corner_tr.gif) 100% -16px no-repeat;
}

.box {background-color: #FFFFF4;
	background-image: url( /res/img/school/box_bg.gif);
	background-repeat: repeat-x;
	background-position: top;
	border:1px solid;border-color:#ddd #999 #999 #ccc;
	padding-left: 5px;
	padding-bottom: 5px;
	width:100%;
	}

div.roundbox {background-color: #dbe4e2;height:100%;}
div.roundbox table.main {padding: 8px 8px 8px 8px;height:100%;} /* T R B L */
div.roundbox_tl {background: url( /res/img/school/roundbox_tl.gif) no-repeat top left;}
div.roundbox_tr {background: url( /res/img/school/roundbox_tr.gif) no-repeat top right;}
div.roundbox_bl {background: url( /res/img/school/roundbox_bl.gif) no-repeat bottom left;}
div.roundbox_br {background: url( /res/img/school/roundbox_br.gif) no-repeat bottom right;}

.small {
font-size:80%;
}
h3 {
line-height:110%;
font-size:130%;
margin-bottom:0px;
}

table.rollmenu {
	width:100%;
	background-color:#003499;
    color: #FFF;
    margin: 0;
    padding: 0;
	}

html>body table.rollmenu {width: 100%;}
table.rollmenu td {//border-left: 1px solid #D1CAFF;
	width: 10%;
    margin: 0;
    padding: 0;
	background-image: url( /res/img/school/bgtab_blue.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	}
table.rollmenu table {width: 100%}
table.rollmenu a:visited {
    text-decoration: none;
    color: #FFF;
}
table.rollmenu a {
	font-weight: normal;
	font-size:75%;
	line-height:95%;
	height: 100%;
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    margin: 0;
    width: auto;
    border-right: 1px solid #D1CAFF;
    display: block;
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 0px;}
html>body table.rollmenu a {width: auto;
	height: 100%;}
table.rollmenu a:hover {
	color: #000;
    text-decoration: none;
    background-color: #D1CAFF;
	background-image: url( /res/img/school/bgtab_hilite.gif);
	background-repeat: repeat-x;
	background-position: bottom;}
html>body table.rollmenu a#active {color: #000;
    background-color: #D1CAFF;
	background-image: url( /res/img/school/bgtab_hilite.gif);
	background-repeat: repeat-x;
	background-position: bottom;text-decoration:none;}
table.rollmenu a#active {color: #000;
    background-color: #D1CAFF;
	background-image: url( /res/img/school/bgtab_hilite.gif);
	background-repeat: repeat-x;
	background-position: bottom;text-decoration:none;}
table.rollmenu td#active {border-left: 0px;}

td#box_pagetitle {font-weight:bold;font-size:100%;
padding: 10px 0px 15px 7px;
}
td#box_schoolinfo {font-size:70%;
padding: 0px 0px 4px 7px;
}
td#sky {
padding-right:10px;
text-align:center;
font-size:10px;
}
table#sky {padding-top:10px;}

table#sky td {
width:120px;
padding-left:0px;
padding-right:10px;
text-align:center;
font-size:10px;
}

table#box_ad {
border: 1px solid #ccc;
height:100%;
}

table#box_ad td {
text-align:center;
font-size:10px;
}

body,html,td {height:100%;}
table.module1container td {width:50%;}
table.module1 {
border: 1px solid #ccc;
height:100%;
font-size:80%;
width:100%;
}


table.module1 td.module1_head {
background-color: #6699CC;
color:#FFF;
font-weight:bold;
font-size:12px;
height:22px;
padding-left:4px;
}

.module1headerbgcolor {color: #6699CC;}

table.module1 td.module1_body {
background-color: #FFFFF4;
color:#000;
height:100%;
padding-bottom:10px;
padding-left:4px;
}
table.module1 td a {line-height:140%;white-space:nowrap;}
table.module1 td a:hover {color: #CCC;}

td#insiderbug {
/* background: url( /res/img/school/insider_leftBG.gif) top left no-repeat; */
border-left:1px solid #ccc;
font-size:10px;
padding-left:6px;
}
td#insiderbug b {font-size:12px;}
td#outsiderbug {
/* background: url( /res/img/school/insider_leftBG.gif) top left no-repeat; */
border-left:1px solid #ccc;
font-size:11px;
line-height:10px;
padding-left:6px;
}

.rlcopy {font-family: arial; font-size: 12px; font-style: normal; color: #003399;}
.rlbcopy {font-family: arial; font-size: 12px; font-style: normal; line-height: 10pt; font-weight: bold; color: #003399;}
.rcopy {font-family: arial; font-size: 12px; font-style: normal; color: #000000;}
.rcopyWhite {font-family: arial; font-size: 11px; font-style: normal; line-height: 10pt; color: #ffffff;}
.r2copy {font-family: arial; font-size: 12px; font-style: normal; line-height: 10pt; color: #000000;}
.r2bcopy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 10pt; color: #000000;}
.i2bcopy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 10pt; color: #ff6600;}
.ocopy {font-family: arial; font-size: 11px; font-style: normal; line-height: 10pt; color: #ff6600;}
.bigwhitecopy {font-family: arial; font-size: 14px; font-style: normal; font-weight: bold; line-height: 12pt; color: #ffffff;}
.bwhcopy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 10pt; height:20px; color: #ffffff;}
.ncopy {font-family: arial; font-size: 11px; font-style: normal; line-height: 10pt; color: #000000;}
.espncopy {font-family: arial; font-size: 11px; font-style: normal; line-height: 10pt; color: #000000;}
.nlinkcopy {font-family: arial; font-size: 10px; font-style: normal; line-height: 10pt; color: #ffffff;}


div.datatable span.footnote {
  float:right;
  font-size:70%;
  margin-top:5px;
  margin-right:5px;
}

span.moreabout {
  float:right;
  font-size:80%;
  padding-right:15px;
}

div#introtext {
  padding:10px;
  font-size:80%;
}

span#infolink {
  font-size:80%;
  padding:10px;
}

div.datatable{
  margin-bottom:30px;
  padding-left:10px;
  padding-right:10px;
  padding-top:20px;

}

    div.datatable table.datagrid {
      border:thin solid black;
      font-size:80%;
    }

    div.datatable .title {
      padding-top:5px;
      padding-bottom:5px;
      padding-left:2px;
      padding-right:5px;
      font-weight:bold;
      font-size:80%;
      color:#003399;
    }

    div.datatable td.odd {
      background:#FFFFCC;
    }

    div.datatable td.even {
      background:#FFFFFF;
    }

    div.datatable td.lcol {
      padding-left:5px;
      padding-right:5px;
      padding-top:3px;
      padding-bottom:3px;
      width:25%;
      vertical-align:top;
    }

    div.datatable td.rcol {
      padding-left:5px;
      padding-top:3px;
      padding-bottom:3px;
      padding-right:8px;
    }
