#contentGS a{
    color:#3399AA;
    text-decoration: underline;
    font-size: 13px;
}

div#topSchoolsDownload{
    width:560px;
    float:left;
    font-family:Arial,Arial,sans-serif;
    font-size:13px;
}

div#topSchoolsDownload h2{
    margin-top:8px;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight:bold;
    color:#D66671;
}
#topSchoolsDownload ul{
    margin-top:20px;
}

#topSchoolsDownload li{
    height:110px;
}
#topSchoolsDownload ul li img{
    float:left;
    padding-right:40px;
}

#topSchoolsDownload ul li h3{
    float:left;
    width:220px;
    padding-top:12px;
}

#topSchoolsDownload ul li div{
    float:left;
    width:120px;
}

.emailText{
    font-family:Arial,Arial,sans-serif;
    font-size:13px;
}

div#topSchoolsLeft{
    margin-top:10px;
    width:304px;
    float:left;
}


div#topSchoolsLeft div#topSchoolsBW{
   margin-bottom:20px;
}

div#topSchoolsBW .box {
    border:3px solid #BBDD66;
    padding:8px;
}

div#topSchoolsBW .bodytext{
    font-family:Arial,Arial,sans-serif;
    font-size:13px;
    color:black;
}

div#topSchoolsBW .bwImg{
    font-size: 12px;
    font-style: italic;
    text-align:right;
 }

div#topSchoolsBW .topSchoolsLink{
    text-decoration:underline;
    margin-bottom:6px;
    display:block;
}

div#topSchoolsBW .bwImg a{
   position:relative;
   top:3px;
    
}

div#fiveEasyWays div.box{
   border:3px solid #BBDD66;
   padding:8px;
   height:400px;
   font-family: Trebuchet MS;
}

div#fiveEasyWays h2{
    font-size: 18px;
    font-weight:bold;
    color:#D66671;
}
div#fiveEasyWays div#congratulationsText{
    font-size: 13px;
    padding-bottom:8px;
    padding-top:5px;
}

div#fiveEasyWays ul li{
    font-size: 15px;
    color:#808080;
    font-weight:bold;
}

ul.fiveEasyWaysList span.number {
   float:left;
   width:20px;
   color:#D66671;
}

ul.fiveEasyWaysList span.text {
    float:left;
    width:260px;
    margin-bottom:8px;
}
