#pageWrapper .title-box .inner {
    background-image: url( /res/img/library/top-box-top.png );
    padding-right: 0;
}

.title-box {
    background-image: url( /res/img/library/top-box-bottom.png );
}

.main-box .inner {
    background-image: url( /res/img/library/middle-box2-top.png );
}

.main-box {
    background-image: url( /res/img/library/middle-box2-bottom.png );
}

.side-box .inner {
    background-image: url( /res/img/library/right-box2-top.png );
}

.side-box {
    background-image: url( /res/img/library/right-box2-bottom.png );
}

#pageWrapper #AboveFold_300x250 {
    border-top: none;
    margin-top: 0;
    padding-top: 10px;
}

#pageWrapper select, #pageWrapper input[type="text"] {
    font-size: 11px;
    color: #555;
}

#pageWrapper input[type="text"] {
    padding: 1px 0 1px 0;
}

/* IE 6 specific */
* html #pageWrapper .go-button {
    margin-bottom: -6px;
}

/* IE 7 specific */
* + html #pageWrapper .go-button {
    margin-bottom: -6px;
}

#pageWrapper .go-button {
    margin-bottom: -9px;
}

#pageWrapper #top-schools-header-content {
    background: url(/res/img/school/topSchools/heropic.jpg ) no-repeat;
    position: relative;
    height: 191px;
    margin: 8px 0 7px 0;
}

#pageWrapper #top-schools-header h1 {
    background: none;
    text-indent: -99999px;
    margin: 0;
    padding: 0;
}

#pageWrapper #top-schools-header-content .contentTop {
    position: absolute;
    top: 100px;
    left: 245px;
    width: 350px;
    font-size: 13px;
}

#pageWrapper #top-schools-header .businessWeek {
    position: absolute;
    top: 125px;
    right: 15px;
    font-size: 12px;
    font-style: italic;
}

#pageWrapper #top-schools-header .businessWeek a {
    font-style: normal;    
}

#pageWrapper #top-schools-header .businessWeek img {
    margin: 0 0 -3px 0;
}

#pageWrapper #top-schools-header .whatMakesATopSchool {
    display:block;
    padding-top: 3px;
}

#pageWrapper #top-schools-header .contentBottom {
    position: absolute;
    bottom: 8px;
    left: 245px;
    font-size: 13px;
}

#pageWrapper #top-schools-header .viewTopSchools {
    background: url( /res/img/school/topSchools/arrow.gif ) no-repeat;
    padding: 3px 0 3px 25px;
}

#pageWrapper #top-schools-header #switchStateForm {
    display: inline;
}

#pageWrapper #top-schools-header #switchStateForm #topSchoolsStateChanger {
    font-size: 11px;
    margin-left: 3px;
}

#pageWrapper #top-schools-header #switchStateForm #topSchoolsStateChangerGo {
    margin-left: 5px;
}

#pageWrapper #supplement h2 {
    color: #D66671;
    font-size: 18px;
    margin: 10px 0;
}

#pageWrapper #top-schools li {
    display: block;
    min-height: 85px;
    height: auto !important;
    height: 85px;
    margin: 15px 0 10px 0;
    padding: 0 0 13px 0;
    background: none;
    border-bottom: 2px dotted #CCC;
    font-size: 12px;
    width: 420px;
}

#pageWrapper #top-schools.about-the-awards li {
    min-height: 70px;
    height: auto !important;
    height: 70px;
}

#pageWrapper #top-schools li .description {
    display: block;
    margin-left: 105px;
}

#pageWrapper #top-schools li.lastSchool {
    border-bottom: none;
}

#pageWrapper #top-schools .badge {
    display: block;
    float: left;
    padding: 73px 10px 0 0;
    width: 95px;
    font-size: 9px;
}

#pageWrapper #top-schools .badge_overall {
    background: url( /res/img/school/topSchools/topperforming.jpg ) no-repeat;
}

#pageWrapper #top-schools li.lowincome{
    padding-bottom:20px;
}

* html #pageWrapper #top-schools li.lowincome, * + html #pageWrapper #top-schools li.lowincome {
    padding-bottom:13px;
}
/* low_income is now called closing the gap */
#pageWrapper #top-schools .badge_lowincome {
    background: url( /res/img/school/topSchools/badge_gap.jpg ) no-repeat;
    padding-top:83px;
}

#pageWrapper #top-schools .badge_improved {
    background: url( /res/img/school/topSchools/mostimproved.jpg ) no-repeat;
}

#pageWrapper #top-schools .badge_publicparents {
    background: url( /res/img/school/topSchools/pchoice_public.jpg ) no-repeat;
}

#pageWrapper #top-schools .badge_privateparents {
    background: url( /res/img/school/topSchools/pchoice_private.jpg ) no-repeat;
}

#pageWrapper #top-schools .whatMakesATopSchool {
    font-size: 13px;
}

#pageWrapper #top-schools .school {
    color: #5BC;
    font-size: 14px;
    font-weight: bold;
}

#pageWrapper #top-schools .more {
    margin-left: 10px;
}

#pageWrapper #top-schools .location {
    font-size: 13px;
    font-style: italic;
    white-space: nowrap;
}

#pageWrapper #top-schools .submitted-by {
    font-size: 11px;
    font-style: italic;
}

#pageWrapper #what-makes-a-school-great {
    margin-bottom: 10px;
}

#pageWrapper #what-makes-a-school-great ul {
    background: url( /res/img/school/topSchools/top5_boyinclass.jpg ) no-repeat;
    padding-left: 150px;
}

#pageWrapper #what-makes-a-school-great li {
    font-size: 13px;
    background: none;
    margin-bottom: 20px;
}

#pageWrapper #what-makes-a-school-great a.content-link {
    font-size: 15px;
    font-weight: bold;
    display: block;
}

#pageWrapper #what-makes-a-school-great a.dialog {
    background: url( /res/img/home/blue_module/bubble.png ) no-repeat;
    padding-left: 30px;
}

#pageWrapper #stand-up-for-your-school #recruiting {
    background: url( /res/img/school/topSchools/standup.jpg ) no-repeat;
    background-position: 0 5px;
    padding-left: 120px;
    font-size: 13px;
}

#pageWrapper #stand-up-for-your-school #stand-up-form {
    margin: 10px 0 10px 0;
}

#pageWrapper #stand-up-for-your-school #stand-up-email {
    padding-left: 3px;
    width: 200px;
}

#pageWrapper #stand-up-for-your-school #stand-up-go {
    margin-left: 5px;
}

#pageWrapper #finding-the-right-school #identify-your-priorities ul {
    background: url( /res/img/school/topSchools/rightschool.jpg ) no-repeat;
    background-position: 0 5px;
    padding-left: 120px;
}

#pageWrapper #finding-the-right-school #identify-your-priorities a {
    font-size: 13px;
}

#pageWrapper #finding-the-right-school #find-and-compare-schools {
    margin: 20px -10px 0 -10px;
    padding: 5px 0 10px 10px;
}

#pageWrapper #finding-the-right-school #find-and-compare-schools {
    background: url( /res/img/library/right-box3-bg.png ) repeat-x;
}

#pageWrapper #finding-the-right-school #find-and-compare-schools h3 {
    color: #777;
}

#pageWrapper #finding-the-right-school #find-and-compare-search input[type="text"] {
    padding-left: 3px;
    width: 150px;
}

#pageWrapper #finding-the-right-school #find-and-compare-search select {
    margin-left: 3px;
    display: inline;
}

#pageWrapper #finding-the-right-school #find-and-compare-schools h2 {
    color: #5BC;
    margin: 7px 0;
}

#pageWrapper #finding-the-right-school #find-and-compare-search {
    margin-bottom: 15px;
}

#pageWrapper #finding-the-right-school #find-and-compare-city {
    display: inline;
}

#pageWrapper #finding-the-right-school #find-and-compare-city-form select {
    margin-right: 2px;
    display: inline;
}

.badgeLink{
    font-family: Arial, Arial, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}

.badgeText{
    font-family: Arial, Arial, sans-serif;
    font-size: 12px;
    font-style:italic;
}

#pageWrapper div#main div#content div#top-schools div h2{
   margin-bottom:0;
}