@charset "UTF-8";
/* CSS Document */

.clear {
	clear:both;
	height:0;
}

#content {
    overflow: hidden;
    width: 100%;
}

#leftColumn{
    width:615px;
    float:left;
    padding: 0 13px;
    zoom: 1.0;
    /*overflow:visible;*/
    /*outline: 1px solid red;*/
    /*border: 1px solid red;*/
}

#rightColumn{
    width:300px;
    float:right;
    zoom: 1.0;
    /*outline: 1px solid red;*/
    /*border: 1px solid red;*/
}

/* ------- */
/* DIVIDER */
/* ------- */

.divider {
    border-bottom: 2px dotted #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider hr {
    display: none;
}

/* ---- */
/* TEXT */
/* ---- */

#main h1 {
    font: 24px/1.2 "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #55bbcc;
    margin-bottom: 8px;
}

#main h1 img {
}

#main h1 .text {
    vertical-align: top;
    padding-top: 10px;
    padding-left: 7px;
}

#main h2 {
    font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #d66671;
    margin-bottom: 4px;
}

#main #content h3 {
    font: bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #333333;
    margin-bottom: 4px;
}

#main p {
    font: 13px/1.3 "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666666;
    margin-bottom: 10px;
}

#main .findings .graphics p {
    font: 12px/1.3 "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#main .findings .graphics p.caption {
    cursor:default;
    padding-left: 10px;
    background: url(/res/img/news/backToSchoolPollResults/arrowbullet.gif) no-repeat 2px 2px;    
}

#main .findings .graphics .gray {
    width: 250px;
    padding: 7px;
    background-color: #f0f0f0;
    padding-bottom: 1px;
}

#main .findings .graphics .gray.last {
    margin-top: 7px;
}

#main .intro {
    margin-top: 20px;
    height: 217px;
}

#main .intro .text p {
    font: 15px/1.5 "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#main .intro img {
    float: left;
}

#main .intro .text {
    width: 308px;
    height: 217px;
    float: right;
}

#main .findings {
    clear: both;
}

.findings .graphics {
    float: left;
}

.findings .text {
    float: right;
}

.findings.pie .graphics {
    width: 153px;
}

.findings.pie .graphics img {
    padding-left: 25px;
}

.findings.pie .graphics .caption {
    margin-top: 2px;
    margin-left: 25px;
    width: 115px;
}

.findings.pie .text {
    width: 460px;
}

.findings.bar .graphics {
    width: 260px;
}

.findings.bar .text {
    width: 330px;
}

#main .findings.bar .graphics p {
    margin-bottom: 7px;
}

#main .findings.bar .graphics p.caption {
    margin-top: 15px;
    margin-bottom: 10px;
}

.sidebar h2 {
    padding-bottom: 10px;
}

.sidebar img {
    float: left;
    padding-right: 10px;
    padding-top: 3px;
}

.sidebar .read {
    text-align: right;
}

/* ---------- */
/* SHARE THIS */
/* ---------- */

.shareThis  {
    font: 11px/1.0 "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 15px 0 18px 0;
}

#content .shareThis a {
    text-decoration: underline;
    color: #666;
    margin: 0 10px 0 0;
}

/* --------------- */
/* QUICK TAKEAWAYS */
/* --------------- */

#main .takeaway {
    margin-top: 15px;
    font-weight: bold;
    background-color: #e8f8fd;
    padding: 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

/* ------------- */
/* RELATED LINKS */
/* ------------- */

#relatedLinks {
    background-color: #e8f8fd;
    padding: 20px 20px 20px 20px;
    margin: 0 0 0 0;
}
#relatedLinks h4 {
    font: 16px/1.6 "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #444;
}
#relatedLinks ul {
    font: 14px/1.6 "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #39a;
    padding-bottom: 0;
}
#relatedLinks li {
    list-style: disc inside;
    color: #eb9339;
}

/* -------------------- */
/* ARTICLE COMMENT FORM */
/* -------------------- */
#cmsArticleForm {
    margin: 20px 0;
}

#cmsArticleForm p{
    font: 13px/1.4 "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #444;
    margin: 0 0 10px 25px;
}

#cmsArticleForm h4{
    font: 16px/1 "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #d66671;
    margin: 0 0 10px 0;
}

#cmsArticleForm textarea {
    width: 428px;
}

#cmsArticleForm input.txt {
    border: 1px solid #737373;
    width: 320px;
}

#cmsArticleForm label {
    font: 13px/2.1 "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #444;
    width: 100px;
}

#cmsArticleForm .captcha {
    margin: 10px 0 10px -4px;
}

#cmsArticleForm input.btn {
    font: bold 14px/1 "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: white;
    height: 20px;
    width: 60px;
    background-color: #5bc;
    border: none;
    -moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}

.float.left {
    float: left;
}

/* ---------------- */
/* ARTICLE COMMENTS */
/* ---------------- */
#cmsArticleComments {
    margin: 20px 0 0 0;
}

#cmsArticleComments h4{
    font: 14px/1 "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #d66671;
    margin: 0 0 5px 0;
}

#cmsArticleComments .comment-text {
    font: 13px/1.4 "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #444;
}

#cmsArticleComments .comment-date {
    font: 11px/1 "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #d66671;
    margin: 16px 0 5px 0;
}

/* ------- */
/* SIDEBAR */
/* ------- */

#main .sidebar {
    margin-bottom: 20px;
    background-color: #e8f8fd;
    border: 2px solid #55bacc;
    padding: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#main #House_Ad_300x137 {
    margin-top: 20px;
}
