/* Left Sidebar */
#librarySidebar {
	width: 164px;
	float: left;
	margin-left: 10px;

}

#librarySidebar.micro {
	margin-left: 0;
    margin-right: 15px;
}

.box {
	margin: 10px 0 0;
	padding-bottom: 5px;
	background-repeat: no-repeat;
	background-position: left bottom;
}

#librarySidebar .box {
	background-image: url(/res/img/library/left-box-bottom.png);
	margin: 12px 0 0;
}

#librarySidebar .inner {
	background-image: url(/res/img/library/left-box-top.png);
	padding-left: 0;
	padding-right: 0;
}

#librarySidebar.white .box {
	background-image: url(/res/img/library/Leftnav_bottom.gif);
    margin:12px 0 0;
}

#librarySidebar.micro .box {
	margin: 0;
}

#librarySidebar.white .inner {
	background-image: url(/res/img/library/Leftnav_browsearticles.gif);
    height:100%;
}


#librarySidebar .box h3 {
	padding: 2px 10px 5px;
	background-color: #6cd;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

#librarySidebar.white .box h3 {
	background-color: #42BCCE;
}

#librarySidebar ul {
	margin: 0 10px;
    padding-left:0;
}

#browse-tips li {
	margin: 0 0 10px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 13px;
	font-weight: bold;
	background: none;
	padding: 0 0 10px;
}


#browse-tips .last {
	padding-bottom: 0;
	border: none;
    margin:0;
}

#browse-tips li a {
	background: url(/res/img/library/arrow-down.png) no-repeat left 5px;
	padding: 0 0 0 15px;
	color: #666;
}

#browse-tips li a.closed {
	background: url(/res/img/content/article/greenarrow.gif) no-repeat 3px 3px;
}

#browse-tips li a:hover {
	text-decoration: none;
}

#browse-tips li ul {
	margin: 5px 0 0 15px;
}

#browse-tips li li {
    background: url(/res/img/library/bullet-hyphen.png) no-repeat left 6px;
	padding: 0 0 0 10px;
    border-style: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-size: 12px;
	font-weight: normal;
	margin-bottom: 5px;
}

.ie6 #browse-tips li li {
	background: url(/res/img/library/bullet-hyphen.png) no-repeat left 11px;
    margin-bottom: 0;
}

#browse-tips li li.last {
	margin-bottom: 0;
}

#browse-tips li li a {
	background: none;
	padding: 0;
	color: #0f9aac;
}

#browse-tips li li a:hover {
	text-decoration: underline;
}

div.inner-links {
    padding:10px 0 10px 0;
    font-family:Arial,Arial,sans-serif;
}

.white div.inner-links {
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
}

.white .inner {
    padding-bottom:0;
}

.box .inner {
	padding: 5px 15px 1px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: left top;
}

#browse-tips .toggle {
     overflow:hidden;
 }

.box .innerRight {
	padding: 5px 0 1px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: left top;
}
