table#header {
    width: 100%;
    margin: 0px 0px 0px 0px;
}

table#header td.left {
    width: 180px;
}

div.verticalcontainer {
    position: relative;
    height: 270px;
}

table#header td.stretchycolumn {
    padding: 0px 6px 0px 6px;
    height: 250px;
}

td.label {
    color: #666;
    vertical-align: middle;
}

.checkbox {
    padding: 0;
    margin: 0;
    font-size: 90%;
}

.main, .columns {
    width: 100%;
}

td.leftColumn {
    font-size: large;
    padding-right: 5px;
    width: 160px;
    vertical-align: top;
}

td.middleColumn {
    border-left: 1px solid #bbb;
    padding-left: 10px;
}

td.rightColumn {
    width: 160px;
    vertical-align: top;
}

td #searchlinks a {
    font-size: small;
    padding-left: 7px;
    padding-right: 7px;
}

th.result_title {
    padding: 0px 20px 0px 0px;
    border-bottom: 1px solid #999;
    margin-right: 10px;
    font-size: small;
}

td.results_pagenav {
    text-align: right;
    font-weight: normal;
    font-size: 80%;
    white-space: nowrap;
}

.active {
    color: #000;
    padding-right: 10px
}

tr.last_row td {
    padding: 10px 0px 0px 0px;
    border-bottom: 0px;
}

tr.control_row td {
    padding: 0px 0px 0px 0px;
    border-bottom: 1px
}

.highlight {
    font-weight: 800;
}

#suggestion {
    font-style: italic;
    font-weight: bold;
}

.searchbyaddress {
    padding-left: 20mm;
    vertical-align: bottom;
}

.contentGS h1 {
    color: #eb7a31;
    font-size: large;
    font-weight: 700;
    padding-left: 2px;
}

.mainresultsheader {
    padding-bottom: 10px;
}

.main h2.browseheader {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: small;
}

.headerquery {
    padding-bottom: 5px;
    font-weight: 700;
    color: #FE894C;
}

pre.explanation {
    font-size: large;
}

.refinementlist li {
    padding-bottom: 6px;
    padding-right: 5px;
}

#searchFooter {
    margin-top: 3ex;
    padding: 10px 10px 20px 18px;
    background-color: #eee;
    border: 1px solid #bbb;
    border-width: 1px 0 1px 0;
}

#searchFooter h4,
    #searchFooter p {
    font-size: medium;
    padding: 5px 0 5px 0;
}

#searchFooter ul {
    padding-top: 5px;
    padding-bottom: 15px;
}

#searchFooter li {
    padding-left: 20px;
    padding-bottom: 3px;
    list-style: disc;
    list-style-type: disc;
    list-style-position: inside;

}

/*
   List item
*/
table#mainresults tr td {
    margin: 0 0 15px 0;
    padding: 0 40px 10px 0;
    color: #333;
}

table#mainresults h3 {
    font-size: medium;
}

table#mainresults div.about,
    table#mainresults address,
    table#mainresults div.phone,
    table#mainresults p {
    font-size: small;
    padding-left: 18px;
}

table#mainresults span.st,
    table#mainresults span.gl {
    font-weight: bold;
    text-transform: capitalize;
}

tr td.checkbox {
    vertical-align: top;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 7px;
}

/* used on "Show all" and "View district profile" links on schoolresults */
.minilink {
/*font-size:xx-small;*/
    font-size: 11px;
    padding-left: 4px;
}

.cobranded #searchfooter {
    width: 400px !important;
}

div#resultsheader {
    font-size: medium;
    padding-bottom: 4px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 5px;
}

/*
City and district rollups
*/
.cityDistrictRollup {
    padding: 5px;
    font-size: medium;
    margin-top: 5px;

}

.cityDistrictRollup  h3 {
    background-image: url( ../../img/orange_arrow_right_trans.gif );
    background-repeat: no-repeat;
    background-position: .1em .4em;
    padding: 5px 0 0 18px;
    margin-top: 5px;
    display: inline;
}

.cityDistrictRollup ul {
    margin: 0 0 5px 18px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
}

.cityDistrictRollup ul li {
    padding-right: 1ex;
    border-right: 1px solid #555;
    margin-right: 1ex;
    display: inline;
}

.cityDistrictRollup ul li.last {
    border-right-width: 0;
}

