table#header {width:100%;margin: 0px 0px 0px 0px;}
table#header td.left {width:180px;}
div.verticalcontainer {position:relative;height:270px;}
table#header td.stretchycolumn {padding: 0px 6px 0px 6px;height:250px;}
td.label {color:#666;vertical-align:middle;}
.checkbox {padding:0;margin:0; font-size:90%;}

.main, .columns {width:100%;}

/*
Note, main layout table is identified by .leftcol, .col2, .rightcolumn
TODO: name consistently.
*/
.leftcol,
.rightcolumn,
#leftsearchcolumn,
#leftsearchcolumn .main
{
    width: 160px;
}
.rightcolumn {
    vertical-align: top;
}

td #searchlinks a{
    font-size:small;
    padding-left:7px;
    padding-right:7px;
}

th.result_title {
    padding:0px 20px 0px 0px;
    border-bottom:1px solid #999;
    margin-right:10px;
    font-size:small;
}

#resultsheader { font-size:large; }
td.headline {font-size:small;}

table.school_results_only th {padding:4px 0px 2px 5px;border-bottom:1px solid #aaa;}
table.school_results_only td {padding:4px 0px 6px 5px;border-bottom:1px solid #FFF;}
td.results_pagenav {text-align:right; font-weight:bold;white-space:nowrap}
.active {color:#000;padding-right:10px}
tr.last_row td {padding:10px 0px 0px 0px;border-bottom:0px;}
tr.control_row td {padding:0px 0px 0px 0px;border-bottom:1px}

.highlight {font-weight: 800;}
#suggestion {font-style: italic; font-weight: bold;}
.searchbyaddress {padding-left:20mm; vertical-align:bottom;}
#resultsheadline {
    font-size:small;
    padding-left:2px;
}
#schoolfilters {padding-bottom:13px}


.context {display:block;}

.mainresultsheader {
    padding-bottom:10px;
}

.main h2.browseheader {
    padding-bottom:5px;
    font-weight:700;
    font-size:small;
}

.headerquery {
    padding-bottom:5px;
    font-weight:700;
    color:#FE894C;
}

pre.explanation {
    font-size:large;
}


.citydistrict {
    padding:5px;
    font-size:medium;
}
.citydistrict .citydistresult {
    padding-left:7px;
    padding-right:7px;
}

/* b version */
.citydistrictb {
    background-color:#E5E5E5;
    padding:10px;
    font-size:small;
}

.refinementlist li{
    padding-bottom:6px;
    padding-right:5px;
    white-space:nowrap;
}

.filterlist li{
    padding-bottom:3px;
}

#filters {
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
    background-color:#DDD;
    font-size: small;
}

.citydistlinks {
    padding-top:5px;
    padding-bottom:6px;
}

#noresults ul {
    padding-top:5px;
    padding-bottom:15px;
}
#noresults li {
    padding-left:20px;
    padding-bottom:3px;
    list-style:disc;
    list-style-type:disc;
    list-style-position:inside;

}

#searchfooter {
    padding-top:20px;
    padding-bottom:20px;
}

tr.result_row:hover {background: #EEE;}

tr.result_row td {
    padding:7px 0 8px 0;
    font-size: small;
}

tr.contextrow td {
    padding-left:25px;
    padding-right:40px;
    padding-bottom:10px;
    font-size:small;
}


tr td.checkbox {
    vertical-align:top;
    padding-top:15px;
    padding-left:4px;
    padding-right:7px;
}

#searchagain { font-weight:bold;}
#rollupfilters { font-weight:bold;}

/* used on "Show all" and "View district profile" links on schoolresults */
.minilink {font-size:xx-small;}

/*IE hack to make the font size similar to Firefox */
/* html #searchpagetable tr td {
    font-size:80%;
}
* html #searchpagetable tr td #resultsheader td {
    font-size:100%;
}*/

/* Debugging code */
/*
.col2 {background-color: red;border:3px solid red;}
.leftcol {background-color: pink;border:3px solid pink;}
#leftsearchcolumn {background-color: purple;border:3px solid purple;}
*/