
table#header {width:100%;margin: 0px 0px 0px 0px;}
table#header td.left {width:180px;}
div.verticalcontainer {position:relative;height:270px;}
table#header td.stretchycolumn {padding: 0px 6px 0px 6px;height:250px;}
td.label {width:70px;color:#666;vertical-align:top;}
.checkbox {padding:0;margin:0; font-size:90%;}

.main ul {list-style-type: none; padding-left:0; padding-bottom:0px; margin:0}
.main li {padding-bottom: 10px}
.main {margin:0px 0px 0px 0px;width:100%;}
.main .TL, .main .TR, .main .BL, .main .BR { width:10px; height:10px; background:no-repeat; }
.main td.TL {background:  url(../../img/search/border_shade3_TL.gif) left top; }
.main td.T {background:  url(../../img/search/border_shade3_T.gif) top repeat-x;}
.main td.TR {background:  url(../../img/search/border_shade3_TR.gif) top right;}
.main td.L {background:  url(../../img/search/border_shade3_L.gif) left repeat-y;}
.main td.C {background:  url(../../img/search/border_shade3_BG.gif); padding: 0px 0px 0px 0px;vertical-align:top;}
.main td.R {background:  url(../../img/search/border_shade3_R.gif) right repeat-y;}
.main td.BL {background:  url(../../img/search/border_shade3_BL.gif) left bottom;}
.main td.B {background:  url(../../img/search/border_shade3_B.gif) bottom repeat-x;}
.main td.BR {background:  url(../../img/search/border_shade3_BR.gif) bottom right;}
.main table.columns {width:100%;}
.main .columns td.col1 {width:38%; vertical-align:top}
.main .columns td.col2 {width:25%; vertical-align:top}
.main .columns td.col3 {width:37%; vertical-align:top}

#mixedschoolscolumn {width:60%; vertical-align:top}
#mixedarticlescolumn {width:40%; vertical-align:top}

.result_title {padding:0px 20px 0px 0px;border-bottom:1px solid #999;margin-right:10px;}
table.school_results tr td {padding:3px 20px 2px 5px;}
table.city_results td {padding:3px 20px 5px 5px;}
table.district_results td {padding:3px 20px 5px 5px;}
table.article_results td {padding:3px 20px 10px 5px;}
table.glossary_results td {padding:3px 20px 2px 5px;}
.school_results a, .city_results a, .district_results a, .article_results a, .glossary_results a {font-weight:bold;}
.city_results a, .district_results a {white-space:nowrap;}
.viewall, li.browseall{margin:0;padding:0;list-style: none;}
.viewall, li.browseall{padding-left: 10px;background-image: url(../../img/search/arrow.gif);background-repeat: no-repeat;background-position: 0 .5em;}
.viewall a, .browseall a {font-weight:normal;font-size:90%;}
.main li.citydist {padding-bottom: 5px}

.errormessage {font-weight:bold;color:#C00;padding-left:20px;}
.errormessage b {color:#000;}
table.school_results_only th, table.article_results_only th {padding:4px 0px 2px 5px;border-bottom:1px solid #aaa;}
table.school_results_only td, table.article_results_only td {padding:4px 0px 6px 5px;border-bottom:1px solid #FFF;}
table.article_results_only td.icons {color:#F60;font-weight:bold;padding:0px 20px 0px 20px;}
tr.result_row:hover {background: #EEE;}
td.results_pagenav {text-align:right; font-weight:bold;white-space:nowrap}
.active {color:#000;padding-right:10px}
a.smaller {font-size:90%;}
tr.last_row td {padding:10px 0px 0px 0px;border-bottom:0px;}
tr.control_row td {padding:0px 0px 0px 0px;border-bottom:1px}

.highlight {font-weight: 800;}
#suggestion {font-style: italic; font-weight: bold;}
.searchbyaddress {padding-left:20mm; vertical-align:bottom;}
.resultheadline {font-size:140%}
#schoolfilters {padding-bottom:13px}


.result_row td {padding-bottom:15px}
.context {display:block;}
.mainresultsheader {
    padding-bottom:10px;
    border-bottom: solid gray;
    border-bottom-width:1px;
}

#browseheader {
    font-weight:700;
}

.rightcolumn {
    width:165px;
    vertical-align:top;
}