.pageTitle h2 {
    font-size: 19px;
    color: #55BBCC;
    margin-top: 13px;
}

.description {
    margin-top: 11px;
    font-size: 12px;
    line-height: 16px;
}

.content {
    width: 952px;
}

.content ul {
    /* to handle IE6 bug: http://www.webmasterworld.com/forum83/9077.htm */
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
}

.content li {
    background: url(/res/img/content/article/greenarrow.gif) no-repeat left 5px;
    padding-left: 10px;
	margin-bottom: 2px;
    line-height: 20px;
    font-size: 12px;
}

.contact h3 {
    font-size: 17px;
    color: #55BBCC;
    margin-bottom: 11px;
}

.contact {
    margin-top: 40px;
    font-size: 12px;
    line-height: 16px;
}
