body.hover {
    background-color: #FFF;
}

#popupMask {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:200;
	background-color:#00C;
	-moz-opacity: 0.05;
	opacity:.10;
	filter: alpha(opacity=10);
}
#popupContainer {
	position: absolute;
	z-index: 201;
	top: 0px;
	left: 0px;
	display:none;
	padding: 0px;
    border: 1px #CCC solid; /* only for IE6 */
}

/* hide IE6-specific border */
[id=popupContainer] {
    border:0 !important;
}

/* drop shadows from http://www.alistapart.com/articles/cssdropshadows */
/* hide drop shadow from IE6 */
[id=popupContainer] {
  float:left;
  background: url(../../img/submodal/shadowAlpha.png) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
}

#popupInner {
    background-color: #FFF;    
}

[id=popupInner] {
  display: block;
  position: relative;
  background-color: #fff;
  margin: -10px 6px 6px -6px;
}

/* end drop shadows */

#popupFrame {
	margin: 0px;
	width: 80%;
	height: 80%;
	position: relative;
	z-index: 202;
}

/* hide iframe border from IE6 */
[name=popupFrame] {
    border-right: 4px solid #DEE !important;
    border-bottom: 4px solid #DEE !important;
    border-left: 4px solid #DEE !important;
}

#popupTitleBar {
	background-color: #8BCBCB;
	color: #FFFFFF;
	font-weight: bold;
	height: 26px;
	position: relative;
	z-index: 203;
}

#popupTitle {
	float:left;
    height:0px;
}

#popupControls {
	float: right;
	cursor: pointer;
    margin: 5px 8px 0 0;
}

#popupCloseBtn {
    position: absolute;
    bottom:0;
    padding: 0 15px 5px 15px;
}

#popupCloseBtn .left{
    font-size:xx-small;
    font-weight:bold;
    color:#666666;
 }

#popupCloseBtn .leftlogo{
    float:left;
    height:30px;
    width:160px;
}

#popupCloseBtn .right{
    float:right;
}

#popupCloseBtn .right a span{
    display: block;
    height: 20px;
    width: 116px;
    text-indent: -9999px;
}

#stateWidget #popupInner {
    padding:5px 10px 10px 10px;
    background-color:#aaccdd;
    color:#aaccdd;
    border:none;
}

#stateWidget #popupInner #popupTitleBar {
    font-family:"Trebuchet MS", sans-serif;
    background-color: #aaccdd;
    color: #fff;
    font-size: small;
    height: 1px;
    position: relative;
    z-index: 203;
    border:none;
    padding: 0;
    padding-bottom:5px;
}

#stateWidget #popupControls a span {
	display: block;
	height: 16px;
	width: 16px;
	text-indent: -9999px;
	background: url('../../img/submodal/closeblue.gif') no-repeat;
}