/*global styles*/
ul {margin:0;list-style-type:none;padding:0}
#marginGS {margin:0; padding:0; width:315px;height:500px;}
#marginGS a:link, #marginGS a:hover, #marginGS a:visited {text-decoration:underline;}
#contentGS {margin:0;padding:0;}
img {border:none;}

/*add comments page*/
#addCommentsPanel {padding-top:4px;}
#contentGS #rateReview {border:none;padding:0 0 0 14px;margin:0 0 0 0;}
#addCommentsPanel #rateReview #ratingTitle {margin:8px 0 10px 0;}
input#permission, input#wantMssNL {width:15px; height:15px;margin:0;padding:0;}
#frmPRModule {margin-top:0;}

/*update ratings page*/
#updateRatings {padding-left:14px;}
#updateRatings #thankYou {color:#666666;font-size:13px;font-weight:normal;_margin-bottom:10px;}
#updateRatings #thankYou .strong {font-weight:bold;}
#updateRatings #rateHeader {color:#55BBCC;font-size:17px;line-height:18px;font-weight:normal;_margin-top:16px;}
#updateRatings p,td{font-size:14px;}
#updateRatings table {padding:0 0 5px 0; margin:0;}
#updateRatings td {padding:0 0 6px 0;}
#updateRatings #subButtons {margin:30px 0 0 55px;}
#updateRatings #submit {margin:0 0 0 30px;position:absolute;}
#updateRatings a {font-size:13px;}
#updateRatings a.learnMore {font-size:12px;position:relative;top:4px;}

/*thank you page*/
#thankYouContent {position:relative;}
#thankYouContent div#thankYou {position: relative;top:10px;left:-10px;width:340px;_width:344px;background-color:#DCEEEE;}
#thankYouContent div#thankYou img {position: relative;}
#thankYouContent p#shareMore {line-height: 24px;padding-top: 20px;padding-bottom:5px;}
#thankYouContent p#shareMore a {color:#CC5569;font-size:19px;text-decoration:none}
#thankYouContent div.parentSurvey, #thankYouContent p {margin-left: 14px;}