/*------------------------------------------------------
Parent Review Page
IE 7 styles
-------------------------------------------------------*/

/* Rate & Review
----------------------------------*/
#parentReview #rateReview {
    float: left;
    _margin-top: -2px; /* IE 6 hack */
    border-top: 0;
}

#parentReview #rateReview_module {
    margin: 0;
    padding: 0;
    width: 510px;
    margin: 10px 0 0 14px;
    border: 0;
}


#parentReview #rateReviewH2 {
    width: 518px;
    height: 17px;
    color: #fff;
    padding: 3px 0 0 16px;
    background: #6cc;
    text-indent: 0;
    font-weight: bold;
    line-height: 14px;
    _float: none;
}

#parentReview #rateReview h2 {
    width: 514px;
    height: 19px;
    color: #fff;
    padding: 3px 0 0 16px;
    background: #6cc;
    text-indent: 0;
    line-height: 14px;
}

#parentReview #rateReview_module #ratingTitle {
    width: 155px;
    float: left;
}

#parentReview #rateReview_module .starbar {
    margin: 5px 0 0 154px;
    width: 125px;
}

#parentReview #rateReview_module #reviewText {
	font: 12px/15px Trebuchet MS;
	color: #666;
	padding: 4px 0 5px 7px;
	height: 96px;
	width: 256px;
	margin: 0 16px 0 0;
	_margin: 0; /* IE 6 hack */
	float: left;
}

#parentReview #rateReview_module form {
	margin: 10px 0 0 0;
	width: 505px;
}

#parentReview #rateReview_module #acceptTerms {
	margin: -5px 13px 0 0;
	_margin: 0 0 0 0; /* IE 6 hack */
	width: 200px;
	_width: 230px; /* IE 6 hack */
	float: right;
	padding-right: 10px;
	_padding-right: 0px; /* IE 6 hack */
}

#parentReview #rateReview_module #acceptUpdates {
	margin: 8px 11px 0 0;
	_margin: 8px 0 0 0; /* IE 6 hack */
	_width: 230px; /* IE 6 hack */
	float: right;
}

#parentReview #rateReview_module label {
	font-size: 12px;
	line-height: 15px;
	color: #666;
	margin: 0 0 0 6px;
}

#parentReview #rateReview_module .emailAddress {
	margin: 6px 0 0 2px;
	font: 12px/15px Trebuchet MS;
	color: #666;
	padding: 1px;
	padding-left: 4px;
	width: 142px;
	height: 15px;
	float: left;
}

#parentReview #rateReview_module #submitReview {
	width: 62px;
	height: 19px;
	float: right;
	margin: 7px 0 0 0;
	text-decoration: none;
}

#parentReview #rateReview_module .privacyPolicy {
	font-size: 10px;
	margin: -14px 100px 0 0;
	float: right;
}
