/*------------------------------------------------------

GreatSchools

Parent Review Page
IE 7 styles

-------------------------------------------------------*/

/* Show Parent Ratings
----------------------------------*/

/* rating_parent */

#parentReview #rating_parent {
    width: 176px;
    float: left;
    background: url(../../img/pagename/bg_rating_parent.gif) top no-repeat;
    /*border: 1px solid #ddd;*/
}

#rating_parent .parentTitle {
    margin: 20px 0 0 32px;
    float: left;
}

#rating_parent .stars {
    margin: 9px 0 0 28px;    float: left;
}

#rating_parent .rateIt {
    margin: 17px 0 0 5px;}

#showParentRatings .ratingsNumber {
    font-size: 11px;
    font-style: italic;
    text-align: center;
    margin: 30px 0 20px 0;
}

#showParentRatings ul {
    width: 307px;
    margin: 13px 15px 0 0;
    _margin: 11px 7px 0 0; /* IE 6 hack */
    float: right;
}


/* Rate & Review
----------------------------------*/

#parentReview #rateReview {
    float: left;
    height: 184px;
    width: 530px;
    margin-top: 0;
    _margin-top: -2px; /* IE 6 hack */
    border-bottom: 2px solid #dee;
    border-left: 2px solid #dee;
    border-right: 2px solid #dee;
    border-top: 0;
}

#parentReview #rateReview_module {
    margin: 0;
    padding: 0;
    width: 510px;
    margin: 10px 0 0 14px;
    border: 0;
}


#parentReview #rateReviewH2 {
    width: 518px;
    height: 17px;
    color: #fff;
    padding: 3px 0 0 16px;
    background: #6cc;
    text-indent: 0;
    font-weight: bold;
    line-height: 14px;
    _float: none;
}

#parentReview #rateReview h2 {
    width: 514x;
    height: 19px;
    color: #fff;
    padding: 3px 0 0 16px;
    background: #6cc;
    text-indent: 0;
    line-height: 14px;
}

#parentReview #rateReview_module #ratingTitle {
    width: 155px;
    float: left;
}

#parentReview #rateReview_module .starbar {
    margin: 5px 0 0 154px;
    width: 125px;
}

#parentReview #rateReview_module #reviewText {
	font: 12px/15px Trebuchet MS;
	color: #666;
	padding: 4px 0 5px 7px;
	height: 96px;
	width: 256px;
	margin: 0 16px 0 0;
	_margin: 0; /* IE 6 hack */
	float: left;
}

#parentReview #rateReview_module form {
	margin: 10px 0 0 0;
	width: 505px;
}

#parentReview #rateReview_module #acceptTerms {
	margin: -5px 13px 0 0;
	_margin: 0 0 0 0; /* IE 6 hack */
	width: 200px;
	_width: 230px; /* IE 6 hack */
	float: right;
	padding-right: 10px;
	_padding-right: 0px; /* IE 6 hack */
}

#parentReview #rateReview_module #acceptUpdates {
	margin: 8px 11px 0 0;
	_margin: 8px 0 0 0; /* IE 6 hack */
	_width: 230px; /* IE 6 hack */
	float: right;
}

#parentReview #rateReview_module label {
	font-size: 12px;
	line-height: 15px;
	color: #666;
	margin: 0 0 0 6px;
}

#parentReview #rateReview_module .emailAddress {
	margin: 6px 0 0 2px;
	font: 12px/15px Trebuchet MS;
	color: #666;
	padding: 1px;
	padding-left: 4px;
	width: 142px;
	height: 15px;
	float: left;
}

#parentReview #rateReview_module #submitReview {
	width: 62px;
	height: 19px;
	float: right;
	margin: 7px 0 0 0;
	text-decoration: none;
}

#parentReview #rateReview_module .privacyPolicy {
	font-size: 10px;
	margin: -14px 100px 0 0;
	float: right;
}


/* Parent Reviews
----------------------------------*/

#showParentReviews .bottomNav {
	margin-top: 20px;
	_margin-bottom: 28px;
	border: 1px solid white; /* very necessary for some reason */
}

#showParentReviews .review {
    float: left;
    width: 490px;
    width: 500px;
    margin: 0 0 23px 16px;
    _margin: 0 0 23px 10px;
}

#showParentReviews .review .author {
    margin: 12px 0 0 14px;
    _margin: 12px 0 0 14px; /* IE 6 hack */
    font-size: 11px;
    font-style: italic;
    float: left;
    width: 375px;
}

#showParentReviews .review p {
    float: left;
    _float: none; /* IE 6 hack */
    margin-top: 2px;
    font-size: 12px;
    line-height: 18px;
}

#reviewPromo {
    margin: -7px 0 0 25px; /* IE 6 hack */
}