#mslFlowDialog {
    position: relative;
    height: 240px;
    font-family: Arial, Arial, sans-serif;
}

#mslFlowDialogBody {
    padding: 10px 20px 0 30px;
    background: url( /res/img/school/parentReviews/reviewconfirm_middle.gif ) repeat-y;
}

div#closeWindowDiv {
    margin-top: 20px;
}

#closeWindowDiv .closeWindowClass {
    padding-left: 150px;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #666666;
}

#okBtn {
    margin-top: 10px;
}

#mslFlowDialogTopBar #thankyouHeader {
    background-color: #42BCCE;
    padding-bottom: 20px;
    padding-left: 18px;
    font-size: 21px;
    color: white;

}

#mslFlowDialogBottomBar div {
    background-color: #42BCCE;
    padding-top: 36px;
}
