/* School review redesign */

#rateReview, #rateReview ul, #rateReview ul li,
#rateReview input, #rateReview form,
#rateReview textarea, #rateReview select{
    font-size:12px;
    font-family: Arial, sans-serif;
    color:#666;
}

#rateReviewH2 {
    background: url(/res/img/school/review/header_rateReview.gif) no-repeat 19px 6px #c5c5c5;
	height: 25px;
	text-indent: -9999px;
    clear:both;
}

.star-rating{
    position:absolute;
}

#rateReview {
    font-family:Arial,sans-serif;
    border:1px solid #DDDDDD;
    padding: 0 0 10px 20px;
    position:relative;
    margin:10px 0 18px 0;
    clear:both;
}

.ie6 #rateReview {
    padding: 0 0 10px 0;    
}

#rateReview #ratingTitle {
    font-size:19px;
    color: #55bbcc;
    font-weight:bold;
    margin:8px 0 6px 0;
    float: none;        
}

#rateReview textarea{
    height:60px;
    line-height:15px;
    padding:4px 0 5px 7px;
    width:266px;
    margin-top:10px;
}

#rateReview, #userInput {
    position: relative;
}

#nonCommentInput {
    margin-top:10px;
    clear: left;
}

ul#nonCommentInput ul.subStarRatings {
    margin-top: 5px;
    margin-bottom: 10px;
}

#rateReview ul#nonCommentInput li {
    margin-bottom:5px;
}

#rateReview ul li select{
    vertical-align:middle;
    margin:0 3px 0 5px;
}

#schoolOverview #rateReview .commentsPopup {
    top: 144px;
    left: 200px;
}

#rateReview .commentsPopup {
    position: absolute;
    background-color: #fff;
    border: 1px solid #67cccc;
    padding: 5px;
    display: none;
    z-index: 2;
    width: 150px;
}

#rateReview .commentsPopupHeader {
    color: #5BC;
    font-weight: bold;
}

ul#nonCommentInput .catRatingLabel {
    position: absolute;
    left: 0;
}

ul#nonCommentInput .catRating {
    margin-left: 130px;
    /*width: 80px;*/
}

#schoolOverview #rateReview .linkGuidelines {
    position: absolute;
    left: 215px;
    top: 10px;
}

#rateReview .moreAboutRatings {
    position: absolute;
    left: 130px;
    bottom: 6px;
    font-size: 11px;
}

#schoolOverview #rateReview .go {
    display: none;
}

#rateReview .errors {
    margin: 5px 0;
}

#rateReview .ratingCategoryPrompt {
    color: #3399A9;
    font-weight: bold;
}