/*------------------------------------------------------

GreatSchools

Parent Review Page

-------------------------------------------------------*/

#parentReview {
	font-family: Arial, sans-serif;
	color: #666;
}

#parentReview a {
    text-decoration: underline;
}

/*input, form, textarea, select{
    font-size:12px;
    font-family: Arial, sans-serif;
    color:#666;
}*/






/* columns
----------------------------------*/

#parentReview #col_left {
    width: 532px;
    padding-right:19px;
	float: left;
    border-right: 1px solid #dedede;
}

#parentReview #col_right {
	width: 300px;
	float: right;
}


/* Show Parent Ratings
----------------------------------*/

#showParentRatings {
    margin: 0 0 20px 0;
    float: left;
    border-bottom: 1px solid #ddd;
    color: #777;
}

/* rating_parent */
#rating_parent {
    width: 176px;
    float: left;
    background: url(/res/img/school/parentReviews/bg_rating_parent.gif) top no-repeat;
}

#rating_parent .parentTitle {
    margin: 22px 0 0 34px;
}

#rating_parent .stars {
    margin: 11px 0 0 37px;
}

#rating_parent .rateIt {
    margin: 17px 0 0 52px;
}

#showParentRatings .ratingsNumber {
    font-size: 11px;
    font-style: italic;
    text-align: center;
    margin: 30px 0 20px 0; /* bottom-margin sets white space for module */
}

#showParentRatings ul {
    width: 307px;
    margin: 13px 15px 0 0;
    _margin: 11px 7px 0 0; /* IE 6 hack */
    float: right;
}

#showParentRatings ul li {
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 6px;
    float: left;
    width: 307px;
}

#showParentRatings .sm_stars {
	float: right;
	width: 70px;
	height: 14px;
}

body.ie6 #showParentRatings .sm_stars, body.ie7 #showParentRatings .sm_stars {
    margin-top: -17px;
}

#showParentRatings .categoriesMore {
    float: right;
    margin-top: 1.3em;
    width: 322px;
    font-size: 12px;
}

#noRatingsSpacer {
    padding-top: 15px;
}


/* Rate & Review
----------------------------------*/

#rateReview,
    #rateReview ul,
    #rateReview ul li {
    font-size:12px;
    font-family: Arial, sans-serif;;
    color:#666;
}

#rateReview a {
    text-decoration: none;
}
#parentReview #rateReview {
    position: relative;
    clear:both;
    width: 514px;
    padding: 12px 0 12px 16px;
    border: 2px solid #ddeeee;
    border-top: medium none;
    margin: 0 0 18px 0;
}

#parentReview #rateReviewH2 {
    background:#66CCCC none repeat scroll 0%;
    color:#FFFFFF;
    font: 700 14px/1 Arial, sans-serif; 
    height:17px;
    line-height:14px;
    text-indent:0;
    font-size:14px;
    width:517px;
    padding: 3px 2px 2px 15px;
    margin:0;
    clear:both;
}

#parentReview #rateReview #ratingTitle {
    position:absolute;
    line-height:normal;
    font-weight:normal;
    margin:0;
    color: #333;
}

/*.large-star{
    left: 148px;
}*/

#parentReview #userInput {
    margin-top:10px;
}

#parentReview #rateReview textarea{
    width:260px;
    height:105px;
    padding:4px 0 5px 7px;
    margin:0;
}

#rateReview .greatSchoolNotes {
    position: absolute;
    left: 283px;
    top: 0;
    width: 205px;
    height: 104px;
    border: 1px solid #67CCCC;
    padding: 10px 3px 0 7px;
}

#rateReview .greatSchoolNotes div {
    font-weight: bold;
    margin-bottom: 5px;
}

#rateReview .greatSchoolNotes ul li {
    list-style-type: disc;
    list-style-position: inside;
    color: #CF5E6E;
    margin-bottom: 2px;
}

#rateReview .greatSchoolNotes ul li span {
    color: #666;
}

#parentReview ul#nonCommentInput {
    list-style-type:none;
    width:270px;
}

#parentReview .ratingCategoryPrompt {
    color: #3399A9;
    font-weight: bold;
}

#parentReview #rateReview select{
    font-size:11px;
}

#parentReview #rateReview #espLink {
    background: #dee url('/res/img/school/parentReviews/bluePencil.png') 5px 50% no-repeat;
    padding:9px 5px 9px 29px;
    margin: 15px 15px 5px 0;
}

#parentReview #rateReview #espLink a {
    text-decoration: none;
}

#parentReview #rateReview .commentsPopup {
    left: 236px;
    top: 163px;
}

#parentReview #rateReview .linkGuidelines {
    position: absolute;
    left: 304px;
    top: 170px;
}

/* Parent Reviews
----------------------------------*/

#showParentReviews {
    float: left;
    width: 534px;    
}

#showParentReviews h2 {
    width: 518px;
    height: 17px;
    color: #fff;
    padding: 3px 0 0 16px;
    margin-bottom: 16px;
    background: #6cc;
    line-height: 14px;
    font: 700 13px Arial, sans-serif;;
}

#showParentReviews .reviewTotal {
	font-style: italic;
}

#showParentReviews .sortReviews {
    width: 164px;
    font-size: 11px;
    float: left;
    color: #666;
}

#showParentReviews .pageControls {
    float: right;
    width: 298px;
    margin: 0 0 25px 0;
    _margin: 0 0 25px 0; /* IE 6 hack */
}

#showParentReviews .bottom {
	margin-top: 20px;
	_margin-bottom: 28px;
	_border: 1px solid white; /* IE 6 hack, very necessary for some reason */
}

.nextPage {
    width: 105px;
    height: 19px;
    float: right;
    _margin-top: 2px; /* IE 6 hack */
}

.previousPage {
    width: 107px;
    height: 19px;
    margin-right: 5px;
    float: right;
    _margin-top: 2px; /* IE 6 hack */
}

#showParentReviews .pageNumber {
    font-size: 12px;
    float: left;
    margin-top: 3px;
}

#showParentReviews .review {
    float: left;
    width: 490px;
    _width: 500px; /* IE 6 hack */
    margin: 0 0 23px 16px;
    _margin: 0 0 23px 10px;
    position: relative;
}

#showParentReviews .stars {
    float: left;
    margin-right:14px;
    _margin-right:14px; /* IE 6 hack */
}

#showParentReviews .review .author {
    font-size: 11px;
    width:375px;
    _float: left; /* IE 6 hack */
}

#showParentReviews .review .author .principalName {
    font-weight: 700;
}
#showParentReviews .review .reportReview, #showParentReviews .review .reported {
    position: absolute;
    right: -15px;
    top: 0;
}

#showParentReviews .review .reported {
    color:#DD6611;
    font-weight: bold;
}

#showParentReviews .principalReview .reportReview, #showParentReviews .principalReview .reported {
    top: 5px;
    right: 12px;
}
#showParentReviews .review .reportReview a {
    text-decoration: none;
    color: #0066B8;
    font-style: normal;
}
#showParentReviews .review .reportReview a:hover {
    text-decoration: underline;
}

#showParentReviews .review .reportReview img{
    margin-right: 5px;
    position: relative;
    top: 5px;
}

#showParentReviews .review .reported {
    width: auto;
}

.principal {
    font-weight: bold;
    font-size: 12px;
}

#showParentReviews .review p {
    float: left;
    _float: none; /* IE 6 hack */
    margin-top: 2px;
    font-size: 12px;
    line-height: 18px;
    width: 490px;
    _width: 500px; /* IE 6 hack */
}

#showParentReviews .review a {
    font-style: italic;
}

#showParentReviews .review .respond {
    margin-top: -2px;
    clear:both;
}

/* Principal Review
-----------------------------------*/
#showParentReviews .principalReview {
    background-color: #dee;
    width: 502px;
    margin: 0 0 23px 0;
    padding: 15px;
}

#showParentReviews .principalReview h4 {
    font: 700 14px/1 Arial, sans-serif;
    color: #333;
}

#reviewPromo { /* has IE 7 equivalent */
	margin: 15px 0 25px 25px;
}
/* Callouts
----------------------------------*/

#callouts {
    width: 532px;
    height: 116px;
    margin: 0 0 10px 0;
    float: left;
	border: 1px solid #ddd;
}

#callouts .learnMore {
    width: 153px;
    height: 84px;
    float: left;
    margin: 16px 0 0 16px;
    _margin: 16px 0 0 8px; /* IE 6 hack */
    padding: 0 10px 0 0;
    border-right: 1px dashed #9c6;
}

#callouts .feedback {
    width: 148px;
    height: 84px;
    float: left;
    margin: 16px 0 0 17px;
    padding: 0 10px 0 0;
    border-right: 1px dashed #9c6;
}

#callouts .tellUsMore {
    width: 150px;
    height: 84px;
    float: left;
    margin: 15px 0 0 17px;
}


#parentReview .disclaimer {
	font-size: 10px;
    line-height:110%;
    width: 500px;
}

.clear {
    clear: both;
}

.ad_middle  {
    /*margin-top: 15px;*/
    /*border-top: 1px solid #CCCCCC;*/
    /*padding-top: 15px;*/

}

@media print{
    #parentReview #col_left{width: 800px;}
    #showParentReviews .review p,#showParentRatings {width: 550px; _width: 550px;}
    #showParentRatings .categoriesMore,#rating_parent a,#ratings,#breadcrumbs,
        #showParentReviews .pageControls,#showParentReviews .sortReviews {display:none;}  
}