/*------------------------------------------------------

GreatSchools

Parent Review Page

-------------------------------------------------------*/

#parentReview {
	width: 864px;
	float: left;
	margin: 5px 0 0 0;
	font-family: Trebuchet MS, sans-serif;
	color: #666;
}

#parentReview a {
    color: #39a;
    text-decoration: underline;
}

/* columns
----------------------------------*/

#parentReview #col_left {
    width: 532px;
    padding-right:19px;
	float: left;
    border-right: 1px solid #dedede;
}

#parentReview #col_right {
	width: 300px;
	float: right;
}


/* Show Parent Ratings
----------------------------------*/

#showParentRatings {
    margin: 0 0 20px 0;
    float: left;
    border-bottom: 1px solid #ddd;
    color: #777;
}

/* rating_parent */
#rating_parent {
    width: 176px;
    float: left;
    background: url(/res/img/school/parentReviews/bg_rating_parent.gif) top no-repeat;
}

#rating_parent .parentTitle {
    margin: 22px 0 0 34px;
}

#rating_parent .stars {
    margin: 11px 0 0 37px;
}

#rating_parent .rateIt {
    margin: 17px 0 0 52px;
}

#showParentRatings .ratingsNumber {
    font-size: 11px;
    font-style: italic;
    text-align: center;
    margin: 30px 0 20px 0; /* bottom-margin sets white space for module */
}

#showParentRatings ul {
    width: 307px;
    margin: 13px 15px 0 0;
    _margin: 11px 7px 0 0; /* IE 6 hack */
    float: right;
}

#showParentRatings ul li {
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 6px;
    float: left;
    width: 307px;
}

#showParentRatings .sm_stars {
	float: right;
	margin-top: -18px;
	margin-top: -17px; /* IE 6 hack */
	width: 70px;
	height: 14px;
}


#showParentRatings .categoriesMore {
    float: right;
    margin-top: 2px;
    width: 322px;
    font-size: 12px;
}


/* Rate & Review
----------------------------------*/

#parentReview #rateReview {
    float: left;
    width: 530px;
    margin-top: 0;
    border-right: 2px solid #dee;
    border-left: 2px solid #dee;
    border-bottom: 2px solid #dee;
    border-top: none;
    margin-bottom:18px;
}

div#espLink {
    clear:left;
    padding:7px 0 9px 0;
}

#parentReview #rateReview_module {
    margin: 0;
    padding: 0;
    width: 510px;
    margin: 10px 0 0 16px;
    _margin: 10px 0 0 8px; /* IE 6 hack */
    border: 0;
}

#parentReview #rateReviewH2 {
    width: 518px;
    height: 17px;
    color: #fff;
    padding: 3px 0 0 16px;
    background: #6cc;
    text-indent: 0;
    font-weight: bold;
    line-height: 14px;
    float: left;
    _float: none; /* IE 6 hack */
}

#parentReview #rateReview h2 {
    width: 514px;
    height: 19px;
    color: #fff;
    padding: 3px 0 0 16px;
    background: #6cc;
    text-indent: 0;
    line-height: 14px;
}

#parentReview #rateReview_module #ratingTitle {
    width: 155px;
    float: left;
}

#parentReview #rateReview_module .starbar {
    margin: 5px 0 0 154px;
    width: 125px;
}

#parentReview #rateReview_module #reviewText {
	font: 12px/15px Trebuchet MS;
	padding: 4px 0 5px 7px;
	height: 96px;
	width: 256px;
	margin: 0 16px 0 0;
	_margin: 0; /* IE 6 hack */
	float: left;
}

#parentReview #rateReview_module form {
	margin: 10px 0 0 0;
    width:505px;
    float:left;
}

#parentReview #rateReview_module table {
    margin: -3px 0 0 0;
    _margin: -2px 0 0 18px; /* IE 6 hack */
    float:left;
}

#parentReview #rateReview_module .select {
    _margin-top: 2px; /* IE 6 hack */
    width:63px;
    font-size:11px;
}

#parentReview #rateReview_module #acceptUpdates {
    height: 26px;
    _height: 24px; /* IE 6 hack */
}

#parentReview #rateReview_module label {
	font-size: 12px;
	line-height: 14px;
	margin: -2px 0 0 6px;
	_margin: 4px 0 0 0; /* IE 6 hack */
}

.label2 {
    margin: -4px 0 0 6px;
    _margin: -7px 0 0 1px; /* IE 6 hack */
}


#parentReview #rateReview_module .emailAddress {
    margin: 8px 0 0 3px;
    _margin: 8px 0 0 22px; /* IE 6 hack */
    font: 12px/15px Trebuchet MS;
    padding: 1px;
    padding-left: 4px;
    width: 142px;
    _width: 138px; /* IE 6 hack */
    height: 15px;
    float: left;
}

#parentReview #rateReview_module #submitReview {
    width: 62px;
    height: 19px;
    float: right;
    margin: 9px 0 0 6px;
    _margin: 1px 1px 0 0; /* IE 6 hack */
    text-decoration: none;
}

#submitWrapper {
    _padding-top: 7px;
}

#parentReview #rateReview_module .privacyPolicy {
	font-size: 10px;
	margin: -14px 100px 0 0;
	_margin: -14px 50px 0 0; /* IE 6 hack */
	float: right;
}

#parentReview #rateReview_module p.private {
	margin: -33px 100px 0 0;
	_margin: -33px 50px 0 0; /* IE 6 hack */
}

/* Parent Reviews
----------------------------------*/

#showParentReviews {
    float: left;
    width: 532px;
    border-bottom: 1px solid #ddd;
}

#showParentReviews h2 {
    width: 518px;
    height: 17px;
    color: #fff;
    padding: 3px 0 0 16px;
    margin-bottom: 16px;
    background: #6cc;
    line-height: 14px;
    font-weight: bold;
}

#showParentReviews .reviewTotal {
	font-style: italic;
}

#showParentReviews .sortReviews {
    width: 164px;
    font-size: 11px;
    float: left;
    color: #666;
}

#showParentReviews .pageControls {
    float: right;
    width: 298px;
    margin: 0 0 25px 0;
    _margin: 0 0 25px 0; /* IE 6 hack */
}

#showParentReviews .bottom {
	margin-top: 20px;
	_margin-bottom: 28px;
	_border: 1px solid white; /* IE 6 hack, very necessary for some reason */
}

.nextPage {
    width: 105px;
    height: 19px;
    float: right;
    _margin-top: 2px; /* IE 6 hack */
}

.previousPage {
    width: 107px;
    height: 19px;
    margin-right: 5px;
    float: right;
    _margin-top: 2px; /* IE 6 hack */
}

#showParentReviews .pageNumber {
    font-size: 12px;
    float: left;
    margin-top: 3px;
}

#showParentReviews .review {
    float: left;
    width: 490px;
    _width: 500px; /* IE 6 hack */
    margin: 0 0 23px 16px;
    _margin: 0 0 23px 10px;
}

#showParentReviews .stars {
    float: left;
    margin-right:14px;
    _margin-right:14px; /* IE 6 hack */
}

#showParentReviews .review .author {
    font-size: 11px;
    font-style: italic;
    width:375px;
    _float: left; /* IE 6 hack */
}

.principal {
    font-weight: bold;
    font-size: 12px;
}

#showParentReviews .review p {
    float: left;
    _float: none; /* IE 6 hack */
    margin-top: 2px;
    font-size: 12px;
    line-height: 18px;
    width: 490px;
    _width: 500px; /* IE 6 hack */
}

#showParentReviews .review a {
    font-style: italic;
}

#showParentReviews .review .respond {
    margin-top: -2px;
    clear:both;
}


#reviewPromo { /* has IE 7 equivalent */
	margin: 15px 0 25px 25px;
}
/* Callouts
----------------------------------*/

#callouts {
    width: 532px;
    height: 116px;
    margin: 0 0 10px 0;
    float: left;
	border: 1px solid #ddd;
}

#callouts .learnMore {
    width: 153px;
    height: 84px;
    float: left;
    margin: 16px 0 0 16px;
    _margin: 16px 0 0 8px; /* IE 6 hack */
    padding: 0 10px 0 0;
    border-right: 1px dashed #9c6;
}

#callouts .feedback {
    width: 148px;
    height: 84px;
    float: left;
    margin: 16px 0 0 17px;
    padding: 0 10px 0 0;
    border-right: 1px dashed #9c6;
}

#callouts .tellUsMore {
    width: 150px;
    height: 84px;
    float: left;
    margin: 15px 0 0 17px;
}


#parentReview .disclaimer {
	font-size: 10px;
    line-height:110%;
    width: 500px;
}

.clear {
    clear: both;
}