/*------------------------------------------------------

GreatSchools

Parent Review Page

-------------------------------------------------------*/

#parentReview {
	width: 864px;
	float: left;
	margin: 5px 0 0 0;
	font-family: Trebuchet MS, sans-serif;
	color: #777;
}

#parentReview a {
    color: #39a;
    text-decoration: underline;
}

/* columns
----------------------------------*/

#parentReview #col_left {
	width: 540px;
	float: left;
	padding-right: 9px;
    _padding-right: 5px;
    border-right: 1px solid #dedede;
	/*background: url(../../../COL_LEFT_TEMP.gif) no-repeat;*/
}

#parentReview #col_right {
	width: 300px;
	float: right;
}


/* Show Parent Ratings
----------------------------------*/

#showParentRatings {
    margin: 0 8px 20px 0;
    float: left;
    border-bottom: 1px solid #ddd;
}

/* rating_parent */

#rating_parent { /* has IE 7 equivalent */
    width: 176px;
    float: left;
    background: url(/res/img/school/parentReviews/bg_rating_parent.gif) top no-repeat;
    /*border: 1px solid #ddd;*/
}

#rating_parent .parentTitle { /* has IE 7 equivalent */
    margin: 20px 0 0 32px;
}

#rating_parent .stars { /* has IE 7 equivalent */
    margin: 9px 0 0 28px;
    _margin: 4px 0 0 28px; /* IE 6 hack */
}

#rating_parent .rateIt { /* has IE 7 equivalent */
    margin: 17px 0 0 51px;
    _margin: 12px 0 0 51px; /* IE 6 hack */
}

#showParentRatings .ratingsNumber { /* has IE 7 equivalent */
    font-size: 11px;
    font-style: italic;
    text-align: center;
    margin: 30px 0 20px 0; /* bottom-margin sets white space for module */
    _margin: 45px 0 20px 0; /* IE 6 hack */
}

#showParentRatings ul { /* has IE 7 equivalent */
    width: 307px;
    margin: 13px 15px 0 0;
    _margin: 11px 7px 0 0; /* IE 6 hack */
    float: right;
}

#showParentRatings ul li {
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 6px;
    float: left;
    width: 307px;
}

#showParentRatings .sm_stars {
	float: right;
	margin-top: -18px;
	margin-top: -17px; /* IE 6 hack */
	width: 70px;
	height: 14px;
}


#showParentRatings .categoriesMore {
    float: right;
    margin-top: 2px;
    width: 322px;
    font-size: 12px;
}


/* Rate & Review
----------------------------------*/

#parentReview #rateReview { /* has IE 7 equivalent */
    float: left;
    /*height: 203px;*/
    /*_height: 202px;*/ /* IE 6 hack */
    height: 184px;
    _height: 183px; /* IE 6 hack */
    width: 530px;
    margin-top: 0;
    border-right: 2px solid #dee;
    border-left: 2px solid #dee;
    border-bottom: 2px solid #dee;
    border-top: none;
}

#parentReview #rateReview_module { /* has IE 7 equivalent */
    margin: 0;
    padding: 0;
    width: 510px;
    margin: 10px 0 0 16px;
    _margin: 10px 0 0 8px; /* IE 6 hack */
    border: 0;
}

#parentReview #rateReviewH2 {
    width: 518px;
    height: 17px;
    color: #fff;
    padding: 3px 0 0 16px;
    background: #6cc;
    text-indent: 0;
    font-weight: bold;
    line-height: 14px;
    float: left;
    _float: none; /* IE 6 hack */
}

#parentReview #rateReview h2 {
    width: 514px;
    height: 19px;
    color: #fff;
    padding: 3px 0 0 16px;
    background: #6cc;
    text-indent: 0;
    line-height: 14px;
}

#parentReview #rateReview_module #ratingTitle {
    width: 155px;
    float: left;
}

#parentReview #rateReview_module .starbar {
    margin: 5px 0 0 154px;
    width: 125px;
}

#parentReview #rateReview_module #reviewText { /* has IE 7 equivalent */
	font: 12px/15px Trebuchet MS;
	color: #666;
	padding: 4px 0 5px 7px;
	height: 96px;
	width: 256px;
	margin: 0 16px 0 0;
	_margin: 0; /* IE 6 hack */
	float: left;
}

#parentReview #rateReview_module form { /* has IE 7 equivalent */
	margin: 10px 0 0 0;
	_width: 505px; /* IE 6 hack */
}

#parentReview #rateReview_module .select { /* has IE 7 equivalent */
    _margin-top: 2px; /* IE 6 hack */
}

#parentReview #rateReview_module table { /* has IE 7 equivalent */
    margin: -3px 0 0 2px;
    _margin: -2px 0 0 18px; /* IE 6 hack */
    _float: left; /* IE 6 hack */
}

#parentReview #rateReview_module #acceptUpdates { /* has IE 7 equivalent */
    height: 26px;
    _height: 24px; /* IE 6 hack */
}

#parentReview #rateReview_module label { /* has IE 7 equivalent */
	font-size: 12px;
	line-height: 14px;
	color: #666;
	margin: -2px 0 0 6px;
	_margin: 4px 0 0 0; /* IE 6 hack */
}

.label2 {
    margin: -4px 0 0 6px;
    _margin: -7px 0 0 1px; /* IE 6 hack */
}

#parentReview #rateReview_module .emailAddress { /* has IE 7 equivalent */
	margin: 8px 0 0 3px;
	_margin: 8px 0 0 22px; /* IE 6 hack */
	font: 12px/15px Trebuchet MS;
	color: #666;
	padding: 1px;
	padding-left: 4px;
	width: 142px;
	_width: 138px; /* IE 6 hack */
	height: 15px;
	float: left;
}

#parentReview #rateReview_module #submitReview { /* has IE 7 equivalent */
	width: 62px;
	height: 19px;
	float: right;
	margin: 9px 6px 0 0;
	_margin: 1px 1px 0 0; /* IE 6 hack */
	text-decoration: none;
}

#parentReview #rateReview_module .privacyPolicy { /* has IE 7 equivalent */
	font-size: 10px;
	margin: -14px 100px 0 0;
	_margin: -14px 50px 0 0; /* IE 6 hack */
	float: right;
}


/* Parent Reviews
----------------------------------*/

#showParentReviews {
    float: left;
    width: 533px;
    margin-top: 14px;
    border-bottom: 1px solid #ddd;
}

#showParentReviews h2 {
    width: 518px;
    height: 17px;
    color: #fff;
    padding: 3px 0 0 16px;
    margin-bottom: 16px;
    background: #6cc;
    line-height: 14px;
    font-weight: bold;
}

#showParentReviews .reviewTotal {
	font-style: italic;
}

#showParentReviews .sortReviews {
    width: 164px;
    font-size: 11px;
    float: left;
}

#showParentReviews .pageControls { /* has IE 7 equivalent */
    float: right;
    width: 298px;
    margin: 0 0 25px 0;
    _margin: 0 0 25px 0; /* IE 6 hack */
}

#showParentReviews .bottom { /* has IE 7 equivalent */
	margin-top: 20px;
	_margin-bottom: 28px;
	_border: 1px solid white; /* IE 6 hack, very necessary for some reason */
}

.nextPage { /* has IE 7 equivalent */
    width: 105px;
    height: 19px;
    float: right;
    _margin-top: 2px; /* IE 6 hack */
}

.previousPage { /* has IE 7 equivalent */
    width: 107px;
    height: 19px;
    margin-right: 5px;
    float: right;
    _margin-top: 2px; /* IE 6 hack */
}

#showParentReviews .pageNumber {
    font-size: 12px;
    float: left;
    margin-top: 3px;
}

#showParentReviews .review { /* has IE 7 equivalent */
    float: left;
    width: 490px;
    _width: 500px; /* IE 6 hack */
    margin: 0 0 23px 16px;
    _margin: 0 0 23px 10px;
}

#showParentReviews .stars {
    float: left;
    margin-right:14px;
    _margin-right:14px; /* IE 6 hack */
}

#showParentReviews .review .author { /* has IE 7 equivalent */
    margin: 12px 0 0 0;
    _margin: 12px 0 0 0; /* IE 6 hack */
    font-size: 11px;
    font-style: italic;
    width:375px;
    _float: left; /* IE 6 hack */
}

.principal {
    font-weight: bold;
    font-size: 12px;
}

#showParentReviews .review p { /* has IE 7 equivalent */
    float: left;
    _float: none; /* IE 6 hack */
    margin-top: 2px;
    font-size: 12px;
    line-height: 18px;
    width: 490px;
    _width: 500px; /* IE 6 hack */    
}

#showParentReviews .review a {
    font-style: italic;
}

#showParentReviews .review .respond {
    margin-top: -2px;
    clear:both;
}


#reviewPromo { /* has IE 7 equivalent */
	margin: 15px 0 0 25px;
}

#submitWrapper {
    _padding-top: 7px;
}

/* Callouts
----------------------------------*/

#callouts {
    width: 532px;
    height: 116px;
    margin: 25px 0 18px 0;
    float: left;
	border: 1px solid #ddd;
}

#callouts .learnMore {
    width: 153px;
    height: 84px;
    float: left;
    margin: 16px 0 0 16px;
    _margin: 16px 0 0 8px; /* IE 6 hack */
    padding: 0 10px 0 0;
    border-right: 1px dashed #9c6;
}

#callouts .feedback {
    width: 148px;
    height: 84px;
    float: left;
    margin: 16px 0 0 17px;
    padding: 0 10px 0 0;
    border-right: 1px dashed #9c6;
}

#callouts .tellUsMore {
    width: 150px;
    height: 84px;
    float: left;
    margin: 15px 0 0 17px;
}


#parentReview .disclaimer {
	font-size: 10px;
	width: 500px;
}

.clear {
    clear: both;
}