/******************** intro ***************************/
#pageGS #contentGS #results-intro{
	width:530px;
	margin:0 0 13px 0;
	padding:0 0 9px 0;
	border-bottom: 1px solid #cccccc;
    position:relative;
    height:220px;
    overflow:hidden; 
}

#intro-pic{
    margin-right:40px;
    float:none;
}

#results-intro div#right {
    position:relative;
    top:-140px;
    left:185px;
    width:345px;
}

#results-intro .blurb{
	margin-top:8px;
	line-height:17px;
	text-align:left;
	width:274px;
	font-size:13px;
    position:relative;
}

#contentGS #schoolProfile #results-intro .blurb h1{
	color:#666666;
	font-size:13px;
	text-transform:uppercase;
	padding:0 0 5px 0;
}

#results-intro .blurb h2{
	color:#666666;
	font-weight:normal;
    padding-bottom:3px;
}

#toc {
    float:none;
    position:relative;
}

#toc ul li {
    line-height:17px;
}
/*********************************/

.resultBox {
    font: 13px Trebuchet MS, Arial, sans-serif;
    color: #666666;
    border: 1px solid #cccccc;
    position:relative;
    margin: 15px 0 30px 0;
}
.resultBox div {
    padding: 2px 0 2px 30px;
}

.resultBox div.linkedHeader {
    padding-left: 10px;
}

.resultBox .title {
    color: #99CC66;
    font-size:15px;
    padding:5px 0 5px 30px;
    text-transform:uppercase;
    font-weight:bold;
}

table.complexResults {
    font: 13px Trebuchet MS, Arial, sans-serif;
    color: #666666;
    border:1px solid #cccccc;
    margin:0 0 15px 0;
}

.odd {
    background-color: #DDEEEE;
}
.even {
    background-color: #FFFFFF;
}
.checked {
    background-image:url("/res/img/bullet/pinkcheck_onwhite.gif");
    background-position:10px 5px;
    background-repeat:no-repeat;
}

table.complexResults th {
	color:#99CC66; /* green */
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
    padding-left: 10px;
}

table.complexResults td.check {
    width:17px;
    height:23px;
    padding-left:10px;
}

table.complexResults td.value {
    width:148px;
}

.resultScale {
    margin: 0 0 25px 0;
}

.resultScale .answer-bar{
    padding-left:40px;
}
.resultScale .answer-bar .label-left, .resultScale .answer-bar .label-right {
    font: 13px Trebuchet MS, Arial, sans-serif;
    color: #666666;
    width:120px;
}


div.page-header {
    position:relative;
    background-image: url(../../img/splash/greyDot.gif);
    background-position: center bottom;
    background-repeat: repeat-x;
    color: #55BBCC;
    font-size:15px;
    margin:40px 0 10px 0;
    padding-bottom:10px;
    font-weight:bold;
}

div.group-header {
    position:relative;
    color: #666666;
    font-size:15px;
    margin:5px 0 15px 0;
    font-weight:normal;
}

div.header {
    position:relative;
    color: #666666;
    font-size:15px;
    margin:5px 0 5px 0;
    font-weight:normal;
}

div.green-header {
    position: relative;
    color: #99CC66;
    font-size: 15px;
    font-weight:normal;
}

.resultSchool p {
    font: 15px Trebuchet MS, Arial, sans-serif;
    color:#666666;
}
.resultSchool ul {
    padding-left:40px;
}

.resultSchool ul li {
    font: 13px Trebuchet MS, Arial, sans-serif;
    color:#666666;
}
#contentGS .resultSchool ul li a,
#contentGS .resultSchool ul li a:active,
#contentGS .resultSchool ul li a:visited,
#contentGS .resultSchool ul li a:hover
{
    font: 13px Trebuchet MS, Arial, sans-serif;
    color: #3399AA;
}

.multiColumn {
    position:relative;
    float:left;
}
.multiColumn div {
    position:relative;
    padding:2px 0 2px 30px;
    width:146px;
}
.empty {
    display:none;
}

.hidden {
    visibility:hidden;
}

.redText {
    color: #CC5566;
    font-weight: bold;
}

.previousnextwrap a img {
    margin:0 0 5px 0;
}

#toc ul li {
    padding: 0px 12px 7px 16px;
}
#toc ul li.inactive {
    background-image: url( "/res/img/bullet/pinkarrow.gif" );
}

