/******************** intro ***************************/
#pageGS #contentGS #results-intro{
	width:530px;
	margin:0 0 13px 0;
	padding:0 0 17px 0;
	border-bottom: 1px solid #cccccc;
    position:relative;
    height:220px;
    overflow:hidden; 
}

#intro-pic{
    margin-right:40px;
    float:none;
}

#results-intro div#right {
    position:relative;
    top:-140px;
    left:185px;
    width:345px;
}

#results-intro .blurb{
	margin-top:8px;
	line-height:17px;
	text-align:left;
	width:274px;
	font-size:13px;
    position:relative;
}

#contentGS #schoolProfile #results-intro .blurb h1{
	color:#666666;
	font-size:13px;
	text-transform:uppercase;
	padding:0 0 5px 0;
}

#results-intro .blurb h2{
	color:#666666;
	font-weight:normal;
    padding-bottom:3px;
}

#toc {
    float:none;
    position:relative;
}

#toc ul li {
    line-height:17px;
}
/*********************************/

.resultBox {
    font: 13px Trebuchet MS, Arial, sans-serif;
    color: #666666;
    border: 1px solid #cccccc;
    position:relative;
}
.singleColumnResultBox div {
    padding: 2px 0 2px 30px;
}

table.complexResults {
    font: 13px Trebuchet MS, Arial, sans-serif;
    color: #666666;
    border:1px solid #cccccc;
    margin:0 0 15px 0;
}

.odd {
    background-color: #DDEEEE;
}
.even {
    background-color: #FFFFFF;
}
.checked {
    background-image:url("/res/img/bullet/pinkcheck_onwhite.gif");
    background-position:10px 5px;
    background-repeat:no-repeat;
}
table.complexResults td.check {
    width:25px;
    height:23px;
    padding-left:10px;
}

table.complexResults td.value {
    width:140px;
}

.resultScale .answer-bar{
    padding-left:40px;
}
.resultScale .answer-bar .label-left, .resultScale .answer-bar .label-right {
    font: 13px Trebuchet MS, Arial, sans-serif;
    color: #666666;
    width:120px;
}

.resultSchool .header {
    position:relative;
    color: #55BBCC;
    border-bottom:dotted #E2E3CB 3px;
    font-size:15px;
    margin-bottom:10px;
    padding-bottom:5px;
    font-weight:bold;
}

.resultSchool p {
    font: 15px Trebuchet MS, Arial, sans-serif;
    color:#666666;
}
.resultSchool ul {
    padding-left:40px;
}

.resultSchool ul li {
    font: 13px Trebuchet MS, Arial, sans-serif;
    color:#666666;
}
#contentGS .resultSchool ul li a,
#contentGS .resultSchool ul li a:active,
#contentGS .resultSchool ul li a:visited,
#contentGS .resultSchool ul li a:hover
{
    font: 13px Trebuchet MS, Arial, sans-serif;
    color: #3399AA;
}

.multiColumn {
    position:relative;
    float:left;
}
.multiColumn div {
    position:relative;
    padding:2px 0 2px 30px;
    width:146px;
}
.empty {
    display:none;
}
.hidden {
    visibility:hidden;
}

.resultBox .title {
    color: #99CC66;
    font-size:15px;
    padding:5px 0 5px 30px;
    text-transform:uppercase;
    font-weight:bold;
}
