/** This stylesheet is intended to override surveyResults.css to provide */
/** preschool-specific styles.  If the styles for used for preschool     */
/** results will be used for other level-code results, then the styles   */
/** in this file should be merged into surveyResults.css.                */

div.group-header {
    background-image: url( "/res/img/bullet/pinkarrow.gif );
    background-repeat: no-repeat;
    background-position: 0 5px;
    padding:0 0 0 12px;
}

div.green-header-simple {
    color:#666666;
    font-size:15px;
    font-weight:normal;
    position:relative;
    text-transform:none;
    border-top:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    padding:4px 0 4px 6px;
}

div.simple {
    margin-top:0;
}