/* Styles for table of contents - taken from spp2.css - should be refactored*/
#toc {
    margin:10px 10px 20px 0;    
    float:left;
}

#toc img { /* Has IE 7 equivalent (below this style block) */
   padding: 0 0 8px 0;
   _padding:0 0 4px 0;
}

#toc ul {
   margin-top: 0;
   margin-bottom: 0;
}

#toc ul li {
    font: bold 13px Trebuchet MS, Arial, sans-serif;
    padding: 0px 12px 4px 16px;
    margin-bottom: 1px;
    list-style: none;
    background-image: url( "/res/img/bullet/pinkarrow.gif" );
    background-repeat: no-repeat;
    background-position: .5ex .6ex;
}

#toc ul li.inactive {
    background-image: url( "/res/img/bullet/greyarrow.gif" );
    background-position: .5ex .6ex;
}

#toc ul li.active {
    background-image: url( "/res/img/bullet/pinkarrow.gif" );
    background-position: .5ex .6ex;
    outline: none;
}

#toc ul li {
    color:#777777;
}

#toc ul li.active {
    color: #cc5566;
    text-decoration: none;
}

:focus {
    -moz-outline-style: none;
}

#toc h2 {
   font: bold 13px Trebuchet MS, Arial, sans-serif;
   color:#999999;
   padding: 0 0 0 42px;
   margin-top: 12px;
   margin-bottom: 6px;
}
#toc a, #toc a:link, #toc a:visited, #toc a:hover {
   color: #3399AA;
   text-decoration: underline;
   font-size: 13px;
}

#left-col{
    position:relative;
	float:left;
	width:530px;
	padding-right:20px;
	border-right: 1px solid #dddddd;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	margin-top:7px;
}

#right-col{
	float:right;
	width:300px;
	margin-top:7px;
}

/******************** intro ***************************/
.intro{
	width:530px;
	margin:0 0 13px 0;
	padding:0 0 17px 0;
	border-bottom: 1px solid #cccccc;
	float:left;
}

#intro-start {
	height:143px;
}

#intro-form {
	height:175px;    
}

#intro-pic{
	float:left;
	margin-right:40px;
}
#intro-blurb{
	margin-top:8px;
	line-height:17px;
	text-align:left;
	float:left;
	width:274px;
	font-size:13px;
}
.intro-heading1{
	color:#666666;
	font-size:13px;
	text-transform:uppercase;
	padding-bottom:5px;
}

.intro-heading2{
	color:#666666;
	font-weight:normal;
    padding-bottom:3px;
}

/******************** question-group ***************************/

div.question-group{
	color:#666666;
	margin:0;
	padding:0 0 56px 0;
	clear:both
	}

h2.question-group-heading {
	color:#55BBCC; /* aqua */
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	padding-top:0px;
	padding-bottom:8px;
	margin-top:0px;
	margin-bottom:14px;
	width:530px;
	border-bottom:3px #E2E3CB dotted; /*pale green*/
	overflow:hidden;
	}

/******************** email request ***************************/

div.email-module{
	padding-top:33px;
	float:left;
	clear:both;
	width:530px;
}

div.email-module span {
     display:block;
     margin:0 0 5px 0;
}

div.email-subtext{
	font-style:italic;
	font-size:10px;
	margin-left:90px;
}

#left-col .email-subtext a, .contentGS a:link, a:visited{
    color:#3399AA; /* aqua */
    text-decoration:none;
}

/******************** error messages ***************************/
#email.error, .error{
	color:#CC5566;
	font-size:11px;    
    background-image: url('/res/img/bullet/icon_warning_12x12.gif');
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding: 0 0 0 18px;
    margin-left:10px;
    }

/******************** questions ***************************/

div.question{
	float:left;
	clear:both;
	padding:0;
	margin:0 0 50px 0;
	overflow:hidden;
	width:530px;
	}

div.question-text {
	margin-bottom:10px;
	color:#666666;
	font-weight:bold;
	font-size:13px;
	}

.question-text {
	color:#666666;
	font-weight:bold;
	font-size:13px;
	display:block;
	}

span.number{
    color:#CC5566;
    padding:0 5px 0 0;
}

/******************** answers ***************************/

#left-col ul.answer-list{
	margin:0;
	padding:0;
}

#left-col li.answer-list-item{
	margin:0;
	list-style:none;
    line-height:18px;
}

#left-col li.answer-list-item label {
	padding-left:1px;
}/*without this, the label was crashing into the radio button in firefox windows only*/

h3.answer-sibling-heading{
	margin-bottom:8px;
	color:#99CC66; /* green */
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	}

div.answer-sibling{
	float:left;
	clear:both;
	border-bottom:1px #DDDDDD solid;
	padding:0 0 15px 0;
	margin:0 0 15px 0;
	overflow: hidden;
	width:530px;
} /* use when there are several answers within a question*/

div.answer-sibling-last{
	float:left;
	clear:both;
	padding:0;
	margin:0;
	overflow:hidden;
	width:530px;
	} /*use for the last of several answers within a question*/

div.checkbox-col{
	float:left;
	width:176px;
	border:0px black solid;
	margin:0;
	padding:0;
	overflow:hidden;
} /*wraps the 3-column checkbox area*/

div.single-column{
	width:520px;
}

div.checkbox-label-pair{
	float:left;
	} /* wraps each checkbox-label pair in the 3-column checkbox area*/

div.checkbox-multi-col{
	float:left;
	width:19px;
	height:auto;
	clear:left;
	overflow:hidden;
	border:0px black solid;
	display:block;
	padding-top:2px;
	} /* wraps each checkbox in the 3-column checkbox area*/

div.label-multi-col{
	float:right;
	width:157px;
	clear:right;
	overflow:hidden;
	border:0px black solid;
	display:block;
}	/* wraps each label in the 3-column checkbox area*/

div.multiAnswerValue {
    position:relative;
    padding:0 0 5px 0;
    margin:0 0 3px 0;    
}

div.multiAnswerValue input.multiCheck {
    position:absolute;
    top:2px;
    left:0;
    padding:0;
    margin:0;
    _margin:-1px 0 0 -20px; /* for IE 6 */
    height:14px;
}

div.multiAnswerValue div.answerValue {
    position:relative;
    margin:1px 0 0 22px;
}


/******************** feedback  *****************************/
div.feedback a:link, div.feedback a:visited{
    color: #3399AA;
    text-decoration: underline;
}

div.feedback {
    color: #666666;
    padding:0 0 10px 0
}
/******************** submit area ***************************/

#form-submit{
	width:530px;
	border-top: 1px solid #cccccc;
	text-align:right;
	height:38px;
	clear:both;
	padding:18px 0 0 0;
	}

/******************** horizontal radio buttons ***************************/

.answer-bar{
	width:450px;
	}

.answer-bar .label-right{
	width:120px;
	float:right;
	text-align:right;
	font-size:11px;
	}

.answer-bar .label-left{
	width:112px;
	float:left;
	font-size:11px;
	}

.answer-bar .bar-pic{
	margin-top:2px;
	border:none;
	clear:both;
	}

.answer-bar .radio-row{
	position:relative;
	width:450px;
	height:18px;
	}

.answer-bar .radio1{
	position:absolute;
	top:5px;
	left:0px;
	}

.answer-bar .radio2{
	position:absolute;
	top:5px;
	left:105px;
	}

.answer-bar .radio3{
	position:absolute;
	top:5px;
	left:215px;
	}

.answer-bar .radio4{
	position:absolute;
	top:5px;
	left:325px;
	}

.answer-bar .radio5{
	position:absolute;
	top:5px;
	left:432px;
	}

/******************form styles***************************/

#left-col input, select, textarea{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
}

#left-col textarea{
	overflow:auto;
	width:390px;
	height:130px;
}

input.checkbox{
	margin-bottom:1px;
	height:15px;
	width:15px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
}

input.textinput{
	margin: 0 0 0 6px;
}

.select-box{
	width:200px;
}

input.submit{
    float: right;
    margin-right:80px;
}

div.nextprev div.previousnextouterwrap{
    width:537px;
    padding-top:6px;
    padding-bottom:6px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
div.nextprev div.previousnextouterwrap div.previousnextwrap{
    height: 45px;
    background-color: #ddeeee;
    padding-left:10px;
    padding-right:10px;
}
div.nextprev div.previousnextouterwrap div.previousnextwrap div.previous{
    background-color: #ddeeee;
    display:block;
    float:left;
    margin-top: 15px;
    padding-bottom: 0px;
}
div.nextprev div.previousnextouterwrap div.previousnextwrap div.next{
    background-color: #ddeeee;
    display:block;
    float:right;
    margin-top: 15px;
    padding-bottom: 0px;
}

div#all-errors {
    display:none;
}

li label.years {
    margin:0 0 0 8px;
}

span#prevCity, span#nextCity {
    line-height:25px;
}

span#prevCity a, span#nextCity a{
    color: #3399AA;
}

div#whoRadioButtons {
    padding:5px 0 0 10px;
}

div#whoRadioButtons label {
    padding:0 10px 0 5px;
}

div#who {
    margin:0;
    line-height:18px;
}

input.terms {
    margin:8px 0 0 0;
}