h1 {
    margin-top: 20px;
    font-size: large;
}

label {
    display: block;
    font-size: small;
}

table.newsItems {
}

table.newsItems th {
    padding: 1px 10px 1px 10px;
    font-weight: lighter;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: x-small;
    text-align: left;
}

table.newsItems td {
    padding: 8px 10px 1px 10px;
    vertical-align: top;
}

table.newsItems .odd {
    background-color: #efefef;
}

#contentGS h2 {
    margin-bottom: 2ex;
    border: 1px solid blue;
    background-color: #dff;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    display: block;
    width: 20ex;
    text-align: center;
}

div.message {
    margin: 3ex;
    border: 3px solid #faa;
    background-color: #fee;
    color: #f00;
    padding: 10px;
    text-align: left;
}
