/* Wrapper */

.showIt{
    display:block;
}

.hideIt{
    display:none;
}

.strong {
    font-weight: bold;
}

hr {

}

#border {
    border: #66CCCC solid 8px;
    padding: 19px 25px 25px 25px;
    margin-top: 0;
    position: relative;
}

#contentGS {
    font-family: Arial, sans-serif;
    color: #666666;
    font-size: 13px;
    line-height: 19px;
}

#contentGS h2 {
    color: #55BBCC;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#dashboardLink {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 12px;
}

#border a, #border a:link, #border a:hover {
    text-decoration: none;
}

#border a:hover {
    text-decoration: underline;
}

#border p {
    font-size: 13px;
}

.newsletterImage {
    position: absolute;
    margin: 6px 9px 0 0;
}

.newsletterHeader {
    font-size: 14px;
    color: #55BBCC;
    margin-bottom: 11px;
}

.newsletterDescription {
    margin-bottom: 13px;
}

#border .newsletterCheckbox {
    position: relative;
    top: 2px;
    margin-right: 8px;
}

#newsletterColumns {
    margin-top: 17px;
}

.newsletterColumn {
    padding-right: 25px;
}

.newsletterInfo {
    position: relative;
    left: 92px;
    width: 275px;
}

#startweek{
    color:#666666;
}

div.rule {
    left: 120px;
    width: 375px;
    border-top: 1px solid #CCC;
    height: 0;
    padding: 0;
    margin: 20px 0 17px 0;
}

#save {
    margin-left:225px;
    margin-top:30px;
}

div.mynth {
    margin-left: 92px;
    margin-top: 10px;
}

ol.horizontal {
    width: 265px;
    height: 125px;
    margin-top: 10px;
}

ol.horizontal li {
    display: inline;
}

ol.leftColumn {
    float: left;
}

ol.rightColumn {
    float: left;
}

ol.horizontal li ol {
    width: 130px;
}

ol.horizontal li ol li {
    width: 130px;
    margin-bottom: 8px;
    display: block;
}

.mssInfo {
    margin-left: 92px;
    width: 275px;
}

.mssInfo p {
    margin-bottom: 5px;
}

.mssInfo .mssSchoolLine {
    margin-bottom: 8px;
}

.mssInfo select {
    display: block;
    margin-bottom: 8px;
    width: 225px;
    color: #666;
}

.newsletterInfo div.error {
    font-size: 13px;
    color: #cc5566;
    padding-left: 15px;
    padding-bottom: 5px;
    background: url(/res/img/bullet/icon_warning_12x12.gif) no-repeat 0 5px;
}

#weeks p {
    margin: 6px 0;
}

#chooser ol.horizontal {
    height: 45px;
}

