#contentGS {
    font-family: Arial, sans-serif;
    color: #666666;
    font-size: 13px;
    line-height: 19px;
    position: relative;
}

#contentGS li{
    list-style-type: disc;
    list-style-position: inside;
}

#messages {
    margin-left: 5px;
}

#contentGS h2 {
    color: #55BBCC;
    font-size: 21px;
    margin-top: 20px;
}

div.rule {
    width: 700px;
    border-top: 1px solid #CCC;
    height: 0;
    padding: 0;
    margin: 10px 0 15px 0;
}

#contentGS a, #contentGS a:link, #contentGS a:hover {
    text-decoration: none;
}

#contentGS a:hover {
    text-decoration: underline;
}

#accountLink {
    position: absolute;
    top: 22px;
    left: 588px;
}

#editSubscriptionButton img {
    margin-top: 15px;   
}