@charset "UTF-8";
/* ------------------ */
/* GLOBAL TEXT STYLES */
/* ------------------ */
.utilityNavigation {
    font: 11px Arial, Helvetica, sans-serif;
    color: #fff;
}

/* ------- */
/* HEADERS */
/* ------- */
.contentGS h1 {
    font: 30px Georgia, "Times New Roman", Times, serif;
    color: #d61;
}

.contentGS h2 {
    font: 24px Georgia, "Times New Roman", Times, serif;
    color: #d61;
}

.contentGS h3 {
    font: 20px Arial, Helvetica, sans-serif;
    color: #666;
}

.contentGS h3.orange {
    font: 20px Arial, Helvetica, sans-serif;
    color: #d61;
}

.title1 {
    font: 20px Georgia, "Times New Roman", Times, serif;
    color: #d61;
}

.title1white {
    font: 20px/1.7 Georgia, "Times New Roman", Times, serif;
    color: #fff;
}

.title2 {
    font: 22px Georgia, "Times New Roman", Times, serif;
    color: #fc6;
}

.title2white {
    font: 22px Georgia, "Times New Roman", Times, serif;
    color: #fff;
}

.title2orange {
    font: 22px Georgia, "Times New Roman", Times, serif;
    color: #d61;
}

.contentGS .subhead1 {
    font: bold 18px Georgia, "Times New Roman", Times, serif;
    color: #d61;
}

.subhead2 {
    font: 18px Georgia, "Times New Roman", Times, serif;
    color: #d61;
}

.subhead3 {
    font: 18px Georgia, "Times New Roman", Times, serif;
    color: #fff;
}

.subhead4 {
    font: 18px Georgia, "Times New Roman", Times, serif;
    color: #fc6;
}

.subhead5 {
    font: bold 13px Arial, Helvetica, sans-serif;
    color: #fff;
}

.subhead5italic {
    font: italic bold 13px Arial, Helvetica, sans-serif;
    color: #fff;
}

/* ------- */
/* CONTENT */
/* ------- */
.introText {
    font: 16px / 1.3 Arial, Helvetica, sans-serif;
    color: #333;
}

.introTextGA {
    font: 16px / 1.3 Georgia, "Times New Roman", Times, serif;
    color: #333;
}

.certCourse {
    font: italic 16px / 1.3 Georgia, "Times New Roman", Times, serif;
    color: #149;
}

.text1 {
    font: 14px / 1.3 Arial, Helvetica, sans-serif;
    color: #333;
}

.text1_170 {
    font: 14px / 1.7 Arial, Helvetica, sans-serif;
    color: #333;
}

.text1bold {
    font: bold 14px / 1.3 Arial, Helvetica, sans-serif;
    color: #333;
}

.text2 {
    font: 13px / 1.3 Arial, Helvetica, sans-serif;
    color: #333;
}

.text2_180 {
    font: 13px / 1.8 Arial, Helvetica, sans-serif;
}

.text2GA {
    font: 13px / 1.3 Georgia, "Times New Roman", Times, serif;
    color: #333;
}

.text2bold {
    font: bold 13px / 1.3 Arial, Helvetica, sans-serif;
    color: #333;
}

.text3 {
    font: 12px / 1.3 Arial, Helvetica, sans-serif;
}

.text3_230 {
    font: 12px / 2.3 Arial, Helvetica, sans-serif;
}

.text3bold {
    font: bold 12px / 1.3 Arial, Helvetica, sans-serif;
    color: #333;
}

.text3boldOrange {
    font: bold 12px / 1.3 Arial, Helvetica, sans-serif;
    color: #d61;
}

.courseNav {
    font: 12px / 1.1 Arial, Helvetica, sans-serif;
    color: #333;
}

.courseNumberOrange {
    font: 24px / 1.6 Arial, Helvetica, sans-serif;
    color: #d61;
}

.courseNumber {
    font: 24px / 1.6 Arial, Helvetica, sans-serif;
    color: #333;
}

.formText1 {
    font: 12px / 1.3 Arial, Helvetica, sans-serif;
    color: #777;
}

.smallText1 {
    font: 11px / 1.3 Arial, Helvetica, sans-serif;
    color: #777;
}

.smallText1GA {
    font: italic 11px / 1.3 Georgia, "Times New Roman", Times, serif;
    color: #333;
}

.smallText2 {
    font: 10px / 1.3 Arial, Helvetica, sans-serif;
    color: #000;
}

.smallText2gray {
    font: italic 10px / 1.3 Arial, Helvetica, sans-serif;
    color: #777;
}

.smallText2bold {
    font: bold 10px / 1.3 Arial, Helvetica, sans-serif;
    color: #000;
}

.smallText2ital {
    font: italic 10px / 1.3 Arial, Helvetica, sans-serif;
    color: #333;
}

/* --------- */
/* MESSAGING */
/* --------- */
.smallAlertText {
    font: 11px / 1.2 Arial, Helvetica, sans-serif;
    color: #333;
}

.smallAlertTextBold {
    font: bold 11px / 1.2 Arial, Helvetica, sans-serif;
    color: #d61;
}

.smallAlertTextBoldNeutral {
    font: bold 11px / 1.2 Arial, Helvetica, sans-serif;
}

.errorText {
    font: 11px / 1.2 Arial, Helvetica, sans-serif;
    color: #c03;
}

/* ----- */
/* FORMS */
/* ----- */
.formHelperText {
    font: italic 11px / 1.0 Arial, Helvetica, sans-serif;
    color: #777;
}

.formAgreeText {
    font: italic 11px / 1.0 Arial, Helvetica, sans-serif;
    color: #180;
}

.formHelperText {
    font: italic 11px / 1.0 Arial, Helvetica, sans-serif;
    color: #c03;
}

/* ------------- */
/* MISCELLANEOUS */
/* ------------- */
.footerText1 {
    font: 11px / 1.3 Arial, Helvetica, sans-serif;
    color: #999;
}
.alertDoubleArrow {
    font: 15px Arial, Helvetica, sans-serif;
    color: #d61;
}
/* ----- */
/* LINKS */
/* ----- */
a {
    color: #06b;
    font-weight:normal;
    text-decoration: none;
}
a:focus, a:hover {
    text-decoration: underline;
}
a:visited {
    color:#06b;
}
/* ------- */
/* BUTTONS */
/* ------- */
.button1{
    font: bold 20px Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px #444;
}
.button2{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px #444;
}

/* ----------------- */
/* MAIN COLOR STYLES */
/* ----------------- */

.tint_fff{ /* Headlines, Subheads (reversed) */
    color:#fff;
}

.tint_d61{ /* Headlines, Subheads */
    color:#d61;
}

.tint_333{ /* Text, Captions */
    color:#333;
}

.tint_fc6{ /* Text (reversed) */
    color:#fc6;
}

.tint_06b{ /* Links */
    color:#06b;
}

.bg_tint_f9eccd{ /* Background tint */
    background-color:#f9eccd;
}

.bg_tint_ebebeb{ /* Background tint */
    background-color:#ebebeb;
}

.tint_149{ /* Headlines, Subheads */
    color:#149;
}

.tint_f4891d{ /* Small graphics */
    color:#f4891d;
}

.bg_tint_2092c4{ /* Background tint */
    background-color:#2092c4;
}

.tint_777{ /* Form text */
    color:#777;
}

.tint_999{ /* Footer */
    color:#999;
}

.tint_c6c6c6{ /* Box bounding rule */
    color:#c6c6c6;
}

.tint_666{ /* Headlines */
    color:#666;
}

.tint_c03{ /* Error text and Error Box bounding rule */
    color:#c03;
}

.tint_180{ /* Form agree text */
    color:#180;
}
