.ad {
    text-align: center;
    color: #999;
    font-size: 10px;
}

.textAd {
    font-family: "Trebuchet MS", Arial, sans-serif;
    text-align: left;
    font-size: 12px;
}

.textAd b {
    font-weight:bold;
    color: #999;
}

.textAd a:link {
    font-weight: bold;
    color: #3399aa;
}

.multiTextAd {
    color: #666;
    border-top: 0;
    border-bottom: 0;
    padding: 0;
}

.multiTextAd .hr {
    display: block;
    border-bottom: 1px solid #dddddd;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: -30px;
}

.multiTextAd h2 {
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    color: #999;
    padding:0 0 5px 0;
    margin:0 0 0 -30px;
}

/* top border, padding, and margin for school profile ads */
#nearbyWrapper, #nthGraderAd, .cobrandAd, #financialAidPlanner,
#BelowFold_Top_300x125, #BelowFold_Bottom_300x125,
#AboveFold_300x600, #AboveFold_300x250, #BelowFold_300x250 {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

/* text ads */
#BelowFold_Top_300x125, #BelowFold_Bottom_300x125  {
    padding-left: 20px;
    padding-right: 20px;
    width:260px;
    line-height: 18px;
}

/*Article box ad*/
#articletools #AboveFold_300x250{
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
