/* shade box styles */
table.shade3 td.TL {background: #FFFFFF url(../img/box/border_shade3_TL.gif) left top; width:7px; height:7px;}
table.shade3 td.T {background: #FFFFFF url(../img/box/border_shade3_T.gif) top repeat-x;}
table.shade3 td.TR {background: #FFFFFF url(../img/box/border_shade3_TR.gif) top right; width:7px; height:7px;}
table.shade3 td.L {background: #FFFFFF url(../img/box/border_shade3_L.gif) left repeat-y;}
table.shade3 td.R {background: #FFFFFF url(../img/box/border_shade5_R.gif) right repeat-y;}
table.shade3 td.BL {background: #FFFFFF url(../img/box/border_shade5_BL.gif) left bottom; width:7px; height:7px;}
table.shade3 td.B {background: #FFFFFF url(../img/box/border_shade5_B.gif) bottom repeat-x;}
table.shade3 td.BR {background: #FFFFFF url(../img/box/border_shade5_BR.gif) bottom right; width:7px; height:7px;}

table.shade4 td.TL {background: #FE894C url(../img/box/border_shade4_TL.gif) left top; width:7px; height:7px;}
table.shade4 td.T {background: #FE894C url(../img/box/border_shade4_T.gif) top repeat-x;}
table.shade4 td.TR {background: #FE894C url(../img/box/border_shade4_TR.gif) top right; width:7px; height:7px;}
table.shade4 td.L {background: #FE894C url(../img/box/border_shade4_L.gif) left repeat-y;}
table.shade4 td.R {background: #FE894C url(../img/box/border_shade4_R.gif) right repeat-y;}
table.shade4 td.BL {background: #FE894C url(../img/box/border_shade4_BL.gif) left bottom; width:7px; height:7px;}
table.shade4 td.B {background: #FE894C url(../img/box/border_shade4_B.gif) bottom repeat-x;}
table.shade4 td.BR {background: #FE894C url(../img/box/border_shade4_BR.gif) bottom right; width:7px; height:7px;}

table.shade5 td.TL {background: #DDDDDD url(../img/box/border_shade5_TL.gif) left top; width:7px; height:7px;}
table.shade5 td.T {background: #DDDDDD url(../img/box/border_shade5_T.gif) top repeat-x;}
table.shade5 td.TR {background: #DDDDDD url(../img/box/border_shade5_TR.gif) top right; width:7px; height:7px;}
table.shade5 td.L {background: #DDDDDD url(../img/box/border_shade5_L.gif) left repeat-y;}
table.shade5 td.R {background: #DDDDDD url(../img/box/border_shade5_R.gif) right repeat-y;}
table.shade5 td.BL {background: #DDDDDD url(../img/box/border_shade5_BL.gif) left bottom; width:7px; height:7px;}
table.shade5 td.B {background: #DDDDDD url(../img/box/border_shade5_B.gif) bottom repeat-x;}
table.shade5 td.BR {background: #DDDDDD url(../img/box/border_shade5_BR.gif) bottom right; width:7px; height:7px;}
