

/* callToAction indicates the links we put a greater-than symbol (&#160;&#62;) after and underline */
#contentGS a.callToAction, #contentGS a.callToAction:link, #contentGS a.callToAction:visited, #contentGS a.callToAction:active,
    a.callToAction, a.callToAction:link, a.callToAction:visited, a.callToAction:active {
	text-decoration: underline;
}

a.privacyPolicy, a.privacyPolicy:hover {
    color: #666;
    text-decoration: underline;
}

#contentGS a:hover, a:hover {
	text-decoration: underline;
}

.label {
    color: #666;
    line-height: 20px;
    font-size: 13px;
}

.bigger {
    font-size: 13px;
}

.bold {
    font-weight: bold;
}
