body, input, select {
    font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #666;
	letter-spacing: 0px;
}

#contentGS a, #contentGS a:link, #contentGS a:visited, #contentGS a:active,
    a, a:link, a:visited, a:active {
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #39a;
	text-decoration: none;
}

/* callToAction indicates the links we put a greater-than symbol (&#160;&#62;) after and underline */
#contentGS a.callToAction, #contentGS a.callToAction:link, #contentGS a.callToAction:visited, #contentGS a.callToAction:active,
    a.callToAction, a.callToAction:link, a.callToAction:visited, a.callToAction:active {
	text-decoration: underline;
}

#contentGS a:hover, a:hover {
	text-decoration: underline;
}

.label {
    color: #666;
    line-height: 20px;
    font-size: 13px;
}

.bigger {
    font-size: 13px;
}

.bold {
    font-weight: bold;
}
