#footer {
    margin: 0 auto 40px 0;
    padding-top: 10px;
    width: 100%;
    text-align: left;
    background-color: #fff;
    clear: both;
}

#footerAd {
    text-align: center;
}

#footerGS {
    line-height: 10pt;
    font-size: x-small;
    text-align: left;
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
    margin: 24px 18px 0 18px;
    border-top: 1px solid #ccc;
    padding: 18px 0 18px 0;
}

#footerGS a {
    text-decoration: underline;
    color: #888;
}

#footerGS a:visited {
    color: #aaa;
}

#footerGS a:hover {
    color: #6cc;
}

#footerGS a.plaintextlink {
    text-decoration: none;
}

#footerGS a.plaintextlink:visited {
    color: #888;
}

#footerGS a.plaintextlink:hover {
    color: #888;
}

#footerGS .lowernavbar {
    text-align: left;
    font-weight: bold;
}

#footerGS .lowernavbar a:link,
    #footerGS .lowernavbar a:visited {
    padding: 0 10px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#footerGS .lowernavbar a:hover {
    text-decoration: underline;
}

#footerGS #footerText {
    padding-top: 10px;
}

#footerGS #footerSearch {
    padding-top: 10px;
}

#footerGS #footerSearch span {
    padding-left: 0;
    padding-right: 2px;
}

#footerGS #footerCopyright {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footerGS #footerExtended {
    margin: 0 0 35px 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#footerImg {
    float: left;
}

#footerContent {
    float: left;
    padding-left: 30px;
    width: 660px;
}

#footerSearchStates, #footerSearchCities, #footerSearchStateSpecific, #footerSearchDistricts {
    padding: 0 50px 10px 0;
}

#footer img {
    border: 0;
    padding: 0;
    margin: 0;
}

#footer.custom {
    margin: 0;
    padding: 0;
}

#footer.custom #footerAd {
    margin-bottom: 30px;
}

#footer.custom #footerGS, #footer.custom #footerGS div#footerCopyright {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#footer.custom #footerGSIframe {
    height:50px;
}

#navFooter {
    background-color: #F8F6E9;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 11px;
    position: relative;
    height: 225px;
    color: #444;
    margin-top: 25px;
}

#navFooter.hidden {
    display: none;
}

#navFooter ul.navColumns li ul li a {
    text-decoration: none;
    color: #777;
}

#navFooter ul.navColumns li ul li a:hover {
    text-decoration: underline;
}

ul.navColumns, ul.navColumns li, ul.navColumns ul {
    margin: 0;
    padding: 0;
}

ul.navColumns li {
    list-style-type: none;
}

ul.navColumns > li {
    position: absolute;
    top: 30px;
}

ul.navColumns li.first {
    left: 18px;
}

ul.navColumns li.second {
    left: 198px;
}

ul.navColumns li.third {
    left: 378px;
}

ul.navColumns li.fourth {
    left: 558px;
}

ul.navColumns li.fifth {
    left: 738px;
}

ul.navColumns li ul li {
    margin-left: 15px;
    text-indent: -15px;
    width: 150px;
}

ul.navColumns div {
    margin-bottom: 10px;
}
