/* reset default browser styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline:0; vertical-align: baseline; background: transparent;}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 1px dotted;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
ul, li {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font: 13px/1.3 Arial, sans-serif;
    color: #333;
    background: none;
}
#footerAd {
    padding: 6px 0;
}
#footerAd table {
    margin: auto;
}
#footer {
    background: none;
    font-size: 11px;
    color: #666;
    background: url(/res/img/gs_content_bg.png) repeat-y;
    padding: 0 4px;
}
/**html #footer {
    background-image: url(/res/img/gs_contentIE6_bg.png);
    background-color: transparent;
}*/
#footnav {
    border-top: 3px dotted #ccc;
    list-style: none;
    width: 928px;
    padding: 10px 0 0;
    margin: 0 auto;
    text-align: center;
}
#footnav li {
    display: inline;
    margin: 0 9px;
    font-weight: 700;
}
#footnav li a, .cities ul a, .copyright a {
    color: #666;
}
.copyright {
    margin: 1em;
    text-align: center;
}
.copyright a {
    margin: 0 10px;
}
.cities {
    margin: 20px auto 0;
    padding: 12px 0 12px 54px;
    width: 913px;
    background: #ebebeb;
    overflow: hidden;
}
.cities h4 {
    margin: 0 auto 1em;
    font: 400 12px/1.3 Arial, sans-serif;
    color: #444;
    text-align: center;
    text-transform: uppercase;
}
.cities ul {
    float: left;
    margin: 0 3px 0 0;
    list-style: none;
    width: 13.93%;
    padding: 0;
}
.cities ul li {
    text-align: left;
}

.cities ul li a {
    text-decoration: none;
}
.cities ul li a:hover {
    text-decoration: underline;
}