/* Top of the gradiants is found in topnav.css */
/* PAGE FRAMING */
body {
    background-color: #acd;
    margin-top: 0;
}
body.cobranded {
    background-color: #fff;
}

/* Overall page placement */
#marginGS {
    width: 100%;
    text-align: center;
    zoom: 1.0;
}

#pageGS {
    width: 900px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

body.unframed #pageGS {
    border: 4px solid   #acd;
}

#adLeaderboard {
    background-color: #fff;
    height: 100px;
    width: 900px;
    margin:0 auto 6px auto;
    padding: 7px 0 0 0;
    text-align: center;
    zoom: 1.0;
    position:absolute;
}

#contentGS {
    background-color: #fff;
    padding: 0;
    margin: 0 18px 0 18px;
    border-top: 1px solid #fff; /* IE hack */
    border-bottom: 1px solid #fff;
    width: 864px;
}

#adLeaderboard table {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 738px;
}

#adLeaderboard table img {
    padding: 0 1px 0 2px;
}

#adLeaderboard table td.ad {
    background-color: #e9e9e9;
    border: 1px solid #bbb;
    text-align: left;
}
#adLeaderboard table td.ad object{
    position:relative;
    bottom:0;
}