/* Top of the gradiants is found in topnav.css */
/* PAGE FRAMING */
body {
    background-color: #acd;
    margin-top: 0;
}
/*body.cobranded {
    background-color: #fff;
}*/

/* Overall page placement */
#marginGS {
    width: 100%;
    zoom: 1.0;
    text-align: center;
}

#pageGS {
    width: 978px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}


#adLeaderboard {
    background-color: #fff;
    height: 100px;
    width: 978px;
    margin:0 auto 6px auto;
    padding: 0;
    zoom: 1.0;
}

#contentGS {
    background-color: #fff;
    padding: 0;
    margin: 0 18px 0 18px;
    border-top: 1px solid #fff; /* IE hack */
    border-bottom: 1px solid #fff;
}

