/*
 Top of the gradiants is found in topnav.css
*/
/* PAGE FRAMING */
body {
    background-color: #acd;
}

/**
Overall page placement
See: http://ndpsoftware.com/experiment/css/stretch.php?width=780&css=stretchymaxcenter
*/
#marginGS {
    width: 100%;
    text-align: center;
}

#pageGS {
    width: 900px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#adLeaderboard {
    background-color: #fff;
    height: 100px;
    margin-bottom: 10px;
}

.cobranded div#pageGS {
}

#contentGS {
    background-color: #fff;
    padding: 0 18px 0 18px;
    margin: 0;
    border-bottom: 1px solid #fff;
}

/** Framed cobrands */
.framed #pageGS,
    .framed #pageGS  td.frameLeft,
    .framed #pageGS td.frameRight,
    .framed #pageGS td.frameBottom,
    .framed #pageGS td.frameBottom img {
    background-color: #fff;
    background-image: url( ../img/pixel.gif );
}


