/*
 Top of the gradiants is found in topnav.css
*/
/* PAGE FRAMING */
body {
    background-color: #acd;
}

/**
Overall page placement
See: http://ndpsoftware.com/experiment/css/stretch.php?width=780&css=stretchymaxcenter
*/
#marginGS {
    width: 100%;
    text-align: center;
}

#pageGS {
    width: 900px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#adLeaderboard {
    background-color: #fff;
    height: 100px;
    margin:auto;
    margin-bottom: 10px;
    width: 900px;
}

#contentGS {
    background-color: #fff;
    padding: 0 18px 0 18px;
    margin: 0;
    border-top: 1px solid #fff; /* IE hack-- otherwise it leaves a gap */
    border-bottom: 1px solid #fff;
    width: 900px;
}

* html #contentGS {
    width: 864px; /* IE only: 900px - 18 - 18 (box model hack) */
}

body.cobranded {
    background-color: #fff;
}
body.unframed #pageGS {
    border: 4px solid   #acd;
}



body.xcontracostatimes #pageGS {
    border: 0px solid   #acd;
}
