/*
=ie styles
--------------------------------------------------------------------------
*/
#topnav_search ul {
    top: 0;
    left: 0;
}
#utilLinks .nav_menu {
    border: 0;
}
#utilLinks li .nav_group_items  {
    top: 8px;
}
#utilLinks li.last {
    border:0 none;
}
#utilLinks li.over .nav_group_items  {
    left: -26px;
}

/* =ie styles: arrows
-------------------------------------------------------------------------------------------*/

#fc-bigArrow-f4891d {
    font-size: 0;
    line-height: 0%;
    width: 0;
    position: absolute;
    top: 0;
    left: 2px;
    background: none;
    border-top: 23px solid #fc6;
    border-left: 33px solid #f4891d;
    border-bottom: 23px solid #fc6;
    filter: alpha(opacity = 100);
    z-index:9;
}

#fc-bigArrow-fc6 {
    font-size: 0;
    line-height: 0%;
    width: 0;
    position: absolute;
    top: 14px;
    left: 2px;
    background: none;
    border-top: 9px dashed black;
    border-left: 13px solid #fc6;
    border-bottom: 9px dashed black;
    filter: alpha(opacity = 100);
    z-index:10;
}


/*
=ie7 styles
--------------------------------------------------------------------------
*/
body.ie7 #utilLinks li .nav_group_items  {
    top: 22px;
}
body.ie7 #navbar {
    position: relative;
}
body.ie7 #topnav_search button {
    top: -28px;
    margin-bottom: -28px;
}
* + html #utilLinks li .nav_group_items  {
    top: 22px;
}
* + html #navbar {
    position: relative;
}
* + html #topnav_search button {
    top: -28px;
    margin-bottom: -28px;
}

/* =4a-4 raise your hand
-------------------------------------------------------------------------------------------*/

body.ie7 .ryh-title{
    margin-bottom:10px;
}

body.ie7 .ryh-answer{
    padding-left:0;
    margin-left:331px;
}

/*
=ie6 only styles
--------------------------------------------------------------------------
*/
body.ie6 {
    background-image: url(/res/img/cbi_cloudIE6_bg.gif);
}
body.ie6 #utilLinks .nav_menu a.nav_group_heading,
body.ie6 #topnav_search fieldset,
body.ie6 #topnav_search ul #srch1,
body.ie6 #topnav_search ul #srch2,
body.ie6 #topnav_search ul #srch1 label,
body.ie6 #topnav_search ul #srch2 label,
body.ie6 #topnav_menusubnav li a {
    background-image: url(/res/img/nav/topnavSprite_bg.gif);
}body.ie6 #topnav_menusubnav li ul li a {
    background-image: none;
}
body.ie6 #navbar,
body.ie6 #mainWrap,
body.ie6 #footerAd,
body.ie6 #footer,
body.ie6 #footer .copyright
{
    background-image: url(/res/img/gs_contentIE6_bg.png);
}
*html #logoBox {
    overflow: hidden;
}

*html #logoBox #logo {
    padding: 83px 0 0;
    background: url('/res/img/logo/logo_GS2010_330x110.gif') 0 0 no-repeat;
}
body.ie6 #utilLinks li .nav_group_items {
    top: 22px;
}
body.ie6 #navbar {
    position: relative;
}
body.ie6 #topnav_search ul li label, body.ie6 #topnav_menusubnav li a, body.ie6 #globalnav li a  {
    display: inline-block;
}
body.ie6 #topnav_search button {
    top: -28px;
    margin-bottom: -28px;
}
*html #topnav_search ul li label, *html #topnav_menusubnav li a *html #globalnav li a  {
    display: inline-block;
}
*html #topnav_search button {
    top: -28px;
    margin-bottom: -28px;
}
body.ie6 .srchCatComm li span.icon {
    left: -25px;
    background-image: url('/res/img/discussion_boards/db_profile_sprites_bg.gif');
}
*html iframe.ieShim {
	position: absolute;
	/* account for the border */
	left: -0.25em;
	top: -0.25em;
	z-index: -1;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
}

* html .utilLinks li.nav_menu { z-index: 201; }

/* =4a-4 raise your hand
-------------------------------------------------------------------------------------------*/

body.ie6 .ryh-title{
    margin-bottom:10px;
}

body.ie6 .ryh-answer{
    padding-left:0;
    margin-left:328px;
}
