/* reset default browser styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline:0; vertical-align: baseline; background: transparent;}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 1px dotted;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
ul, li {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    background: #68aaf1 url(/res/img/gs_gradient_bg.jpg) 50% 0 repeat-y;
}
body {
    background: url(/res/img/gs_cloud_bg.png) 52%  204px no-repeat;
    font: 13px/1.3 Arial, sans-serif;
    color: #333;
}
/*
=text styles
-------------------------------------------------------------------------------------------
*/
h1 {
    font:  30px/1.3 Georgia, serif;
    color: #d61;
}
h2 {
    font: 24px/1.3 Georgia, serif;
}
h3 {
    font: 20px/1.3 Arial, sans-serif;
}
h4 {
    font: 700 18px /1.3 Georgia, serif;
    color: #d61;
}
h5 {
    font: 700 13px/1.3 Arial, sans-serif;
}
.alert {
    color: #d61;
}
/* clases applied to h3 */
.title1 {
    font-family: Georgia, serif;
    color: #d61;
}
.title2 {
    font-family: Georgia, serif;
    font-size: 22px;
    color: #fc6;
}
.title2dark {
    font-family: Georgia, serif;
    font-size: 22px;
    color: #d61;
}

.subhead2, .subhead3, .subhead4 {
    font-weight: 400;
}
.subhead3 {
	color: #fff;
}
.subhead4 {
    color: #fc6;
}
.subhead6 {
    font-family: Arial, sans-serif;
    color: #333;
}
a {
    color: #0066B8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    margin: 0 0 1.2em;
}
/*
=ads
-------------------------------------------------------------------------------------------
*/
.gsAd, #adLeaderboard {
    margin: 0 auto;
    text-align: center;
    width: 738px;
}

/*
=page layouts
-------------------------------------------------------------------------------------------
*/
#pageGS {
    width: 978px;
    margin: 0 auto;
}
#header {
    position: relative;
    height: 116px;
}
#utilLinks {
    position: absolute;
    height: 18px;
    list-style: none;
    top: 10px;
    right: 4px;
}
#utilLinks li {
    display: inline;
    padding: 0 6px;
    border-right: 1px solid #fff;
    font-size: 11px;
}
#utilLinks li:last-child {
    border: 0;
}
#utilLinks li a {
    color: #fff;
}
#logoBox {
    position: relative;
    margin-top: 20px;
    width: 369px;
    height: 83px;
}
#logo {
    position: relative;
    width: 369px;
    height: 83px;
}
#searchForm {
    position: relative;
    float: right;
    margin: 40px 4px 0 0;
    width: 449px;
    height: 59px;
}
#searchForm fieldset {
    position: relative;
    padding: 28px 15px 0;
    background: url(/res/img/search/srchBoxSprite_bg.png) 0 20px no-repeat;
    height: 31px;
}
#searchForm ul {
    position: absolute;
    top: -28px;
    left: -15px;
    list-style: none;
    height: 28px;
}
#searchForm ul li {
    float: left;
    padding: 0 0 0 6px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    height: 28px;
}

#searchForm ul #srch1 {
    background: url(/res/img/search/srchBoxSprite_bg.png) 0 30px no-repeat;
}
#searchForm ul #srch2 {
    background: url(/res/img/search/srchBoxSprite_bg.png) 0 30px no-repeat;
}
#searchForm ul #srch1.active {
    background-position: 0 -58px;
}
#searchForm ul #srch2.active {
    background-position: 0 -108px;
}
#searchForm ul li a {
    display: block;
    height: 21px;
    padding: 3px 15px 3px 7px;
    color: #fff;
}
#searchForm ul #srch1 a {
    background: url(/res/img/search/srchBoxSprite_bg.png) 100% 30px no-repeat;
}
#searchForm ul #srch2 a {
    background: url(/res/img/search/srchBoxSprite_bg.png) 100% 30px no-repeat;
}
#searchForm ul #srch1.active a {
    background-position: 100% -158px;
    color: #333;
}
#searchForm ul #srch2.active a {
    background-position: 100% -208px;
    color: #333;
}
#searchForm fieldset input, #searchForm fieldset select {
    margin: 0 9px 0 0;
}
#searchForm fieldset input {
    width: 264px;
    height: 18px;
}
#searchForm fieldset select {
    height: 24px;

}
#searchForm button {
    position: relative;
    top: -2px;
    float: right;
}
#navbar {
    padding: 0 4px;
    height: 68px;
    background: url(/res/img/gs_content_bg.png) repeat-y;
}
#globalnav {
    height: 34px;
    margin: 0 auto;
    list-style: none;
    background: url(/res/img/nav/nav_bg.png) repeat-x;
}
#globalnav li {
    float: left;
    padding: 0;
    height: 32px;
    text-align: center;
    border: 1px solid #167eab;
    border-left-color: #82bcd5;
    background: url(/res/img/nav/nav_bg.png) 0 -1px no-repeat;
    font: 700 14px/1 Georgia, Times New Roman, serif;
}
#globalnav li#n1 {
    width: 88px;
}
#globalnav li#n2 {
    width: 130px;
}
#globalnav li#n3 {
    width: 114px;
}
#globalnav li#n4 {
    width: 180px;
}
#globalnav li#n5 {
    width: 147px;
}
#globalnav li#n6 {
    width: 130px;
}
#globalnav li#n7 {
    width: 167px;
}
#globalnav li:hover, #globalnav li.over, #globalnav li.active {
    background-position: 0 -35px;
    border-color: #b76700;
}
#globalnav li a {
    display: block;
    padding: 6px 0;
    text-decoration: none;
    color: #fff;
    height: 20px;
}
#globalnav li a:hover {
    color: #333;
}
#globalnav li#n7 a {
    background: url(/res/img/nav/snowFlakes_bg.png) 50% -1px no-repeat;
}
#globalnav li#n7 a:hover {
    background-position: 50% -35px;
}
#subnav {
    height: 34px;
    list-style: none;
}
#subnav li {
    float: left;
    padding: 3px 0 0;
    text-align: center;
    width: 20%;
}
#subnav li a {
    text-decoration: none;
}
#mainWrap {
    position: relative;
    margin: 0 auto;
    background: url(/res/img/gs_content_bg.png) repeat-y;
    padding: 0 24px;
    min-height: 640px;
}
.leftside #mainWrap {
    padding: 0 24px 0 344px;
    width: 610px;
}

.col {
    position: relative;
    float: left;
}

#contentGS.col {
    width: 597px;
    margin: 0 25px 30px 0;
}

.balanced #contentGS.col {
    width: 450px;
    margin: 0 15px 30px 0;
}
.leftside #contentGS.col {
    margin: 0 0 30px 15px;
}
#sidebar.col {
    width: 305px;
    margin-top: 10px;
}

.leftside #sidebar.col {
    margin: 0 0 0 -100%;
    right: 320px;
}
.balanced #sidebar.col {
    width: 450px;
    margin-top: 10px;
}




.mod_hd h3 {
    padding: 3px;
    background: #1c509f;
    border: 1px solid #3399FF;
}

#sidebar .mod_hd h3 {
    font-size: 14px;
}
.mod_bd {
    padding: 8px;
    border: solid #999;
    border-width: 0 1px 1px;
}


#footer {
    background: url(/res/img/gs_content_bg.png) repeat-y;
    font-size: 11px;
    color: #666;
}

#footnav {
    border-top: 3px dotted #666;
    list-style: none;
    width: 928px;
    padding: 10px 0 0;
    margin: 0 auto;
    text-align: center;
}
#footnav li {
    display: inline;
    margin: 0 9px;
    font-weight: 700;
}
#footnav li a, .cities ul a, .copyright a {
    color: #666;
}
.copyright {
    margin: 1em;
    text-align: center;
}
.copyright a {
    margin: 0 10px;
}
.cities {
    margin: 20px auto 0;
    padding: 12px 54px;
    width: 860px;
    background: #ebebeb;
    overflow: hidden;
}
.cities h4 {
    margin: 0 auto 1em;
    font: 400 12px/1.3 Arial, sans-serif;
    color: #444;
    text-align: center;
    text-transform: uppercase;
}
.cities ul {
    float: left;
    margin: 0 3px 0 0;
    list-style: none;
    width: 13.93%;
}
/* ------------------- */
/* SLIDING DOOR BUTTON */
/* ------------------- */

/* ------------------- */
/* 25 px height button */
/* ------------------- */

/* do not change */
.btn25{
    cursor: pointer;
    display:block;
    margin:0;
    border:0 none transparent;
    padding:0;
    background-color:transparent; /* hide form background color in IE */
}

.lftDoor25 {
    display:inline-block;
    padding: 0 0 0 15px;
    line-height: 25px;
    float:left;
}

.rtDoor25 {
    display: inline-block;
    padding:0 15px 0 0;
    height: 25px;
    line-height: 25px;
}

/* skin */
.lftDoor25 {
    background: url(/res/img/discussion_boards/db_btn_sprite_25_lft.gif) no-repeat left top;
}

.rtDoor25 {
    background: url(/res/img/discussion_boards/db_btn_sprite_25_rt.gif) no-repeat right top;
}

.btn25:active .lftDoor25, .btn25:hover .lftDoor25{
    background-position: left bottom;
}

.btn25:active .rtDoor25, .btn25:hover .rtDoor25 {
    background-position: right bottom;
    outline: none; /* hide dotted outline in Firefox */
}

/* icon */
.lftDoor25 .rtDoor25 img{
    margin:0;
    border:0 none transparent;
}

/* font size and family */
#marginGS .btn25 {
    font: bold 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px #444;
    color: #fff;
}