.#FF1304 {
  color: #FF1304;
}

.#FF6600 {
  color: #FE6905;
}

.#FEA005 {
  color: #FEA005;
}

.#096A9C {
  color: #096A9C;
}

.#093A9C {
  color: #093A9C;
}

.#22099C {
  color: #22099C;
}

.#99CCFF {
  color: #99CCFF;
}

.#000000 {
  color: #000000;
}

.#FFFFFF {
  color: #FFFFFF;
}