div#topnav {
    padding: 14px 9px 0 8px;
    font-family: arial, verdana, sans-serif;
}

#topnav a:link, #topnav a:visited {
    color: #000099;
    text-decoration: none;
}

#topnav a:hover {
    text-decoration: underline;
    color: #000099;
}

#topnav a:active {
    text-decoration: none;
    color: #000099;
}

/* uppermost header area with tabs*/
#topnav #outer {
    width: 100%;
    border-bottom: 3px solid #EB7A31;
}

#topnav .toptabs_wide {
    width: 505px;
    height: 25px;
    padding: 0px;
}

#topnav .tab_on,
    #topnav .tab_off {
    font-size: 11px;
}

#topnav .tab_on {
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background-color: #EB7A31;
    white-space: nowrap;
}

#topnav .tab_on A, #topnav .tab_on A:visited, #topnav .tab_on A:active {
    color: #FFF;
    text-decoration: none;
}

#topnav .tab_on A:hover {
    font-family: arial, verdana, helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
}

#topnav .tab_off {
    color: #000;
    text-decoration: none;
    text-align: center;
    background-color: #FAD3AE;
    border-top: 1px solid #EB7A31;
    white-space: nowrap;
}

#topnav .tab_off A, #topnav .tab_off A:visited, #topnav .tab_off A:active {
    color: #000;
    text-decoration: none;
}

#topnav .tab_off A:hover {
    color: #000;
    text-decoration: underline;
}

#topnav table .tab_on_left {
    background-image: url( ../img/header/tab_on_left.gif );
    background-repeat: no-repeat;
    width: 9px;
}

#topnav table .tab_on_right {
    background-image: url( ../img/header/tab_on_right.gif );
    background-repeat: no-repeat;
    width: 8px;
}

#topnav table .tab_off_left {
    background-image: url( ../img/header/tab_off_left.gif );
    background-repeat: no-repeat;
    width: 9px;
}

#topnav table .tab_off_right {
    background-image: url( ../img/header/tab_off_right.gif );
    background-repeat: no-repeat;
    width: 8px;
}

/* lower header area */
#topnav table.lower {
    width: 100%;
    padding: 0px;
    height: 63px;
    border: none;
}

#topnav .bottomborder {
    border-bottom: 1px solid #EB7A31;
    background-color: #DBDBDB;
    height: 4px;
}

#topnav .bottomborder_white {
    border-bottom: 1px solid #EB7A31;
    background-color: #FFF;
    height: 4px;
}

#topnav #state_area {
    color: #666;
    text-decoration: none;
    text-align: center;
    background-color: #DBDBDB;
    width: 108px;
    padding-right: 12px;
    padding-top: 4px;
    white-space: nowrap;
}

#topnav .state_abbrev {
    font-size: 20px;
    font-weight: bold;
    color: #EB7A31;
    text-decoration: none;
    text-align: center;
}

#topnav #search {
    padding: 4px 10px 0px 10px;
    color: #666;
    text-align: center;
}

#topnav .search_area {
    width: 80%;
    text-align: left;
    white-space: nowrap;
}


#topnav .search_area td {
    white-space: nowrap;
}

#topnav #browse_area {
    color: #666;
    text-decoration: none;
    text-align: left;
    background-color: #DBDBDB;
    width: 17em;
    padding: 3px 0 0 14px;
    white-space: nowrap;
}

#topnav #browse_area strong,
    #topnav #browse_area h1 {
    display: inline;
    font-weight: bold;
    color: #666;
}

#topnav .leftside {
    width: 7px;
    background-color: #DBDBDB;
    border-left: 1px solid #EB7A31;
}

#topnav .leftside_corner {
    background-image: url( ../img/header/left_round_corner.gif );
    width: 5px;
    background-repeat: no-repeat;
    height: 5px;
    background-color: #DBDBDB;
    border: 0px;
}

#topnav .rightside {
    width: 7px;
    background-color: #DBDBDB;
    border-right: 1px solid #EB7A31;
}

#topnav .rightside_corner {
    background-image: url( ../img/header/right_round_corner.gif );
    width: 5px;
    background-repeat: no-repeat;
    height: 5px;
    border: 0px;
}

/* welcome message */
#topnav div.welcome_wide {
    color: #666;
    text-decoration: none;
    text-align: left;
    width: 100%;
    padding: 6px 0 2px 8px;
}


#topnav #state_area,
    #topnav #search,
    #topnav #search a,
    #topnav .search_area td,
    #topnav #browse_area,
    #topnav #browse_area a,
    #topnav #browse_area strong,
    #topnav #browse_area h1,
    #topnav div.welcome_wide {
    font-size: 11px;
