/* ------ primrose (extends mod) ------- */
.primrose .inner {margin:0;padding:0;width:300px;height:250px; background: #fef6df url(/res/img/primrose/primrose2012.jpg) no-repeat;}
.primrose .hd {width:300px; height:42px;}
.primrose .leadGenErrors {width:300px; height:15px; position: relative;}
.primrose .jq-leadGenError-all {position: absolute; top: 0; left: 59px;}
.primrose .bd label{font-size:10.5px; text-align:right; line-height:20px;}
.primrose .bd input{margin:2px 3px;padding:0; height:11px;}
.primrose .bd button{margin:4px 0 0 72px; background-color:#336799; font:11px Arial,Helvetica,sans-serif; }
.primrose .leadGenThankYou{width:180px;margin:3px 0 0 27px;font:16px/1.25 Georgia, "Times New Roman", Times, serif; color:#666633;}
/* --------- kindercare (extends mod) ---------- */
.kindercare .inner {margin:0;padding:0;width:300px;height:250px;}
.kindercare .bd {width:300px; height:250px; background: #ebd720 url(/res/img/promo/kindercare_300x250.jpg) no-repeat;}
.kindercare .bd p{font:normal 15px/1.2 Arial, Helvetica, sans-serif; color: black;margin:15px 0 0;}
.kindercare .bd label{text-align:right;line-height:18px;}
.kindercare .bd input{margin:2px 2px;padding:0; height:12px;}
.kindercare .bd button{margin:5px 0 0 72px;}
.kindercare .leadGenIntroText{width:187px; margin:0 14px;}
.kindercare .leadGenThankYou{width:165px;margin:30px 0 0 20px;}

/* GS-11847 Integrated text ads*/

.integratedTextAds{
    background-color: #FDF5E6;
}

.integratedTextAds.singleLine{
    height: 30px;
}

.integratedTextAds .sponsoredText{
    color: #B89652;
}

.integratedTextAds h6{
    line-height: 14px;
}

.integratedTextAds.singleLine .gsAdText{
    margin-top: 8px;
    line-height: 16px;
}

.integratedTextAds.sponsoredSearch{
    zoom:1;
}

.integratedTextAds.sponsoredSearch .sponsoredText{
    width:100%;
}

.integratedTextAds.adLogo .gsAdText{
    width: 290px;
}

.integratedTextAds.adLogo.adList .gsAdText{
    width: 475px;
}

.integratedTextAds.adLogo .sponsoredText{
    width: 95px;
}