#pageWrapper{
    color:#666666;
    font-family:Arial,Arial,sans-serif;
    font-size:13px;
}

#pageWrapper h2{
border-bottom:1px solid #CACC9E;
color:#55BBCC;
font-size:19px;
font-weight:bold;
margin:0 0 14px;
padding-bottom:6px;
}

#pageWrapper h3{
color:#D66671;
font-size:18px;
margin:10px 0;
}

#pageWrapper h4{
color:#55BBCC;
font-family:Arial;
font-size:16px;
font-weight:bold;
}

#pageWrapper #parentRating{
    float:left;
    width:400px;
}

#pageWrapper #categoryRatings{
float:left;
    width:300px;
}

#pageWrapper #selections{
     float:left;
    width:400px;
}

#pageWrapper #selections div{
    padding-bottom:10px;
}

#pageWrapper #selections div span#state{
    padding-left:16px;
}

#pageWrapper #selections div span#city{
    padding-left:24px;
}

#pageWrapper #selections div span#schools{
    padding-left:9px;
}


#pageWrapper #parentReviewImage{
    float:left;
    width:400px;
    height:200px;
}
