.resultoverview {bottom:0px;margin:0px 0px 0px 0px;width:100%;}
.resultoverview .TL, .resultoverview .TR, .resultoverview .BL, .resultoverview .BR { width:10px; height:10px; background:no-repeat; }
.resultoverview td.TL {background:  url(../img/search/border_shade3_TL.gif) left top; }
.resultoverview td.T {background:  url(../img/search/border_shade3_T.gif) top repeat-x;}
.resultoverview td.TR {background:  url(../img/search/border_shade3_TR.gif) top right;}
.resultoverview td.L {background:  url(../img/search/border_shade3_L.gif) left repeat-y;}
.resultoverview td.C {background:  url(../img/search/border_shade3_BG.gif); padding: 0px 0px 0px 0px;vertical-align:top;}
.resultoverview td.R {background:  url(../img/search/border_shade3_R.gif) right repeat-y;}
.resultoverview td.BL {background:  url(../img/search/border_shade3_BL.gif) left bottom;}
.resultoverview td.B {background:  url(../img/search/border_shade3_B.gif) bottom repeat-x;}
.resultoverview td.BR {background:  url(../img/search/border_shade3_BR.gif) bottom right;}
.resultoverview .title {font-weight:bold;border-bottom:1px solid #CCC;}

.searchfor {font-weight:bold; color:orange}