div.searchresult {
    border-bottom : dotted thin black;
    padding-bottom : 2mm;
    margin-bottom : 3mm
}

.schoolname {
   color : blue
}

.address {
    color : gray;
}

.rating {
    visibility : hidden;
}

.headline {
   color : blue;
}

.abstract {
}

.highlight {
    font-weight : 800
}

#rButton {
    padding-left: 3mm;
}
