#contentGS {
    padding-top: 0px;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

.bigDottedDivider {
    margin-top: 10px;
    text-align:center;
    background-image: url( ../img/splash/greyDot.gif );
    background-repeat:repeat-x;
    background-position:bottom;
    padding-bottom:5px;
    padding-top:3px;
    padding-left:9px;
    margin-bottom: 10px;
    width: 851px;
}

.bigDottedDivider hr {
    display:none;
    width:0;
}


/* TOP SECTION */

#findAndCompare {
    border: 3px solid #6cc;
    padding: 20px 8px 10px 9px;
    margin: 0;
    width: 240px;
    height: 100%;
}

#findAndCompare h3 {
    font-size: large;
    color: #999;
    font-weight: 100;
    text-indent: -9999px;
    height: 31px;
    overflow: hidden; /* Phark */
    background-repeat: no-repeat; /* Phark */
}

#findAndCompare h3 em {
    font-weight: bold;
    color: #9c6;
}

#findAndCompare #findAndCompareSchoolsNationwide {
    padding-bottom: 2ex;
    border-bottom: 2px dotted #bdfce8;
    margin-bottom: 3ex;
}


#findAndCompare #findAndCompareSchoolsNationwide h3 {
    background-image: url( ../img/splash/findAndCompare.gif ); /* Phark */
    margin-bottom: 9px;
}

#findAndCompare #getIdeasAndLearnMoreAbout h3 {
    background-image: url( ../img/splash/getIdeasAndLearnMoreAboutTrans.gif ); /* Phark */
    margin-bottom: 2px;
}


#findAndCompare input.textInput {
    height:17px;
    margin-bottom:0px;
    color: #444;
    padding-top:2px;
    padding-left:3px;
    max-height:22px;
    padding-bottom:0px;
    font-size:.8em;
}

/* IE ONLY */
* html #findAndCompare input.textInput {
    padding-top:0px;
    padding-bottom:0px;
    height:18px;
}

#findAndCompare input,
    #findAndCompare select {
    color: #444;
}

#findAndCompare input.button {
    margin: 3px 3px 3px 0px;
}

#week {
    background-color: #eee;
    color: #666666;
    font-weight: 100;
    /* padding: 10px 20px 16px 20px; */
    padding: 0;
    min-height: 145px; /* padding-top + min-height = 150px */
    height: 100%;
}
#weekAdFree {
    background-color: #eee;
    color: #666666;
    font-weight: 100;
     padding: 10px 20px 16px 20px;
    min-height: 145px; /* padding-top + min-height = 150px */
    height: 100%;
}

#week h3 {
    height: 35px;
    text-indent: -9999px;
    overflow: hidden;
    background-image: url( ../img/splash/thisweek.jpg );
    background-repeat: no-repeat;
    background-position: 24px -2px;
}
#weekAdFree h3 {
    height: 35px;
    text-indent: -9999px;
    overflow: hidden;
    background-image: url( ../img/splash/thisWeekAtGreatSchools.gif );
    background-repeat: no-repeat;
    background-position: 24px -2px;
}

#week ul li,#weekAdFree ul li {
    font-size: .9em;
    margin: 0 0 3px 0;
    padding: 0px 0 0px 32px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

#week ul li a,#weekAdFree ul li a {
    color: #555555;
    font-weight: bold;
    text-decoration: underline;
    display: block;
}

#week ul li a:visited,#weekAdFree ul li {
    color: #555555;
}

ul li.burst {
    background-image: url( ../img/bullet/yellow/trans/burst.gif );
}

ul li.dialog {
    background-image: url( ../img/bullet/yellow/trans/dialog.gif );
}

ul li.checkmark {
    background-image: url( ../img/bullet/yellow/trans/check.gif );
}

/*

*/
td#billsBlog {
    background-color: #eee;
    color: #666666;
    font-weight: 100;
   /* padding: 20px 20px 16px 20px;   */
    padding: 0;
    min-height: 130px; /* padding-top + min-height = 150px */
    height: 100%;
    width: 270px;
   /* background-image: url( ../img/splash/billFamily.jpg );
    background-position: 16px 16px;
    background-repeat: no-repeat;      */
    vertical-align: top;
}

td#billsBlogAdFree {
    background-color: #eee;
    color: #666666;
    font-weight: 100;
    padding: 20px 20px 16px 147px;
    min-height: 130px; /* padding-top + min-height = 150px */
    height: 100%;
    background-image: url( ../img/splash/billFamily.jpg );
    background-position: 16px 16px;
    background-repeat: no-repeat;
    vertical-align: top;
}

td#billsBlog img { margin-bottom: 7px; }

#billsBlog div.rss {
    margin-top: 0px;
    font-size: 12px;
    font-weight: normal;
    line-height:15px;
    padding-left: 26px;
    padding-right: 26px;
}

#billsBlogAdFree div.rss {
    margin-top: 0px;
    font-size: 12px;
    font-weight: normal;
    line-height:15px;
}

#billsBlog a, #billsBlog a:hover, #billsBlog a:visited,
    #billsBlogAdFree a, #billsBlogAdFree a:hover, #billsBlogAdFree a:visited
{
    color: #3399aa;
    text-decoration: underline;
}

/* PM don't want search box on the splash page */
#topnav .searchLabel, #topnav .search {
    display: none;
}

/* overrides footer.css */
div#footerGS { margin-top:0px; }
/* overrides footer.css */
div#footer { padding-top:2px; }
