#contentGS {
    padding-top: 12px;
}

.bigDottedDivider {
    margin-top: 0px;
    border-bottom: 3px dotted #cccccc;
    margin-bottom: 20px;
}

/*

  */
#week {
    background-color: #eee;
    color: #555;
    font-weight: 100;
    padding: 20px 20px 16px 20px;
    min-height: 130px;
}

#week h3 {
    height: 44px;
    text-indent: -50em;
    overflow: hidden;
    background-image: url( ../img/splash/thisWeekAtGreatSchools.gif );
    background-repeat: no-repeat;
    background-position: -2px -12px;
    margin-bottom: -12px;
}

#week ul li {
    font-size: .9em;
    padding-bottom: 10px;
}
#week ul li a {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
    display: block;
}
ul li.burst {
    padding-left: 32px;
    background-image: url( ../img/bullet/yellow/trans/burst.gif );
    background-repeat: no-repeat;
    background-position: -15px left;
}

ul li.dialog {
    padding-left: 32px;
    background-image: url( ../img/bullet/yellow/trans/dialog.gif );
    background-repeat: no-repeat;
    background-position: -5px left;
}

ul li.checkmark {
    padding-left: 32px;
    background-image: url( ../img/bullet/yellow/trans/check.gif );
    background-repeat: no-repeat;
    background-position: top left;
}

/*

*/
#billsBlog {
    background-color: #eee;
    color: #555;
    font-weight: 100;
    padding: 20px 20px 16px 147px;
    min-height: 130px;
    background-image: url( ../img/splash/billFamily.jpg );
    background-position: 16px 16px;
    background-repeat: no-repeat;
}

#billsBlog h3 {
    width: 228px;
    height: 31px;
    position: relative;
    font-size: large;
    font-weight: 100;
    text-transform: capitalize;
    background-image: url( ../img/splash/billsBlogTrans.gif );
    text-indent: -50em;
    overflow: hidden;
}

#billsBlog h4 {
    font-size: small;
    text-indent: -50em;
    overflow: hidden;
}

#billsBlog div.rss {
    padding-top: 10px;
    font-size: small;
    font-weight: normal;
}

#didYouKnow {
    vertical-align: top;
}

#didYouKnow h3 {
    padding-top: 30px;
    font-size: large;
    font-weight: 100;
    text-transform: capitalize;
}

#findAndCompare {
    border: 3px solid #6cc;
    padding: 40px 18px 40px 18px;
    margin: 0;
    height: 100%;
}

#findAndCompare h3 {
    font-size: large;
    color: #999;
    font-weight: 100;
    margin-bottom: 9px;
    text-indent: -50em;
    height: 31px;
    overflow: hidden;
    background-repeat: no-repeat;
}

#findAndCompare h3 em {
    font-weight: bold;
    color: #9c6;
}


#findAndCompare #findAndCompareSchoolsNationwide {
    padding-bottom: 2ex;
    border-bottom: 2px dotted #bdfce8;
    margin-bottom: 2ex;
}

#findAndCompare #findAndCompareSchoolsNationwide h3 {
    background-image: url( ../img/splash/findAndCompare.gif );

}

#findAndCompare #getIdeasAndLearnMoreAbout h3 {
    background-image: url( ../img/splash/getIdeasAndLearnMoreAboutTrans.gif );
}



#houseAd {
    width: 584px;
    height: 291px;
    background-image: url( ../img/splash/childWriting.jpg );
    background-position: top right;
    background-repeat: no-repeat;
    vertical-align: top;
}

#houseAd p {
    width: 219px;
    height: 180px;
    position: relative;
}

#houseAd p span {
    background-image: url( ../img/splash/trackLearning.gif );
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

#houseAd a {
    display: block;
    width: 219px;
    height: 111px;
    background-color: #6cc;
    position: relative;
}

#houseAd a span {
    width: 100%;
    height: 100%;
    background-image: url( ../img/splash/signMeUp.gif );
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: #6cc;
    position: absolute;
}

#houseAd a:hover span {
    background-image: url( ../img/splash/signMeUpOver.gif );
}


#topnav .searchLabel, #topnav .search {
    display: none;
}