/*#contentGS {
    padding-top: 0;
    font-family: Arial, Arial, sans-serif;
    color: #666;
    margin: 0 8px;
    width: 884px;
}*/

/* TOP SECTION */

#houseAd {
    float: left;
    width: 584px;
    height: 291px;
}

#contentTopDivider {
    width: 8px;
    height: 291px;
    float: left;
}

#findAndCompareWrapper {
    width: 273px;
    float: right;
}

#findAndCompare {
    border: 3px solid #6cc;
    padding: 18px 8px 10px 9px;
    margin: 0;
    width: 249px;
    height: 257px;
}

#findAndCompare h3 {
    font-size: large;
    color: #999;
    font-weight: 100;
    text-indent: -9999px;
    height: 14px;
    overflow: hidden; /* Phark */
    background-repeat: no-repeat; /* Phark */
}

#findAndCompare h3 em,
#compareSchoolsNearZipHeader h3 em{
    font-weight: bold;
    color: #9c6;
}

div.compareNearZip{
    font-size:small;
    font-style:normal;
    font-weight:normal;
    font-family:Arial,Arial,sans-serif;
}
div.compareNearZip div.zipCodeInput {
    height: 24px;
    margin-top:12px;


}

div.compareNearZip div.zipCodeInput p{
    display: block;
    float:left;
    margin-right:4px;
    font-family:Arial,Arial,sans-serif;
}
div.compareNearZip div.zipCodeInput input{
    float:left;
    margin-right:8px;
    width:76px;
}

div.compareNearZip div.zipCodeInput .submitButton {
    float:left;
        margin-top:-3px;


}
div.compareNearZip div.zipCodeInput .submitButton input {
    width:41px;
}

#errorMessageZip{
    font-family:"Century Gothic",Arial,sans-serif;
    display:none;
    color:red;
}

#findAndCompare #findAndCompareSchoolsNationwide {
    padding-bottom: 2ex;
    border-bottom: 2px dotted #CCCCCC;
    margin-bottom: 3ex;
}


#findAndCompare #findAndCompareSchoolsNationwide h3 {
    background-image: url( /res/img/splash/findaschool.gif ); /* Phark */
    margin-bottom: 9px;
}

#findAndCompare #getIdeasAndLearnMoreAbout h3 {
    background-image: url( /res/img/splash/getIdeasAndLearnMoreAboutTrans.gif ); /* Phark */
    margin-bottom: 2px;
}

h3#compareSchoolsNearZipHeader {
    background-image: url( /res/img/splash/compareschool.gif ); /* Phark */
    margin-bottom: 9px;
    height: 36px;
}


#findAndCompare input.textInput {
    height:17px;
    margin-bottom: 0;
    color: #444;
    padding-top: 0;
    padding-left:3px;
    max-height:22px;
    padding-bottom: 0;
    font-size:.8em;
    width: 170px;
}

/* IE ONLY */
* html #findAndCompare input.textInput {
    padding-top: 0;
    padding-bottom: 0;
    height:18px;
}

#findAndCompare input,
    #findAndCompare select {
    color: #444;
}

select.miles {
    display:none;
}
#splashStateSelector {
    width:48px;
    height: 21px;
    margin-left: 8px;
}
#findAndCompare input.button {
    margin: 3px 3px 3px 0;
}

/* PM don't want search box on the splash page */
#topnav .searchLabel, #topnav .search {
    display: none;
}

/* overrides footer.css */
/*div#footerGS { margin-top 0; }*/
/* overrides footer.css */
div#footer { padding-top:2px; }

#homepageFooterAd {
    width: 728px;
    height: 90px;
    padding-top: 30px;
    margin: auto;
    clear: both;
}

/*#contentTop {
    width: 865px;
    height: 291px;
    margin-left: 10px;
    margin-bottom: 10px;
}*/

#contentMiddle {
    width: 870px;
    margin-left: 3px;
    margin-bottom: 2px;
}

#contentMiddleRight {
    float: right;
    padding: 4px 0 0 0;
}

#contentBottom {
    clear: both;
    width: 880px;
    height: 235px;
    margin-left: 3px;
    margin-top: 0;
}


.more {
    position: absolute;
    bottom: 10px;
}

.more.right {
    right: 10px;
    bottom:10px;
}

.findMore {
    position: absolute;
    bottom: 10px;
    right: 65px;
}

#rightSchoolDiv {
    float: left;
    width: 244px;
    padding-left: 10px;
}

#rightSchoolLinksDiv {
    margin-left: 0;
    margin-top: 0;
}

.adBox .wrapper-content {
    width: 303px;
    height: 264px;
}

.sponsor_ad {
    position: absolute;
    bottom: 28px;
    left: 25px;
}

#adFreeHouseAd {
    margin-top: 10px;
    margin-left: 2px;
}

.blogpromo{
    height:60px;
    margin-bottom:10px;
}

.blogpromo_image_wrap{
    float:left;
    height:60px;
}

.blogpromo_image{
    border:1px solid #cccccc;
    padding:1px;
    margin:0 5px;
    height:40px;
    width:40px;
}

.blogpromo_entry{
     height:50px;
    width:170px;
    float:left;
    font-family:georgia,times new roman,times,serif;
    padding:0 5px;
}

.blogpromo_entry a:link,
    .blogpromo_entry a:active,
    .blogpromo_entry a:visited,
.blogpromo_entry a{
    color:#000000;
    font-size:13px;
    line-height:17px;
}

.blogpromo_description{
     color:#666666;
    font-size:13px;
    line-height:17px;
}

ul#frmErrors {
    margin-top:7px;
}

ul#frmErrors li {
    position:relative;
    clear:left;
    color: #cc5566;
    background-image: url(/res/img/bullet/exclamation.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: .1em 0 .5em 2em;
    font-family:Arial,sans-serif;
    font-size:12px;
}
