/* til update: 042805.1845 */
body {
width:97%;margin:10px;padding:10px;font-family: Arial, Helvetica, sans-serif;background: #FFF;
}
.wrap0 {
float:left;
background:url(res/img/shadow.gif) right bottom no-repeat;
}
.wrap1 {
background:url(res/img/shadow180.gif) no-repeat;
}
.wrap2 {
background:url(res/img/corner_bl.gif) -16px 100% no-repeat;
}
.wrap3 {
padding:4px 6px 6px 4px;
background:url(res/img/corner_tr.gif) 100% -16px no-repeat;
}

.box {background-color: #FFFFF4;
	background-image: url(res/img/box_bg.gif);
	background-repeat: repeat-x;
	background-position: top;
	border:1px solid;border-color:#ddd #999 #999 #ccc;
	padding-left: 5px;
	padding-bottom: 5px;
	width:100%;
	}

div.roundbox {background-color: #dbe4e2;height:100%;}
div.roundbox table.main {padding: 8px 8px 8px 8px;height:100%;} /* T R B L */
div.roundbox_tl {background: url(res/img/roundbox_tl.gif) no-repeat top left;}
div.roundbox_tr {background: url(res/img/roundbox_tr.gif) no-repeat top right;}
div.roundbox_bl {background: url(res/img/roundbox_bl.gif) no-repeat bottom left;}
div.roundbox_br {background: url(res/img/roundbox_br.gif) no-repeat bottom right;}

.small {
font-size:80%;
}
h3 {
line-height:110%;
font-size:130%;
margin-bottom:0px;
}

table.rollmenu {
	width:100%;
	background-color:#003499;
    color: #FFF;
    margin: 0;
    padding: 0;
	}

html>body table.rollmenu {width: 100%;}
table.rollmenu td {//border-left: 1px solid #D1CAFF;
	width: 10%;
    margin: 0;
    padding: 0;
	background-image: url(res/img/bgtab_blue.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	}
table.rollmenu table {width: 100%}
table.rollmenu a:visited {
    text-decoration: none;
    color: #FFF;
}
table.rollmenu a {
	font-weight: normal;
	font-size:75%;
	line-height:95%;
	height: 100%;
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    margin: 0;
    width: auto;
    border-right: 1px solid #D1CAFF;
    display: block;
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 0px;}
html>body table.rollmenu a {width: auto;
	height: 100%;}
table.rollmenu a:hover {
	color: #000;
    text-decoration: none;
    background-color: #D1CAFF;
	background-image: url(res/img/bgtab_hilite.gif);
	background-repeat: repeat-x;
	background-position: bottom;}
html>body table.rollmenu a#active {color: #000;
    background-color: #D1CAFF;
	background-image: url(res/img/bgtab_hilite.gif);
	background-repeat: repeat-x;
	background-position: bottom;text-decoration:none;}
table.rollmenu a#active {color: #000;
    background-color: #D1CAFF;
	background-image: url(res/img/bgtab_hilite.gif);
	background-repeat: repeat-x;
	background-position: bottom;text-decoration:none;}
table.rollmenu td#active {border-left: 0px;}

td#box_pagetitle {font-weight:bold;font-size:100%;
padding: 4px 0px 4px 7px;
}
td#box_schoolinfo {font-size:70%;
padding: 0px 0px 4px 7px;
}
td#sky {
padding-right:10px;
text-align:center;
font-size:10px;
}
table#sky {padding-top:10px;}

table#sky td {
width:120px;
padding-left:0px;
padding-right:10px;
text-align:center;
font-size:10px;
}

table#box_ad {
border: 1px solid #ccc;
height:100%;
}

table#box_ad td {
text-align:center;
font-size:10px;
}
ul.arrow {list-style-image: url("res/img/arrow_orange.gif"); padding:0px;}
ul.arrow li {line-height:170%;font-size:80%;padding-bottom:10px;line-height:115%;}
ul.arrow li a {color:#00F;}
ul.arrow li a:hover {color:#FF6600;}

/* ===================== tags */
BLOCKQUOTE {
margin: 1em 0em 1em 2em; /*T R B L*/
}

body,html,td {
font-family: Arial, Helvetica, sans-serif;
/* font-size:100%; */
height:100%;
}

a:hover {color: #CCC;}

form {
padding:0px;
margin:0px;
}

/* ============== modules */
table.module1container td {width:50%;}
table.module1 {
border: 1px solid #ccc;
height:100%;
font-size:80%;
width:100%;
}

table.module1 td.module1_head {
background-color: #6699CC;
color:#FFF;
font-weight:bold;
font-size:12px;
height:22px;
padding-left:4px;
}

.module1headerbgcolor {color: #6699CC;}

table.module1 td.module1_body {
background-color: #FFFFF4;
color:#000;
height:100%;
padding-bottom:10px;
padding-left:4px;
}
table.module1 td a {line-height:140%;white-space:nowrap;}
table.module1 td a:hover {color: #CCC;}

td#insiderbug {background: url(res/img/insider_leftBG.gif) top left no-repeat;
font-size:10px;
padding-left:6px;
}
td#insiderbug b {font-size:12px;}
td#outsiderbug {background: url(res/img/insider_leftBG.gif) top left no-repeat;
font-size:11px;
line-height:10px;
padding-left:6px;
}

/* =================== wizard */
.wizard {background: url(res/img/innershadow_box_ul.gif) no-repeat top left #FaFaFa;}
.wizard2 {background: url(res/img/innershadow_box_lr.gif) no-repeat bottom right;}
.wizard3 {background: url(res/img/innershadow_box_ur.gif) no-repeat top right;}
.wizard4 {background: url(res/img/innershadow_box_ll.gif) no-repeat bottom left;}
.pad {padding:7px 7px 7px 10px;}


#header td {
font-weight:bold;
color:#999; // NDP 5/05
border-bottom:1px solid #AAA;
padding-bottom:4px;
}
#header td#active {
font-weight:bold;
color:#F60;}

#main td {
padding-top:7px;
padding-bottom:8px;
font-size:90%;
padding-right:25px;
}

#footer td {
border-top:1px solid #AAA;
padding-top:4px;
}

.formrow, .formrowoptional {
clear: both;
padding-top:2px;
}
.formrow span.label, .formrowoptional span.label {
  float: left;
  width:120px;
  text-align: right;
  font-size:80%;
  padding-right:5px;
}
.formrow span.labelright {
font-size:80%;
}
.formrowoptional {
color: #999;
}
.formrow input {
  text-align: left;
  }

#Submit {
font-size:12px;
text-align:center;
color:#666;
font-weight:bold;
height:30px;
width:90px;
border:0px;
background: transparent url("res/img/submit.gif") no-repeat;
}

.error {
margin:20px;
color: #009900;
width:80%;
font-weight:bold;
font-size:110%;
border: 1px solid #009900;
padding: 10px;
}
