#topnav {
    font-family: Century Gothic, Helvetica, sans-serif;
    background-color: #fff;
    padding: 0 0 8px 0;
}

#topnav #GlobalNav_HiTechHolidayButton__Plain {
    width: 75px;
}

#topnav  a img {
    border-width: 0;
}

/* New community styles (GS-3686) */

#topnav table tr td.communityHeader {
    padding-top: 5px; /* override */
}

#topnav table tr td.communityHeader div.communityHeader {
    margin-top: 24px; /* override */
}

#topnav #communityHeader {
    font: 11px Arial, sans-serif;
    color: #666666;
    text-align: right;
    position: relative;
    padding: 0;
    margin: 0;
    float: right;
}

#topnav #communityHeader #myAccountMenu li.nav_menu {
    text-align: left;
}

#topnav #communityHeader.withImages {
    padding-top: 1px;
}

#topnav #communityHeader a {
    text-decoration: none;
}

#topnav #communityHeader a:hover {
    text-decoration: underline;
}

#topnav #communityHeader #myAccountMenu {
    margin-top: 0;
}

* html #topnav #communityHeader #myAccountMenu {
    margin-top: -5px;
}

* + html #topnav #communityHeader #myAccountMenu {
    margin-top: 0;
}

#topnav #communityHeader #myAccountMenu li.nav_menu a:hover {
    text-decoration: none;
}

#topnav #communityHeader .left.username {
    font-weight: bold;
}

#topnav #communityHeader .left {
    padding: 0 10px 0 0;
    float: left;
}

#topnav #communityHeader .middle {
    padding: 0 10px 0 10px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCCCCC;
    float: left;
}

#topnav #communityHeader span.right {
    padding: 0 0 0 10px;
    float: left;
}

#topnav #communityHeader li.right {
    padding: 0 0 0 6px;
}

#myAccountMenu .left {
    margin-top: 0;
}

#myAccountMenu .middle {
    margin-top: 0;
}

#myAccountMenu .right.nav_menu {
    margin-top: -5px;
}

* html #myAccountMenu .left {
    margin-top: 5px;
}

* html #myAccountMenu .middle {
    margin-top: 5px;
}

* html #myAccountMenu .right.nav_menu {
    margin-top: 0;
}

#topnav #communityHeader span.headerUsername {
    font-weight: bold;
    padding: 0 6px 0 0;
    position: relative;
    margin: 0;
}

#topnav #communityHeader span.withBadge {
    padding: 0 26px 0 0;
}

#topnav #communityHeader span.headerUsername img {
    position: absolute;
    width: 15px;
    height: 17px;
    top: 0;
    right: 6px;
    _right: 201px;
}

#topnav #communityHeader span.headerDashboard {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
    padding: 0 10px 0 6px;
    background: url(/res/img/header/arrowGreenRight.gif) right 5px no-repeat;
}

#topnav #communityHeader span.headerAccount {
    padding: 0 6px 0 6px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCCCCC;
}

#topnav #communityHeader span.headerMsl {
    padding: 0 0 0 6px;
}

#topnav #communityHeader span.withAvatar {
    padding-right: 37px;
    border-right: 0;
    margin-left: 6px;
}

#topnav #communityHeader span.headerAvatar {
    position: absolute;
    width: 30px;
    height: 31px;
    top: 0;
    right: 0;
    _right: 16px;
}

/* End community styles */

#topnav .member {
    font-family: Verdana, Geneva, Helvetica, sans-serif;
    font-size: xx-small;
}

#topnav td.member {
    vertical-align: top;
    padding-top: 10px;
    padding-right: 18px;
    width: 55%;
}
#topnav .member .welcome {
    text-align: right;
    font-weight: 900;
    color: #666666;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCCCCC;
    padding-right: 6px;
    width: 48%;
    white-space: nowrap;
}

#topnav .member .account {
    text-align: center;
    color: #69C5D2;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    width: 20%;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCCCCC;
    margin: 0;
    white-space: nowrap;
}

#topnav .member .account a {
    color: #69C5D2;
    text-decoration: none;
}

#topnav .member .signout {
    text-align: left;
    color: #69C5D2;
    padding-left: 6px;
    width: 30%;
}
#topnav .member .signout a {
    color: #69C5D2;
    text-decoration: none;
}
#topnav .member .signout a:hover {
    text-decoration: underline;
}

#topnav .member .saved {
    color: #69C5D2;
    text-align: right;
    padding-right: 9px;
    background-image: url( /res/img/header/arrowBlueRight.gif );
    background-repeat: no-repeat;
    background-position: right;
    width: 10%;
    white-space: nowrap;
}
#topnav .member .saved a {
    color: #69C5D2;
    text-decoration: none;
}
#topnav .member .saved a:hover {
    text-decoration: underline;
}

/* Search area */
#topnav div.search {
    margin-top:41px;
    clear: right;
    float: right;
}

#topnav td#goBtn input {
    margin:0 0 0 10px;
}

#topnav div.search table#searchTable {
    width: 305px;
}

#topnav div.search td#searchBox {
    white-space:nowrap;
    float: left;
}

#topnav div.search td#searchBox input {
    float:left;
}

#topnav div.search #stateSelector {
    margin:0 0 0 8px;
}

#topnav div.search input.button {
    margin:0 0 0 10px;
}

#topnav div.search #searchBox input {
    color: #666666;
    padding-left: 3px;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#topnav div.search .stateSelect {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #666666;
}

#topnav td.searchRadios {
    vertical-align: top;
    text-align: left;
}

#topnav .searchRadios span, #topnav .searchRadios label {
    font-family: Helvetica, sans-serif;
    font-size: x-small;
    font-weight: 900;
    color: #888;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

* html #topnav .searchRadios span, * html #topnav .searchRadios label { /* IE ONLY */
    font-size: xx-small;
}

#topnav .searchRadios input {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

/* GLOBAL NAV MENUS */
#topnav table#nav {
    background-color: #99cc67;
    height: 30px;
    width: 865px;
    margin: 0 auto;
    padding: 0;
}

#topnav table#nav.community {
    width:952px;
}

#topnav table#nav td a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    border-right: 1px dashed #99CC67;
    border-left: 1px dashed #99CC67;
    padding: 0 14px;
}

#topnav table#nav td a:link,
    #topnav table#nav td a:visited {
    color: #FFFFFF;
}

#topnav table#nav td a.active {
    color: #FFFFFF;
    background-color: #639c31;
    border-left-color: #639c31;
    border-right-color: #639c31;
}

#topnav table#nav td a.lactive {
    border-left-color: #FFFFFF;
}

#topnav table#nav td a.ractive {
    border-right-color: #FFFFFF;
}

#topnav table#nav td a.inactive:hover,
#topnav table#nav td a.inactive:active {
    color: #FFFFFF;
    background-color: #639c31;
    border-right-color: #FFFFFF;
    border-left-color: #FFFFFF;
}

/* GS-8445 */
#topnav table#nav td a#GlobalNav_BackToSchoolButton__Plain:hover,
#topnav table#nav td a#GlobalNav_BackToSchoolButton__Plain:active {
    color: #99cc67;
    background-color: #99cc67;
    border-right-color: #99cc67;
    border-left-color: #99cc67;
}

#topnav table#nav_parent {
    width:865px;
    margin:0 auto;
}

/* START list-based subnav */

#topnav #topnav_menusubnav_wrapper {
    margin: 0 16px 0 18px;
}

#topnav #topnav_menusubnav_wrapper.perl {
    margin: 0;
}

#topnav ul#topnav_menusubnav {
    height: 28px;
    /*width: 865px;*/
    width: 100%;
    margin: 4px auto 0 auto;
    padding: 0;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}

#topnav ul#topnav_menusubnav li a.topnav_subnav_first {
    color: #D66671;
}

#myAccountMenu {
    position: relative;
}

#topnav ul#topnav_menusubnav li, #myAccountMenu li {
    padding-left: 3px;
    float: left;
}

/* START subnav spacing */

#topnav ul#topnav_menusubnav li#topnav_hd {
    margin-right: 1px;
}
#topnav ul#topnav_menusubnav li#topnav_aa {
    margin-right: 1px;
}
#topnav ul#topnav_menusubnav li#topnav_ld {
    margin-right: 1px;
}
#topnav ul#topnav_menusubnav li#topnav_iys {
    margin-right: 1px;
}
#topnav ul#topnav_menusubnav li#topnav_ctrs {
    margin-right: 1px;
}
#topnav ul#topnav_menusubnav li#topnav_c {
    margin-right: 0;
}

#topnav ul#topnav_menusubnav li#topnav_sm {
    margin-right: 0;
}

#topnav #topnav_menusubnav_wrapper.perl ul#topnav_menusubnav li#topnav_hd {
    margin-right: 0;
}
#topnav #topnav_menusubnav_wrapper.perl ul#topnav_menusubnav li#topnav_aa {
    margin-right: 0;
}
#topnav #topnav_menusubnav_wrapper.perl ul#topnav_menusubnav li#topnav_ld {
    margin-right: 0;
}
#topnav #topnav_menusubnav_wrapper.perl ul#topnav_menusubnav li#topnav_iys {
    margin-right: 0;
}
#topnav #topnav_menusubnav_wrapper.perl ul#topnav_menusubnav li#topnav_ctrs {
    margin-right: 0;
}
#topnav #topnav_menusubnav_wrapper.perl ul#topnav_menusubnav li#topnav_c {
    margin-right: 0;
}
#topnav #topnav_menusubnav_wrapper.perl ul#topnav_menusubnav li#topnav_sm {
    margin-right: 0;
}

/* END subnav spacing */

#topnav_sm .socialMedia {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #444;
    position: relative;
    margin-left: 12px;
}
#topnav_sm .text {
    position: absolute;
    top: 6px;
    left: 0;
}
#topnav_sm .facebook {
    position: absolute;
    top: 3px;
    left: 60px;
}
#topnav_sm .twitter {
    position: absolute;
    top: 3px;
    left: 84px;
}

#topnav ul#topnav_menusubnav li.nav_menu.firstHeading {
    /*padding-left: 10px;*/
}

#topnav ul#topnav_menusubnav li.nav_menu, #myAccountMenu li.nav_menu {
    padding-left: 0;
}

/* Intentionally exclude #myAccountMenu because we want it to keep the same font characteristics as other links near it */
#topnav ul#topnav_menusubnav li a {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

#topnav ul#topnav_menusubnav li a#GlobalNav_CommunityButton:hover {
    text-decoration: underline;
}

#topnav ul#topnav_menusubnav li a.topnav_subnav_active, #myAccountMeu li a.topnav_subnav_active {
    color: #444;
}

/* END list-based subnav */

/* START menu navigation */

#topnav_menusubnav li, #myAccountMenu li {
    list-style: none;
    white-space: nowrap;
    background-color: #fff;
}

#topnav_menusubnav li.nav_menu, #myAccountMenu li.nav_menu {
    z-index: 25;
}

#topnav_menusubnav li.nav_menu a, #myAccountMenu li.nav_menu a {
    display: block;
    text-decoration: none;
}

#topnav_menusubnav li.nav_menu a.nav_group_heading {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 15px;
}

#myAccountMenu li.nav_menu a.nav_group_heading {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 15px;
}

#topnav_menusubnav li.nav_menu ul.nav_group_items, #myAccountMenu li.nav_menu ul.nav_group_items {
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 100;
    float: left;
}

#myAccountMenu li.nav_menu ul.nav_group_items {
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 100;
    left: -10000px;
    top: 25px;
}


#topnav_menusubnav li.nav_menu ul.nav_group_items li {
    width: 200px;
    clear: left;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid #66ccdd;
    border-right: 1px solid #66ccdd;
    background-color: #fff;
}

#myAccountMenu li.nav_menu ul.nav_group_items li {
    width: 120px;
    clear: left;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid #66ccdd;
    border-right: 1px solid #66ccdd;
    background-color: #fff;
    z-index: 110;
    /* http://archivist.incutio.com/viewlist/css-discuss/56326 */
}

#topnav_menusubnav li.nav_menu ul.nav_group_items li.first, #myAccountMenu li.nav_menu ul.nav_group_items li.first {
    border-top: 1px solid #66ccdd;
}

#topnav_menusubnav li.nav_menu ul.nav_group_items li.last {
    border-top: 1px dotted #999999;
    border-bottom: 1px solid #66ccdd;
}

#myAccountMenu li.nav_menu ul.nav_group_items li.last {
    border-bottom: 1px solid #66ccdd;
}

#topnav_menusubnav li.nav_menu ul.nav_group_items li.last a, #myAccountMenu li.nav_menu ul.nav_group_items li.last a {
    font-weight: bold;
}

#topnav_menusubnav li.nav_menu ul.nav_group_items li a, #myAccountMenu li.nav_menu ul.nav_group_items li a {
    padding-left: 8px;
    padding-right: 12px;
}

#topnav_menusubnav li.nav_menu a.nav_group_heading.arrow {
    background: url(/res/img/nav/down_arrow.png) no-repeat right 7px;
}

* html #topnav_menusubnav li.nav_menu a.nav_group_heading.arrow {
    background: url(/res/img/nav/down_arrow.png) no-repeat right 9px;
}

* + html #topnav_menusubnav li.nav_menu a.nav_group_heading.arrow {
    background: url(/res/img/nav/down_arrow.png) no-repeat right 9px;
}

#myAccountMenu li.nav_menu a.nav_group_heading.arrow {
    background: url(/res/img/nav/down_arrow.png) no-repeat right 5px;
}

#myAccountMenu li.nav_menu a.nav_group_heading.arrow {
    background: url(/res/img/nav/down_arrow.png) no-repeat right 7px;
}

* + html #myAccountMenu li.nav_menu a.nav_group_heading.arrow {
    background: url(/res/img/nav/down_arrow.png) no-repeat right 7px;
}

/* GS-8445 */
#topnav #navWrapper {
    position: relative;
    width: 865px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
    position: static;
}

/* GS-8445 */
* html #topnav #navWrapper {
    width: 866px;
}

/* GS-8445 */
#navWrapper #promoTab {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
}
#global_nav_promo_865{
    display:block;
    text-align:center;
    width:100%;
    margin-top:5px;
}
#global_nav_promo_952{
    display:none;
}

/* END menu navigation */
