#topnav {
    font-family: Century Gothic, Helvetica, sans-serif;
    width: 900px;
    background-color: #fff;
    padding: 0 0 8px 0;
}

#topnav  a img {
    border-width: 0;
}

/* New community styles (GS-3686) */

#topnav table tr td.communityHeader {
    padding-top: 5px; /* override */
}

#topnav table tr td.communityHeader div.communityHeader {
    margin-top: 24px; /* override */
}

#topnav #communityHeader {
    font: 11px Trebuchet MS, Arial, sans-serif;
    color: #666666;
    text-align: right;
    position: relative;
    padding: 0;
    margin: 0;
}

#topnav #communityHeader.withImages {
    padding-top: 1px;
}

#topnav #communityHeader a {
    color: #3399AA;
    text-decoration: none;
}

#topnav #communityHeader a:hover {
    text-decoration: underline;
}

#topnav #communityHeader span.headerUsername {
    font-weight: bold;
    padding: 0 6px 0 0;
    position: relative;
    margin: 0;
}

#topnav #communityHeader span.withBadge {
    padding: 0 26px 0 0;
}

#topnav #communityHeader span.headerUsername img {
    position: absolute;
    width: 15px;
    height: 17px;
    top: 0;
    right: 6px;
    _right: 201px;
}

#topnav #communityHeader span.headerDashboard {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
    padding: 0 10px 0 6px;
    background: url(/res/img/header/arrowGreenRight.gif) right 5px no-repeat;
}

#topnav #communityHeader span.headerAccount {
    padding: 0 6px 0 6px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCCCCC;
}

#topnav #communityHeader span.headerMsl {
    padding: 0 0 0 6px;
}

#topnav #communityHeader span.withAvatar {
    padding-right: 37px;
    border-right: 0;
    margin-left: 6px;
}

#topnav #communityHeader span.headerAvatar {
    position: absolute;
    width: 30px;
    height: 31px;
    top: 0;
    right: 0;
    _right: 16px;
}

/* End community styles */

#topnav .member {
    font-family: Verdana, Geneva, Helvetica, sans-serif;
    font-size: xx-small;
}

#topnav td.member {
    vertical-align: top;
    padding-top: 10px;
    padding-right: 18px;
    width: 55%;
}
#topnav .member .welcome {
    text-align: right;
    font-weight: 900;
    color: #666666;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCCCCC;
    padding-right: 6px;
    width: 48%;
    white-space: nowrap;
}

#topnav .member .account {
    text-align: center;
    color: #69C5D2;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    width: 20%;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCCCCC;
    margin: 0;
    white-space: nowrap;
}

#topnav .member .account a {
    color: #69C5D2;
    text-decoration: none;
}

#topnav .member .signout {
    text-align: left;
    color: #69C5D2;
    padding-left: 6px;
    width: 30%;
}
#topnav .member .signout a {
    color: #69C5D2;
    text-decoration: none;
}
#topnav .member .signout a:hover {
    text-decoration: underline;
}

#topnav .member .saved {
    color: #69C5D2;
    text-align: right;
    padding-right: 9px;
    background-image: url( ../img/header/arrowBlueRight.gif );
    background-repeat: no-repeat;
    background-position: right;
    width: 10%;
    white-space: nowrap;
}
#topnav .member .saved a {
    color: #69C5D2;
    text-decoration: none;
}
#topnav .member .saved a:hover {
    text-decoration: underline;
}

/* Search area */
#topnav div.search {
    margin-top:41px;
    float: right;
}

#topnav td#goBtn input {
    margin:0 0 0 10px;
}

#topnav div.search td#searchBox {
    white-space:nowrap;
    width:257px;
}

#topnav div.search td#searchBox input {
    float:left;
}

#topnav div.search #stateSelector {
    margin:0 0 0 8px;
}

#topnav div.search input.button {
    margin:0 0 0 10px;
}

#topnav div.search #searchBox input {
    color: #666666;
    padding-left: 3px;
    font-family: Trebuchet MS, Arial, sans-serif;
    font-size: 12px;
}

#topnav div.search .stateSelect {
    font-size: 12px;
    font-family: Trebuchet MS, Arial, sans-serif;
    color: #666666;
}

#topnav td.searchRadios {
    vertical-align: top;
    text-align: left;
}

#topnav .searchRadios span, #topnav .searchRadios label {
    font-family: Helvetica, sans-serif;
    font-size: x-small;
    font-weight: 900;
    color: #888;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

* html #topnav .searchRadios span, * html #topnav .searchRadios label { /* IE ONLY */
    font-size: xx-small;
}

#topnav .searchRadios input {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

/* GLOBAL NAV MENUS */
#topnav table#nav {
    background-color: #99cc67;
    height: 30px;
    width: 864px;
    margin: 0 0 0 18px;
    padding: 0;
}

#topnav table#nav td a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Lucinda Grande, Lucida Grande, lucida, verdana,sans-serif;
    font-size: 12px;
    font-weight: 800;
    height: 14px;
    margin: 0px;
    border-right: 1px dashed #99CC67;
    border-left: 1px dashed #99CC67;
    padding: 8px 14px 8px 14px;
}

* html #topnav table#nav td a {
    font-family: Lucinda Grande, Lucida Grande, lucida, verdana,sans-serif;
    font-weight: 900;
    font-size: 12px;
}

#topnav table#nav td a:link,
    #topnav table#nav td a:visited {
    color: #FFFFFF;
}

#topnav table#nav td a.active {
    color: #FFFFFF;
    background-color: #639c31;
    border-left-color: #639c31;
    border-right-color: #639c31;
}

#topnav table#nav td a.lactive {
    border-left-color: #FFFFFF;
}

#topnav table#nav td a.ractive {
    border-right-color: #FFFFFF;
}

#topnav table#nav td a.inactive:hover,
#topnav table#nav td a.inactive:active {
    color: #FFFFFF;
    background-color: #639c31;
    border-right-color: #FFFFFF;
    border-left-color: #FFFFFF;
}

#topnav #subnav {
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 14px;
    height: 16px;
    width: 880px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
}
