#topnav ul#topnav_menusubnav li a:hover {
    text-decoration: underline;
}

#topnav_menusubnav li.nav_menu a.nav_group_heading.arrow {
    background: none;
}

* html #topnav_menusubnav li.nav_menu a.nav_group_heading.arrow {
    background: none;
}

* + html #topnav_menusubnav li.nav_menu a.nav_group_heading.arrow {
    background: none;
}