



#global_nav_promo_865{
    display:none;
}
#global_nav_promo_952{
    display:block;
    text-align:center;
    width:100%;
    margin-top:5px;
}
/* END subnav spacing */

/* START Discussion Board buttons on Topic Centers */

/* ------------------- */
/* SLIDING DOOR BUTTON */
/* ------------------- */

/* ------------------- */
/* 25 px height button */
/* ------------------- */

/* do not change */
.btn25{
    cursor: pointer;
    display:block;
    margin:0;
    border:0 none transparent;
    padding:0;
    background-color:transparent; /* hide form background color in IE */
}

.btn25-inactive {
    cursor: default;
    display: block;
    margin: 0;
    border: 0 none transparent;
    padding: 0;
    background-color: transparent; /* hide form background color in IE */
}

.lftDoor25 {
    display:inline-block;
    padding: 0 0 0 15px;
    line-height: 25px;
    float:left;
}

.rtDoor25 {
    display: inline-block;
    padding:0 15px 0 0;
    height: 25px;
    line-height: 25px;
}

/* skin */
.btn25-inactive .lftDoor25 {
    background: url(/res/img/discussion_boards/db_btn_sprite_25_lft.gif) no-repeat left bottom;
}

.btn25-inactive .rtDoor25 {
    background: url(/res/img/discussion_boards/db_btn_sprite_25_rt.gif) no-repeat right bottom;
}

.lftDoor25 {
    background: url(/res/img/discussion_boards/db_btn_sprite_25_lft.gif) no-repeat left top;
}

.rtDoor25 {
    background: url(/res/img/discussion_boards/db_btn_sprite_25_rt.gif) no-repeat right top;
}

.btn25:active .lftDoor25, .btn25:hover .lftDoor25 {
    background-position: left -25px;
}

.btn25:active .rtDoor25, .btn25:hover .rtDoor25 {
    background-position: right -25px;
    outline: none; /* hide dotted outline in Firefox */
}

/* icon */
.lftDoor25 .rtDoor25 img{
    margin:0;
    border:0 none transparent;
}

/* font size and family */
#contentGS .btn25 {
    font: bold 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px #444;
    color: #fff;
}

/*
Immediately below is a temporary hack to serve the
following margin values only to Gecko browsers
Gecko browsers add an extra 3px of left/right
padding to button elements which can't be overriden.
Thus, we use -3px of left/right margin to overcome this.
*/

@-moz-document url-prefix() {
    button.btn25 {
        margin:0 -3px;
    }
}

/* ------------------- */
/* 35 px height button */
/* ------------------- */

/* do not change */
.btn35{
    cursor: pointer;
    display:block;
    margin:0;
    border:0 none transparent;
    padding:0;
    background-color:transparent; /* hide form background color in IE */
}

.lftDoor35 {
    display:inline-block;
    padding: 0 0 0 15px;
    line-height: 35px;
    float:left;
}

.rtDoor35 {
    display: inline-block;
    padding:0 15px 0 0;
    height: 35px;
    line-height: 35px;
}

/* skin */
.lftDoor35 {
    background: url(/res/img/discussion_boards/db_btn_sprite_35_lft.gif) no-repeat left top;
}

.rtDoor35 {
    background: url(/res/img/discussion_boards/db_btn_sprite_35_rt.gif) no-repeat right top;
}

.btn35:active .lftDoor35, .btn35:hover .lftDoor35{
    background-position: left bottom;
}

.btn35:active .rtDoor35, .btn35:hover .rtDoor35 {
    background-position: right bottom;
  outline: none; /* hide dotted outline in Firefox */
}

/* icon */
.lftDoor35 .rtDoor35 img{
    margin:0;
    border:0 none transparent;
}

/* font size and family */
#contentGS .btn35 {
    font: bold 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px #444;
    color: #fff;
}

/*
Immediately below is a temporary hack to serve the
following margin values only to Gecko browsers
Gecko browsers add an extra 3px of left/right
padding to button elements which can't be overriden.
Thus, we use -3px of left/right margin to overcome this.
*/

@-moz-document url-prefix() {
    button.btn35 {
        margin:0 -3px;
    }
}

/* END Discussion Board buttons on Topic Centers */

/* START General layout */

/* ---------------- */
/* DEBUGGING SYTLES */
/* ---------------- */

.outline1 {
    outline: 1px solid red;
}

.outline2 {
    outline: 1px solid blue;
}

/* ------------------ */
/* PAGE LAYOUT STYLES */
/* ------------------ */

.gainlayout {
    position: relative;
    zoom: 1;
}

.fltlft {
/* this class can be used to float an element left in your page */
    float: left;
    /*margin-right: 8px;*/
}

.fltrt {
/* this class can be used to float an element right in your page. */
/* The floated element must precede the element it should be next to on the page. */
    float: right;
    /*margin-left: 8px;*/
}

.clearfloat {
/* this class should be placed on a div or break element and */
/* should be the final element before the close of a container */
/* that should fully contain a float */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}
.spacer_10{
    clear:both;
    height:10px;
    font-size:1px;
    line-height:10px;
}
.spacer_15{
    clear:both;
    height:15px;
    font-size:1px;
    line-height:15px;
}
.sdrt{
    border-top: 1px dotted #999;
}
.sdrb{
    border-bottom: 1px dotted #999;
}
.sdrl{
    border-left: 1px dotted #999;
}

/* clear fix */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* end clear fix */

/* END General layout */