.clearfloat {
/* this class should be placed on a div or break element and */
/* should be the final element before the close of a container */
/* that should fully contain a float */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}

div.contentLeft {
    width: 160px;
    float: left;
}

.contentLeft .marginTop {
    margin-top: 15px;
}

div.main {
    width: 753px;
    float: left;
    margin-left: 15px;
}

.module {
    overflow: hidden;
}
.contentLeft .module .header{
    height:26px;
    background:url(/res/img/discussion_boards/db_bg_header.png) repeat-x left top;
    padding:0 10px;
}
.contentLeft .module .header .text2bold {
    color: #fff;
    padding-top: 5px;
}
.contentLeft .module .body {
    border: 1px solid #ccc;
    padding: 10px 12px 15px 12px;
}
.contentLeft .module span, .contentLeft .module a {
    display: block;
}
.contentLeft .module .body span, .contentLeft .module .body a {
    margin-top: 5px;
}
.contentLeft .module .body span.noMargin {
    margin-top: 0;
}
.contentLeft .module .body span.extraMargin {
    margin-top: 10px;
}

.main img {
    display: block;
}
.main .guides .module {
    width: 237px;
    float: left;
    margin: 15px 0 0 20px;
}
.main .guides .module.noMargin {
    margin-left: 0;
}
.main .module .header {
    margin-bottom: 5px;
}

hr.dotted {
    border: none;
    border-bottom: medium dotted #999;
    width: 753px;
    margin: 20px 0;
}

.main .thinkLocal {
    padding-left: 181px;
    position: relative;
}
.main .thinkLocal img {
    position: absolute;
    top: 0;
    left: 0;
}

div#tracking {
    clear: both;
}