.leftside #contentGS {
    background: none;
}

.breadcrumbs {
    margin: 10px 0 14px 20px;
}

div.contentLeft {
    width: 160px;
    float: left;
    margin: 0 0 0 20px;
}

.ie6 div.contentLeft {
    margin-left: 10px;
}

.contentLeft .marginTop {
    margin-top: 15px;
}

div.main {
    width: 753px;
    float: left;
    margin-left: 15px;
}

.module {
    overflow: hidden;
}
.contentLeft .module .header{
    height:26px;
    background:url(/res/img/discussion_boards/db_bg_header.png) repeat-x left top;
    padding:0 10px;
}
.contentLeft .module .header .text2bold {
    color: #fff;
    padding-top: 5px;
}
.contentLeft .module .body {
    border: 1px solid #ccc;
    padding: 10px 12px 15px 12px;
}
.contentLeft .module span, .contentLeft .module a {
    display: block;
}
.contentLeft .module .body span, .contentLeft .module .body a {
    margin-top: 5px;
}
.contentLeft .module .body span.noMargin {
    margin-top: 0;
}
.contentLeft .module .body span.extraMargin {
    margin-top: 10px;
}

.main img {
    display: block;
}
.main .guides .module {
    width: 237px;
    float: left;
    margin: 15px 0 0 20px;
}
.main .guides .module.noMargin {
    margin-left: 0;
}
.main .module .header {
    margin-bottom: 5px;
}

hr.dotted {
    border: none;
    border-bottom: medium dotted #999;
    width: 753px;
    margin: 20px 0;
}

.main .thinkLocal {
    padding-left: 181px;
    position: relative;
}
.main .thinkLocal img {
    position: absolute;
    top: 0;
    left: 0;
}
.ie6 .main .thinkLocal img {
    left: -181px;
}

div#tracking {
    clear: both;
}


/**********************
 * BOARD OF DIRECTORS *
 **********************/
.boardOfDirectors h1 {
    margin: 0 0 15px 20px;
}

.boardOfDirectors .main .text3 {
    margin-bottom: 15px;
}


/*********************
 * MEET OUR ADVISORS *
 *********************/
.meetOurAdvisors h1 {
    margin: 0 0 15px 20px;
}

.meetOurAdvisors .main .text3 {
    margin-bottom: 15px;
}

.meetOurAdvisors hr.dotted {
    border-bottom: 1px dotted #999;
    margin: 10px 0;
}

/*********************
 * SENIOR MANAGEMENT *
 *********************/
.seniorManagement h1 {
    margin: 0 0 15px 20px;
}

.seniorManagement .main .text3 {
    margin-bottom: 20px;
}

.seniorManagement .main table tr td img {
    margin: 3px 15px 20px 0;
}

.seniorManagement .main table tr td img.top {
    margin-bottom: 5px;
}

