/* content bottom */

.showTopBorder {
    border-top: 1px solid #CCCCCC;
}

.contentBottom {
    float: left;
    padding-top: 10px;
    width: 952px;
}

.moduleBox {
    float: left;
    width: 285px;
    height: 143px;
    border-right: 2px dotted #CCCCCC;
    margin-left: 15px;
    padding-right: 20px;
    font-size: 13px;
    line-height: 20px;
}

.moduleBox.first {
    width: 276px;
    margin-left: 0;
    padding-left: 15px;
}

.moduleBox.last {
    border-right: none;
    padding-right: 0;
}

.moduleBox h3 {
    font-size: 14px;
    font-weight: bold;
    color: #55BBCC;
    margin-top: 16px;
    margin-bottom: 13px;
}

#contentBottom .moduleBox h3 a {
    color: #55BBCC;
}

#contentBottom .moduleBox h3 a:hover {
    text-decoration: none;
}

.moduleBox ul {
    /* to handle IE6 bug: http://www.webmasterworld.com/forum83/9077.htm */
    position: relative;
}

.moduleBox li {
    background: url(/res/img/bullet/yellow_bullet_onwhite.gif) no-repeat left 5px;
    padding-left: 10px;
	margin-bottom: 2px;
    line-height: 20px;
    font-size: 13px;
}

.moduleBox .right {
    text-align: right;
}

.aboutUs {
    height: 50px;
}

.aboutUs .pageGS ul li.bulleted {
    background: url(/res/img/bullet/yellow_bullet_onwhite.gif) no-repeat left 5px;
    padding-left: 10px;
    font-size: 13px;
    line-height: 18px;
}

#left {
    float: left;
    width: 140px;
}

#right {
    float: right;
    width: 130px;
}