.main {
    width: 598px;
    margin-left: 20px;
}
body.ie6 .main {
    width: 608px;
    margin-left: 20px;
    display: inline;
}
p.breadcrumbs {
    margin: 14px 0 12px;
}
.callout {
    width: 598px;
    height: 234px;
    margin: 12px 0 15px 0;
}
.moveUp {
    margin-top: -7px;
}

.mainLeft {
    width: 160px;
}

.mainRight {
    width: 423px;
    margin-left: 15px;
}

.module {
    overflow: hidden;
}
.mainRight .mod_bd {
    border: 1px solid #ccc;
    padding: 15px;
}
#sidebarGS .mod .mod_bd {
    border: 0;
    padding: 15px;
}

/* Feature */
#featuredPress{
    background:#fff;
    margin:10px 0 15px 0;
    border: 1px solid #ccc;
    padding-bottom: 15px;
}
#featuredPress td.image {
    border-right: 1px solid #ccc;
}
#featuredPress #featuredFeature {
    margin-top: 10px;
    padding: 0 10px 30px 15px;
    position: relative;
}
#featuredPress #featuredFeature h3.featuredTitle{
    font:22px Georgia, "Times New Roman", Times, serif;
    margin: 0 15px 15px 0;
    text-align:left;
    color:#FC6;
}
#featuredPress #featuredFeature p {
    padding: 0;
    margin:0;
}
#featuredFeature .readMore {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* About Us */
.about_us .header{
    height:26px;
}
.about_us .header span {
    color: #fff;
    padding-top: 4px;
}
.about_us .body {
    padding: 10px 12px 15px 12px;
}
.about_us span, .about_us a {
    display: block;
}
.about_us .body span, .about_us .body a {
    margin-top: 5px;
}

.recentPressReleases li, .gsInTheNews li, .mediaTwitter li {
    border-bottom: 1px dotted #999;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.module .go {
    color: #D61;
    font-size: 1.2em;
    line-height: 0.9px;
}

.downloadLogos ul li {
    position: relative;
    padding-left: 235px;
    margin-top: 15px;
    padding-top: 16px;
}
.downloadLogos ul li img{
    position: absolute;
    left: 0;
    top: 0;
}
.downloadLogos ul li.small {
    height: 40px;
}
.downloadLogos ul li.medium {
    height: 36px;
}
.downloadLogos ul li.large {
    padding-top: 110px;
    margin-top: 0;
    height: 14px;
}
.downloadLogos a.marginLeft {
    margin-left: 22px;
}

/* Content Right */
.contentRight {
    padding-left:2px;
width:328px;
}
.contentRight .module .body {
    border: none;
}
.mediaInquiries {
    padding: 15px 15px 15px 20px;
    background-color: #F9ECCD;
}
.mediaInquiries span {
    display: block;
}
.mediaInquiries .subhead2 {
    margin-bottom: 10px;
}
.mediaInquiries .mediaRSS {
    margin-top: 15px;
}
.mediaInquiries .mediaRSS img {
    margin-right: 5px;
    position: relative;
    top: 5px;
}
.contentRight .module {
    margin-bottom: 0;
}

/* Blog */
.blogpromo{
    border-bottom: 1px dotted #999;
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
}
.blogpromo_image_wrap{
    position: absolute;
    left: 0;
    top: 0;
    height:60px;
}
.blogpromo_image{
    border:1px solid #cccccc;
    padding:1px;
    margin:0 5px;
    height:40px;
    width:40px;
}
.blogpromo_entry{
    width:235px;
    padding:0 5px 0 55px;
}

.blogpromo_description{
    color:#666666;
}

.mediaTwitter li span {
    font: 12px / 1.3 Arial, Helvetica, sans-serif;
}

.mediaTwitter li a{
    font: 11px / 1.3 Arial, Helvetica, sans-serif;
}
