.pageTitle h2 {
    font-size: 19px;
    color: #55BBCC;
    margin-top: 13px;
    margin-bottom: 11px;
}

/* contentLeft */

.contentLeft {
    float: left;
    font-size: 13px;
    margin-bottom: 20px;
    margin-left: 8px;
}

.contentLeft h2 {
    font-size: 13px;
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

.contentLeft .content {
    margin-bottom: 20px;
    width: 605px;
}

.contentLeft .content .description {
    margin-top: 15px;
    margin-bottom: 12px;
    line-height: 17px;
}

.contentLeft .content ul {
    /* to handle IE6 bug: http://www.webmasterworld.com/forum83/9077.htm */
    position: relative;
}

.contentLeft .content li {
    background: url(/res/img/bullet/yellow_bullet_onwhite.gif) no-repeat left 5px;
    padding-left: 10px;
    padding-bottom: 8px;
    margin-bottom: 2px;
    line-height: 15px;
    font-size: 13px;
}

.contentLeft .content .right {
    text-align: right;
}

.contentLeft .content .right a {
    font-size: 13px;
}

.logoTable tr td {
    padding-bottom: 15px;
}

/* contentRight */

.contentRight {
    float: right;
    margin-bottom: 20px;
}

.media h2 {
    color: #118899;
    font-size: 19px;
    margin-bottom: 7px;
}

.media {
    font-size: 13px;
    width: 298px; /* 318 - 20 = 298 */
    height: 206px; /* 226 - 20 = 206 */
    background: url(/res/img/about/pressroom/pressroom_sidebar_gradation_1px.jpg) repeat-x;
    padding-top: 15px;
    padding-left: 20px;
    line-height: 17px;
}

.awards h2 {
    color: #55BBCC;
    font-size: 17px;
}

.awards {
    font-size: 13px;
    width: 298px;
    padding-top: 15px;
    padding-left: 20px;
}

#webbyImage {
    margin-top: 18px;
    margin-bottom: 18px;
}

.awards .seeAllAwards {
    text-align: right;
    width: 250px;
    font-size: 13px;
}

div#tracking {
    clear: both;
}