/** Refactor into wide-page-layout stylesheet **/

#pageGS {
    width: 976px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666666;
}

#adLeaderboard {
    width: 976px;
}

#topnav table#nav {
    width: 952px;
}

#contentGS {
    width: 952px;
    margin: 0 12px 25px;
}

#contentGS a {
    color: #3399AA;
}

/** Press Room **/

.pageTitle h2 {
    font-size: 19px;
    color: #55BBCC;
    margin-top: 13px;
    margin-bottom: 11px;
}

/* contentLeft */

.contentLeft {
    float: left;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 12px;
}

.contentLeft h2 {
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contentLeft .content {
    margin-bottom: 10px;
}

.contentLeft .content .description {
    margin-top: 15px;
    margin-bottom: 12px;
    line-height: 17px;
}

.contentLeft .content ul {
    /* to handle IE6 bug: http://www.webmasterworld.com/forum83/9077.htm */
    position: relative;
}

.contentLeft .content li {
    background: url(/res/img/bullet/yellow_bullet_onwhite.gif) no-repeat left 5px;
    padding-left: 10px;
	margin-bottom: 2px;
    line-height: 20px;
    font-size: 12px;
}

.contentLeft .content .right {
    text-align: right;
    margin-right: 150px;
}

.contentLeft .content .right a {
    font-size: 12px;
}

/* contentRight */

.contentRight {
    float: right;
    margin-bottom: 10px;
}

.media h2 {
    color: #118899;
    font-size: 19px;
    margin-bottom: 7px;
}

.media {
    font-size: 13px;
    width: 298px; /* 318 - 20 = 298 */
    height: 120px; /* 140 - 20 = 120 */
    background: url(/res/img/about/pressroom/pressroom_sidebar_gradation_1px.jpg) repeat-x;
    padding-top: 15px;
    padding-left: 20px;
    line-height: 16px;
}

.awards h2 {
    color: #55BBCC;
    font-size: 17px;
}

.awards {
    font-size: 13px;
    width: 298px;
    padding-top: 15px;
    padding-left: 20px;
}

#webbyImage {
    margin-top: 18px;
    margin-bottom: 18px;
}

.awards .seeAllAwards {
    text-align: right;
    width: 250px;
    font-size: 12px;
}