#pageGS {
    color: #666666;
    font-size: 13px;
}

.content {
    padding: 10px;
}




#contentGS p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 18px;
}

#contentGS .alternateSubmissionLink {
    color: #CC5566;
    font-style: italic;
}

.separator {
    margin-top: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.separator hr {
    display: none;
}

.field {
    clear: both;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}

.fieldLabel {
    float: left;
    width: 250px;
}

.fieldInput {
    float: left;
    width: 280px;
}

.fieldNote {
    font-size: 11px;
    position: relative;
    width: 290px;
    float: left;
    margin-left: 18px;
}

img.errorIcon {
    position: absolute;
    top: 5px;
    left: 545px;
}

#contentGS p.warning {
    color: #cc5566;
    font-size: 11px;
    line-height: 12px;
    margin: 0;
}

.textInput {
    width: 280px;
}

hr {

}

.personalInfoMessage {
    padding-top: 25px;
    padding-bottom: 15px;
    clear: both;
    font-style: italic;
    line-height: 18px;
}

.submissionNote {
    padding-top: 15px;
    padding-bottom: 15px;
    clear: both;
    line-height: 18px;
}

.required {
    color: #CC5566;
}

#submitButton{
    display:block;
}

#div_radio_add_edit{
    display:none;
}

#div_choose_state{
    display: none;
}

#div_grades{
    display: block;
}

#div_school_type{
    display:none;
}

#div_school_only_1{
    display:none;
}