/*
	BrowseState area
*/
div.browseState {
    padding: 0 0 0 0;
}

div.browseState h2 {
    margin-top: 0px;
    border-top: 1px solid #bbb;
    padding-top: 5px;
    color: #000;
    margin-bottom: 3px;
}

div.browseState .refinementlist {
    margin-bottom: 1em;
}

div.browseState .refinementlist li {
    font-size: small;
}
