/*
	BrowseState area
*/
div.browseState {
    padding: 0 0 0 0;
}

div.browseState h2 {
    margin-top: 0px;
    padding-top: 8px;
    color: #000;
    margin-bottom: 8px;
}

div.browseState .refinementlist {
    margin-bottom: 1em;
}

div.browseState .refinementlist li {
    font-size: small;
}

#searchRefine {
    border-top: 1px solid #CCCCCC;
}