#bodyContents {
    padding-top:16px;
}
#schoolProfile .ratingSummaryWrapper {
    border-bottom: 1px solid #ddd;
    padding: 0 0 19px 0;
    margin-bottom: 22px;
}

#schoolProfile .ratingSummaryContent {
    font-family: "Trebuchet MS", Arial, sans-serif;
    margin: 0 0 0 0;
    height:121px;
}

#schoolProfile .ratingSummaryContent h2 {
    padding-top: 0;
    padding-bottom: 5px;
    color: #cc5566;
    font-weight: bold;
}

#schoolProfile .ratingSummaryContent p {
    font-size: 98%;
    color: #666;
    font-weight: normal;
    line-height: 17px;
}

#schoolProfile .ratingSummaryContent a,
    #schoolProfile .ratingSummaryContent a:hover,
    #schoolProfile .ratingSummaryContent a:active,
    #schoolProfile .ratingSummaryContent a:link,
    #schoolProfile .ratingSummaryContent a:visited
{
    color: #3399AA;
    text-decoration: underline;
}

#schoolProfile .ratingSummaryContent img {
    margin-top: 3px;
}

#schoolProfile #ratingContent {
    float: left;
    width: 540px;
    border-right:1px solid #dddddd;
    padding-right:10px;   
}

.framed #schoolProfile #ratingContent {
    float: left;
    width: 395px;
}

#adx11 {
    padding-bottom:30px;
}
#adx48 {
    padding-bottom: 30px;
}

.multiTextAd {
    margin: 20px 0 0 0;
}

#promoContent {
    float:right;
    width:300px;
}