#bodyContents {
    padding-top:5px;
}
#schoolProfile .ratingSummaryWrapper {
    border-bottom: 1px solid #ddd;
    padding: 0 0 19px 0;
    margin-bottom: 22px;
}

#schoolProfile .ratingSummaryContent {
    font-family: Arial, Arial, sans-serif;
    margin: 0 0 0 0;
    height:121px;
}

#schoolProfile .ratingSummaryContent h2 {
    padding-top: 0;
    padding-bottom: 5px;
    color: #333;
    font: 700 14px/1 Arial, sans-serif; 
}

#schoolProfile .ratingSummaryContent p {
    font-size: 11px;
    color: #666;
    font-weight: normal;
    line-height: 15px;
    margin-bottom: 0;
}

#schoolProfile .ratingSummaryContent a,
    #schoolProfile .ratingSummaryContent a:hover,
    #schoolProfile .ratingSummaryContent a:active,
    #schoolProfile .ratingSummaryContent a:link,
    #schoolProfile .ratingSummaryContent a:visited
{
    text-decoration: underline;
}

#schoolProfile .ratingSummaryContent img {
    margin-top: 3px;
}

#schoolProfile #ratingContent {
}

#promoContent {
    float:right;
    width:300px;
}

/* Big Picture
----------------------------------*/

#bigPicture {
	width: 173px;
    height: 160px;
    border: 2px solid #dee;
    float: left;
    margin-right: 10px;
    display: inline;
}

#bigPicture a {
    text-decoration: underline;
}

#bigPicture h2 {
	background: url(/res/img/school/overview/header_BigPicture.gif) no-repeat 18px 6px #dee;
	width: 173px;
	height: 27px;
	text-indent: -9999px; /* allows the text to appear in the html, but will not be visible with styles enabled */
    margin-bottom: 10px;
}

#bigPicture p {
	font: 12px/15px Century Gothic, Arial, sans-serif;;
    color: #666;
    margin: 10px 0 5px 10px;
}

#bigPicture h3 {
	font: 12px/15px Arial, sans-serif;;
	color: #666;
	margin: 0 10px 10px 10px;
	padding: 0;
}

/* Article Link
----------------------------------*/

#issuesLink {
	width: 528px;
    height: 40px;
    border: 2px solid #dee;
    float: left;
    margin-right: 10px;
    margin-bottom: 22px;
    position:relative;
}

#issuesLink a {
    text-decoration: underline;
}

#issuesLink h3 {
	font: 12px/15px Arial, sans-serif;;
	color: #666;
    margin-left: 10px;
    padding: 0;
    position:relative; top:8px; height:15px; margin-top:-8px;
}

/* Compare This School To
----------------------------------*/

#compareSchool {
	width: 341px;
    height: 160px;
    margin: 0;
	float: left;
    border: 2px solid #DDEEEE;
}

#compareSchool h2 {
	background: url(/res/img/school/overview/compareblue.gif) no-repeat 20px 6px #DDEEEE;
	height: 27px;
	text-indent: -9999px; /* allows the text to appear in the html, but will not be visible with styles enabled */
}

#compareSchool img {
	margin: 17px 12px 0 18px;
	float: left;
	border: 1px solid #ddd;
}

/* form */

#compareSchool form {
	margin: 11px 0 0 10px;
	float: left;
	width: 235px;
	font: 12px/16px Arial, sans-serif;;
	color: #666;

}

* html #compareSchool form {
    height: 1%;
}
#compareSchool table#compareForm {
    width: 225px;
}

* html #compareSchool table#compareForm {
    height: 1%;
}
#compareSchool form label {
	display: block;
	margin: 0 0 6px;
    position: relative;
}
#compareSchool #compareForm input {
	float: left;
    position: relative;
	margin: 0 8px 0 0;
    height: 15px;
    top: -2px;
}

body.ie #compareSchool #compareForm input {
    top: -2px;
}


#compareSchool form .submit {
    float: right;
    margin: 15px 43px 0 0;
}