#rating {
    border-left: 2px solid #deeeee;
    border-right: 2px solid #deeeee;
    border-bottom: 2px solid #deeeee;
    border-collapse: collapse;
    font-family: arial, sans-serif;
    background-color: #ffffff;
    width:100%;
    color:#666;
    font-weight:100;
}

#rating th {
    padding: 5px 0 5px 40px;
    border-collapse: collapse;
    background-color: #66cccc;
    color: #ffffff;
    font-size:98%;
}

#rating td {
    padding: 5px 0 5px 40px;
    text-align:center;
}

#rating td.rowgroup {
    padding: 20px 0 0 0;
    font-weight: bold;
    color: #55bbcc;
    text-align:left;

}

#rating td.row {
    text-align:left;
}

#rating td.rowgroup div {
    margin: 0 10px 0 10px;
    padding: 5px 30px 5px 30px;
    background-color: #deeeee;
    display:block;
}

td#footerPadding {
    padding:0 10px 0 10px;
}

td#footerPadding div {
    margin: 30px 0 25px 0;
    border-bottom: solid 5px #66cccc;
}