.rating {
    border-collapse: collapse;
    font-size: 13px;
    font-weight: normal;
    font-family: "Trebuchet MS", Arial, sans-serif;
    background-color: #ffffff;
    width:100%;
    color:#666;
}

table.tableHead {
    font-size: 11px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-left: 2px solid #66cccc;
    border-right: 2px solid #66cccc;
}

table.tableBody {
    border-left: 2px solid #deeeee;
    border-right: 2px solid #deeeee;
    border-bottom: 2px solid #deeeee;
}

.rating th.col1 {
    padding-left: 40px;
}

.rating th {
    padding-top: 4px;
    padding-bottom: 3px;
    border-collapse: collapse;
    background-color: #66cccc;
    color: #ffffff;
    /*font-size:90%;*/
    line-height: 13px;
}

.rating td.col1 {
    padding-left: 40px;
    width: 55%;
}

.rating td {
    padding-top: 4px;
    padding-bottom: 2px;
    text-align:center;
}

.rating td.rowgroup {
    padding: 20px 0 0 0;
    font-weight: bold;
    color: #777777;
    text-align:left;
    font-size: 13px;
    font-family: "Trebuchet MS", Arial, sans-serif;

}

.rating td.row {
    text-align:left;
}

.rating td.rowgroup div {
    margin: 0 14px 0 14px;
    padding: 2px 30px 1px 25px;
    background-color: #dddddd;
    display:block;
}

td.footerPadding {
    padding:0 10px 0 10px;
}

td.footerPadding div {
    margin: 14px 0 10px 0;
}