.rating {
    border-left: 2px solid #deeeee;
    border-right: 2px solid #deeeee;
    border-bottom: 2px solid #deeeee;
    border-collapse: collapse;
    font-family: arial, sans-serif;
    background-color: #ffffff;
    width:100%;
    color:#666;
    font-weight:100;
}

.rating th.col1 {
    padding-left: 40px;
}

.rating th {
    padding-top: 5px;
    padding-bottom: 5px;
    border-collapse: collapse;
    background-color: #66cccc;
    color: #ffffff;
    font-size:90%;
    line-height: 13px;
}

.rating td.col1 {
    padding-left: 40px;
}

.rating td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align:center;
}

.rating td.rowgroup {
    padding: 20px 0 0 0;
    font-weight: bold;
    color: #777777;
    text-align:left;

}

.rating td.row {
    text-align:left;
}

.rating td.rowgroup div {
    margin: 0 15px 0 15px;
    padding: 4px 30px 4px 30px;
    background-color: #dddddd;
    display:block;
}

td.footerPadding {
    padding:0 10px 0 10px;
}

td.footerPadding div {
    margin: 14px 0 10px 0;
}