@charset "UTF-8";

/* ---------------- */
/* DEBUGGING SYTLES */
/* ---------------- */

.outline1 {
    outline: 1px solid red;
    /*background:red;*/
}

.outline2 {
    outline: 1px solid green;
    /*background:green;*/
}

.outline3 {
    outline: 1px solid blue;
    /*background:blue;*/
}
/* ------------------ */
/* PAGE LAYOUT STYLES */
/* ------------------ */

.gainlayout {
    position: relative;
    zoom: 1;
}

#container {
    width: 968px;
    margin: 0 auto;
    overflow:hidden;
}

/* this creates equal height columns */
/*#container .column{ 
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}*/

#mainContent {
    width: 558px;
    padding: 15px 20px;
    /*float:left;*/
}

#sideBar {
    width: 330px;
    /*float: right;*/
}

.fltlft {
/* this class can be used to float an element left in your page */
    float: left;
    /*margin-right: 8px;*/
}

.fltrt {
/* this class can be used to float an element right in your page. */
/* The floated element must precede the element it should be next to on the page. */
    float: right;
    /*margin-left: 8px;*/
}

.clearfloat {
/* this class should be placed on a div or break element and */
/* should be the final element before the close of a container */
/* that should fully contain a float */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}
.spacer_10{
    clear:both;
    height:10px;
    font-size:1px;
    line-height:10px;
}
.spacer_15{
    clear:both;
    height:15px;
    font-size:1px;
    line-height:15px;
}
.spacer_20{
    clear:both;
    height:20px;
    font-size:1px;
    line-height:20px;
}
.spacer_25{
    clear:both;
    height:25px;
    font-size:1px;
    line-height:25px;
}
.lftpdg-15{
    padding:0 0 0 15px;
}
.sdrt{
    border-top: 1px dotted #999;
}
.sdrb{
    border-bottom: 1px dotted #999;
}
.sdrl{
    border-left: 1px dotted #999;
}

/* clear fix */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

body.ie6 .clearfix {
    height: 1%;
}

/* end clear fix */

.rnd4 {
/* this class should be used to round the corners on 25 px height buttons */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.rnd6 {
/* this class should be used to round the corner on 35 px height buttons */
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

.rnd8 {
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}


#mainGS .shareThis{
    padding:0;
}

#mainGS .shareThis a{
    color:#06b;
}

#mainGS .mostRecent {
    margin: -3px 0 -2px 80px;
    padding: 0;
}

#mainGS .db_recentReplies{
    margin:0 0 0 65px;
    padding:15px 0 0 0;
}

#mainGS .postedReplies{
    margin:0 0 0 65px;
    padding:10px 0;
}
#mainGS .postedReplies p {
    margin:0;
}

#mainGS .viewAll{
    padding:10px 0 15px 0;
    margin: 0 0 0 80px;
}

/* These classes are used by communitySidebar.tagx */

.module {
    overflow: hidden;
}
body.ie6 .module {
    heigth: 1%;
}
.module .header{
    height:36px;
    background:url(/res/img/discussion_boards/db_bg_header.png) repeat-x left top;
    padding:0 15px 0 0;
}
.module .header div{
    padding:5px 0;
}
.module .body1bg{
    background:#fc6;
    width:300px;
    padding:15px;
}
.body1bg .db_search_input{
    padding:0;
    margin:1px 0 0 0;
}
.module .body2bg{
    width:300px;
    background:#fff;
    padding:15px 10px 15px 20px;
}
.body2bg .topics{
    padding:10px 0 0 0;
    width:99%; /* fixes ie bullets missing on first li */
}
.module .body3bg{
    width:290px;
    background:#f9eccd;
    padding:15px 20px;
}
.body3bg .db_select_label{
    padding:0 10px 0 0;
}
.ie6 #sidebarGS .body1bg form button, .ie7 #sidebarGS .body1bg form button{
    width:80px; /* set to mitigate the "box model bug" in IE6 & 7 */
}
/* End of classes used by communitysidebarGS.tagx */

.db_body{
    border-bottom: 1px solid #999;
    padding:0 0 15px 0;
}
.db_body p {
    margin: 0;
}
.db_title{
    padding: 0;
}
.db_title h4{
    width:475px;
}
.db_title p{
    padding:8px 0 0 0;
}

.db_deck{
    padding:15px 0 7px;
}

.db_discussion{
    padding:15px 0 0 15px;
}

.db_replies{
    padding:0;
}

.db_discussTopic{
    padding:15px 0 0 0;
}

/* ------------- */
/* BUBBLE ARROWS */
/* ------------- */

/* Disussions */

.db_discussAvatar{
    display:inline;
}

.db_discussContainer{
    display:inline;
    position:relative;
    padding:0 0 0 15px;
}

.db_discussContainer b.db_pointLeft{
	font-size: 0;
	line-height: 0;
	width: 0;
	border-top: 7px solid white;
	border-right: 10px solid #ebebeb;
	border-bottom: 7px solid white;
}

.db_discussContainer b.db_discussArrow{
    position:absolute;
    left:5px; top:18px;
}

/* Replies */

.db_replyContainer{
    display:inline;
    position:relative;
    padding:0 0 0 15px;
}

.db_replyContainer b.db_replyPointLeft{
	font-size: 0;
	line-height: 0;
	width: 0;
	border-top: 7px solid white;
	border-right: 10px solid #c6c6c6;
	border-bottom: 7px solid white;
}

.db_replyContainer b.db_replyPointLeftTop {
	font-size: 0;
	line-height: 0;
	width: 0;
	border-top:7px solid rgba(255, 255, 255, 0.0);
	border-right: 10px solid white;
	border-bottom:7px solid rgba(255, 255, 255, 0.0);
}

body.ie6 .db_replyContainer b.db_replyPointLeft, body.ie7 .db_replyContainer b.db_replyPointLeft, body.ie8 .db_replyContainer b.db_replyPointLeft {
	font-size: 0;
	line-height: 0;
	width: 0;
	border-top: 7px solid white;
	border-right: 10px solid #c6c6c6;
	border-bottom: 7px solid white;
}

.ie6 .db_replyContainer b.db_replyPointLeftTop, .ie7 .db_replyContainer b.db_replyPointLeftTop, .ie8 .db_replyContainer b.db_replyPointLeftTop {
	font-size: 0;
	line-height: 0;
	width: 0;
	border-top:7px dashed black;
	border-right: 10px solid white;
	border-bottom:7px dashed black;
}

.db_replyContainer b.db_replyArrow{
    position:absolute;
    left:5px; top:18px;
}

.db_replyContainer b.db_replyArrowTop{
	position:absolute;
	left:7px; top:18px;
    z-index:20;
}

/* Posting replies */

.db_postReplyContainer{
    display:inline;
    position:relative;
    padding:0 0 0 15px;
}

.db_postReplyContainer b.db_postPointLeft{
	font-size: 0;
	line-height: 0;
	width: 0;
	border-top: 7px solid white;
	border-right: 10px solid #fc6;
	border-bottom: 7px solid white;
}

.db_postReplyContainer b.db_postArrow{
    position:absolute;
    left:5px; top:18px;
}

.db_replyOrShare{
    padding:15px 0 20px 65px;
}

/* ----------------- */
/* END BUBBLE ARROWS */
/* ----------------- */

.db_discuss{
    width:454px;
    /*max-height:90px;*/
    background:#ebebeb;
    padding:12px;
    display: inline;
}

.db_discuss_full{
    width:454px;
    background:#ebebeb;
    padding:12px;
}


.db_reply_topic{
    margin:0 0 0 80px;
    padding:15px 0 0 0;
}

.db_reply{
    width:387px;
    /*max-height:74px;*/
    border:1px solid #c6c6c6;
    padding:12px;
}

.db_reply_full{
    width:387px;
    border:1px solid #c6c6c6;
    padding:12px;
    display: inline;
}

.replyForm{
    padding:15px 0;
}
.db_body .db_post_reply{
    width:448px;
    background:#fc6;
    padding:12px 15px 15px 15px;
}

.db_footer .db_post_reply{
    width:463px;
    background:#fc6;
    padding:12px 15px 15px 15px;
}

.db_post_reply .db_textarea{
    padding:10px 0 6px 0;
}

.db_post_reply .btn_postReply{
    padding:0 0 0 10px;
}

.db_replyContainer .btn_postReply{
    padding:0 0 0 10px;
}

/*.db_post_reply .guidelines{
    padding:0 0 0 10px;
}*/

.db_footer{
    padding:15px 0;
}

.hidden {
    display: none;
}

div.db_no_replies {
    font: 14px/1.3 Arial, sans-serif;
    font-style: italic;
    margin-top: 12px;
}
/* begin profile/myaccount pages */
.md {
    position: relative;
    margin: 0 0 15px;
    padding: 15px;
}

/*.pad {
    margin-bottom: 15px;
}*/

.userInfo {
    position: relative;
    background: #f9eccd;
    padding: 15px;
    /*margin-bottom: 15px;*/
    overflow: hidden;
}
body.ie6 .userInfo {
    height: 1%;
}
.userInfo h2 {
    margin-bottom: 15px;
}
.userInfo h2 span.fltrt {
    font: 11px/1.3 Arial, sans-serif;
}
body.ie6 .userInfo h2 span.fltrt {
    position: relative;
    top: -24px;
    margin-bottom: -24px;
}
body.ie6 .activity h3 span.fltrt {
    position: relative;
    top: -24px;
    margin-bottom: -24px;
}
.userInfo h2 span.fltrt a {
    padding: 5px 0 0 18px;
    background: url('/res/img/discussion_boards/db_profile_sprites_bg.png') 0 -90px no-repeat;
}
.userVitals {
    padding: 0 15px 0 105px;
    position: relative;
    width: 42%;
}
.userVitalsFull {
    padding: 0 15px 0 105px;
    position: relative;
    width: auto;
    min-height: 112px
}
body.ie6 .userVitals, body.ie7 .userVitals {
    display: inline;
    padding: 0 0 0 105px;
    width: 222px;
    margin: 0;
    border:none;
    border-right:1px dashed #999;
}
body.ie6 .userVitalsFull, body.ie7 .userVitalsFull {
    width: 408px;
}
body.ie7 .userVitalsFull {
    min-height: 100%;
}
body.ie7 .userVitalsFull .bioText {
    height: expression( this.scrollHeight < 49 ? "48px" : "auto" );
}
.userVitals ul, .userVitalsFull ul {
    margin-bottom: 9px;
}
.userVitals .avatar, .userVitalsFull .avatar  {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;

}
.avatar a {
    font-size: 11px;
}
.aboutMe {
    position: relative;
}
.aboutMe #accountEditBio {
    height: 130px;
    width: 222px;
    display: none;
}
#accountEditBio .bioInput {
    width: 222px;
    height: 96px;
    margin-bottom: 5px;
}
#accountEditBio button {
    margin-right: 9px;
}

body.ie6 .aboutMe {
    height: 1%;
    padding-bottom: 18px;
}

.md .text1, .userVitals .text1, .userVitalsFull .text1, .mgAccount h4 {
    color: #d61;
    font-size: 14px;
    margin-bottom: 9px;
}
.mgAccount {
    position: relative;
    padding: 0 15px;
    /*border: 0;*/
    width: 28%;
}
body.ie6 .mgAccount {
    border: 0;
    width: 148px;
}
.mgAccount ul {
    padding: 0 0 0 3px;
    overflow: hidden;
}
.mgAccount li:before {
    content:"\2022 \0020";
    font-size: 12px;
}
.mgAccount li {
    color: #d61;
    text-indent: -3px;
    font-size: 12px;
}
h3.text1 span.fltlt {
    margin: 0 0 0 15px;
    font:11px / 1.3 Arial, Helvetica, sans-serif;
}
.aboutMe .defaultBioText {
    display: none;
}
.aboutMe p.text3 {
    font: 12px/1.3 Arial, Helvetica, sans-serif;
}
.activity {
    margin: 0 0 15px;
}
.activity.col {
    width: 43%;
    margin-right: 15px;
    border: 1px solid #999;
}
.md h3.subhead1 {
    /*margin: 0 0 15px;*/
    font: 400 18px/1.3 Georgia, serif;
    color: #d61;

}
h3.subhead1 span.fltrt {
    font: 11px/1.6 Arial, Helvetica, sans-serif;
    margin-top: 2px;
}

/*.activity p{
    margin-bottom: 1em;
}*/
.activity li {
    position: relative;
    border-bottom: 1px dotted #999;
    padding: 15px 0 15px 25px;
}
.activity .prompt {
    margin: 0 0 0 15px;
}
.activity .prompt li {
    list-style: disc;
    padding: 0;
    border: 0;
    color: #d61;
    font-size: 10px;
    margin-bottom: 1em;
}

.activity .prompt li span {
    font-size: 13px;
}
.activity li span.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 33px;
    display: block;
    background: url('/res/img/discussion_boards/db_profile_sprites_bg.png') 0 -512px no-repeat;
}
body.ie6 .activity li span.icon  {
    background-image: url('/res/img/discussion_boards/db_profile_sprites_bg.gif');
    left: -25px;
}
.activity li:last-child {
    border: 0;
}

.activity li h4.text3 {
    font: 12px/1.3 Arial, Helvetica, sans-serif;
}


.mySchList {
    width: 42.8%;
    margin-right: -100%;
    border: 1px solid #999;
}

.mySchList .schList {
    padding: 0 0 15px;
    margin: 0 0 9px;
    border-bottom: 1px dotted #999;
}
.schList li:before {
    content:"\2022 \0020";
    font-size: 12px;
    color: #d61;
}
.schRevs li {
    padding: 0 0 9px;
    margin: 0 0 9px;
    border-bottom: 1px dotted #999;

}
.mySchList .schRevs h4 a {
    font-weight: 700;
    font-size: 13px;
}
.schRevs li:last-child {
    border: 0;
}
.schRevs .smallText2, .schRevs .text3 .fltlt {
    font: 10px / 1.3 Arial, Helvetica, sans-serif;
}
.schRevs .text3 {
    font: 12px / 1.3 Arial, Helvetica, sans-serif;
}
#searchAgain .stateMenu {
    display: none;
}

/* pagination styles */
.pagination {
    float: right;
}
.pagination span {
    float: left;
    padding: 0 6px;
    margin-left: 3px;
    font-size: 12px;
    background: #c8c8c8;
    display: inline;
}
.pagination span.ellipsis {
    padding: 0 0;
    background: #ffffff;
}
#contentGS .pagination span a {
    color: #5f5f5f
}
.pagination span.active {
    background: #dd6710;
    color: #fff;
}
.pagination span.prv_nxt {
    text-transform: uppercase;
}
/* Begin search styles */

h2.srchTitle {
    font: 20px/1.3 Georgia, serif;
    margin-bottom: 15px;
    color: #c03;
}
h3.srchTerm {
    margin: 15px 0;
    color: #c03;
    font: 20px/1.3 Georgia, serif;
}
.srchTerm .searchQuery {
    font-style: italic;
}
p.noMatch {
    font: 20px/1.3 Georgia, serif;
    margin-bottom: 15px;
    color: #c03;
}
.srchCtrls {
    position: relative;
    clear:both;
    margin-bottom: 15px;
}
.srchCtrls .searchNav {
    height: 25px;
}
.srchCtrls .searchNav li {
    position: relative;
    float: left;
    background: #e1e1e1;
    margin-right: 9px;
    padding: 2px 9px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-weight: 700;
    font-size: 12px;
}
.searchNav li.active b.db_pointDn {
	font-size: 0;
	line-height: 0;
	width: 0;
	border-left: 7px solid white;
	border-top: 10px solid #d61;
	border-right: 7px solid white;
    position:absolute;
    left:27px;
    bottom:-10px;
}
#mainGS .srchCtrls .searchNav li a {
    color: #0066b8;
    font-weight: 700;
    font-size: 12px;
}
.srchCtrls .searchNav li.active {
    background: #d61;
    color: #fff;
}
.srchInfo {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 11px;
    color: #777;
}
#mainGS h3.srchCat {
    padding: 6px 9px;
    background: url('/res/img/discussion_boards/db_bg_header.png') repeat-x;
    color: #fff;
    font: 700 14px Arial, sans-serif;
}
ul.srchRslts {
    border-bottom: 1px solid #999;
    margin: 0 0 15px;
}

ul.srchRslts li.srchRslt {
    position: relative;
    padding: 9px 9px 9px 25px;
    border-bottom: 1px dotted #999;
}
ul.srchRslts li.srchRslt:last-child {
    border-bottom: 0;
}
/* To work around IE lack of support for :last-child */
ul.srchRslts li.srchRsltLast {
    border-bottom: 0;
}
.srchCatArticles li span.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 33px;
    background: url('/res/img/discussion_boards/db_profile_sprites_bg.png') 0 -256px no-repeat;
}
body.ie6 .srchCatArticles li span.icon {
    left: -25px;
    background-image: url('/res/img/discussion_boards/db_profile_sprites_bg.gif');
}
.srchCatComm li span.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 33px;
    background: url('/res/img/discussion_boards/db_profile_sprites_bg.png') 0 -427px no-repeat;
}
body.ie6 .srchCatComm li span.icon {
    left: -25px;
    background-image: url('/res/img/discussion_boards/db_profile_sprites_bg.gif');
}
p.moreRslts {
    margin: 0 0 15px;
    text-align: right;
    font-size: 11px;
}
h3.text1 {
    margin: .9em 0;
    font: 700 14px/1.3 Arial, sans-serif;
    color: #333;
}
.text1 .srchTerm {
    font-style: italic;
}
h4.text3 {
    color: #333;
    font: 700 12px Arial, sans-serif;
}
ul.srchSuggest {
    margin: 1em 0 1em 2em;
}
ul.srchSuggest li {
    margin: .6em 0;
    font: 12px/1.3 Arial, sans-serif;
    color: #333;
    list-style: disc;
    color: #d61;
}
ul.srchSuggest li span {
    color: #333;
}
#contentGS h3.title1white {
    padding: 6px;
    background:url('/res/img/discussion_boards/db_bg_header.png') repeat-x;
    color: #fff;
    font: 700 14px Arial, sans-serif;
}
#searchAgain {
    padding: 15px;
    background: #ebebeb;
    position: relative;
    overflow: hidden;
}
#searchAgain label {
    float: left;
    position: relative;
    margin: .3em 0 1em;
    font: 700 12px/1.3 Arial, sans-serif;
    color: #333;
    vertical-align: middle;
}
#searchAgain label input, #searchAgain label select{
    position: relative;
    margin: 0 6px;
    font-size: 12px;
}
#searchAgain label input  {
    top: 1px;
    height: 17px;
}

#searchAgain button {
    float: right;
}
/* end profile/myaccount pages */

fieldset  ul , fieldset li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
fieldset label {
    font: 700 13px Arial, sans-serif;
}

#startADiscussion .communityGuidelines{
    padding:0 3px 0 0;
}
#discussionSubmissionForm div{
    padding:0 0 12px 0;
}
#discussionSubmissionForm div label{
    float:left;
    width:50px;
}
#discussionSubmissionForm div textarea{
    width:523px; height:250px;
}
#discussionSubmissionForm .sd_OuterLayout{
    padding:0 0 0 50px;
}
#discussionSubmissionForm .sd_InnerLayout{
    padding:0 12px 0 12px;
}
#discussionSubmissionForm .sd_SaveLayout{
    padding:0 12px 0 0;
}

/* Edit discussion hover */


.ui-dialog .ui-dialog-content{
    overflow:hidden;
}

.ui-dialog-content .ui-widget-content{
    margin:0;
    border:0;
    padding:0;
    min-height:inherit;
    /*height:100%;*/
    /*overflow:none;*/
}

#startADiscussionDialog{
    margin:0;
    border:0;
    padding:0;
    overflow:hidden;
}

/* END Edit discussion hover */

/* signin hover form styles */
.signin label {
    float: left;
    margin: 0 15px 0 0;
    width: 89px;
}
.signin input {
    width: 210px;
}
#signin .btns {
    padding: 0 0 0 104px;
}
/* double email opt in hovers */
.dialog_white h2 {
    margin-bottom: 12px;
}
.dialog_white p {
    margin: 0 0 1em;
}

/* Start Join Hover form styles */
/*#startADiscussion .sd_icon{
    margin:0 0 0 -10px;
}
#startADiscussionIFrame, #startADiscussionDialog, .ui-dialog, .ui-widget, .ui-widget-content, .ui-corner-all {
    overflow:visible;
}*/

/* end start a discussion hover */
/* start terms of use/privacy policy styles */
#policy h1, #policy h2 {
    border: 0;
}
#policy h2 {
    font-size: 18px;
}
#policy ol {
    margin: 0 1em 1em 3em;
    list-style: decimal outside;
}
#policy ol li {
    margin: 0 0 1em;
    list-style: decimal outside;
}
#policy ol ul {
    margin: 1em 0 0 3em;
}
#policy ol ul li {
    list-style: disc;
    background: none;
}
/* end terms of use/privacy policy styles */

/*BEGIN UPLOAD AVATAR HOVER*/

        .hover{
            color:#333;
        }
        .hover .title{
            line-height:1.0;
            margin:0;
        }
        .hover .closebtn, .dialogCancelButton{
            display:block;
            line-height:1.0;
            margin:0;
            cursor:pointer;
        }
        .dotted{
            border:1px dotted #333;
            width:610px;
        }
        .photoGuidelines {
            float: right;
        }
        .fileInput {
            position: relative;
            text-align: right;
            width: 100%;
        }
        .fileInput label {
            position: absolute;
            left: 0;
            top: 2px;
            color:#333;
        }
        .fileInput .fakeFileInput {
            width: 100%;
        }
        #fake_avatarFileInput {
            position: absolute;
            top: 0;
            left: 34px;
            z-index: 5;
            width: 425px;
        }
        .fileInput .fakeFileInput div.filler {
            padding: 7px;
        }
        #avatarFileInput {
            position: absolute;
            text-align: right;
            -moz-opacity: 0;
            filter: alpha(opacity: 0);
            opacity: 0;
            z-index: 2;
            left: 34px;
            top: 0;
            width: 520px;
        }
        #fake_avatarFileBrowse {
            position: absolute;
            top: -1px;
            left: 475px;
            z-index: 1;
            padding-bottom: 3px;
        }
        .error {
            background: transparent url(/res/img/bullet/icon_warning_12x12.gif) no-repeat scroll 0 0;
            color: #C03;
            font-size: 11px;
            font-style: italic;
            padding-left: 15px;
            margin-bottom: 5px;
        }
.valid {
background-image:url("/res/img/discussion_boards/cbi_checkOk_gfx.gif");
color:#118600;
}
        .btnholder{
            margin:0;
            padding:0 0 0 34px;
        }
        ul.horizontal {
            height: 115px;
            vertical-align: top;
            margin:0;
            padding:0;
        }
        ul.horizontal li {
            display: inline;
            position: relative;
            padding:0 64px;
        }
        ul.horizontal li.last {
            padding:0 0 0 64px;
        }
        ul.horizontal img, ul.horizontal label {
            position: absolute;
            top: 0;
            left: 0;
        }
        ul.horizontal input {
            margin-left: 40px;
            margin-right: 40px;
            position: relative;
            top: 100px;
        }

/*END UPLOAD AVATAR HOVER*/

/* ----------------- */
/* COMMUNITY LANDING */
/* ----------------- */

#community-landing{
    position:relative;
    width: 952px;
    margin: 20px auto 0;
}

#community-photo{
    border:1px solid #ccc;
    margin-right:20px;
}

#landing-module{
    position:absolute;
    bottom:0; right:0;
    border:1px solid #ccc;
    width:612px;
    /*height:240px;*/
    margin-top:22px;
    padding:18px 8px;
}

#landing-module .col1 .body2bg{
    /*width:280px;*/
    width:auto;
    /*height:162px;*/
    padding:0;
    background:transparent;
}

#landing-module .col3 .body2bg{
    /*width:280px;*/
    width:auto;
    /*height:162px;*/
    padding:0;
    background:transparent;
}

#landing-module .topics1, #landing-module .topics2 {
    padding:5px 0 5px 6px;
    width:99%; /* fixes ie bullets missing on first li */
}
#landing-module .topics1{
    color:#f4891d;
    width:150px;
}
#landing-module .topics2{
    color:#f4891d;
    width:130px;
    /*line-height:23px;*/
}
#landing-module .topicItem{
    margin:0 0 6px 9px;
    padding:2px 0;
    list-style:disc outside;
    line-height: 1.3;
}


#landing-module .body3bg{
    width:280px;
    height:22px;
    padding:8px 5px 10px 5px;
}

#landing-module .col1{
    width:310px;
    border-right:1px dotted #999;
}
#landing-module .col2{
    width:335px;
}
#landing-module #cl-or{
    margin-left:-10px;
    padding:1px 0 3px 0;
    background:#fff;
}
#landing-module .col3{
    width:276px;
    overflow:hidden;
}

#landing-module #db_cities{
    width:150px;
}

#landing-module .db_search_input{
    width:259px;
    margin:7px 0 4px 0;
}

/* END COMMUNITY LANDING */

/* PREVIEW REPLY HOVER */

#previewReplyDialog p{
    margin:0; padding:0;
}

#previewReplyDialog .sd_icon{
    padding:15px 5px 0 0;
}

#previewReplyDialog h2 {
    font: 24px Georgia, "Times New Roman", Times, serif;
    color: #d61;
}
.text2bold {
    font: bold 13px / 1.3 Arial, Helvetica, sans-serif;
    /*color: #333;*/
}

#previewReplyDialog .smallText1 {
    font: 11px / 1.3 Arial, Helvetica, sans-serif;
    /*color: #777;*/
}

#previewReplyDialog .smallAlertTextBoldNeutral {
    font: bold 11px / 1.2 Arial, Helvetica, sans-serif;
}

#previewReplyDialog .db_reply_topic{
    margin:0;
    padding:20px 0 15px 3px;
}

#previewReplyDialog .db_replyContainer b.db_replyPointLeft{
    border-top: 7px solid #ebebeb;
    border-bottom: 7px solid #ebebeb;
}

#previewReplyDialog .db_reply_full{
    width:430px;
    background:white;
    float:left;
}

#previewReplyDialog .sd-btn-layout{
    margin:0 20px 24px 65px;
}

.ie6 #previewReplyDialog .sd-btn-layout{
    margin:0 20px 24px 34px;
}

.ie7 #previewReplyDialog .sd-btn-layout, .ie8 #previewReplyDialog .sd-btn-layout{
    margin:0 20px 24px 68px;
}
/* END PREVIEW REPLY HOVER */

/* PREVIEW DISCUSSION DIALOG HOVER */

#previewDiscussionDialog{

}

#previewDiscussionDialog p{
    margin:0; padding:0;
}

#previewDiscussionDialog h4{
    margin:0; padding:0;
}

#previewDiscussionDialog .sd_icon{
    padding:15px 5px 0 0;
}

#previewDiscussionDialog h2 {
    font: 24px Georgia, "Times New Roman", Times, serif;
    color: #d61;
}
#previewDiscussionDialog .text2bold {
    font: bold 13px / 1.3 Arial, Helvetica, sans-serif;
    /*color: #333;*/
}

#previewDiscussionDialog .smallText1 {
    font: 11px / 1.3 Arial, Helvetica, sans-serif;
    /*color: #777;*/
}

#previewDiscussionDialog .smallAlertTextBoldNeutral {
    font: bold 11px / 1.2 Arial, Helvetica, sans-serif;
}

#previewDiscussionDialog .db_discussion{
    padding:0;
    margin:0;
}

#previewDiscussionDialog .dialogCancelButton{
    display:block;
}

#previewDiscussionDialog .db_discussTopic{
    margin:0;
    padding:20px 0 15px 3px;
}

#previewDiscussionDialog .db_discussContainer{
    margin-left:0;
    padding-left:20px;
}

#previewDiscussionDialog .db_discussContainer div.db_pointLeft{
    border-top: 7px solid #ebebeb;
    border-right: 10px solid white;
    border-bottom: 7px solid #ebebeb;
}

#previewDiscussionDialog div.db_discussArrow{
    left:10px;
}

#previewDiscussionDialog .db_discuss{
    width:430px;
    background:white;
    float:left;
}

#previewDiscussionDialog .sd-btn-layout{
    margin:0 20px 24px 70px;
}

/* END PREVIEW DISCUSSION DIALOG HOVER */

/* EDIT RECENT REPLY */

.replybox{
    width:418px;
    padding:12px;
}

.db_textarea{
    padding:0 0 10px 0;
}

.guidelines{
    margin:0 0 0 10px;
}

/* END EDIT RECENT REPLY */

/* --------------- */
/* RAISE YOUR HAND */
/* --------------- */

.ryh .assoc {
    padding-top: 10px;
}

.ryh .assoc .entry {
    position: relative;
}

.ryh .assoc .entry:nth-child(even) {
    background-color: #ebebeb;
}

/* --- */
/* EOF */
/* --- */