div#content {
    float:left;
}

div#content table {
    width:800px;
    border:1px solid;
    margin:auto auto;
}

th {
    border-bottom:1px solid;
}

td, th {
    text-align:left;
}

span.report-title {
    border:1px solid;
    display:block;
    background: #DDD;
    padding: 4px;
    font-weight: bold;
}

td.field {
    border-bottom: 1px solid #ccc;
}

div#api_admin_nav {
    margin:5px 15px 0 0;
    float:left;
    background:#CCC;
    width:120px;
    vertical-align:top;
}

div#api_admin_nav ul {
    padding:5px 5px 5px 25px;
}

div.messages {
    border:2px solid blue;
}

/* Login screen styles */
div#admin_login {
    border:solid #BBB;
    margin:50px auto;
    width:410px;
    padding:0 20px 20px 20px;
}

div#admin_login td.label {
    width:100px;
    text-align:right;
}
div#admin_login input.field {
    width:240px;
}

div#admin_login td span {
    color:red;
}

.hide {
    display:none;
}

.note {
    background-color: #ffd700;
    padding: 3px;
    margin-bottom: 6px;
}