div#content {
    width:800px;
    margin:auto auto;
}

div#content table {
    width:800px;
    border:1px solid;
    margin:auto auto;
}

th {
    border-bottom:1px solid;
}

td, th {
    text-align:left;
}