#api_docs {
    padding: 12px 10px 10px 10px;
}

table.call_params  {
    border-collapse: collapse;
    width: 600px;
    margin: 10px 0 0 0;
    font-size:11px;
}

table.call_params tbody td {
    border: 1px solid #999999;
    border-collapse: collapse;
    padding-left:5px;
    line-height:14px;
}

table.call_params thead .fields td {
    background-color: #000000;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    margin:0;
    padding-left: 5px;
    color:#ffffff;
}

td.label{
    color:#666666;
    font-family: Arial,sans-serif;
    font-size:17px;
    padding:0 0 5px 0;
}

div.content {
    width: 600px;
    float:left;
}

.technical_overview div.content {
    width: 469px;
}

div#sidebar {
    width:200px;
    float:right;
    padding:10px;
    border: 1px solid;
}

div#sidebar ul.sub-toc {
    margin: 0 0 0 15px;
}

div#sidebar .current {
    font-weight:bold;
}

div.call,div.callfirst{
    color:#666666;
    font-family: Arial,sans-serif;
    font-size:13px;
    line-height:17px;
}

div.call p {
    margin-bottom: 1em;
}

div.call p.last {
    margin-bottom: 0;
}

div.call .subhead {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em;
}

div.call{
    margin:20px 0 10px 0;    
}

div.callfirst{
    margin:0 0 10px 0;
}

div.callfirst h2{
    font-size:20px;
    color:#55bbcc;
    margin-bottom:10px;
}

div.call h2{
    font-size:18px;
    color:#55bbcc;
    margin-bottom:10px;
}

div.sample_url{
    font-weight:bold;
}

div.example_url{
    font-weight:bold;
    margin-top:10px;
}

div.footnote{
    font-size:10px;
    line-height:12px;
    margin:2px 0 10px 5px;
}

div.questions{
    font-style:italic;
}

div.questions a,div.questions a:link,
    div.questions a:visited,div.questions a:active{
}

td.fieldname{
    width:100px;
}

td.fielddescription{
    width:350px;
}

td.fieldsample{
    width:150px;
}

.sampleTextArea{
    width:600px;
    height:200px;
    background-color:#ffffff;
}

.success_message{
    margin-bottom:10px;
    color:#d66671;
    font-weight:bold;
    font-size: 14px;
}

div.mainRequest{
    margin-top:10px;
}
div.mainRequest a,
div.mainRequest a:link,
div.mainRequest a:visited,
div.mainRequest a:active{
    color:#0f9aac;
    font-weight:bold;
    text-decoration:none;
}

div.mainRequest a:hover{
    text-decoration:underline;
}

div.apiTerms{
    color:#000000;
    width:600px;
    margin-left:20px;
}

div.apiTerms .apiTermsHeading {
    margin-bottom: 15px;
    float:left;
}

div.apiTerms .apiTermsTitle{
    font-weight:bold;
}

div.apiTerms .apiTermsEffective {
    float:right;
}

div.apiTerms .clearfloat {
    clear:both;
}

div.apiTerms .apiTermsSection{
    clear:both;
}

.apiTermsHighlight{
    font-style:italic;
    font-weight:bold;
}

#AboveFold_300x250 {
    float: right;
}

/* needed for IE 6 */
.box_ad {
    width: 300px;
}

div.apiTerms .parentRatingsStars img {
    padding-right: 20px;
}

div.apiTerms .ratingsSampleImages {
    margin-top:15px;
    margin-bottom: 25px;
    border: 1px solid #000;
    border-spacing: 0;
}

div.apiTerms .ratingsSampleImages .size {
    width: 270px;
}

div.apiTerms .ratingsSampleImages .spacer {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #000;
}

div.apiTerms .ratingsSampleImages td {
    padding: 5px;
}

div.apiTerms .ratingsSampleImages img {
    padding: 5px;
}

div.apiTerms .link {
    text-decoration:underline;
}

div.apiTerms .emphasis {
    text-decoration:underline;
}

div.apiTerms .strong {
    font-weight:bold;
}

div.apiTerms .spacedList li {
    padding-bottom: 10px;
}

div.apiTerms .spacedList .spacedListNested li {
    padding-bottom: 0;
}

div.apiTerms .attrReq {
    text-decoration: underline;
}

div.apiTerms .attrLinks {
    font-weight: bold;
}