/* api/registration.css */
div#api_reg {
    float:left;
    margin: 0;
    padding: 0 10px 0 15px;
    width: 600px;
}

div#api_reg h1 {
    margin:0 0 15px 0;
    padding:10px 0 10px 0;
    color: #55BBCC;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 5px dotted #BBBBBB;
}

div#api_reg span.text, div#api_reg td.label {
    font-size: 14px;
}

div#api_reg form table {
    text-align: right;
    vertical-align: text-top;
}

div#api_reg input {
    width: 330px;
}

div#api_reg input#save {
    width: 150px;
}

.contentGS div h2 {
    font-size: 22px;
    padding: 0 0 20px 0;
}

div#api_reg td {
    padding-bottom:10px;
}

div#api_reg div.note {
    font-size: 13px;
    font-style: italic;
    margin: 0 0 15px 0;
}

div#api_reg td.label {
    text-align:left;
}

div#api_reg td.tou {
    text-align: left;
}

div#api_reg tr.iuse {
    text-align: left;
}

div#api_reg td.error {
    text-align:left;
    font-size:13px;
    color: red;
}

div#api_reg textarea {
    width: 470px;
    height: 115px;
}

div#api_reg input#terms {
    width: 15px;
    margin: 3px 5px 0 0;
}

div#api_reg tr#submitrow {
   text-align: left;
}

div#sidebar {
    width:300px;
    float: right;
    padding: 0 15px 0 0;
}

div#getting_started {
    border: 4px solid #AACCDD;
    padding: 13px;
    margin: 43px 0 0 0;
}

div#getting_started ul span {
    display: block;
    color: #D66671;
    font-size: 14px;
    font-weight: bold;
}

div#getting_started li {
    margin: 0 0 12px 0;
}

div#getting_started h2 {
    color: #55BBCC;
    font-size: 14px;
    font-weight: bold;
}

div#finder_promo {
    margin: 15px 0 0 0;
    border: 5px solid #F8F6E9;
    padding: 15px;
}

div#finder_promo .headline {
    color: #D66671;
    font-weight: bold;
    display: block;
}

div#finder_promo .blurb {
    font-size: 13px;
}