#AboveFold_300x250 {
    margin-bottom: 0;
    margin-top: 10px;
}

/* api/registration.css */
div#api_regg {
    float:left;
    margin: 0;
    padding: 0 10px 0 15px;
    width: 600px;
}

div#api_reg h1 {
    margin:0 0 15px 0;
    padding:10px 0 10px 0;
    color: #55BBCC;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 5px dotted #BBBBBB;
}

div#api_reg span.text, div#api_reg td.label {
    font-size: 14px;
}

div#api_reg form table {
    vertical-align: text-top;
}

/*div#api_reg input {
    width: 220px;
} */

#organization,#website,#name,#phone,#email,#confirmEmail{
    width: 220px;
}

.radioReg{
    width:100px;
}

div#api_reg input#save {
    width: 150px;
}

.contentGS div h2 {
    font-size: 22px;
    padding: 0 0 20px 0;
}

div#api_reg td {
    padding-bottom:10px;
}

div#api_reg div.note {
    font-size: 13px;
    font-style: italic;
    margin: 0 0 15px 0;
}

div#api_reg td.label {
    text-align:left;
    width: 130px;
}
div#api_reg td.wide {
    width: 100%;
}
div#api_reg td.tou {
    text-align: left;
}

div#api_reg tr.iuse {
    text-align: left;
}

div#api_reg td.error {
    text-align:left;
    font-size:11px;
    color: #d66671;
}

div#api_reg textarea {
    width: 350px;
    height: 115px;
}

div#api_reg input#terms {
    width: 15px;
    margin: 3px 5px 0 0;
}

div#api_reg tr#submitrow {
   text-align: left;
}

div#sidebar {
    width:300px;
    float: right;
    padding: 0 15px 0 0;
}

div#getting_started {
    border: 4px solid #AACCDD;
    padding: 13px;
    margin: 43px 0 0 0;
}

div#getting_started ul span {
    display: block;
    color: #D66671;
    font-size: 14px;
    font-weight: bold;
}

div#getting_started li {
    margin: 0 0 12px 0;
}

div#getting_started h2 {
    color: #55BBCC;
    font-size: 14px;
    font-weight: bold;
}

div#finder_promo {
    margin: 15px 0 0 0;
    border: 5px solid #F8F6E9;
    padding: 15px;
}

div#finder_promo .headline {
    color: #D66671;
    font-weight: bold;
    display: block;
}

div#finder_promo .blurb {
    font-size: 13px;
}

#intro h3 {
    font-size: 16px;
    font-weight: bold;
    color: #5BC;
    margin-bottom: 10px;
}

#content #intro h2 {
    margin: 0;
    padding:0;
}

#schoolFinderPromo{
	background-image: url(/res/img/api/mapwidget_map.gif);
	background-repeat: no-repeat;
	background-position: 0px 30px;

    width: 260px;
    height: 152px;
    padding: 4px 0px;
}

#schoolFinderPromo h2{
    color:#55BBCC;
    font-weight: bold;
    font-size: 16px;
}

#schoolFinderPromo p {
    margin-left: 120px;
    margin-top: 6px;
    margin-bottom: 2px;
    color:#666666;
    font-family:Arial,Arial,sans-serif;
    font-size:13px;
}

#schoolFinderPromo img {
    margin-left: 200px;
}

.box .inner .contentRight {
	padding: 5px 0px 1px;
	background-color: #fff;
    /*position: relative;*/
}

td.getStarted{
    font-size:12px;
    line-height:15px;
}


.getStarted1{
    background-image: url(/res/img/api/step1.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left:20px;
    height:35px;
    margin-top:10px;
}

.getStarted2{
    background-image: url(/res/img/api/step2.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left:20px;
    height:35px;
}

.getStarted3{
    background-image: url(/res/img/api/step3.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left:20px;
}

.note{
    font-size:11px;
    font-style:italic;
    margin-bottom:5px;
}
