/* container */

#content {
    height: 316px;
}

#leftSide {
    padding-right:20px;
}

#rightSide {
    padding-top:12px;
    width: 370px;
}

#rightSide a {
    text-decoration:none;
}
/* Page content */

#rightSide img.comingSoon {
    margin-top: 15px;
}

#rightSide p {
    font: 14px/16px Arial, sans-serif;
    color: #666666;
    padding: 15px 0 0 0;
}

#rightSide #joinLinks {
    padding-top:8px;
    position: relative;
}