div#col_right div#localQuestionsContainer {
    border-top: 1px solid #CCCCCC;
    padding-top: 15px;
}

div#col_right div#localQuestions {
    text-align: left;
    height: 285px;
    background: url( ../../../img/community/local/localBackground.gif ) no-repeat scroll 2px;
    font-family: Trebuchet MS, sans-serif;
    padding: 30px 30px 60px 30px;
    position: relative;
}

div#col_right .localQuestionsLogo {
    color: #666666;
    font-size: 20px;
    font-weight: bold;
}

div#col_right .localQuestionsLogo img {
    margin-bottom: -2px;
}

div#col_right div#localQuestions h2 {
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    padding-top: 18px;
    margin-bottom: 20px;
}

div#col_right div#localQuestions li {
    position: relative;
    margin-bottom: 15px;
    background: transparent url( ../../../img/community/local/localChat.gif ) no-repeat scroll left top;
}

div#col_right div#localQuestions li a {
    margin-left: 30px;
    display: block;
}

div#col_right .localQuestionsMore {
    position: absolute;
    right: 25px;
    bottom: 60px;
}

div#col_right .localQuestionsAsk {
    position: absolute;
    right: 25px;
    bottom: 35px;
}