div#localQuestions {
    color: #444;
    text-align: left;
    min-height: 310px;
    height: auto !important;
    height: 310px;
    background: url( /res/img/community/local/localBackground.gif ) no-repeat scroll -3px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 12px;
    line-height: 15px;
    padding: 0 15px 0 80px;
    position: relative;
}

.localQuestionsLogo {
    position: absolute;
    left: 25px;
    top: 37px;
}

.localQuestionsLogo img {
    margin-bottom: -2px;
}

div#localQuestions h2 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 38px;
    margin-bottom: 3px;
    color: #444;
}

div#localQuestions div.caption {
    margin-bottom: 17px;
}

div#localQuestions li {
    position: relative;
    margin-bottom: 15px;
    background: transparent url( /res/img/community/local/localChat.gif ) no-repeat scroll left top;
}

div#localQuestions li div a {
    font-size: 13px;
    color: #3399AA;
    text-decoration: none;
}

div#localQuestions a {
    font-weight: normal;
    line-height: 15px;
    color: #3399AA;
    text-decoration: none;
}

div#localQuestions li div {
    display: block;
    margin-left: 30px;
}

div#localQuestions li div span {
    margin-left: 5px;
}

.localQuestionsMore {
    position: absolute;
    right: 20px;
    bottom: 45px;
}

.localQuestionsAsk {
    position: absolute;
    right: 20px;
    bottom: 20px;
}