div#localQuestionsContainer {
    border-top:1px solid #CCCCCC;
    padding-top:15px;
}

div#localQuestions {
    font-family: Trebuchet MS, sans-serif;
    font-size: 12px;
    line-height: 15px;
    border: 2px solid #EEEEEE;
    padding: 18px 18px 70px 18px;
    position: relative;
    min-height: 150px;
    height: auto !important;
    height: 150px; 
}

div#localQuestions h2 {
    color: #55BBCC;
    font-size: 17px;
    font-weight: normal;
    border-bottom: 1px solid #CACA9E;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

div#localQuestions a {
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
}

div#localQuestions li {
    position: relative;
    background: url( ../../../img/community/local/ask_question.gif ) no-repeat;
    margin-bottom: 15px;
}

div#localQuestions li a {
    margin-left: 30px;
    display:block;
}

.localQuestionsMore {
    position:absolute;
    right:18px;
    bottom:45px;
}

.localQuestionsAsk {
    position:absolute;
    right:18px;
    bottom:20px;
}
