div#localQuestions {
    color: #444;
    text-align: left;
    min-height: 113px;
    height: auto !important;
    height: 113px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 12px;
    line-height: 15px;
    padding: 0 10px 0 40px;
    position: relative;
}

div#localQuestions a.noDecoration {
    color: #666;
    text-decoration: none;
}

div#localQuestions img {
    float: none;
    margin: 0;
}

div#localQuestions .localQuestionsLogo {
    position: absolute;
    left: 5px;
    top: 1px;
}

div#localQuestions h2 {
    font-size: 13px;
    font-weight: bold;
    padding-top: 0;
    margin-bottom: 5px;
    color: #666;
    float: none;
}

div#localQuestions div.caption {
    font-size: 11.px;
    color: #666;
    margin-bottom: 5px;
}

div#localQuestions li {
    position: relative;
    list-style-type: none;
    margin: 0 0 15px 0;
    line-height: 14px;
}

div#localQuestions li div a {
    font-size: 13px;
    color: #3399AA;
    text-decoration: none;
}

div#localQuestions a.localQuestionsMore {
    font-weight: normal;
    line-height: 13px;
    color: #3399AA;
    text-decoration: none;
}

div#localQuestions li div {
    display: block;
    margin-left: 0;
}

div#localQuestions li div span {
    margin-left: 0;
}

.localQuestionsMore {
    position: absolute;
    right: 10px;
    bottom: 5px;
}
