<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename">
            <value>app</value>
        </property>
    </bean>

    <!--    <bean id="propertyConfigurer"-->
    <!--        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
    <!--        <description>Override because couldn't get other property file read.</description>-->
    <!--        <property name="locations">-->
    <!--            <list>-->
    <!--                <value>file:/Users/apeterson/dev/GSData/database.properties</value>-->
    <!--            </list>-->
    <!--        </property>-->
    <!--    </bean>-->

    <bean id="schoolTableTagHandler"
          class="gs.web.search.SchoolTableTagHandler">
    </bean>

    <!-- factory bean for user session information -->
    <bean id="sessionContext"
          class="gs.web.SessionContext"
          singleton="false">
        <!-- NOTE: not autowired for performance reasons. AJP 3/2006 -->
        <property name="propertyDao" ref="propertyDao"/>
        <property name="userDao" ref="userDao"/>
        <property name="sessionContextUtil" ref="sessionContextUtil"/>
    </bean>

    <bean id="sessionContextUtil"
          class="gs.web.SessionContextUtil"
          autowire="byName">
        <property name="stateCookieGenerator">
            <bean class="org.springframework.web.util.CookieGenerator">
                <property name="cookieName" value="STATE"/>
            </bean>
        </property>
        <property name="pathwayCookieGenerator">
            <bean class="org.springframework.web.util.CookieGenerator">
                <property name="cookieName" value="PATHWAY"/>
                <property name="cookieMaxAge" value="-1"/>
            </bean>
        </property>
        <property name="memberIdCookieGenerator">
            <bean class="org.springframework.web.util.CookieGenerator">
                <property name="cookieName" value="MEMID"/>
            </bean>
        </property>
        <property name="sessionCacheCookieGenerator">
            <bean class="org.springframework.web.util.CookieGenerator">
                <property name="cookieName" value="SESSION_CACHE"/>
                <property name="cookieMaxAge" value="-1"/>
            </bean>
        </property>
    </bean>

    <bean id="pathwaysMap"
          class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="pathway1">
                    <value>/modperl/go</value>
                </entry>
                <entry key="pathway2">
                    <value>/path/mySchool.page</value>
                </entry>
                <entry key="pathway3">
                    <value>/content/summerReading.page</value>
                </entry>
                <entry key="pathway4">
                    <value>/modperl/go</value>
                </entry>
                <entry key="search_single">
                    <value>/search/search.page</value>
                </entry>
                <entry key="search_double">
                    <value>/cgi-bin/search_switch</value>
                </entry>
                <entry key="default">
                    <value>/modperl/go</value>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <bean id="anchorListModelFactory"
          class="gs.web.AnchorListModelFactory"
          autowire="byName"/>

    <bean id="versionProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location">
            <value>classpath:version.properties</value>
        </property>
    </bean>

</beans>