<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename">
            <value>app</value>
        </property>
    </bean>

    <!--    <bean id="propertyConfigurer"-->
    <!--        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
    <!--        <description>Override because couldn't get other property file read.</description>-->
    <!--        <property name="locations">-->
    <!--            <list>-->
    <!--                <value>file:/Users/apeterson/dev/GSData/database.properties</value>-->
    <!--            </list>-->
    <!--        </property>-->
    <!--    </bean>-->

    <bean id="schoolTableTagHandler"
          class="gs.web.search.SchoolTableTagHandler">
    </bean>

    <bean id="authenticationManager" class="gs.web.community.registration.AuthenticationManager"
          autowire="byName" lazy-init="true">
    </bean>

    <bean id="registrationConfirmationEmail"
          class="gs.web.community.registration.RegistrationConfirmationEmail"
          autowire="byName">
        <property name="subject" value="Welcome to GreatSchools!"/>
        <property name="fromEmail" value="gs-batch@greatschools.net"/>
        <property name="fromName" value="GreatSchools"/>
    </bean>

    <bean id="forgotPasswordEmail"
          class="gs.web.community.registration.ForgotPasswordEmail"
          autowire="byName">
        <property name="subject" value="GreatSchools reset password link"/>
        <property name="fromEmail" value="gs-batch@greatschools.net"/>
        <property name="fromName" value="GreatSchools"/>
    </bean>

    <!-- factory bean for user session information -->
    <bean id="sessionContext"
          class="gs.web.util.context.SessionContext"
          scope="prototype">
        <!-- NOTE: not autowired for performance reasons. AJP 3/2006 -->
        <property name="propertyDao" ref="propertyDao"/>
        <property name="userDao" ref="userDao"/>
        <property name="sessionContextUtil" ref="sessionContextUtil"/>
    </bean>

    <bean id="sessionContextUtil"
          class="gs.web.util.context.SessionContextUtil"
          autowire="byName">
        <property name="stateCookieGenerator">
            <bean class="org.springframework.web.util.CookieGenerator">
                <property name="cookieName" value="STATE2"/>
                <property name="cookieDomain" value=".greatschools.net"/>
                <!--
                    The Java site uses a cookie to track the user's locale.

                    On the perl site it is tracked in the URL like always.

                    When one site calls the other, they must communicate in the other site's language.
                    It's clear that when the java site calls perl, it passes the state in the URL.
                    The perl site to tell the java site that it's in MA, it doesn't set the cookie,
                    but pass state=MA in the URL, which coaxes the java site to set the cookie.
                    The cookies aren't set on the perl side.

                    There will be one additional cookie, "has the user searched?",
                    which will be used on both sites to determine how to draw the state popup.
                -->
            </bean>
        </property>
        <property name="memberIdCookieGenerator">
            <bean class="org.springframework.web.util.CookieGenerator">
                <property name="cookieName" value="MEMID"/>
            </bean>
        </property>
        <property name="communityCookieGenerator">
            <bean class="org.springframework.web.util.CookieGenerator">
            </bean>
        </property>
        <property name="hasSearchedCookieGenerator">
            <!-- has the user searched in a specific state? -->
            <bean class="org.springframework.web.util.CookieGenerator">
                <property name="cookieName" value="HAS_SEARCHED"/>
            </bean>
        </property>
        <property name="sessionCacheCookieGenerator">
            <bean class="org.springframework.web.util.CookieGenerator">
                <property name="cookieName" value="SESSION_CACHE"/>
            </bean>
        </property>
        <property name="tempMsgCookieGenerator">
            <bean class="org.springframework.web.util.CookieGenerator">
                <property name="cookieName" value="TMP_MSG"/>
            </bean>
        </property>
    </bean>

    <bean id="pathwaysMap"
          class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="pathway1">
                    <value>/modperl/go</value>
                </entry>
                <entry key="pathway3">
                    <value>/content/summerReading.page</value>
                </entry>
                <entry key="pathway4">
                    <value>/modperl/go</value>
                </entry>
                <entry key="search_single">
                    <value>/search/search.page</value>
                </entry>
                <entry key="search_double">
                    <value>/cgi-bin/search_switch</value>
                </entry>
                <entry key="default">
                    <value>/modperl/go</value>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <bean id="anchorListModelFactory"
          class="gs.web.util.list.AnchorListModelFactory"
          autowire="byName"/>

    <bean id="versionProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location">
            <value>classpath:version.properties</value>
        </property>
    </bean>

</beans>