.articleCommunityWidget {
    border: 2px solid #EEEEEE;
    width: 290px;
    padding: 3px;
    height: 188px;
}

.articleCommunityTitle {
    height: 20px;
    background: #66CCCC none repeat scroll 0;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 0 0 15px;
    font-family:Arial,Arial,sans-serif;
    display: none;
}

#articleCommunityWidget .articleCommunityArticleList {
    margin: 12px 12px 7px 10px;
    list-style: square outside url(/res/img/content/article/greenarrow.gif);
    font-family: Arial, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #3399AA;
    text-decoration: none;
    letter-spacing: 0;
}

#articleCommunityWidget .articleCommunityArticleList li {
    padding-bottom: 8px;
    list-style-image: none;
    background-repeat: no-repeat;
    background-position: left top;
}

#articleCommunityWidget .articleCommunityArticleList li.lastitem {
    padding-bottom: 0;
}

#articleCommunityWidget #articleCommunityArticleList li a {
    margin-left: 15px;
    display : block;
    text-decoration: none;
}

#articleCommunityWidget #articleCommunityArticleList li a:hover {
    text-decoration:underline;
}

#articleCommunityWidget .articleCommunityPostList {
    margin: 12px 12px 7px 10px;
    font-family: Arial, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #3399AA;
    text-decoration: none;
    letter-spacing: 0;
}

#articleCommunityWidget .articleCommunityPostList li {
    padding-bottom: 8px;
    list-style-image: none;
    background-repeat: no-repeat;
    background-position: left top;
}

#articleCommunityWidget .articleCommunityPostList li.lastitem {
    padding-bottom: 0;
}

#articleCommunityWidget #articleCommunityPostList li a {
    margin-left: 30px;
    display : block;
    text-decoration: none;
}

#articleCommunityWidget #articleCommunityPostList li a:hover {
    text-decoration:underline;
}

#articleCommunityWidget ul li.greenarrow {
    background-image: url(/res/img/content/article/greenarrow.gif);
    background-position: 0 4px;
    #background-position: 0 3px;
}

#articleCommunityWidget ul li.advice {
    background-image: url(/res/img/community/small_icons/advice.gif);
    background-position: 0 2px;
    #background-position: 0 1px;
}

#articleCommunityWidget ul li.question {
    background-image: url(/res/img/community/small_icons/question.gif);
    background-position: 0 0;
    #background-position: 0 -1px;
}

#articleCommunityWidget ul li.groups {
    background-image: url(/res/img/community/small_icons/groups.gif);
    background-position: 0 0;
    #background-position: 0 0;
}

#articleCommunityWidget ul li.discussion {
    background-image: url(/res/img/community/small_icons/discussion.gif);
    background-position: 0 0;
    #background-position: 0 0;
}


#resultstabs {
	background: #66CCCC;
    width: 290px;
    height: 30px;
    font-family:Arial,Arial,sans-serif;
}

#resultstabs ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#resultstabs li {
	float: left;
	width: 112px;
	height: 18px;
	text-align: center;
	padding: 12px 4px 0 4px;
	font-weight: bold;
    background-repeat: no-repeat;
	background-position: bottom center;
}

#resultstabs li.tableft {
	background-image: url(/res/img/tabs/lefttab_off.gif);
    _background-position: 0 2px;
	padding-left: 5px;
	padding-right: 3px;
}

#resultstabs li.tabright {
	background-image: url(/res/img/tabs/righttab_off.gif);
    _background-position: 4px 2px;
	padding-left: 3px;
	padding-right: 6px;
}

#resultstabs li.tabactive {
	padding-top: 9px;
	height: 21px;
}

#resultstabs li.tableft.tabactive {
	background-image: url(/res/img/tabs/lefttab_on.gif);
    _background-position: 4px 2px;
}

#resultstabs li.tabright.tabactive {
	background-image: url(/res/img/tabs/righttab_on.gif);
}

#contentGS #resultstabs .tabactive a {
	color: #666;
	cursor: text;
	text-decoration: none;
}

#contentGS #resultstabs li a {
	text-decoration: none;
}

div.articleCommunityWidget a.more{
    float:right;
    padding-top:8px;
    padding-right:15px;
    font-family:Arial,Arial,sans-serif;
}