#btsWithGSPromo {
    width: 584px; /* 365 + 219     900 - 36-36 = 828 - 584 =  244  */
    height: 290px;
    border:0;
}

#btsWithGSPromo #goBackToSchool img {
    width: 219px;
    height: 199px;
}

#btsWithGSPromo #go a {
    width: 219px;
    height: 91px;
    background-color: #6cc;
}

#btsWithGSPromo #go:hover {
    background-image: url( ../../img/promo/btsWithGS/goOver.gif );
}
