#hotProductsModule {
    width: 638px;
    height: 225px;
    font-family: Trebuchet MS, Arial, sans-serif;
    background-image: url(/res/img/promo/hotProducts/shoppingBox.gif);
}

#hotProductsHeader {
    padding: 10px 0 0 20px;
    position: relative;
}

#hotProductsHeader .hotProductsHeaderTitle {
    height: 32px;
    color: #D66671;
    font-size: 17px;
}

#hotProductsHeader .sponsorMsg {
    position: relative;
    top: 3px;
    left: 318px;
}

#hotProductsHeader .sponsorMsg span {
    position: relative;
    top: -5px;
    font-size: 10px;
}

#hotProductsContent {
    overflow: hidden;
}

div.scrollable {
    position: absolute;
    overflow: hidden;
    width: 621px;
    height: 150px;

    padding: 15px 0;
    margin: 10px 0 0 8px;
}

.ie div.scrollable {
    left: 0;
}

div.scrollable div.items {
    width: 20000em;
    position: absolute;
    clear: both;
}

div.scrollable div.items div.item {
    float: left;

    text-align: left;
    height: 157px;
    width: 152px;

    padding: 0;
    margin-right: 5px;
    font-size: 12px;
    background-image: url(/res/img/promo/hotProducts/shoppingThumbSM.gif);
    background-repeat: no-repeat;
    background-position: 0 0;

    position: relative;
}

div.scrollable div.items div div.hotProductImageHalf {
    width: 120px;
    height: 125px;

    padding: 10px 5px 0;
    margin: 0;
    text-align: center;
    position: absolute;
}

div.scrollable div.items div div.hotProductImageHalf div.hotProductsImage {
    width: 120px;
    height: 106px;
    margin-left: 7px;
}

div.scrollable div.items div div.hotProductImageHalf img.blueArrow {
    top: 138px;
    position: absolute;
    left: 130px;
}

div.scrollable div.items div div.hotProductImageHalf a {
}

div.scrollable div.items div div.hotProductDescriptionHalf {
    width: 135px;
    height: 125px;

    padding: 0 0 0 13px;
    margin: 10px 0 0 15px;

    position: absolute;
    left: 123px;

    border-left: 1px dotted #999;
}

div.hotProductPrice {
    color: #3399AA;
}

div.scrollable div.items div.active {
    width: 309px;
    background-image: url(/res/img/promo/hotProducts/shoppingThumbLG.gif);
}

div.scrollable {
    float: left;
}

a.prev, a.next {
    display: block;
    width: 18px;
    height: 30px;
    background: url(/res/img/promo/hotProducts/arrowLft.gif) no-repeat;
    float: left;
    margin: 75px 0;
    cursor: pointer;
    font-size: 1px;
    position: relative;
    z-index: 1;
}

a.prev:hover, a.next:hover {
    background-position: 0 -30px;
}

a.disabled {
    background-position: 0 -60px
}

a.disabled:hover {
    background-position: 0 -60px;
}

a.next {
    background-image: url(/res/img/promo/hotProducts/arrowRt.gif);
    clear: right;
    left: 597px;
}

a.prev {
    left: 4px;
}

#sponsor_120x80 {
    position: absolute;
    top: 0;
    right: 0;
}