#schoolChoicePackPromo {
    color: #666666;
    font-family: Arial,Arial,sans-serif;
    font-size: 13px;
    background-color: #ffffff;
}

#schoolChoicePackPromo.bordered{
    border: 2px solid #EEEEEE;
    padding:10px 10px 10px 13px;

}

#schoolChoicePackPromo img.headicon {
    float:left;
    margin:0 10px 0 0;
}

#schoolChoicePackPromo .headlineNoSchoolName {
    color:#D66671;
    font-size:19px;
    padding-top:4px;
    margin-bottom:10px;
    background:url("/res/img/discussion_boards/db_bg_header.png") repeat-x scroll left top #114499;
    color:white;
    padding:5px;

}
#schoolChoicePackPromo .mod_bd h4 {
    font: 700 14px Arial, sans-serif;
    width: 216px;
}

body.nocol #schoolChoicePackPromo .mod_hd h3 {
    font: 700 16px/1.1 Arial, sans-serif;
    background: #6cc;
    padding: 5px 15px 5px 15px;
    height: auto;
}
body.nocol #schoolChoicePackPromo .mod_bd h4 {
    background: url('/res/img/promo/clipboard_icon.jpg') 0 0 no-repeat;
    padding: 3px 0 0 38px;
    height: 32px;
}
body.nocol #col_right #schoolChoicePackPromo .mod_bd h4 {
    background: none;
    padding: 0;
    margin: 1em 0;
    height: auto;
}
#schoolChoicePackPromo .headline {
    color:#D66671;
    font-size:17px;
}

#schoolChoicePackPromo .subhead1 {
    font-size:19px;
}

#schoolChoicePackPromo .blurb {
    margin:5px 0 12px 0;
    width: 216px;
}

body.nocol #schoolChoicePackPromo .mod_bd h4, body.nocol #schoolChoicePackPromo .blurb {
    width: auto;
}
#schoolChoicePackPromo div.levs {
    padding: 5px 0 5px 10px;
    height: 50px;
}
#schoolChoicePackPromo div.left_levs {
    margin: 0;
    width: 135px;
    float: left;
}
#schoolChoicePackPromo div.right_levs {
    margin: 0;
    /*padding-right: 10px;*/
    width: 115px;
    float: right;
}
#schoolChoicePackPromo div.left_levs div {
    border:solid white;
    width: 135px;
    height: 18px;
}
#schoolChoicePackPromo div.right_levs div {
    border:solid white;
    height: 18px;
}
#schoolChoicePackPromo .levs input {
   display:block;
   float:left;
   margin:2px 2px 0 0;
}
* + html #schoolChoicePackPromo .levs input {
    margin:0 2px 0 0;    
}

* + html #schoolChoicePackPromo .levs label {
    margin:0;
    padding-top:1px;
}

* html #schoolChoicePackPromo .levs input {
    margin:0 2px 0 0;
}

* html #schoolChoicePackPromo .levs label {
    margin:0;
    padding-top:1px;
}
#schoolChoicePackPromo div#email_go {
    height: 30px;
}
body.nocol #schoolChoicePackPromo div#email_go {
    height: 34px;
}
#schoolChoicePackPromo div#email_go #cemail {
    vertical-align:top;
    margin:2px 10px 0 0;
    width:160px;
    color:#888888;
    font-family: Arial,Arial,sans-serif;
    font-size: 13px;
    float: left;
    display: inline;
}
#schoolChoicePackPromo #gradeSelect {
    overflow: visible;
    clear: both;
}
body.ie7 #scpp_picker {
    height: 27px;
}
*+html body.nocol #scpp_picker {
    height: 48px;
}
body.ie7 #gradeSelect {
    height: 56px;
}
*+html body.nocol #gradeSelect {
    height: 88px;
}
body.ie7 #email_go {
    height: 30px;
}
#schoolChoicePackPromo div#email_go #send {
    margin:0;
    padding:0;
    height: 26px;
    float:left;
    display: inline;
}

#schoolChoicePackPromo .privacy_terms {
    position: relative;
    margin:4px 0 0 0;
    padding: 0;
    height: 18px;
    width: 296px;
}

body.nocol #schoolChoicePackPromo .privacy_terms {
    height: 30px;
    overflow: hidden;
    width: 228px;
    clear: left;
    border: 1px solid #fff;
}
#schoolChoicePackPromo .privacy_terms #privacy_terms_checkbox {
    position: relative;
    float: left;
}
body.nocol #schoolChoicePackPromo .privacy_terms #privacy_terms_checkbox {
    margin: 3px 3px 3px 0;
}
#schoolChoicePackPromo .privacy_terms #privacy_terms_text {
    line-height: 15px;
    position: relative;
    float: left;
    top: 1px;
}

body.nocol #schoolChoicePackPromo .privacy_terms #privacy_terms_text {
    width: auto;
    float: none;
}
#schoolChoicePackPromo div.levs div.left_levs {
    float:left;
}

#schoolChoicePackPromo div.mod_bd {
    padding: 15px;
    background: url(/res/img/school/compare/21121_thumb_boy_apple.jpg) 97% 8px no-repeat;
    height: auto;
}
#schoolChoicePackPromo #confirm_panel.mod_bd {
    height: 187px;
}
body.nocol #schoolChoicePackPromo div.mod_bd {
    padding: 0 4px 0 0;
    width: auto;
    background-image: none;

}
#schoolChoicePackPromo div#form_panel div.logoutDiv a{
    font-size:10px;
    text-decoration:none;
}


#schoolChoicePackPromo div#form_panel div.logoutDiv a:hover{
    text-decoration:underline;
}

#schoolChoicePackPromo div#confirm_panel div.blurb #linkToSchoolChoice{
     text-decoration:none;

}

#schoolChoicePackPromo div#confirm_panel div.blurb #linkToSchoolChoice:hover{
    text-decoration:underline;

}
#scpp_form .errors {
    float:none;
    width:262px;
    height: 18px;
    overflow: hidden;
}
#scpp_form span.error {
    display: inline;
}

