#trackChildsLearningNewsletterPromo {
    width: 563px; /* 365 + 219     900 - 36-36 = 828 - 584 =  244  */
    height: 291px;
    background-image: url( ../../img/promo/trackChildsLearningNewsletter/childWriting.jpg );
    background-position: top right;
    background-repeat: no-repeat;
    vertical-align: top;
}

#trackChildsLearningNewsletterPromo p {
    width: 219px;
    height: 180px;
    position: relative;
}

#trackChildsLearningNewsletterPromo p span {
    background-image: url( ../../img/promo/trackChildsLearningNewsletter/trackLearning.gif );
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

#trackChildsLearningNewsletterPromo a {
    display: block;
    width: 219px;
    height: 111px;
    background-image: url( ../../img/promo/trackChildsLearningNewsletter/signMeUp.gif );
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: #6cc;
    overflow: hidden;
    text-indent: -50em;
}

#trackChildsLearningNewsletterPromo a:hover {
    background-image: url( ../../img/promo/trackChildsLearningNewsletter/signMeUpOver.gif );
}
