/* container */

#content {
    height: 572px;
}

/* Page content */

#leftSide {
    padding-bottom: 15px;
}

#rightSide {
    padding-top:12px;
}

#content #rightSide p {
    margin-top:20px;
    font: 14px/16px Trebuchet MS, Arial, sans-serif;
    color: #777777;
}

.header {
    font-size:25px;
    font-weight:normal;
}

.grey {
    color:#aaa;
}

.green {
    color:#97cf64;
}

#rightSide #learnMore {
    color:#cc5566;
    text-transform:uppercase;
    font-size:smaller;
}

#links li a {
    color: #3399aa;
    text-decoration: underline;
    font-family:Trebuchet MS,Arial,sans-serif;
}

/* Award panel */

#awardPanel {
    border-top: 2px dotted #ccc;
    padding: 15px 0 0 10px;
}

#awardPanel div.moreAwards {
    font-size: 18px;
    color: #55BBCC;
    font-weight: bold;
}

#awardPanel p.centeredText {
    text-align:center;
    font: 13px/15px Trebuchet MS, Arial, sans-serif;
    color: #777777;
}

#awardPanel div img {
    padding-left: 25px;
    padding-top: 15px;
}

#awardPanel div#peninsula img {
    padding-left: 55px;
}

#charity, #peninsula, #mofe {
    float: left;
}

div#charity {
    padding: 0 135px 0 10px;
}

div#peninsula {
    padding: 0 0 0 0;
}

div#mofe {
    padding: 0 10px 0 135px;
}
