/* container */

#content {
    height: 387px;
}

#leftSide {
    background-color: #DEE;
    margin-right: 45px;
    padding-right: 0;
}

#rightSide {
    width: 400px;
}

#rightSide .topPad {
    margin-top: 50px;
}

#rightSide p{
    margin-top: 18px;
}
