/* container */

#content {
    height: 387px;
}

#leftSide {
    background-color: #DEE;
    margin-right: 45px;
    padding-right: 0;
}

#rightSide {
    width: 400px;
}

#rightSide img.topPad {
    margin-top: 50px;
}

#rightSide a img.topPad {
    margin-top: 26px;
}

#rightSide a img.topPad {
    margin-bottom: 5px;
}

#rightSide p{
    margin-top: 21px;
}
