/* container */

#content {
    height: 660px;
}

#leftSide {
    background-color: #DEE;
    margin-right: 45px;
    padding-right: 0;
}

#leftSide .leftPad {
    margin-left: 20px;
}

#leftSide #topStars {
    margin-bottom: 20px;    
}

#leftSide #video {
    background-color:#8BCBCB;
    padding: 4px;
    width: 330px;
    margin-bottom: 10px;
}

#rightSide {
    width: 400px;
}

#rightSide p, #rightSide .topPad {
    margin-top: 20px;;
}

#rightSide p.indented {
    margin-left: 15px;
}
