/* Wrapper */

#chooserRegistrationWrapper {
    height: 355px;
}

/* Bullet points */

div#topTextDivId {
    margin: 0;
    padding-top: 0;
}

div#topTextDivId ul {
    padding-left: 20px;
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
}

* html div#topTextDivId ul {
    margin-top: -5px;
}

* + html div#topTextDivId ul {
    margin-top: -5px;
}

div#topTextDivId ul li{
    margin-left: 0;
}

/* Error messages */

/* TODO-7917 Fix this in a better way? */
#chooserRegistration p.warning {
    top: -26px;
}

* html #chooserRegistration p.warning {
    top: -15px;
}

* + html #chooserRegistration p.warning {
    top: -15px;
}


#chooserRegistration img.errorIcon {
    top: -15px;
}

/* Login details */

#chooserRegistration #loginDetails {
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    
}
#chooserRegistration #loginDetails h2 {
    display: none;
}

#chooserRegistration #loginDetails ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#chooserRegistration #loginDetails ul li {
    height: 30px;
    margin-top: 9px;
}

* html #chooserRegistration #loginDetails ul li {
    height: 25px;
}

* + html #chooserRegistration #loginDetails ul li {
    height: 25px;
}

#chooserRegistration #loginDetails ul li#emailLine {
    margin-top: 17px;
}

* html #chooserRegistration #loginDetails ul li#emailLine {
    margin-top: 5px;
}

* + html #chooserRegistration #loginDetails ul li#emailLine {
    margin-top: 5px;
}

#chooserRegistration #loginDetails ul li input {
    border: 1px #a8cedf solid;
    width: 258px;
    color: #444444;
    float: left;
}

#chooserRegistration #loginDetails ul li div.label {
    width: 135px;
}

#userDetails, #passwordDetails {
    left: -25px;
}

#chooserRegistration #loginDetails img.errorIcon {
    left: 145px;
}

#chooserRegistration #loginDetails p.warning {
    left: 160px;
}

/* School choice location */

#chooserRegistration #schoolChoiceLocation {
    width: 440px;
    margin-top: -12px;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 19px;
}

* html #chooserRegistration #schoolChoiceLocation {
    margin-top: 0;
}

* + html #chooserRegistration #schoolChoiceLocation {
    margin-top: 0;
}

#chooserRegistration #schoolChoiceLocation h2 {
    font-family: Trebuchet MS;
    font-size: 14px;
    color:#666666;
    font-weight:normal;
}

 
#chooserRegistration #schoolChoiceLocation div#stateCityWrapper {
    list-style: none;
     margin-top: 20px;
     padding: 0px;
    position: relative;
}

#chooserRegistration #schoolChoiceLocation div#stateCityWrapper div#stateLine{
    width: 100px;
    float:left;
    height: 18px;
}

#chooserRegistration #schoolChoiceLocation div#stateCityWrapper div#stateLine div.label {
    width: 43px;
    height: 18px;
    bottom: 0;
    float: left;
}

#chooserRegistration #schoolChoiceLocation div#stateCityWrapper div#cityLine{
    float:left;
    margin-left: 2px;
    height:18px;

}

* html #chooserRegistration #schoolChoiceLocation div#stateCityWrapper div#cityLine{
    float:left;
    margin-left: 2px;
    height:18px;
}

#chooserRegistration #schoolChoiceLocation div#stateCityWrapper div#cityLine div.label {
    width: 33px;
    height: 18px;
    bottom: 0;
    float: left;
}

#chooserRegistration #schoolChoiceLocation div#stateCityWrapper div.locationDiv select {
    margin-top: -2px;
}

#chooserRegistration #schoolChoiceLocation div#stateCityWrapper div.locationDiv img.errorIcon {
    top: -17px;
    left: 0;
}

* html #chooserRegistration #schoolChoiceLocation div#stateCityWrapper div.locationDiv img.errorIcon {
    left: -229px;
}

#chooserRegistration #schoolChoiceLocation div#stateCityWrapper div.locationDiv p.warning {
    top: -28px;
    left: 15px;
}

* html #chooserRegistration #schoolChoiceLocation div#stateCityWrapper div.locationDiv p.warning {
    top: -17px;
    left: -214px;
}

* + html #chooserRegistration #schoolChoiceLocation div#stateCityWrapper div.locationDiv p.warning {
    top: -17px;
}

#chooserRegistration #parentAdvice{
    font-family:Arial,Arial,Helvetica,sans-serif;
    font-size:13px;
    margin-top:53px;
    margin-bottom:10px;
    width:400px;
}
#chooserRegistration #parentAdvice span#chkBox{
    float:left;
    height:20px;
    margin-right:20px;
}

* html #chooserRegistration #parentAdvice{
    margin-top :11px;
    margin-bottom:8;
}

* + html #chooserRegistration #parentAdvice{
    margin-top :14px;
    margin-bottom:8;
}
/* Form submission */

#chooserRegistration #formSubmit {
    /*margin-top:10px;*/
    /*height: 26px;*/
}

#chooserRegistration #formSubmit div {    
    height:26px;
    float: left;
}

#chooserRegistration #formSubmit #cancel {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 233px;
}

/* Close window */

#closeWindowDiv {
    text-align: center;
    margin-top: 58px;
}

* html #closeWindowDiv {
    margin-top: -28px;
}

* + html #closeWindowDiv {
    margin-top: 49px;
}

#closeWindowDiv a.closeWindowClass, #closeWindowDiv a.closeWindowClass:active, #closeWindowDiv a.closeWindowClass:hover, #closeWindowDiv a.closeWindowClass:visited {
    text-decoration:none;
    font-size:12px;
    font-family: Trebuchet MS;
    color:#666666;
}