#chooserRegistration #loginDetails ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}


#topTextDivId li,#topTextDivId ul
{
    font-family: Trebuchet MS;
    font-size: 12px;
    color:#666666;
    margin:8px;
    padding:0px;
}

#chooserRegistration #loginDetails {
    margin-top: 25px;
    
}
#chooserRegistration #loginDetails h2 {
    display:none;
}

#chooserRegistration #loginDetails ul li input {
    border: 1px #a8cedf solid;
    width: 258px;
    color: #444444;
    float: left;
}

#chooserRegistration #schoolChoiceLocation {
    width: 420px;
    height: 100px;
    margin-left: -12px;
}

#chooserRegistration #schoolChoiceLocation h2{
    font-family: Trebuchet MS;
    font-size: 14px;
    color:#666666;
    font-weight:normal;
    padding-left:30px;
}

 
#chooserRegistration #schoolChoiceLocation ul{
    list-style: none;
     margin-top: 20px;
     padding: 0px;
}

#chooserRegistration #schoolChoiceLocation ul li#stateLine{
   width:130px;
    float:left;
    height:30px;
}

#chooserRegistration #schoolChoiceLocation ul li#cityLine{
   width:250px;
    float:left;
    margin-left: 2px;
    height:30px;

}

/* TODO-7917 Fix this in a better way? */
#chooserRegistration ul li p.warning {
    top: -26px;
}

#chooserRegistration #loginDetails ul li img.errorIcon {
    left: 145px;
}

#chooserRegistration #loginDetails ul li p.warning {
    left: 160px;
}


#chooserRegistration #schoolChoiceLocation ul  li#stateLine div.label {
    width: 43px;
    height: 18px;
    bottom: 0;
    float: left;
    padding-left:30px;
}

#chooserRegistration #schoolChoiceLocation ul  li#cityLine div.label {
    width: 33px;
    height: 18px;
    bottom: 0;
    float: left;
}


#chooserRegistration #schoolChoiceLocation ul li select {
    margin-top: -2px;
}

#chooserRegistration ul li img.errorIcon {
    top: -15px;
}

#chooserRegistration #schoolChoiceLocation ul li p.warning {
    /* TODO-7917 Fix this in a better way? */
    top: -28px;
}

#chooserRegistration #schoolChoiceLocation ul li#stateLine img.errorIcon {
    left: 75px;
}

#chooserRegistration #schoolChoiceLocation ul li#stateLine p.warning {
    left: 90px;
}

#chooserRegistration #schoolChoiceLocation ul li#cityLine img.errorIcon {
    left: 35px;
}

#chooserRegistration #schoolChoiceLocation ul li#cityLine p.warning {
    left: 50px;
}


#chooserRegistration #formSubmit {
    margin-top:50px;

}

#chooserRegistration #formSubmit div {
    float: left;
}

#chooserRegistration #formSubmit #cancel {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
    padding-left:260px;
}

#closeWindowDiv a.closeWindowClass{
    text-decoration:none;
    font-size:12px;
    margin-left:180px;
    font-family: Trebuchet MS;
    color:#666666;
}

#chooserRegistration #loginDetails ul li div.label {
    width: 135px;
}

#userDetails, #passwordDetails {
    left: -25px;
}