html, body, div#marginGS, div#contentGS {
    margin: 0;
    padding: 0;
}

div.wrapper {
    position: relative;
    width: 525px;
    height: 571px;
    color: #444;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 13px;
    padding: 25px 15px 15px 15px;    
}

div.wrapper h2 {
    color: #55BBCC;
    font-size: 20px;
    border-bottom: 1px solid #CACC9E;
    padding: 0 0 12px 0;
    margin: 0 0 10px 0;
}

div.wrapper p {
    margin-top: 0;
}

div.wrapper input {
    color: #444;
}

#contentGS div.wrapper a:hover {
    text-decoration:none;
}

div.wrapper ul {
    padding: 0;
    margin: 0;
}

div.wrapper ul li {
    position: relative;
    list-style-type: none;
}

li.emailAddress label {
    margin-right: 15px;
    vertical-align: top;
    position: relative;
    top: 3px;
}

li.emailAddress input {
    width: 165px;
    padding: 1px;
}

img.errorImage {
    position: absolute;
    top: 4px;
    left: 285px;
}

span.errorText {
    font-size: 11px;
    color: #CC5566;
    position: absolute;
    top: 3px;
    left: 300px;
    width: 175px;
    z-index: 2;
}

li.buttons {
    margin-top: 10px;
}

li.buttons input.sendButton {
    margin-left: 200px;
}

li.buttons input.cancelButton {
    position: absolute;
    left: 100px;
}