#mslFlowDialog {
    font-family: Arial, Arial, sans-serif;
    position: relative;
}

#mslFlowDialogTopBar {
    background-color: #8BCBCB;
    height: 26px;
    position: relative;
}

    #mslFlowDialogTopBar .dialogClose {
        position: absolute;
        right: 8px;
        top: 5px;
        cursor: pointer;
    }

#mslFlowDialogBody {
    border: 3px solid #8BCBCB;
    border-top: 0;
}