
form#reg1Form ul li#gradeNewsLetters{
    height:140px;
}

form#reg1Form ul li#gradeNewsLetters div#grades{
    border-bottom: 2px dotted #CCCCCC;
    height:105px;
    margin-left:124px;
}

form#reg1Form ol li{
    list-style:none;
    height:auto;
}

form#reg1Form ol li input {
    left: 0;
    position:static;
    width:15px;
    margin-right:8px;
}

form#reg1Form ol#first{
    position:absolute;
    top:44px;
    left:80px;
}

form#reg1Form ol#second{
    position:absolute;
    left:200px;
    top:44px;
}

form#reg1Form ol#third{
    position:absolute;
    left:320px;
    top:44px;
}

p.requiredFld {
    bottom: 150px;
}

html* p.requiredFld, * html p.requiredFld {
    bottom: 175px;
}

html* p.privacyBox, * html p.privacyBox {
    bottom: 105px;
}

p.privacyBox {
     bottom: 78px;
}