#outline {
    border: 4px solid #F2F3DB;
    width: 815px;
    height: 385px;
    position: relative;
    font-family: Trebuchet MS, Arial, sans-serif;
    color: #666666;
    padding: 31px 20px 20px 21px;
}

#outline h2 {
    color: #55BBCC;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #CACC9E;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

a#dashboardLink {
    position: absolute;
    top: 36px;
    right: 20px;
    color: #3399AA;
    font-size: 13px;
}

a#dashboardLink:hover {
    text-decoration: none;
}

#outline ul li {
    position: relative;
    padding: 7px 0 7px 0;
    height: 18px;
    vertical-align: middle;
}

#outline ul li input {
    position: absolute;
    color: #666666;
}

#outline ul li label {
    padding: 0;
    margin: 0;
    height: 18px;
}

#outline ul li .errorImage {
    position: absolute;
    top: 10px;
}

#outline ul li .errorText {
    color: #cc5566;
    font-size: 11px;
    position: absolute;
    top: 8px;
    width: 350px;
}
