#outline {
    border: 4px solid #F2F3DB;
    width: 817px;
    position: relative;
    font-family: Arial, sans-serif;
    color: #666666;
    padding: 31px 20px 10px 20px;
}

#outline a,
    #outline a:visited,
    #outline a:link,
    #outline a:active,
    #outline a:hover {
    text-decoration: none;
}

#outline h2 {
    color: #55BBCC;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #CACC9E;
    padding-bottom: 3px;
    position: relative;
}

#outline h2 a,
    #outline h2 a:visited,
    #outline h2 a:link,
    #outline h2 a:active,
    #outline h2 a:hover {
    font-weight: normal;
    font-size: 13px;
    position: absolute;
    top: 5px;
    right: 0;
}

.contentGS #outline form {
    padding: 0;
    margin: 0;
}

.contentGS #outline ul {
    width: 575px;
    margin: 0;
    padding: 0;
}

#outline ul li {
    position: relative;
    padding: 7px 0 7px 5px;
    height: 30px;
}

#outline ul li.header {
    background-color: #F3F3F3;
    padding: 3px 5px 0 5px;
    height: 20px;
    border-top: 1px solid #DDD;
    margin-top: 25px;
    position: relative;
}

#outline ul li.header a {
    position: absolute;
    left: 220px;
    top: 0;
}

li.header a .strong {
    font-weight: bold;
    font-size: 17px;
}

#outline ul li input, select {
    color: #666666;
}

#outline ul li label {
    padding: 0;
    margin: 0;
    height: 18px;
    font-weight: bold;
}

#outline ul li label.radioLabel {
    font-weight: normal;
}

#outline #genderLine input {
    margin-left: 23px;
}

#outline #genderLine .radio {
	margin-right: 6px;
}

#outline #genderLine input#mom {
    margin-left: 122px;
}

#locationLine label.state {
    margin-right: 5px;
}

#locationLine label.city {
    margin-left: 66px;
    margin-right: 5px;
}

#locationLine div#cityDiv {
    display: inline;
}

#outline ul li.child {
    height: 60px;
    padding-bottom: 15px;
}

#outline ul li.child label.childCity {
    margin-left: 25px;
}

#outline ul li.child span.changeLinks {
    position: absolute;
    right: 0;
}

#outline ul li.child select.city {
    margin-left: 23px;
    width: 175px;
}

#outline ul li.child select.state {
    margin-left: 6px;
}

#outline ul li.child .secondLine {
    position: absolute;
    top: 35px;
}

#outline ul li.child label.grade {
    left: 86px;
}

#outline ul li.child select.grade {
    left: 130px;
}

#outline ul li.child label.school {
    left: 316px;
}

#outline ul li.child select.school {
    width: 212px;
}

#outline ul li.child div.school {
    position: absolute;
    top: 35px;
    left: 363px;
}

#outline ul li#parentAmbassadorLine {
    margin-top: 25px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 20px 0 20px 5px;
    height: 55px;
}

#parentAmbassadorLine label.description {
    position: absolute;
    width: 450px;
}

#parentAmbassadorLine #paYes {
    margin-left: 450px;
    margin-right: 2px;
}

#parentAmbassadorLine #paNo {
    margin-left: 30px;
    margin-right: 2px;
}

#outline ul li#buttonLine {
    margin-top: 15px;
}

#buttonLine .save {
    position: absolute;
    right: 0;
}

#buttonLine .cancel {
    position: absolute;
    right: 75px;
}

#outline ul li div.error {
    position: absolute;
    top: 10px;
    left: 580px;
    width: 240px;
}

/*#outline ul li div.error img {*/
    /*margin-right: 3px;*/
    /*position: relative;*/
    /*top: 1px;*/
/*}*/

#outline ul li div.error span {
    color: #cc5566;
    font-size: 11px;
    line-height: 12px;
    position: absolute;
    left: 15px;
    width: 225px;
}