#chooserRegistration #loginDetails {
    width: 430px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

#chooserRegistration {
    padding-left: 20px;
    height: 210px;
}

#chooserRegistration #schoolChoiceLocation h2 {
    background: url(/res/img/community/registration/join_16_2.gif) no-repeat;
}



#chooserRegistration h2 {
    font-size: 14px;
    color: #666666;
    padding-bottom: 14px;
    text-indent: 30px;
    height: 24px;
    padding-top: 3px;
}

#chooserRegistration h1 {
    font-size: 24px;
    font-weight: bold;
    color: #55BBCC;
    margin-top: 20px;
}


#chooserRegistration #schoolChoiceLocation {
    float: left;
    width: 345px;
    margin-left: 40px;
    margin-top: 20px;
    height: 210px;
    position: relative;
}


   #chooserRegistration #schoolChoiceLocation ul li div.label {
    text-align: right;
    padding-right: 10px;
 }

#chooserRegistration #schoolChoiceLocation ul li {
    
    padding-bottom: 14px;
}


#chooserRegistration #formSubmit {
    position: absolute;
    right: 30px;
    bottom: 0;
}

#chooserRegistration #formSubmit div {
    float: left;
}

#chooserRegistration #formSubmit #cancel {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
}

#chooserRegistration #formSubmit a, #chooserRegistration #formSubmit a:link, #chooserRegistration #formSubmit a:visited, #chooserRegistration #formSubmit a:active {
    text-decoration: underline;
    color: #3399AA;
    font-size: 11px;
}