#chooserRegistration #loginDetails {
    width: 430px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

#chooserRegistration {
    padding-left: 20px;
    height: 240px;
    padding-bottom: 25px;
}

#chooserRegistrationWrapper div#topTextDivId{
    padding-left:8px;

}

#chooserRegistrationWrapper div#topTextDivId ul li{
    
    list-style:disc;
    font-family: Trebuchet MS;
    font-size: 12px;
    color:#666666;
    margin:8px;
    padding:0px;

}

#chooserRegistration #schoolChoiceLocation h2 {
    background: url(/res/img/community/registration/join_16_2.gif) no-repeat;
}


#chooserRegistration h2 {
    font-size: 14px;
    color: #666666;
    padding-bottom: 14px;
    text-indent: 30px;
    height: 24px;
    padding-top: 3px;
}

#chooserRegistrationWrapper h1 {
    font-size: 24px;
    font-weight: bold;
    color: #55BBCC;
    margin-top: 20px;
}


#chooserRegistration #schoolChoiceLocation {
    float: left;
    width: 345px;
    margin-left: 40px;
    margin-top: 20px;
    height: 240px;
    position: relative;
}


#chooserRegistration #schoolChoiceLocation ul li div.label {
    text-align: right;
    padding-right: 10px;
}

#chooserRegistration #schoolChoiceLocation ul li {    
    padding-bottom: 14px;
}


#chooserRegistration #formSubmit {
    position: absolute;
    right: 60px;
    bottom: 0;
}

#chooserRegistration #formSubmit div {
    float: left;
}

#chooserRegistration #formSubmit #cancel {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
}

#chooserRegistration #formSubmit a, #chooserRegistration #formSubmit a:link, #chooserRegistration #formSubmit a:visited, #chooserRegistration #formSubmit a:active {
    text-decoration: underline;
    color: #3399AA;
    font-size: 11px;
}

#chooserRegistration #loginDetails ul li input {
    border: 1px #a8cedf solid;
    width: 258px;
    color: #444444;
    float: right;
}

#chooserRegistration #schoolChoiceLocation ul li div.label {
    width: 70px;
    height: 18px;
    bottom: 0;
    float: left;
}

#chooserRegistration #loginDetails ul li div.label {
    width: 160px;
}