#chooserRegistration ul li img.errorIcon {
    left: 170px;
    position: absolute;
    top: -14px;
}

#chooserRegistration ul li p.warning {
    color: #CC5566;
    font-size: 11px;
    left: 185px;
    line-height: 12px;
    position: absolute;
    top: -14px;
    width: 275px;
}

#chooserRegistration ul li p.warning a, #chooserRegistration ul li p.warning a:link, #chooserRegistration ul li p.warning a:visited, #chooserRegistration ul li p.warning a:active {
    color: #3399AA;
}

#chooserRegistration #loginDetails ul li {
    position: relative;
    clear: both;
    height: 25px;
    margin-top: 15px;
}

#chooserRegistration #loginDetails ul li#emailLine {
    margin-top: 0;
}

#chooserRegistration #loginDetails ul li#usernameLine, #chooserRegistration #loginDetails ul li#passwordLine {
    height: 33px;
}

#chooserRegistration #loginDetails ul li div.label {
   padding-right: 10px;
    width: 160px;
    height: 25px;
    text-align: right;
    float: left;
}

#chooserRegistration #loginDetails ul li label {
    color: #666666;
    font-size: 14px;
}

#userDetails, #passwordDetails {
    font-size: 11px;
    font-style: italic;
    color: #999999;
    width: 160px;
    position: absolute;
    text-align: right;
    top: 18px;
    left: 0;
    padding-right: 10px;
    padding-bottom: 14px;
}
   
#chooserRegistration #loginDetails h2 {
    background: url(/res/img/community/registration/join_16_1.gif) no-repeat;
}

#chooserRegistration #schoolChoiceLocation ul li {
    position: relative;
    height: 25px;
}


#chooserRegistration #schoolChoiceLocation ul li label {
    color: #666666;
    font-size: 14px;
}

#chooserRegistration #schoolChoiceLocation ul li select {
    margin-top: -2px;
}

#chooserRegistration #schoolChoiceLocation ul li img.errorIcon {
    left: 80px;
    position: absolute;
    top: -16px;
}

#chooserRegistration #schoolChoiceLocation ul li p.warning {
    left: 95px;
    position: absolute;
    top: -16px;
    width: 250px;
}
