/* Bullet points */

div#topTextDivId ul li{
    list-style-type: disc;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #666666;
    margin-top: 3px;
}

* html div#topTextDivId {
    margin-top: 0;
}

* + html div#topTextDivId {
    margin-top: 0;
}

/* Error messages */

#chooserRegistration img.errorIcon {
    position: absolute;
}

#chooserRegistration p.warning {
    color: #CC5566;
    font-size: 11px;
    line-height: 12px;
    position: absolute;
    width: 275px;
}

#chooserRegistration p.warning a, #chooserRegistration p.warning a:link, #chooserRegistration p.warning a:visited, #chooserRegistration p.warning a:active {
    color: #3399AA;
}

/* Login details */

#chooserRegistration #loginDetails ul li {
    position: relative;
    clear: both;
}

#chooserRegistration #loginDetails ul li#emailLine {
    margin-top: 5px;
}

#chooserRegistration #loginDetails ul li#usernameLine, #chooserRegistration #loginDetails ul li#passwordLine {
    /*height: 25px;*/
}

#chooserRegistration #loginDetails ul li div.label {
   padding-right: 10px;
    height: 25px;
    text-align: right;
    float: left;
}

#chooserRegistration #loginDetails ul li label {
    color: #666666;
    font-size: 14px;
}

#userDetails, #passwordDetails {
    font-size: 11px;
    font-style: italic;
    color: #999999;
    width: 160px;
    position: absolute;
    text-align: right;
    top: 18px;
    left: 0;
    padding-right: 10px;
    padding-bottom: 14px;
}
   
#chooserRegistration #loginDetails h2 {
    background: url(/res/img/community/registration/join_16_1.gif) no-repeat;
}

/* School choice location */

#chooserRegistration #schoolChoiceLocation div#stateCityWrapper div.locationDiv label {
    color: #666666;
    font-size: 14px;
}

#chooserRegistration #schoolChoiceLocation div#stateCityWrapper div.locationDiv select {
    margin-top: -2px;
}


* html #chooserRegistration #schoolChoiceLocation div#stateCityWrapper div.locationDiv select{
     margin-top: 0px;
}

#chooserRegistration #schoolChoiceLocation div#stateCityWrapper div.locationDiv img.errorIcon {
    left: 80px;
    position: absolute;
    top: -16px;
}
/*
#chooserRegistration #schoolChoiceLocation div#stateCityWrapper div.locationDiv p.warning {
    left: 95px;
    position: absolute;
    top: -14px;
    width: 250px;
}
*/