#chooserRegistration {
    padding-left: 20px;
    height: 210px;
}

#chooserRegistration h1 {
    font-size: 24px;
    font-weight: bold;
    color: #55BBCC;
    margin-top: 20px;
}

#chooserRegistration #loginDetails {
    width: 430px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

#chooserRegistration h2 {
    font-size: 14px;
    color: #666666;
    padding-bottom: 14px;
    text-indent: 30px;
    height: 24px;
    padding-top: 3px;
}

#chooserRegistration #loginDetails h2 {
    background: url(/res/img/community/registration/join_16_1.gif) no-repeat;
}

#chooserRegistration #schoolChoiceLocation h2 {
    background: url(/res/img/community/registration/join_16_2.gif) no-repeat;
}

#chooserRegistration #loginDetails ul li {
    position: relative;
    clear: both;
    height: 18px;
    padding-bottom: 14px;
}

#chooserRegistration #loginDetails ul li#usernameLine, #chooserRegistration #loginDetails ul li#passwordLine {
    height: 26px;
    padding-bottom: 14px;
}

#chooserRegistration #loginDetails ul li div.label {
    width: 160px;
    height: 18px;
    padding-right: 10px;
    text-align: right;
    float: left;
}

#chooserRegistration #loginDetails ul li label {
    color: #666666;
    font-size: 14px;
}

#chooserRegistration #loginDetails ul li input {
    border: 1px #a8cedf solid;
    width: 258px;
    color: #444444;
    float: right;
}

#userDetails, #passwordDetails {
    font-size: 11px;
    font-style: italic;
    color: #999999;
    width: 160px;
    position: absolute;
    text-align: right;
    top: 21px;
    left: 0;
    padding-right: 10px;
    padding-bottom: 14px;
}

#chooserRegistration #schoolChoiceLocation {
    float: left;
    width: 345px;
    margin-left: 40px;
    margin-top: 20px;
    height: 210px;
    position: relative;
}

#chooserRegistration #schoolChoiceLocation ul li {
    clear: both;
    height: 18px;
    padding-bottom: 14px;
}

#chooserRegistration #schoolChoiceLocation ul li div.label {
    width: 70px;
    height: 18px;
    padding-right: 10px;
    text-align: right;
    bottom: 0;
    float: left;
    /*background-color: red;*/
}

#chooserRegistration #schoolChoiceLocation ul li label {
    color: #666666;
    font-size: 14px;
}

#chooserRegistration #schoolChoiceLocation ul li select {
    margin-top: -2px;
}

#chooserRegistration #formSubmit {
    position: absolute;
    right: 30px;
    bottom: 0;    
}

#chooserRegistration #formSubmit div {
    float: left;
}

#chooserRegistration #formSubmit #cancel {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
}

#chooserRegistration #formSubmit a, #chooserRegistration #formSubmit a:link, #chooserRegistration #formSubmit a:visited, #chooserRegistration #formSubmit a:active {
    text-decoration: underline;
    color: #3399AA;
    font-size: 11px;
}