/* container */

#content {
	margin: 0;
	padding: 10px;
	border: 2px solid #ddeeee;
    height: 342px;
}

#outline { /* creates the darker blue outer outline around #content, contains no other styling */
	border: 3px solid #66cccc;
}

#leftSide {
    float: left;
    padding-right: 45px;
}

#rightSide {
    float: left;
    width: 400px;
}

#rightSide p {
    font: 14px/18px Trebuchet MS, Arial, sans-serif;
    color: #777777;
}

#rightSide p.message {
    padding: 0 0 15px 0;
    font-weight: bold;
}

#rightSide p.announcement {
    padding: 15px 0 20px 0;
}

#rightSide p.joinCommunityText {
    color: #CC5569;
    padding-bottom: 7px;
}

#rightSide p.joinBetaText {
    padding: 20px 0 7px 0;
}

