/*------------------------------------------------------

Styles for adding thumbnail images to the article boxes

IE 7 specific styles

-------------------------------------------------------*/

.articlebox_th {
	border-left: 1px solid white;
	position: absolute;
	margin: -27px 0 0 249px;
}

.middleTitle2 { /* style copied from communityLanding.css */
	padding: 7px 0 2px 19px;
    font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 20px;
	line-height: 17px;
	color: #ffffff;
	background-color: #66CCCC;
	letter-spacing: 0;
}