/* container */

#content {
    height: 342px;
}

/* Page content */

#rightSide img.comingSoon {
    margin-top: 31px;
}

#rightSide p {
    font: 14px/16px Trebuchet MS, Arial, sans-serif;
    color: #777777;
}

#rightSide p.announcement {
    padding: 15px 0 20px 0;
}

#rightSide p.joinCommunityText {
    color: #CC5569;
    padding-bottom: 7px;
    font-weight: bold;
}

#rightSide p.joinBetaText {
    padding: 20px 0 7px 0;
}

/* info message */
.infomessage {
	width: 320px;
	height: 65px; /* 45 true width minus top padding */
	float: right;
	margin: 20px 0 25px 0;
    padding: 10px 40px 0 55px;
	color: #fff;
	font: 17px/18px Trebuchet MS, Arial, sans-serif;
	background: url(../../../img/community/registration/icon_infomessage_27x27.gif) 15px 23px no-repeat #66cccc;
}

.emptymessage {
    height: 31px;
}

.bigDottedDivider hr {
    display:none;
}

.bigDottedDivider {
    margin-top: 10px;
    text-align:center;
    background-image: url(../../../img/splash/greyDot.gif );
    background-repeat:repeat-x;
    background-position:bottom;
    padding:3px 0 5px 9px;
    margin-bottom: 10px;
    width: 852px;
}

table#bottomContent {
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size:12px;
    font-weight:normal;
    color:#666666;
}

table#bottomContent a {
    color:#3399AA;
    text-decoration:underline;
}

table#bottomContent td.contentCell {
    vertical-align: top;
    height: 100%;
    background-color:#DDEEEE;
    width: 428px;
}

table#bottomContent div.leftImage {
    float:left;
    padding:20px 0 15px 20px;
}

table#bottomContent div#youtube {
    float:right;
    width:280px;
    margin:30px 25px 25px 0;    
}

table#bottomContent div#youtube a {
    float:right;
}

table#bottomContent div#commBlog {
    float:right;
    width:250px;
    margin:23px 18px 0 0;
}

table#bottomContent td.right div#commBlog img {
    padding:0 0 5px 0;
}