@import "accountCommon.css";

#outline h2 {
    margin-bottom: 0;
}

#outline h3 {
    color: #666666;
    width: 400px;
    padding-top: 14px;
}

#emailEntryLabel {
    padding: 0 15px 0 0;
    margin: 0;
    position: relative;
    top: -5px;
}

#emailEntry {
    margin: 6px 0 5px 0;
    width: 215px;
    color: #666666;
}

#cancelButton {
    position: relative;
    left: 87px;
    margin-top: 7px;
}

#resetButton {
    position: relative;
    left: 250px;
}

#errorImage {
    position: absolute;
    top: 121px;
    left: 350px;
}

#errorText {
    color: #cc5566;
    font-size: 11px;
    position: absolute;
    top: 121px;
    left: 369px;
    width: 275px;
    line-height: 12px;
}

#errorText a {
    text-decoration: none;
    color: #3399AA;
}