@import "accountCommon.css";

#outline h2 {
    margin-bottom: 0;
}

#outline h3 {
    color: #666666;
    width: 400px;
    padding-top: 14px;
}

#emailEntry {
    margin: 6px 0 5px 0;
    width: 387px;
    color: #666666;
}

#cancelButton {
    position: relative;
    left: -135px;
    margin-top: 7px;
}

#resetButton {
    position: relative;
    left: 98px;
}

#errorImage {
    position: absolute;
    top: 121px;
    left: 420px;
}

#errorText {
    color: #cc5566;
    font-size: 11px;
    position: absolute;
    top: 119px;
    left: 435px;
    width: 275px;
}

#errorText a {
    text-decoration: none;
    color: #3399AA;
}