#outline {
    border: 4px solid #F2F3DB;
    width: 815px;
    height: 385px;
    position: relative;
    font-family: Trebuchet MS, Arial, sans-serif;
    padding: 31px 20px 20px 21px;
}

#outline h2 {
    color: #55BBCC;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #CACC9E;
    padding-bottom: 3px;
}

#outline h3 {
    color: #666666;
    width: 400px;
    padding-top: 14px;
}

#emailEntry {
    margin: 6px 0 5px 0;
    width: 387px;
    color: #666666;
}

#cancelButton {
    position: relative;
    left: -135px;
    margin-top: 7px;
}

#resetButton {
    position: relative;
    left: 98px;
}

#errorImage {
    position: absolute;
    top: 121px;
    left: 420px;
}

#errorText {
    color: #cc5566;
    font-size: 11px;
    position: absolute;
    top: 119px;
    left: 435px;
    width: 275px;
}

#errorText a {
    text-decoration: none;
    color: #3399AA;
}