#outline {
    border: 4px solid #F2F3DB;
    width: 856px;
    height: 385px;
    position: relative;
    font-family: Trebuchet MS, Arial, sans-serif;
}

#newuser {
    width: 380px;
    height: 364px;
    position: absolute;
    top: 13px;
    left: 25px;
}

#returninguser {
    width: 386px;
    position: absolute;
    top: 17px;
    right: 22px;
}

#verticalDots {
    position: absolute;
    top: 23px;
    left: 425px;
}

#outline #newuser a:hover {
    text-decoration: none;
}

#newuser h2 {
    background: url('/res/img/community/registration/newuser.gif') no-repeat left;
    text-indent: -9999em;
    padding: 0 0 16px 0;
    border-bottom: 1px solid #CACC9E;
}

#newuser h3 {
    font-weight: bold;
    padding: 16px 0 0 0;
    font-size: 18px;
}

#newuser h3 a {
    color: #666666;
}

#joinImage {
    position: absolute;
    top: 47px;
    right: 66px;
}

#newuserImage {
    position: absolute;
    top: 80px;
    left: 0;
}

#joinText {
    position: absolute;
    bottom: 90px;
    left: 0;
    width: 375px;
    font-size: 15px;
    color: #666666;
}

#returninguser h2 {
    background: url('/res/img/community/registration/returninguser.gif') no-repeat left;
    text-indent: -9999em;
    padding: 0 0 12px 0;
    border-bottom: 1px solid #CACC9E;
}

#returninguser h3 {
    padding: 14px 0 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}

#returninguser h3.hasMessage {
    padding-top: 10px;
}

#returninguserForm {
    position: absolute;
    top: 102px;
    left: 0;
    height: 180px;
    width: 313px;
}

#returninguserForm.hasMessage {
    top: 136px;
}

#returninguserForm input, #returninguser label {
    position: absolute;
    color: #666666;
}

#returninguserForm li {
    position: absolute;
    width: 313px;
}

#emailAddress {
    top: 0;
    right: 0;
}

#emailAddress input {
    top: 0;
    right: 0;
    width: 215px;
}

#emailAddress label {
    top: 0;
    left: 0;
}

#password {
    top: 30px;
    right: 0;
}

#password input {
    top: 0;
    right: 0;
    width: 215px;
}

#password label {
    top: 0;
    left: 0;
}

#rememberMe {
    top: 63px;
    right: 0;
}

#rememberMe input { /* Has IE specific version on page */
    top: 4px;
    left: 94px;
}

#rememberMe label {
    top: 1px;
    left: 112px;
}

#goButton {
    top: 92px;
    right: 0;
}

#goButton input {
    top: 0;
    right: 0;
}

#forgotPassword {
    top: 123px;
    right: 0;
}

#forgotPassword a {
    position: absolute;
    top: 0;
    right: 0;
    color: #3399AA;
    font-style: italic;
    text-decoration: none;
    font-size: 11px;
    width: 90px;
}

#infoMessage {
    color: #cc5566;
    padding: 10px 0 0 27px;
    font-size: 11px;
    background: url("/res/img/community/registration/check.gif") left no-repeat 15px;
}

ul.warning {
    position: absolute;
    top: 75px;
    left: 0;
    width: 384px;
    color: #cc5566;
    line-height: 12px;
}

#outline ul.warning li {
    font-size: 11px;
    text-indent: 7px;
}

.warning img {
    position: relative;
    left: -7px;
    top: 2px;
}

