.balanced #contentGS {
    background: none;
}
#outline {
    border: 4px solid #F2F3DB;
    width: 856px;
    position: relative;
    font-family: Arial, sans-serif;
    margin: 1em auto;
}

#newuser {
    width: 380px;
    height: 364px;
    position: absolute;
    top: 13px;
    left: 25px;
}

#outline div.innerWrapper {
    position: relative;
    height: 397px;
    margin: 0;
    padding: 0;
}

#returninguser {
    width: 386px;
    position: absolute;
    top: 17px;
    right: 22px;
}

#verticalDots {
    position: absolute;
    top: 23px;
    left: 425px;
}

#outline #newuser a:hover {
    text-decoration: none;
}

#newuser h2 {
    background: url(/res/img/community/registration/newtogreatschools.gif) no-repeat -3px;
    text-indent: -9999em;
    padding: 0 0 16px 0;
}

#newuser h3 {
    font-weight: bold;
    padding: 16px 0 0 0;
    font-size: 18px;
}

#newuser h3 a {
    color: #444;
}

#joinImage {
    position: absolute;
    top: 57px;
    right: 66px;
}

#newuserImage {
    position: absolute;
    top: 90px;
    left: 0;
}

#joinText {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 375px;
    font-size: 13px;
    color: #444;
}

#joinText a {
    color: #444;
}

.contentGS #joinText ul li {
    list-style: disc;
    list-style-position: outside;
    margin-left: 18px;
    color: #CE6373;
}

#returninguser h2 {
    background: url(/res/img/community/registration/returningmember.gif) no-repeat -3px -3px;
    text-indent: -9999em;
    padding: 0 0 12px 0;
}

#returninguser h3 {
    padding: 14px 0 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #444;
}

#returninguser h3.hasMessage {
    padding-top: 10px;
}

#returninguserForm {
    height: 180px;
    width: 313px;
    position: relative;
    margin-top: 10px;
}

#returninguserForm input, #returninguser label {
    position: absolute;
    color: #444;
}

#returninguserForm li {
    position: absolute;
    width: 313px;
}

#emailAddress {
    top: 0;
    right: 0;
}

#emailAddress input {
    top: 0;
    right: 0;
    width: 215px;
}

#emailAddress label {
    top: 0;
    left: 0;
}

#password {
    top: 30px;
    right: 0;
}

#password input {
    top: 0;
    right: 0;
    width: 215px;
}

#password label {
    top: 0;
    left: 0;
}

#rememberMe {
    top: 63px;
    right: 0;
}

#rememberMe input { /* Has IE specific version on page */
    top: 4px;
    left: 94px;
}

#rememberMe label {
    top: 1px;
    left: 112px;
}

#goButton {
    top: 92px;
    right: 0;
}

#goButton input {
    top: 0;
    right: 0;
}

#forgotPassword {
    top: 123px;
    right: 0;
}

#forgotPassword a {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
    text-decoration: none;
    font-size: 11px;
    width: 90px;
}

p.infoMessage {
    color: #cc5566;
    font-size: 15px;
    font-weight: bold;
    margin: 13px 0 0 25px;
}

p.infoMessage img {
    margin-right: 8px;
}

.contentGS p.infoMessage a, .contentGS p.infoMessage a:hover {
    text-decoration: none;
}

#returninguser p.infoMessage {
    margin: 10px 0 0 0;
    font-size: 13px;
    font-weight: normal;
    position: relative;
}

#returninguser p.infoMessage span {
    position:relative;
    display: block;
    font-size:15px;
    font-weight:bold;
    left: 27px;
    margin-right:20px;
}

#returninguser p.infoMessage img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

ul.warning {
    position: relative;
    margin: 5px 0 0 14px;
    width: 370px;
    color: #cc5566;
    line-height: 12px;
}

#outline ul.warning li {
    font-size: 11px;
}

.warning img {
    position: absolute;
    left: -14px;
    top: 2px;
}

#outline ul.warning li a {
    text-decoration: none;
}

