#outline {
    border: 4px solid #F2F3DB;
    width: 752px;
    position: relative;
    font-family: Trebuchet MS, Arial, sans-serif;
    color: #666666;
    padding: 31px 20px 47px 84px;
}

#regWebbyAward {
    position: absolute;
    top: 37px;
    right: 122px;
}

#outline h2 {
    color: #55BBCC;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #CACC9E;
    padding-bottom: 3px;
    margin-bottom: 10px;
    width: 503px;
}

#outline p {
    width: 503px;
    padding: 7px 0 7px 0;
    line-height: 15px;
}

#outline h3 {
    width: 503px;
    padding: 10px 0 17px 0;
    font-weight: bold;
}

div.child {
    border-top: 1px solid #DDDDDD;
    width: 503px;
    height: 75px;
    padding: 5px 0 5px 0;
    position: relative;
}

div.child label {
    font-weight: bold;
}

#outline div.child a {
    color: #3399AA;
    font-weight: normal;
    margin-left: 15px;
    font-size: 13px;
}

#outline div.child a:hover {
    text-decoration: none;
}
label.childNumber {
    position: absolute;
    top: 8px;
    left: 0;
}

span.chooseNewCity {
    position: absolute;
    top: 7px;
    left: 75px;
}

select.selectChildState {
    margin-left: 10px;
}

label.childCityLabel {
    position: absolute;
    top: 8px;
    left: 75px;
}

label.childGradeLabel {
    position: absolute;
    top: 38px;
    left: 75px;
}

.required {
    margin-right: 5px;
}

select.selectChildGrade {
    position: absolute;
    top: 38px;
    left: 131px;
}

label.childSchoolLabel {
    position: absolute;
    top: 38px;
    left: 200px;
}

select.selectChildSchool {
    position: absolute;
    top: 38px;
    left: 260px;
}

#parentAmbassador {
    position: relative;
    height: 75px;
    width: 503px;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
}

#parentAmbassador label.description {
    position: absolute;
    left: 0;
    width: 350px;
    line-height: 15px;
    padding: 0;
}

#yesRecontact {
    margin-left: 390px;
}

#parentAmbassador label {
    padding-left: 5px;
}

#noRecontact {
    margin-left: 25px;
}

#yesRecontact, #noRecontact {
    position: relative;
    top: 2px;
}

ul#newsletters {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    width: 503px;
    padding: 4px 0 0 0;
}

#newsletters li {
    position: relative;
    height: 40px;
    padding: 7px 0 7px 0;
}

#newsletters label {
    position: absolute;
    left: 0;
    width: 360px;
    line-height: 15px;
}

#newsletters label a {
    color: #3399AA;
}

#newsletters label a:hover {
    text-decoration: none;
}

#newsletters input {
    position: absolute;
    top: 7px;
    left: 393px;
    width: 15px;
    height: 15px;
}

#submitButton {
    position: absolute;
    bottom: 32px;
    left: 524px;
}

img.errorIcon {
    position: absolute;
    top: 9px;
    left: 420px;
}

#outline p.error {
    color: #cc5566;
    font-size: 11px;
    position: absolute;
    top: 9px;
    left: 439px;
    width: 320px;
    padding: 0;
    line-height: 12px;
}

#outline div.child img.errorIcon {
    top: 12px;
    left: 420px;
}

#outline div.child p.error {
    top: 12px;
    left: 439px;
}


