/***********/
/* Stage 2 */
/***********/

div.register2Div {
    float: left;
    border-style: solid;
    border-color: #64CCCB;
    border-width: medium;
    margin-left: 5px;
    padding: 20px 20px 20px 20px;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1.intro {
    font-size: x-large;
    color: #98CC67;
    margin-bottom: 10px;
    font-weight: bold;
}

p.intro {
    font-size: medium;
    color: #898989;
    margin-top: 10px;
}

p.strong {
    font-weight: bold;
}

p.introBottom {
    margin-bottom: 35px;
}

div.error {
    color: red;
    display: block;
    padding: 8px;
}

div.childLeft {
    float: left;
    color: #898989;
    padding-right: 25px;
    font-weight: bold;
}

div.childRight {
    float: left;
    margin-bottom: 10px;
}

div.city {
    display: block;
    float: left;
    color: #898989;
    margin-bottom: 15px;
}

span.change {
    margin-left: 10px;
}

#register2Div span.change a, #register2Div span.change a:link, #register2Div span.change a:visited, #register2Div span.change a:active {
    text-decoration: underline;
    color: #64CCCB;
}

label.form {
    display: block;
    float: left;
    color: #898989;
    font-weight: bold;
}

select.form {
    display: block;
    float: left;
}

label.grade, label.school {
    margin-right: 10px
}

label.school {
    margin-left: 35px;
}

input.submit {
    background-color: #CC5666;
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
    padding: 5px;
    float: right;
    margin-top: 25px;
    margin-right: 150px;
    margin-bottom: 15px;
}

td.join {
    background-color: #DEEEEE;
    vertical-align: top;
    width: 250px;
}

h2.join {
    margin: 25px 0 0 20px;
    font-size: xx-large;
    color: #59BDCD;
}

label.radioMain a, label.radioMain a:link, label.radioMain a:visited, label.radioMain a:active {
    text-decoration: underline;
    color: #64CCCB;
}

#recontact, #terms {
    display: block;
    float: left;
    position: relative;
    left: 5px;
}

#recontact {
    top: 1em;
}

label.radio {
    color: #898989;
    text-align: left;
    padding-right: 15px;
    padding-left: 5px;
    font-weight: bold;
}

label.radioMain {
    display: block;
    float: left;
    color: #898989;
    text-align: left;
    width: 300px;
    margin-bottom: 20px;
    font-weight: bold;
}