#outline {
    border: 4px solid #F2F3DB;
    width: 752px;
    position: relative;
    font-family: Trebuchet MS, Arial, sans-serif;
    color: #666666;
    padding: 31px 20px 28px 84px;
}

#outline h2 {
    color: #55BBCC;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #CACC9E;
    padding-bottom: 3px;
    margin-bottom: 5px;
    width: 503px;
}

#outline h3 {
    width: 503px;
    font-size: 15px;
    padding-bottom: 22px;
}

#regWebbyAward {
    position: absolute;
    top: 37px;
    right: 122px;
}

#outline ul li {
    position: relative;
    padding: 7px 0 7px 0;
    height: 30px;
}

#outline ul li input, #outline ul li select {
    position: absolute;
    color: #666666;
    left: 158px;
    width: 213px;
}

#outline ul li label {
    padding: 0;
    margin: 0;
    height: 18px;
    font-weight: bold;
}

#outline label img {
    margin-left: 6px;
    position: relative;
    top: -1px;
}

#outline .required {
    padding-right: 4px;
}

#outline #genderLine input {
    position: static;
    left: inherit;
    width: auto;
    margin-left: 23px;
}

#outline #genderLine .radio {
	margin-right: 6px;
}

#outline ul li input#mom {
    margin-left: 122px;
}

#userDisclaimer {
	font-size: 10px;
	font-style: italic;
	color: #8f8f8f;
    position: absolute;
    top: 26px;
    left: 157px;
    width: 220px; 
}

#userDetails {
    font-size: 10px;
    font-style: italic;
    color: #8f8f8f;
    position: absolute;
    top: 21px;
    left: 0;
}

#emailDisclaimer {
	font-size: 10px;
	font-style: italic;
	color: #8f8f8f;
    position: absolute;
    top: 26px;
    left: 157px;
    width: 275px;
}

#emailDisclaimer a,
    #emailDisclaimer a:visited,
    #emailDisclaimer a:link,
    #emailDisclaimer a:active,
    #emailDisclaimer a:hover {
	text-decoration: none;
    color: #3399AA;
}

#passwordDetails {
    font-size: 10px;
    font-style: italic;
    color: #8f8f8f;
    position: absolute;
    top: 21px;
    left: 0;
}

#outline #whereLiveLine {
    height: 60px;
}

#stateLabel {
    position: absolute;
    left: 158px;
}

#outline ul li select#userState {
    width: auto;
    left: 212px;
}

#cityLabel {
    position: absolute;
    top: 38px;
    left: 158px;
}

#outline ul li #city select {
    width: 140px;
    top: 38px;
    left: 212px;
}

#outline ul li select#numSchoolChildren {
    width: 40px;
    left: 332px;
}

#outline li#newsletter, #outline li#betaGroup, #outline li#terms {
    height: 40px;
}

#outline ul li#newsletter label, #outline ul li#betaGroup label {
    font-weight: normal;
}

#outline ul li#newsletter input, #outline ul li#betaGroup input {
    width: 15px;
    height: 15px;
    top: 10px;
    left: 395px
}

#outline ul li#terms {
    padding-bottom: 18px;
}

#outline ul li#terms label {
    font-weight: normal;
}

#outline ul li#terms input {
    width: 15px;
    height: 15px;
    top: 10px;
    left: 395px
}

#terms a {
    color: #3399aa;
    text-decoration: none;
}

#outline li#controlLine {
    border-top: 1px solid #CACC9E;
    width: 503px;
    height: 40px;
    margin-top: 4px;
    padding-top: 14px;
}

#outline li#controlLine p.privacyBox {
    position: absolute;
    font-size: 11px;
    border: 2px solid #DDEEEE;
    width: 166px;
    padding: 5px 5px 5px 8px;
    line-height: 14px;
}

#controlLine img {
    padding: 0 5px 0 5px;
}

#controlLine input#submitButton {
    width: auto;
    left: auto;
    right: 0;
}

img.errorIcon {
    position: absolute;
    top: 10px;
    left: 380px;
}

p.warning {
    color: #cc5566;
    font-size: 11px;
    position: absolute;
    top: 10px;
    left: 399px;
    width: 350px;
    line-height: 12px;
}

#emailLine p.warning {
    text-indent: -35px;
    padding-left: 35px;
}

#genderLine p.warning {
    width: 175px;
}

#outline p.warning a {
    text-decoration: none;
    color: #3399AA;
}

#whereLiveLine p.warning {
    top: 41px;
}

#whereLiveLine img.errorIcon {
    top: 41px;
}

#terms p.warning {
    left: 436px;
    top: 11px;
}

#terms img.errorIcon {
    top: 11px;
}

#terms img.errorIcon {
    left: 417px;
}

