#outline {
    width: 800px;
    position: relative;
    font-family: Arial, sans-serif;
    font-size:13px;
    color: #666666;
    margin: 10px auto 0;
    padding: 19px 25px 25px 19px;
    border: 8px solid #55BBCC;
}

/* start the promo details*/

#bulletsHeader{
    width:800px;
}

#outline h2 {
    color: #55BBCC;
    font-weight: bold;
    font-size: 24px;
    width: 575px;
}

#outline .loginLink {
    position: absolute;
    top: 29px;
    left: 340px;
    font-size: 12px;
}

#outline .loginLink a, #outline .loginLink a:hover {
    text-decoration: none;
}

#outline .joinMedallion {
    position: absolute;
    top: 173px;
    z-index:3;
    left: 468px;
}

#outline .headerImage {
    position: absolute;
    top:-8px;
    left:505px;
}

#bullets {
    width: 400px;
    position: relative;
    margin-left: 5px;
    margin-top:4px;
}

#outline #bulletsHeader #bullets li {
    height: auto;
    list-style-type: disc;
    list-style-position: outside;
    margin-left:15px;
    color:#99CC66;
}

#outline #bulletsHeader .strongHeader {
    font-weight: bolder;
    font-size:16px;
    color:#D66671;
}

#outline #bulletsHeader .overrideGreenList{
    color: #666666;
}
/* end the promo details*/

/* start the join form details*/

p.requiredFld {
    font-size: 11px;
    line-height: 14px;
}
#reg1Form{
    margin-left: 5px;
    padding-top: 8px;
}

#userDetails {
    font-size: 11px;
    font-style: italic;
    color: #999999;
    position: absolute;
    top: 23px;
    left: 0;
}


#passwordDetails {
    font-size: 11px;
    font-style: italic;
    color: #8f8f8f;
    position: absolute;
    top: 23px;
    left: 0;
}


#userDisclaimer {
    font-size: 11px;
    font-style: italic;
    color: #666666;
    position: absolute;
    top: 30px;
    left: 135px;
    width: 210px;
}

#outline ul li {
    position: relative;
    height: 20px;
    padding:9px 0 3px 0;
}

#outline ul li input, #outline ul li select {
    position: absolute;
    color: #444;
    left: 135px;
    width: 213px;
}

#outline ul li label {
    padding: 0;
    margin: 0;
    height: 18px;
    font-size:14px;
}

#outline label img {
    margin-left: 6px;
    position: relative;
    top: -1px;
}

#outline .required {
    padding-right: 4px;
}

#outline div.genericError{
    font-size: 13px;
    width: 430px;
    color: #cc5566;
    padding-left: 15px;
    padding-bottom: 5px;
    background-image: url( /res/img/bullet/icon_warning_12x12.gif );
    background-repeat: no-repeat;
    background-position: 0 3px;
    margin-left: 5px;
}

#outline #genderLine select {
    width: auto;
}

#outline #genderLine .radio {
    margin-right: 6px;
}


#stateLabel {
    position: absolute;
    left: 158px;
}

#outline ul li select#userState {
    width: auto;
}

#cityLabel {
    position: absolute;
    top: 38px;
    left: 158px;
}

#outline ul li #city select {
    width: auto;
    left: 195px;
}


#outline ul li.childRow .selectChildGrade {
    width: auto;
}

#outline ul li.childRow .selectChildSchool {
    width: auto;
    left: 0;
    position: relative;
}
#outline ul li.childRow .schoolContainer {
    position: absolute;
    left: 225px;
    width: 550px;
}

#outline li#numChildren {
    padding-left: 10px;
}

#outline #numChildren label span.required {
    position: absolute;
    left: 0;
}

#outline ul li select#numSchoolChildren {
    width: 40px;
    left: 332px;
    top: 10px;
}

#outline ul li#newsletter label{
    line-height: 15px;
    font-weight: normal;
    left: 126px;
    position: relative;
    font-size:13px;
}

#outline ul li#newsletter input{
    width: 15px;
    height: 15px;
    top: 3px;
    left: 120px;
    position: relative;
}

* html #outline ul li#newsletter input {
    position:relative;
    top:-1px;
}

* + html #outline ul li#newsletter input {
    position:relative;
    top:-1px;
}


#outline li#controlLine {
    border-top: 1px solid #CACC9E;
    width: 503px;
    height: 40px;
    margin-top: 4px;
    padding-top: 14px;
}

#controlLine img {
    padding: 0 5px 0 5px;
}


img.errorIcon {
    position: absolute;
    top: 10px;
    left: 380px;
}

p.warning {
    color: #cc5566;
    font-size: 11px;
    line-height: 12px;
    position: absolute;
    top: 10px;
    left: 399px;
    width: 350px;
}

#outline ul li#usernameLine {
    height: 50px;
}

#usernameLine p.warning {
    text-indent: -65px;
    padding-left: 65px;
    width: 300px;
}

#emailLine p.warning {
    text-indent: -35px;
    padding-left: 35px;
}

#genderLine p.warning {
    width: 175px;
}

#outline p.warning a {
    text-decoration: none;
}

#whereLiveLine p.warning {
    top: 41px;
}

#whereLiveLine img.errorIcon {
    top: 41px;
}

#outline ul li span.ajaxMessage {
    font-size: 12px;
    position: absolute;
    left: 380px;
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 0 3px;
}

#outline ul li span.ajaxError {
    color: #cc5566;
    background-image: url( /res/img/bullet/icon_warning_12x12.gif );
}

#outline ul li span.childSchoolError {
    left: 475px;
}

#outline ul li span.ajaxSuccess {
    color: #97c963;
    background-image: url( /res/img/bullet/icon_checkmark_12x15.gif );
    height: 18px;
    width: 20px;
}

/* start styles for each child */

#reg1Form .changeChildCity a{
    font-size: 10px;
    margin-left: 35px;
    text-decoration: underline;
}

#outline ul li select.childStates{
width:auto;
}

#outline ul li span.citySelectSpan select {
left:195px;
width:auto; 
}


#reg1Form .addAnotherChild a{
    font-size: 10px;
    position: absolute;
    top: 26px;
    left: 0;
    text-decoration: underline;
}

/* end styles for each child */

/* start the bottom newsletter subscriptions */
#outline ul li#freeNewsletters{
    margin-top:25px;
    padding-top:14px;
    border-top: solid 1px #cccccc;
    padding-bottom:20px;
    position:relative;
    height:auto;
}


#freeNewsletters h3{
     color: #55BBCC;
    font-size:14px;
    font-weight:bold;
}

#newsletterCol1{
    width:400px;
}

.weeklyUpdatesImage{
    position:absolute;
    left:0;
}

.LearningDisabilitiesImage{
    position:absolute;
    left:0;
}

.brainDrainImage{
    position:absolute;
    left: 0;
}

.valuableOffersImage{
    position:absolute;
    top: 0;
    left:-91px;
}

#freeNewsletters .weeklyUpdates{
    margin-left:91px;
}

#freeNewsletters .learningDisablities{
    margin-left:91px;
}

#freeNewsletters .brainDrain{
    margin-left:91px;
}

#freeNewsletters .brainDrain select{
    margin-left:20px;
    width:auto;
}
#freeNewsletters  div#brainDrainStartWeek{
    padding-top:6px;
}

#freeNewsletters .valuableOffers{
    margin-left:91px;
    position:relative;
}

#freeNewsletters .newsletterText{
     margin-top:15px;
}

#outline ul li#freeNewsletters input{
    position:relative;
    margin-top:15px;
    margin-right:8px;
    width: 15px;
    height: 15px;
    top: 3px;
    left: 0;
    position: relative;
}


* html #outline ul li#freeNewsletters input {
    position:relative;
    top:-1px;
}

* + html #outline ul li#freeNewsletters input {
    position:relative;
    top:-1px;
}

#outline ul li#freeNewsletters label{
     font-weight: normal;
     line-height: 15px;
     font-size:13px;
}

#newsletterCol2{
   position:absolute;
   width:350px;
   top:40px;
   left: 450px;
}

.newletterDivider{
    border-top: solid 1px #cccccc;
    padding-top:19px;
}
.newletterNoDivider{
    margin-top:14px;
    margin-bottom:15px;
}

#newsletterCol1 .gsweekly {
    margin-bottom: 45px;
}

#newsletterCol1 .newletterDivider {
    margin-bottom: 40px;
}

.brainDrainModule{
   margin-top:14px;
    padding-bottom:30px;
}

.valuableOffersWrapper {
    padding-bottom: 81px;
    border-bottom: solid 1px #ccc;
}

/* end the bottom newsletter subscriptions */


/* start terms and privcy and join button*/


#terms a {
    text-decoration: none;
}

#outline ul li#termsError{
    height:10px;
    padding: 0;
}


#termsError .termsWarning {
    position:absolute;
    background-image:url(/res/img/bullet/icon_warning_12x12.gif);
    background-repeat: no-repeat;
    color:#CC5566;
    background-position:0 3px;
    font-size:11px;
    padding-left:22px;
}

#outline ul li#terms .termsRequired{
    position:absolute;
    left:436px;
}

#outline ul li#terms label {
    font-size:13px;
    font-weight: normal;
    position:relative;
    left:10px;
}

#outline ul li#terms input {
    width: 15px;
    top: 3px;
    left: 0;
    position: relative;
}

* html #outline ul li#terms input {
    position:relative;
    top:-1px;
}

* + html #outline ul li#terms input {
    position:relative;
    top:-1px;
}

p.privacyBox a,
    p.privacyBox a:visited,
    p.privacyBox a:link,
    p.privacyBox a:active,
    p.privacyBox a:hover {
    text-decoration: none;
}

p.privacyBox {
    color: #8f8f8f;
    font-size: 11px;
    line-height: 14px;
    margin-left:20px;
    padding-bottom:10px;
}
/* end terms and privcy and join button*/

.showIt{
    display:block;
}

.hideIt{
    display:none;
}