/***********/
/* Stage 1 */
/***********/

#registerDiv {
    float: left;
    border-style: solid;
    border-color: #64CCCB;
    border-width: medium;
    margin-left: 5px;
    padding: 20px 20px 20px 20px;
}

.registerDiv label.form, .registerDiv input.form, .registerDiv select.form {
    margin-bottom: 20px;
    display: block;
    float: left;
}

.registerDiv select.form {
    margin-right: 20px;
}

.registerDiv select.small {
    width: 50px;
}

.registerDiv label.left {
    width: 160px;
}

.registerDiv label.radio {
    padding-left: 5px;
}

.registerDiv label.form {
    text-align: left;
    padding-right: 20px;
    font-weight: bold;
    line-height: 1.4em; /* try to eliminate ugly spacing introduced by superscripts */
}

.registerDiv input.checkbox {
    width: 20px;
    margin-right: 50px;
    /* align check box with select above */
    position: relative;
    right: 3px;
}
/* try to eliminate ugly spacing introduced by superscripts */
.registerDiv sup.footnote {
    line-height: 0;
}

.registerDiv div.footnote {
    font-size: smaller;
    margin-left: 0.5em;
    color: #666666;
    margin-top: 20px;
    clear: left;
}

.registerDiv span.passwordSpec {
    font-size: x-small;
}

.registerDiv span.screenNameSpec {
    font-size: x-small;
}

.registerDiv input.submit {
    float: right;
    margin-right: 100px;
    font-size: medium;
    font-weight: bold;
    background-color: #56BBCD;
    color: #FFFFFF;
    padding: 5px;
}

.privacy {
    font-size: smaller;
    margin-left: 11.5em;
    margin-bottom: 0.5em;
    color: #666666;
    clear: left;
}

.registerDiv .privacyFirst {
    margin-top: 4em;
}

.registerDiv h1.intro {
    font-size: x-large;
    color: #98CC67;
    margin-bottom: 10px;
}

.registerDiv p.intro {
    font-size: medium;
    color: #898989;
    margin-bottom: 35px;
    font-weight: bold;
}

.registerDiv h2.intro2 {
    font-size: large;
    color: #898989;
    margin-bottom: 10px;
}

div.error {
    color: red;
    display: block;
    padding: 8px;
}

td.join {
    background-color: #DEEEEE;
    vertical-align: top;
    width: 250px;
}

h2.join {
    margin: 25px 0 0 20px;
    font-size: xx-large;
    color: #59BDCD;
}


/***********/
/* Stage 2 */
/***********/

h2.header {
    font-size: large;
    margin-bottom: 5px;
}

p.intro {
    margin-bottom: 30px;
    font-size: medium;
}

#registration2 label.form, #registration2 input.form, #registration2 select.form {
    margin-bottom: 10px;
    display: block;
    width: 150px;
    float: left;
}

#registration2 label.familyInput, #registration2 label.familySelect,
    #registration2 input.family, #registration2 select.family {
    margin-right: 15px;
    margin-bottom: 10px;
    display: block;
    float: left;
}

#registration2 label.familyInput, #registration2 label.familySelect {
    margin-top: 10px;
    text-align: center;
}

#registration2 label.childname {
    width: 154px;
}

#registration2 label.schoolname {
    width: 254px;
}

#registration2 label.familySelect, #registration2 select.family {
    width: 50px;
}

#registration2 input.childname {
    width: 150px;
}

#registration2 input.schoolname {
    width: 250px;
}

#registration2 input.interests, label.interests {
    display: block;
    float: left;
    margin-top: 10px;
}

#registration2 label.interests {
    margin-left: 10px;
}

#registration2 input.other, #registration2 label.other {
    margin-top: 10px;
}

#registration2 label.other {
    margin-right: 10px;
}

#registration2 input.other {
    width: 250px;
}

#registration2 input.private {
    margin-right: 7px;
}

#registration2 label.private {
    padding: 7px 0 0 20px;
    text-align: left;
    display: block;
    float: left;
}

#registration2 label.textarea {
    padding-bottom: 5px;
}

#registration2 .previous p {
    margin-bottom: 10px;
}

#registration2 .previous input, #registration2 .previous label, #registration2 .previous select {
    margin-right: 15px;
    margin-bottom: 10px;
    display: block;
    float: left;
}

#registration2 .previous label.schoolname {
    width: 258px;
}

#registration2 .previous label.state, #registration2 .previous select {
    width: 50px;
}

#registration2 .previous .schoolname {
    width: 250px;
}

#registration2 .previous label {
    text-align: center;
}

/***********/
/* Stage 3 */
/***********/

div.newsletterForm {
    min-height: 250px; /* try to get a minimum height going */
}

h2.newsletterIntro {
    font-size: large;
    margin-top: 10px;
    margin-bottom: 20px;
}
div.newsletterForm p.intro {
    margin-top: 10px;
    margin-bottom: 5px;
}
div.newsletterForm input {
    margin-right: 10px;
    margin-top: 10px;
}
div.newsletterForm hr {
    margin-top: 35px;
    margin-bottom: 15px;
}
div.newsletterForm div.submit {
    margin-top: 15px;
}
div.newsletterForm div.grades input {
    margin-left: 25px;
}
div.newsletterForm div.advisor {
    margin-top: 25px;
}
div.newsletterForm div.mystats input {
    margin-left: 25px;
}
div.newsletterForm p.noThanks {
    margin-top: 15px;
    margin-bottom: 25px;
}
