/***********/
/* Stage 1 */
/***********/

#registerDiv {
    float: left;
    border-style: solid;
    border-color: #64CCCB;
    border-width: medium;
    margin-left: 5px;
    padding: 20px 20px 20px 20px;
}

.registerDiv label.form, .registerDiv input.form, .registerDiv select.form {
    margin-bottom: 20px;
    display: block;
    float: left;
}

.registerDiv input.email {
    width: 200px;
}

.registerDiv input.screenName, .registerDiv input.firstName {
    width: 200px;
}

.registerDiv select.form {
    margin-right: 20px;
}

.registerDiv select.small {
    width: 50px;
}

.registerDiv label.left {
    width: 160px;
}

.registerDiv label.live {
    height: 60px;
    width: 160px;
}

.registerDiv label.state, .registerDiv label.city {
    color: #898989;
    text-align: left;
    font-weight: bold;
    line-height: 1.4em; /* try to eliminate ugly spacing introduced by superscripts */
    display: block;
    float: left;
    width: 50px;
}

.registerDiv label.city {
    margin-top: 10px;
}

.registerDiv select.city {
    display: block;
    float: left;
    margin-top: 10px;
}

.registerDiv label.radio {
    padding-left: 5px;
    margin-right: 20px;
}

.registerDiv label.form {
    color: #898989;
    text-align: left;
    padding-right: 5px;
    font-weight: bold;
    line-height: 1.4em; /* try to eliminate ugly spacing introduced by superscripts */
}

.registerDiv input.checkbox {
    width: 20px;
    margin-right: 50px;
    /* align check box with select above */
    position: relative;
    right: 3px;
}
/* try to eliminate ugly spacing introduced by superscripts */
.registerDiv sup.footnote {
    line-height: 0;
}

.registerDiv div.footnote {
    font-size: smaller;
    margin-left: 0.5em;
    color: #666666;
    margin-top: 20px;
    clear: left;
}

.registerDiv span.passwordSpec {
    font-size: x-small;
}

.registerDiv span.screenNameSpec {
    font-size: x-small;
}

#joinButton input.join {
    background-color: #CC5666;
    color: #FFFFFF;
}

#nextButton input.next {
    background-color: #56BBCD;
    color: #FFFFFF;
}

.registerDiv input.submit {
    float: right;
    margin-right: 150px;
    font-size: medium;
    font-weight: bold;
    padding: 5px;
}

span.privacy {
    font-size: x-small;
    left: 165px;
    position: relative;
    top: -20px;
    color: #898989;
    clear: left;
}

span.privacy a, span.privacy a:link, span.privacy a:visited, span.privacy a:active {
    text-decoration: underline;
    color: #64CCCB;
}

.registerDiv div.privacyIcon {
    font-size: smaller;
    color: #666666;
    display: block;
    float: left;
    width: 200px;
    border-style: solid;
    border-color: #DEEEED;
    border-width: 2px;
    padding: 4px;
}

.registerDiv h1.intro {
    font-size: x-large;
    color: #98CC67;
    margin-bottom: 10px;
}

.registerDiv p.intro {
    font-size: medium;
    color: #898989;
    margin-bottom: 35px;
    font-weight: bold;
}

.registerDiv h2.intro2 {
    font-size: large;
    color: #898989;
    margin-bottom: 10px;
}

#terms a, #terms a:link, #terms a:visited, #terms a:active {
    text-decoration: underline;
    color: #64CCCB; 
}

#terms label.terms {
    padding-right: 30px;
}

div.error {
    color: red;
    display: block;
    padding: 8px;
}

td.join {
    background-color: #DEEEEE;
    vertical-align: top;
    width: 250px;
}

h2.join {
    margin: 25px 0 0 20px;
    font-size: xx-large;
    color: #59BDCD;
}

/***********/
/* Stage 3 */
/***********/

div.newsletterForm {
    min-height: 250px; /* try to get a minimum height going */
}

h2.newsletterIntro {
    font-size: large;
    margin-top: 10px;
    margin-bottom: 20px;
}
div.newsletterForm p.intro {
    margin-top: 10px;
    margin-bottom: 5px;
}
div.newsletterForm input {
    margin-right: 10px;
    margin-top: 10px;
}
div.newsletterForm hr {
    margin-top: 35px;
    margin-bottom: 15px;
}
div.newsletterForm div.submit {
    margin-top: 15px;
}
div.newsletterForm div.grades input {
    margin-left: 25px;
}
div.newsletterForm div.advisor {
    margin-top: 25px;
}
div.newsletterForm div.mystats input {
    margin-left: 25px;
}
div.newsletterForm p.noThanks {
    margin-top: 15px;
    margin-bottom: 25px;
}
