@import "accountCommon.css";

#outline h3 {
    padding: 5px 0 5px 0;
}

#outline ul li input {
    left: 120px;
}

#oldPasswordInput, #newPasswordInput, #confirmPasswordInput {
    width: 300px;
}

#outline input#submitButton {
    left: 220px;
}

#outline ul li .errorImage {
    left: 432px;
}

#outline ul li .errorText {
    left: 451px;
}
