@import "accountCommon.css";

#outline h2 {
    margin-bottom: 9px;
}

#outline h3 {
    padding: 5px 0 5px 0;
}

#outline ul li input {
    left: 120px;
}

#oldPasswordInput, #newPasswordInput, #confirmPasswordInput {
    width: 215px;
}

#outline input#cancelButton {
    left: 177px;
}

#outline input#submitButton {
    left: 274px;
}

#outline ul li .errorImage {
    left: 362px;
}

#outline ul li .errorText {
    left: 381px;
}
