#mapContainer {
    margin: .3em;
    border: 1px solid #00c;
    background-color: #eee;
    padding: .0em;
}

#map, #mapContainer {
    width: 550px;
    height: 500px;
    float: right;
}

div#nearbyCities h3 {
    font-size: medium;
    font-weight: 700;
    text-align: left;
    padding-bottom: 4px;
    padding-top:5px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color:#DDEEEE;
    margin-bottom: 10px;
    color:#55BBCC;
    padding-left:10px;
}

div#nearbyCities li {
    font-size: small;
    display: list-item;
    border-top: 1px dotted #999;
    padding: 3px 0 3px 15px;
}

div#nearbyCities li a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:600;
    color:#44aabb;
}

#nearbyCities .more {
    background-image: url(../../img/bullet/pinkarrow.gif );
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 16px;
}

.tooltip {
    font-size: small;
    font-weight: bold;
    padding: 2px;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 1px;
    border-color: #000 #666 #666 #000;
    background-color: #FF9;
    color: #000;
}

