#mapContainer {
    margin: 0;
    border: 1px solid #999999;
    background-color: #eee;
    padding: .0em;
}

#map, #mapContainer {
    width: 550px;
    height: 500px;
    float: right;
}

#mapContainer div.cityInfoBubble {
    font-size: 12px;
}

#mapContainer div.cityInfoBubble a{
    color:#44aabb;
}

#mapContainer div.cityName {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}

#mapContainer div.cityRating {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}

#mapContainer div.cityRating img {
    margin: 0;
    padding: 0;
}

#mapContainer div.medianHomePrice {
    color:#666666;
}

#mapContainer div.zip {
    margin: 0 0 5px 0;
    font-size: 10px;
    color: #666666;
}

div.learnMore {
    font-size: 13px;
    float: right;
}

div#contentGS div.learnMore a {
    color:#44aabb;
    text-decoration: underline;
}

div#nearbyCities li {
    font-size: small;
    display: list-item;
    border-bottom: 1px dotted #999;
    padding: 6px 0 6px 15px;
    position: relative;
}

div#nearbyCities li img {
    position: absolute;
    right:4px;
    top: 3px;
}

div#nearbyCities li span {
    position: absolute;
    right:4px;
    top: 3px;
}

div#nearbyCities li.first {
    font-size: medium;
    font-weight: 700;
    text-align: left;
    padding-bottom: 4px;
    padding-top:5px;
    background-color:#DDEEEE;
    margin-bottom: 10px;
    color:#55BBCC;
    padding-left:10px;
    border:none;
}

div#nearbyCities li.first img {
    top:6px;
}

div#nearbyCities li a {

    font-weight:600;
    color:#44aabb;
}

#nearbyCities .more {
    background-image: url(/res/img/bullet/pinkarrow.gif );
    background-repeat: no-repeat;
    background-position: center left;
    border:none;
    padding-left: 16px;
}

div.compareCitiesNear select {
    color: #666666;
}

div.compareCitiesNear img {
    position: relative;
    top: -5px;
}

div.compareCitiesNear h2 {
    font-size: 18px;
    font-weight: bold;
    color: #55BBCC;
}

div.compareHorizontal img, div.compareHorizontal h2, div.compareHorizontal select, div.compareHorizontal input {
    float: left;
    margin-right: 10px;
}

div.compareHorizontal input {
    position: relative;
    top: -3px;
    margin-left: 10px;
}

div.compareHorizontal {
    clear: both;
    height: 35px;
    padding: 20px 20px 10px;
    margin: 0;
}

.reference {
    position:relative;
    height:50px;
    font-size:13px;
    color:#888888;
}

.reference .bpReference {
    position:absolute;
    right:35px;
    top:41px;
    text-align:right;
    width:355px;    
}

.reference .bpReference a {
    color:#44AABB;
}

.reference img {
    position:absolute;
    right:10px;
    top:41px;
}