#mapContainer {
    margin: 0;
    border: 1px solid #999999;
    background-color: #eee;
    padding: .0em;
}

#map, #mapContainer {
    width: 550px;
    height: 500px;
    float: right;
}

#mapContainer div.cityInfoBubble {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#mapContainer div.cityInfoBubble a{
    color:#44aabb;
}

#mapContainer div.cityName {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}

#mapContainer div.cityRating {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}

#mapContainer div.cityRating img {
    margin: 0;
    padding: 0;
}

#mapContainer div.medianHomePrice {
    color:#666666;
}

#mapContainer div.zip {
    margin: 0 0 5px 0;
    font-size: 10px;
    color: #666666;
}

div.learnMore {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    float: right;
}

div#contentGS div.learnMore a {
    color:#44aabb;
    text-decoration: underline;
}

div#nearbyCities h3 {
    font-size: medium;
    font-weight: 700;
    text-align: left;
    padding-bottom: 4px;
    padding-top:5px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color:#DDEEEE;
    margin-bottom: 10px;
    color:#55BBCC;
    padding-left:10px;
}

div#nearbyCities li {
    font-size: small;
    display: list-item;
    border-top: 1px dotted #999;
    padding: 4px 0 4px 15px;
    position: relative;
}

div#nearbyCities li.first {
    border-top: 0;
}

div#nearbyCities li img {
    position: absolute;
    right: 0;
    top: 3px;
}

div#nearbyCities li a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:600;
    color:#44aabb;
}

#nearbyCities .more {
    background-image: url(../../img/bullet/pinkarrow.gif );
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 16px;
}

div.compareCitiesNear select {
    color: #666666;
}

div.compareCitiesNear img {
    position: relative;
    top: -5px;
}

div.compareCitiesNear h2 {
    font-size: 18px;
    font-weight: bold;
    color: #55BBCC;
}

div.compareHorizontal img, div.compareHorizontal h2, div.compareHorizontal select, div.compareHorizontal input {
    float: left;
    margin-right: 10px;
}

div.compareHorizontal input {
    position: relative;
    top: -3px;
    margin-left: 10px;
}

div.compareHorizontal {
    clear: both;
    height: 35px;
    padding: 10px 0 10px 0;
    margin: 0;
}

div#editorialBar {
    clear: both;
    height: 115px;
    padding: 5px 0 5px 0;
    margin-top: 25px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

div.compareVertical {
    float: left;
    padding: 5px 0 0 0;
    margin: 0;
    border-right: 1px solid #DDDDDD;
    height: 109px;
    width: 285px;
}

div.compareVertical img, div.compareVertical h2, div.compareVertical select, div.compareVertical input {
    float: left;
}

div.compareVertical img, div.compareVertical select.compareCitySelect {
    margin: 0 10px 0 0;
}

div.compareVertical img {
    top: 0;
}

div.compareVertical h2 {
    position: relative;
    top: 5px;
    margin-bottom: 20px;
}

div.compareVertical select.compareCitySelect {
    clear: left;
}

div.compareVertical input {
    clear: left;
    margin-top: 6px;
}

div.editorialMoving, div.editorialChoosing {
    padding: 15px 0 0 10px;
    margin: 0;
    float: left;
    width: 275px;
    height: 99px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#55BBCC;    
}

div.editorialMoving {
    border-right: 1px solid #DDDDDD;
}