@import "cityCommon.css";

.cityPage {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#555555;
}

#map, #mapContainer {
    width: 230px;
    height: 210px;
}

.cityPage h1 {
    font-size: large;
    font-weight: normal;
    color: #eb7a31;
}
.cityPage h2,
    .cityPage .hotTopics h3,
    .statsModule h3 {
    color: #eb7a31;
    font-size: medium;
    font-weight: 700;
    text-align: left;
}
    .cityPage h2.sectionHead, .cityPage div#cityStats h3 {
        color:#FFFFFF;
        padding: 2px 0 2px 5px;
        background-color:#66CCCC;
    }

    .cityPage td.recentParentReviews h2, .cityPage div.featuredArticles h2 {
        color:#55BBCC;
        padding-top:0;
        padding-bottom:4px;
    }

    .cityPage div.featuredArticles h2.sectionHead {
        color:#FFFFFF;
    }

.statsModule {
    font-size: small;
}

.statsModule table {
    padding-top: 1em;
    width: 100%;
}

.statsModule .census td,
    .statsModule .census th {
    border-bottom: 1px solid #DDDDDD;
    font-size: small;
    font-weight: normal;
    padding: .4em 1em .5em 1em;
    text-align: left;
}

.statsModule .census td.empty {
    border-width: 0;
}

.statsModule .census th {
    padding-left: 0;
}

.statsModule .census thead th {
    text-align: left;
    padding: 0 1em .3em 1em;
    color: #555;
    font-size: x-small;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
}

.statsModule .census {
    padding-left:4px;
}

.statsModule .better,
.statsModule .worse {
    font-weight: bold;
}

#nearbyCities {
    padding: .3em;
}

#nearbyCities h3 {
    display: inline;
    color: #888;
    padding-right: 1em;
    font-weight: bold;
    font-size: small;
}

#nearbyCities ul {
    display: inline;
    line-height: 1em;
}

#nearbyCities li {
    display: inline;
    padding: 0 .4em 0 .4em;
    font-size: small;
    line-height: 1em;
}

#nearbyCities li.bigCity,
    #nearbyCities li.city,
    #nearbyCities li.town {
    border-right: 1px solid #999;
}

#AboveFold_300x250 {
    border-top: none;
}

.cleanLineTopBox,
    .cleanLineBottomBox,
    .cleanLineLeftBox,
    .cleanLineRightBox {
    border: 0 solid #DDDDDD;
}

.cleanLineTopBox {
    margin-top: 3px;
    padding-top: 6px;
    border-top-width: 1px;
}

.headerBox {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color:#DDEEEE;
    margin-bottom: 12px;
}
    .headerBox h1 {
        color:#55BBCC;
        padding-left:10px;
    }
    .headerBox td#nearbyCities {
        padding-bottom:2px;
    }
    .headerBox td#nearbyCities a {
        color: #888;
        font-weight: bold;
        font-size: small;
    }

.cleanLineBottomBox {
    border-bottom-width: 1px;
    margin-bottom: 12px;
}

.cleanLineLeftBox {
    margin-left: 10px;
    border-left-width: 1px;
}

.dottedLineTopBox,
    .dottedLineBottomBox,
    .dottedLineLeftBox,
    .dottedLineRightBox {
    border: 0 solid #DDDDDD;
    padding-bottom:3px;
}

.dottedLineTopBox {
    margin-top: 3px;
    padding-top: 2px;
    border-top-width: 1px;
}

.dottedLineBottomBox {
    border-bottom-width: 1px;
    margin-bottom: 3px;
}

.topRatedSchools .dottedLineBottomBox {
    padding-top:4px;
    padding-bottom:4px;
}

.dottedLineLeftBox {
    margin-left: 3px;
    border-left-width: 1px;
}

div.topRatedSchools {
    margin: 0 .8em 0 8px;
}

.topRatedSchools td {
    margin: 0;
    font-size: small;
    padding: 2px 5px 3px 0;
}

.topRatedSchools th {
    font-size: x-small;
    color: #999;
    vertical-align: bottom;

    border: 0 solid #DDDDDD;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    margin-bottom: 5px;

}

.recentParentReviews h5 {
    font-size: x-small;
    color: #999;
    background-image: url(../../img/community/bell.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 17px;
}

.recentParentReviews .stars {
    white-space: nowrap;
}

.recentParentReviews h4 {
    padding-top: 5px;
    font-size: small;
}

.recentParentReviews p {
    font-size: small;
}

.schoolBreakdown h3,
.districts h3{
    font-size: small;
    font-weight: bold;
    padding: 4px 0 4px 0;
}

.schoolBreakdown ul {
    line-height: 1em;
    padding: 0 0 4px 3px;
}

.schoolBreakdown li {
    font-size: small;
    border: 0 solid #DDDDDD;
    border-bottom-width: 1px;
    padding: 6px 0 7px 0;
}

.schoolBreakdown li.last {
    border-width: 0;
}

.districts li {
    font-size: small;
    padding-bottom: 5px;
}

.topRatedSchools h5,
.districts li.viewall {
    background-image: url(../../img/bullet/pinkarrow.gif );
    background-repeat: no-repeat;
    background-position: center left;
    padding-top: 2px;
    padding-left: 16px;
}

.tooltip {
    font-size: small;
    font-weight: bold;
    padding: 2px;
    border: 1px #036 solid;
    border-width: 1px 2px 2px 1px;
    border-color: #000 #666 #666 #000;
    background-color: #FF9;
    color: #000;
}

.featuredArticles {
    margin-top: 1em;
    font-size: small;
}
.featuredArticles h4 {
    margin: .5em .5em 0 0;
}

.featuredArticles p {
    padding: 0 1em .6em 0;
    margin: .3em 0 .3em 0;
    border: 0 solid #DDDDDD;
    border-bottom-width: 1px;
}

.featuredArticles div.cleanLineBottomBox p {
    border-width: 0;
}

div.statsModule {
    border: 0 solid #DDDDDD;
    margin-top: 3px;
    padding-top: 6px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-bottom: 18px;
}

.contentGS a:link,
    .contentGS a:visited,
    .contentGS a:active {
    text-decoration: none;
    color: #3399AA;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:bold;
}

#cityrating {
    position:relative;
    border-top:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
    height:93px;
    width:100%;
    margin:0 0 15px 0;
}

#cityrating #ratingimage{
    position:absolute;
    top:11px;
    left:0px;
}

#cityrating #textwrapper{
     position:absolute;
    top:11px;
    left:223px;
    width:280px;
    padding:12px 0 0 0;
}

#cityrating #ratingtext{
    position:relative;
    vertical-align:middle;
    font-size: 14px;
    line-height: 16px;
    font-weight:normal;
    color:#666666;
}

#cityrating a:link,
    #cityrating a:visited,
    #cityrating a:active{
    text-decoration: underline;
    font-weight:normal;
}







