#mapContainer {
    margin: .3em;
    border: 1px solid #00c;
    background-color: #eee;
    padding: .0em;
}

#map, #mapContainer {
    width: 230px;
    height: 210px;
}

.cityPage #contentGS {
    margin: .5em;
}

.cityPage h1 {
    font-size: medium;
    font-weight: bold;
    color: #eb7a31;
}
.cityPage h2,
    .cityPage .hotTopics h3,
    .statsModule h3 {
    color: #eb7a31;
    font-size: medium;
    font-weight: 700;
    text-align: left;
}

.statsModule {
    font-size: small;
}

.statsModule table {
    padding-top: 1em;
    width: 100%;
}

.statsModule .census td,
    .statsModule .census th {
    border-bottom: 1px solid #bbb;
    font-size: small;
    font-weight: normal;
    padding: .4em 1em .5em 1em;
    text-align: left;
}

.statsModule .census td.empty {
    border-width: 0;
}

.statsModule .census td {
}

.statsModule .census th {
    padding-left: 0;
}

.statsModule .census thead th {
    text-align: left;
    font-weight: normal;
    padding: 0 1em .3em 1em;
    color: #555;
    font-size: x-small;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.statsModule .better,
.statsModule .worse {
    font-weight: bold;
}

#nearbyCities {
    padding: .3em;
}

#nearbyCities h3 {
    display: inline;
    color: #888;
    padding-right: 1em;
    font-weight: bold;
    font-size: small;
}

#nearbyCities ul {
    display: inline;
    line-height: 1em;
}

#nearbyCities li {
    display: inline;
    padding: 0 .4em 0 .4em;
    font-size: small;
    line-height: 1em;
}

#nearbyCities li.bigCity,
    #nearbyCities li.city,
    #nearbyCities li.town {
    border-right: 1px solid #999;
}

#nearbyCities .more {
    background-image: url(../../img/orange_arrow_right_trans.gif);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 16px;
}

#adSquare {
    clear: both;
    margin-top: 2em;
}

.cleanLineTopBox,
    .cleanLineBottomBox,
    .cleanLineLeftBox,
    .cleanLineRightBox {
    border: 0px solid #999;
}

.cleanLineTopBox {
    margin-top: 3px;
    padding-top: 6px;
    border-top-width: 1px;
}

.cleanLineBottomBox {
    border-bottom-width: 1px;
    margin-bottom: 12px;
}

.cleanLineLeftBox {
    margin-left: 10px;
    border-left-width: 1px;
}

.dottedLineTopBox,
    .dottedLineBottomBox,
    .dottedLineLeftBox,
    .dottedLineRightBox {
    border: 0px solid #bbb;
}

.dottedLineTopBox {
    margin-top: 3px;
    padding-top: 2px;
    border-top-width: 1px;
}

.dottedLineBottomBox {
    border-bottom-width: 1px;
    margin-bottom: 3px;
}

.dottedLineLeftBox {
    margin-left: 3px;
    border-left-width: 1px;
}

div.topRatedSchools {
    margin: 0 .8em 0 8px;
}

.topRatedSchools td {
    margin: 0;
    font-size: small;
    padding: 2px 5px 3px 0;
}

.topRatedSchools th {
    font-size: x-small;
    color: #999;
    vertical-align: bottom;

    border: 0px solid #bbb;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    margin-bottom: 5px;

}

.recentParentReviews h5 {
    font-size: x-small;
    color: #999;
    background-image: url(../../img/community/bell.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 17px;
}

.recentParentReviews .stars {
    white-space: nowrap;
}

.recentParentReviews h4 {
    padding-top: 5px;
    font-size: small;
}

.recentParentReviews p {
    font-size: small;
}

.schoolBreakdown h3,
.districts h3{
    font-size: small;
    font-weight: bold;
    padding: 4px 0 4px 0;
}

.schoolBreakdown ul {
    line-height: 1em;
    padding: 0 0 4px 0;
}

.schoolBreakdown li {
    font-size: small;
    border: 0px solid #bbb;
    border-bottom-width: 1px;
    padding: .4em .4em .4em 0;
}

.schoolBreakdown li.last {
    border-width: 0;
}

.districts li {
    font-size: small;
    padding-bottom: 2px;
}

.topRatedSchools h5,
.districts li.viewall {
    background-image: url(../../img/orange_arrow_right_trans.gif);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 16px;
}

span.mousedOver, span:hover {
    color: #000;
    background-color: #eee;
    color: red;
}

.tooltip {
    font-size: small;
    font-weight: bold;
    padding: 2px;
    border: 1px #036 solid;
    border-width: 1px 2px 2px 1px;
    border-color: #000 #666 #666 #000;
    background-color: #FF9;
    color: #000;
}

.featuredArticles {
    margin-top: 1em;
    font-size: small;
}
.featuredArticles h4 {
    margin: .5em .5em 0em 0;
}

.featuredArticles p {
    padding: 0 1em .6em 0;
    margin: .3em 0 .3em 0;
    border: 0px solid #bbb;
    border-bottom-width: 1px;
}

.featuredArticles div.cleanLineBottomBox p {
    border-width: 0;
}

div.statsModule {
    border: 0px solid #999;
    margin-top: 3px;
    padding-top: 6px;
    border-top-width: 1px;
}
