div#left-content div#outreachManager div#managerPhoto {
    background-image: url("/res/img/geo/landing/andria.JPG");
}

div#left-content div#partners.mainLeft {
    padding-bottom: 11px;
}

div#left-content div#partners ul li {
    padding-bottom: 5px;
}

