div#contentGS {
    position:relative;
}

div#left-content a, div#right-content a {
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #3399AA;
	text-decoration: none;
	letter-spacing: 0;
}

div#left-content a:hover, div#right-content a:hover {
	text-decoration: underline;
}

div#left-content {
    width:205px;
    font-family:"Trebuchet MS",Arial,sans-serif;
    font-size:12px;
    letter-spacing:0;
}

    div#left-content hr {
        background-color: #DDEEEE;
        color: #DDEEEE;
        height: 1px;
        border:0;
        width:205px;
    }

    div#left-content div.mainLeft {
	    border: 6px solid #DDEEEE;
        font-family: "Trebuchet MS", Arial, sans-serif;
	    font-size: 12px;
	    line-height: 17px;
	    color: #666666;
	    letter-spacing: 0;
	    width: 195px;
        padding:0 0 15px 0;
    }

    div#left-content div.mainLeft ul {
        margin:0 10px 0 10px;
    }

    div#left-content div.mainLeft li {
        line-height:14px;
        padding:2px 0 10px 0;
        font-size:12px;
    }

    div#left-content div.mainLeft li a.uline {
        text-decoration:underline;
    }

        div#left-content div#partners h3{
            height:30px;
            background:#DDEEEE;
            position:relative;
        }

        div#left-content div#partners h3 span {
            padding:5px 0 0 10px;
            color:#55BBCC;
            font-size:15px;
            position:absolute;
        }

        div#left-content div#partners ul {
            margin-top:10px;
        }

    div#left-content div#outreachManager {
        border-bottom:1px solid #DDEEEE;
        position:relative;
        padding:0 0 10px 0;
        margin:10px 10px 10px 10px;
    }

        div#left-content div#outreachManager div#managerPhoto {
	        border: 1px solid #DDEEEE;
            padding: 2px 2px 2px 2px;
            margin: 0 7px 3px 0;
            text-indent:-1000em;
	        background-repeat: no-repeat;
	        background-position: 2px 2px;
	        width: 56px;
	        height: 69px;
        }

        div#left-content div#outreachManager div#managerPhotoBorder {
            border: 1px dashed #DDEEEE;
            width: 60px;
	        height: 75px;            
        }

        div#left-content div#outreachManager div#managerText {
            position:absolute;
            top:45px;
            left:70px;
            width: 110px;
        }

        div#left-content div#outreachManager div#managerText span.photoName {
            font-family: "Trebuchet MS", Arial, sans-serif;
            font-size: 13px;
            line-height: 16px;
            font-weight: bold;
            color: #55BBCC;
            letter-spacing: 0;
        }

        div#outreachManager div#managerText span.photoCaption {
            font-weight: bold;
            line-height: 14px;
        }

div#right-content {
    position:absolute;
    top:0;
    left:215px;
}

    div#right-content h1 {
        background-color:#DDEEEE;
        color:#55BBCC;
        font-family:"Trebuchet MS",Arial,sans-serif;
        font-size:19px;
        line-height:17px;
        padding:11px 0 9px 17px;
        height:19px;
        width:632px;
        margin:0 0 10px 0;
    }

    div#right-content ul {
        position:relative;
        left:20px;
    }

    div#right-content li {
        background-image: url(../../img/content/research/yellow_arrow.gif );
        background-repeat: no-repeat;
        background-position: 0 1.0ex;
        padding-bottom: 2px;
        padding-left: 16px;
        line-height:25px;
        color:#777777;
    }

        div#right-content div#donate li {
            background-position: 0 0.5ex;
            line-height: 18px;
        }

div#grid {
   position:relative;
   width: 648px;
   height: 430px;
}

div#grid div.gridbox {
    position:absolute;
    border:3px solid #66CCCC;
    width:315px;
    height:205px;
    font-family:"Trebuchet MS",Arial,sans-serif;
}

    div#grid div.left {
        left:0;
    }

    div#grid div.top {
        top:0;
    }

    div#grid div.right {
        right:0;
    }

    div#grid div.bottom {
        bottom:0;
    }

    div#grid h3 {
        background:#66CCCC;
        height:30px;
        margin:0 0 22px 0;
    }

    div#grid div#findAndCompare h3 {
        margin-bottom: 16px;
    }

    div#grid h3 img {
        padding:7px 0 0 15px;
    }

    div#grid div.row {
        color:#777777;
        font-family:"Trebuchet MS",Arial,sans-serif;
        font-size:13px;
        letter-spacing:0;
    }

    div#grid div.spacer {
        padding:0 0 0 20px;
        position:relative;
    }

    div#grid div#findAndCompare h2 {
        background-image: url("/res/img/geo/landing/findandcompare.gif");
        border:solid;
    }

    div#grid div#findAndCompare select {
        border:1px solid #BBBBBB;
        height:22px;
    }

    div#grid div#findAndCompare input.zip,
    div#grid div#findAndCompare select {
        font-family:"Trebuchet MS",Arial,sans-serif;
        font-size:12px;
        color:#666666;
        border:1px solid #BBBBBB;
    }

    div#grid div#findAndCompare div#topSchools {
        position:relative;
        height:35px;
    }

        div#grid div#findAndCompare div#topSchools img {
            position:absolute;
            top:12px;
        }

        div#grid div#findAndCompare div#topSchools span {
            position:absolute;
            top:8px;
            left:10px;
        }

        div#grid div#findAndCompare div#topSchools input {
            position:absolute;
            top:5px;
            left:157px;
        }

    div#grid div#findAndCompare div#findAll {
        position:relative;
        height:32px;
        margin:0 0 10px 0;
    }

        div#grid div#findAndCompare div#findAll img {
            position:absolute;
            top:12px;
        }

        div#grid div#findAndCompare div#findAll span {
            position:absolute;
            top:8px;
            left:10px;
        }

        div#grid div#findAndCompare div#findAll select {
            position:absolute;
            left:102px;
            top:7px;
            width:135px;
        }

        div#grid div#findAndCompare div#findAll input {
            position:absolute;
            top:5px;
            left:246px;
        }

        div#grid div#findAndCompare select#compareLevel {
            position: relative;
            left: 2px;
        }

            div#grid div#within {
                margin:10px 0 0 11px;
                position:relative;
            }

                div#grid div#within span {
                    position:relative;
                    top:5px;
                    margin:0 5px 0 0;
                }

                div#grid div#within input,
                div#grid div#within select {
                    position:relative;
                    top:5px;
                    left: 1px;
                    margin:0 7px 0 0;
                }

                div#grid div#within input.button {
                    position:absolute;
                    top:1px;
                    margin:2px 0 0 0;
                    left:200px;
                }

                div#grid div#within input.zip {
                    padding:0 0 0 4px;
                    left: 2px;
                    width:40px;
                }

           div#grid div#greatschoolsGuides span {
               position:relative;
               font-size:13px;
               color:#666666;
               top:10px;
           }

           div#grid div#greatschoolsGuides li img {
               padding: 0 5px 0 0;
               position: relative;
               top: 3px;
           }


div#donate {
    margin-top:20px;
    border:2px solid #DDDDDD;
    position:relative;
    height:96px;
    width:643px;
}

    div#donate h3 {
        background:#66CCCC;
        width:96px;
        height:86px;
        margin:5px;
    }

    div#donate h3 img {
       position:relative;
       top:35px;
       left:12px;
    }

    div#donate ul {
        position:absolute;
        top:5px;
        left:120px;
    }

    div#donate a {
        position:absolute;
        top:62px;
        left:400px;
    }


