div#left-content div#partners.mainLeft {
    padding-bottom: 13px;
}

div#right-content li {
    background-position: 0 1.15ex;
}

    div#right-content div#donate li {
        background-position: 0 0.55ex;
        line-height: 18px;
    }

div#right-content div#grid div#resources ul li {
    background-position: 0 0.80ex;
}

div#grid div#findAndCompare select#compareLevel {
    position: relative;
    top: 3px;
}

div#grid div#findAndCompare input.zip {
    position: relative;
    top: 6px;
}

div#grid div#findAndCompare select#miles {
    position: relative;
    top: 8px;
}

div#grid div#within input.button {
    top:3px;
    left: 196px;
}
