div#left-content div#outreachManager div#managerPhoto {
    background-image: url("/res/img/geo/landing/jodi.jpg");
}

div#left-content div#partners ul {
    margin-top: 8px;
    margin-bottom: 3px;
}

    div#left-content div#partners ul li {
        line-height: 16px;
        padding-bottom: 5px;
    }

div#right-content div#grid ul {
    left: 15px;
}

div#right-content div#grid div.spacer {
    padding-left: 15px;
}

div#grid h3 {
    margin-bottom: 22px;
}

div#grid div#findAndCompare div#topSchools input.button {
    left: 178px;
}

div#grid div#findAndCompare div#findAll select {
    left: 121px;
}

div#grid div#findAndCompare div#findAll input {
    left: 258px;
}

div#grid div.gridbox ul {
    width: 290px;
}

    div#grid div#greatschoolsGuides ul li {
        line-height: 21px;
        background-position: 0 0.65ex;
    }

div#promoRulesLink a,
div#promoRulesLink a:link,
div#promoRulesLink a:visited,
div#promoRulesLink a:active {
    text-decoration: underline;
    color: #888888;
    font-family:"Trebuchet MS",Arial,sans-serif;
    font-size:12px;
    margin: -8px 0 8px 0;
    float:left;
}