div#left-content div#outreachManager div#managerPhoto {
    background-image: url("/res/img/geo/landing/jodi.jpg");
}

div#left-content div#partners ul {
    margin-top: 8px;
    margin-bottom: 3px;
}

    div#left-content div#partners ul li {
        line-height: 16px;
        padding-bottom: 5px;
    }

div#right-content div#grid ul {
    left: 15px;
}

div#right-content div#grid div.spacer {
    padding-left: 15px;
}

div#grid h3 {
    margin-bottom: 22px;
}

div#grid div#findAndCompare div#topSchools input.button {
    left: 178px;
}

div#grid div#findAndCompare div#findAll select {
    left: 121px;
}

div#grid div#findAndCompare div#findAll input {
    left: 258px;
}

div#grid div.gridbox ul {
    width: 290px;
}

    div#grid div#greatschoolsGuides ul li {
        line-height: 21px;
    }

div#promoRulesLink a,
div#promoRulesLink a:link,
div#promoRulesLink a:visited,
div#promoRulesLink a:active {
    text-decoration: underline;
    color: #888888;
    font-family:Arial,Arial,sans-serif;
    font-size:12px;
    margin: -8px 0 8px 0;
    float:left;
}

/* ------------------- */
/* LEFT COLUMN MODULES */
/* ------------------- */

#left-content .module{
	width:195px;
	background:#dee;
	padding:6px;
}

#left-content .m_title{
	display:block;
    padding:4px 0 0 5px;
}

#left-content .m_content{
	width:175px;
	background:#fff;
	margin-top:7px;
	padding:10px;
}

#left-content .m_list{
	padding:2px 0 5px 0;
}

#left-content .m_img{
	padding:0 0 10px 0;
}

/* -------------- */
/* GRAPHIC SYTLES */
/* -------------- */

.italic{
	font-style:italic;
}

.rule{
	background-color: #dee;
 	color: #dee;
	height: 1px;
	border:0;
	width:205px;
}

.forms{
	margin-top:10px;
}

.inputs{
    border:1px solid #bbb;
}

form input.button{
    display:inline-block;
    vertical-align:middle;
}

#left-content .cent17{
	font:17px "Century Gothic", Arial, Helvetica, sans-serif;
}

#left-content .cent17B{
	font:bold 17px "Century Gothic", Arial, Helvetica, sans-serif;
}

#left-content .treb19{
	font:19px Arial, Arial, Helvetica, sans-serif;
}

#left-content .treb17{
	font:17px Arial, Arial, Helvetica, sans-serif;
}

#left-content .treb15{
	font:15px Arial, Arial, Helvetica, sans-serif;
}

#left-content .treb13{
	font:13px Arial, Arial, Helvetica, sans-serif;
}

#left-content .treb13B{
	font:bold 13px Arial, Arial, Helvetica, sans-serif;
}

#left-content .treb12, #promoRulesLink .treb12{
	font:12px Arial, Arial, Helvetica, sans-serif;
}

#left-content .treb12B{
	font:bold 12px Arial, Arial, Helvetica, sans-serif;
}

#promoRulesLink .tint888{
	color:#888;
}

#left-content .tint777{
	color:#777;
}

#left-content .tint666{
	color:#666;
}

#left-content .tint5bc{
	color:#5bc;
}

#left-content .tint39a{
	color:#39a;
}

#left-content .tintfff{
	color:#fff;
}
