@charset "UTF-8";
/* CSS Document */

/* --------------------- */
/* PAGE STRUCTURE STYLES */
/* --------------------- */

#dc_page_content{

}

#colft{
	width:211px;
    margin-left:48px;
    margin-top:20px;
    /*width:215px;*/
    /*background:red;*/         
}

#colrt{
	width:652px;
    margin-right:48px;
    margin-top:20px;
    /*width:649px;*/
    /*background:blue;*/
}

*html #colft{
    margin-left:22px;
}

*html #colrt{
    margin-right:22px;
}

/* ------------------- */
/* LEFT COLUMN MODULES */
/* ------------------- */

.module{
	width:195px;
	background:#dee;
	padding:6px;
}

.m_title{
	display:block;
    padding:4px 0 0 5px;
}

.m_content{
	width:175px;
	background:#fff;
	margin-top:7px;
	padding:10px;
}

.m_list{
	padding:2px 0 5px 0;
}

.m_img{
	padding:0 0 10px 0;
}

/* ------------------ */
/* RIGHT COLUMN UNITS */
/* ------------------ */

.c_title{
	width:635px;
    /*width:632px;*/
	background:#dee;
	padding:9px 0 8px 17px;
	margin-bottom:10px;
}

#u1, #u2{
	height:160px;
}

#u3, #u4{
	height:250px;
}

.dc_unit{
	width:315px;
	background:#6cc;
	padding:3px;
	margin-bottom:6px;
}

.u_title{
	display:block;
	padding:2px 0 0 15px;
}

.u_content{
	width:285px;
	background:#fff;
	margin-top:7px;
	padding:15px;
}

.u_list li{
	padding:4px 0 7px 0;
	list-style:url(/res/img/content/research/yellow_arrow.gif);
	margin-left:15px;
}

/* -------------- */
/* GRAPHIC SYTLES */
/* -------------- */

.italic{
	font-style:italic;
}

.rule{
	background-color: #dee;
 	color: #dee;
	height: 1px;
	border:0;
	width:205px;
}

.forms{
	margin-top:10px;
}

.inputs{
    border:1px solid #bbb;
}

form input.button{
    display:inline-block;
    vertical-align:middle;
}

#dc_page_content .cent17{
	font:17px "Century Gothic", Arial, Helvetica, sans-serif;
}

#dc_page_content .cent17B{
	font:bold 17px "Century Gothic", Arial, Helvetica, sans-serif;
}

#dc_page_content .treb19{
	font:19px Arial, Arial, Helvetica, sans-serif;
}

#dc_page_content .treb17{
	font:17px Arial, Arial, Helvetica, sans-serif;
}

#dc_page_content .treb15{
	font:15px Arial, Arial, Helvetica, sans-serif;
}

#dc_page_content .treb13{
	font:13px Arial, Arial, Helvetica, sans-serif;
}

#dc_page_content .treb13B{
	font:bold 13px Arial, Arial, Helvetica, sans-serif;
}

#dc_page_content .treb12, #promoRulesLink .treb12{
	font:12px Arial, Arial, Helvetica, sans-serif;
}

#dc_page_content .treb12B{
	font:bold 12px Arial, Arial, Helvetica, sans-serif;
}

#promoRulesLink .tint888{
	color:#888;
}

#dc_page_content .tint777{
	color:#777;
}

#dc_page_content .tint666{
	color:#666;
}

#dc_page_content .tint5bc{
	color:#5bc;
}

#dc_page_content .tint39a{
	color:#39a;
}

#dc_page_content .tintfff{
	color:#fff;
}

/* ----------- */
/* LINK STYLES */
/* ----------- */

#dc_page_content .link:link, #dc_page_content .link:visited {
	text-decoration:none;
}

#dc_page_content .link:hover, #dc_page_content .link:focus, #dc_page_content .link:active{
	text-decoration:underline;
}

#promoRulesLink .link2:link, #promoRulesLink .link2:visited, #promoRulesLink .link2:hover, #promoRulesLink .link2:focus, #promoRulesLink .link2:active{
    text-decoration:underline;
}

/* ---------------- */
/* DEBUGGING SYTLES */
/* ---------------- */

.outline1 {
    outline: 1px solid red;
}

.outline2 {
    outline: 1px solid green;
}

.outline3 {
    outline: 1px solid blue;
}

/* ------------------ */
/* PAGE LAYOUT STYLES */
/* ------------------ */

.gainlayout {
    position: relative;
    zoom: 1;
}

.fltlft {
/* this class can be used to float an element left in your page */
    float: left;
    /*margin-right: 8px;*/
}

.fltrt {
/* this class can be used to float an element right in your page. */
/* The floated element must precede the element it should be next to on the page. */
    float: right;
    /*margin-left: 8px;*/
}

.clearfloat {
/* this class should be placed on a div or break element and */
/* should be the final element before the close of a container */
/* that should fully contain a float */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}

.spacer_8{
    clear:both;
    height:8px;
    font-size:1px;
    line-height:8px;
}

.spacer_4{
    clear:both;
    height:4px;
    font-size:1px;
    line-height:4px;
}

/* clear fix */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.contribution{
    color:#666666;
}

/* end clear fix */
