
.hide {
    display: none;
}
div.rating_parent a,
div.rating_parent a:link,
div.rating_parent a:hover,
div.rating_parent a:active,
div.rating_parent a:visited{
    font-size: 13px;
    text-decoration:underline;
    line-height:16px;
}

div.rating_parent{
    background: url( /res/img/school/overview/7970_b/background.gif ) no-repeat   ;
    height:151px;
}

.schoolProfileParentReview img{
    display: block;
}

/*parent rated*/
div.rating_parent .rated .title {
    width: 108px;
    height: 17px;
    margin-left: 20px;
    padding-top: 22px;
}

div.rating_parent .rated .starRating,
div.rating_parent .notRated .starRating{
    padding: 11px 0;
    width: 106px;
    height: 20px;
    margin-left: 21px;
}

div.rating_parent .rated .rateItButton,
div.rating_parent .notRated .rateItButton{
    width: 69px;
    height: 19px;
    margin-left: 40px;
}

div.rating_parent .rated .viewAll{
    padding: 11px 0 0 0;
    margin-left: 45px;
}

/* not parent rated */
div.rating_parent .notRated .title {
    width: 115px;
    height: 12px;
    margin-left: 16px;
    padding-top: 34px;
}



