

/* Top part */
div.top {
    background-color: #DEE;
    padding: 25px 20px;
}

div.body{
    position:relative;
}

div.top h1 {
    font-size: 22px;
    color: #5BC;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 0;
}

div.top p {
    font-weight: bold;
    margin-bottom: 15px;
}

div.top ul {
    margin: 0;
    padding-left: 15px;
    line-height: 20px;
}

div.top ul li {
    color: #EB9339;
    list-style-type: disc;
}

div.top ul li span {
    color: #666;
}

div.body h2, div.body h2 {
    font-size: 17px;
    color: #5BC;
    font-weight: normal;
    margin: 20px 0 10px 0;
    padding: 0;
}

div.divider {
    background: url( "/res/img/widget/horizontal_dots.gif" ) no-repeat;
    height: 5px;
}

div.divider hr {
    display: none;
}

div.divider.upper {
    margin-bottom: 25px;
}

div.divider.lower {
    margin-top: 25px;
}

/* Customization table */
div.top p, div.body p {
    margin: 0;
    padding: 0;
}

div.body {
    margin: 0 20px 0 20px;
}

div.body table {
    width: 100%;
}

div.body table td {
    vertical-align: top;
}

td.leftSide {
    width: 450px;
}

div.section {
    margin-bottom: 35px;
    position: relative;
}

div.step {
    font-weight: bold;
}

span.step {
    font-size: 17px;
    color: #C56;
    margin-right: 5px;
}

span.title {
    font-size: 14px;
}

div.instructions {
    margin-bottom: 15px;
}

div.instructions a {
    margin-left: 3px;
}

.section input, label {
    color: #666;
}

.section input {
    margin: 5px 0 0 0;
}

div.searchQuery input, div.cobrandSite input, div.email input {
    width: 200px;
}

div.dim input {
    margin-right: 10px;
}

div.dim input.specifyDim {
    width: 50px;
    margin-right: 0;
}

label.specifyDim {
    margin: 0 3px 0 10px;
}

div.colors label.name {
    width: 83px;
    float: left;
    position: relative;
    top: 7px;
}

div.colors label.hex {
    margin: 0 5px 0 10px;
}

div.colors select {
    width: 75px;
}

div.colors input {
    width: 75px;
}

span.optional {
    color: #C56;
    padding-right: 3px;
}

.submitButton {
    margin: 0 0 0 20px;
}

div.body p.questions {
    margin-top: 25px;
}

td.leftSide a, td.leftSide a:hover, .contentGS td.leftSide a, .contentGS td.leftSide a:hover {
    text-decoration: none;
}

div.widgetCode {
    margin-top: 25px;
}

div.widgetCode textarea {
    color: #444;
    margin-top: 5px;
}

div.faq {
    margin-top: 40px;
}

div.faq h2 {
    margin-bottom: 15px;
}

div.question {
    font-weight: bold;
}

div.answer {
    margin-bottom: 15px;
}

form.customize {
    width: 450px;
}

td.rightSide div.wrapper {
    left:519px;
    position:absolute;
    width:298px;
}

td.rightSide div.preview {
    background-color: #f9eccd;
    padding: 10px 20px;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 700;
}

img.errorIcon {
    float: left;
    position: relative;
    top: 3px;
}

div.body p.warning {
    color: #C56;
    margin-left: 17px;
}

div.answer ul li {
    color: #666;
    list-style-type: disc;
    margin-left: 17px;
}

div#zoom_container {
    margin-top: 20px;
    height: 17px;
}

div#zoom_container img {
    float: left;
    margin-top: 6px;
    cursor: pointer;
}

div.slider {
    width: 170px;
    margin: 10px 0;
    background-color: #dee;
    height: 2px;
    position: relative;
    float: left;
}

div.slider div.handle {
    margin-top: -3px;
    width: 8px;
    height: 8px;
    /*background-image: url( /res/img/widget/zoomhandle.png );*/
    cursor: move;
    position: absolute;
}

