div.wrapper {
    border: 1px solid #7BAAD5;
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #777777;
}

div.wrapper form {
    margin: 0 0 -5px 0;
    padding: 0;
}

div.wrapper form input, div.wrapper form select {
    color: #777777;
}

div.wrapper form input.searchSubmit, div.wrapper form input.testScoresSubmit {
    color: #000;
}

div.title {
    font-weight: bold;
    font-size: 14px;
    padding: 3px 5px 3px 5px;
    border-bottom: 1px solid #7BAAD5;
}

div.body {
    padding: 5px 10px 10px 10px;
    line-height: 13px;
}

div.logo {
    margin-bottom: 15px;
    position: relative;
    left: -15px;
    z-index: -1;
}

div.searchContent, div.searchTestScores {
    margin: 10px 0 15px 0;
}

input.searchInput {
    width: 196px;
    display: block;
    margin-bottom: 5px;
}

select.searchDropdown {
    margin-right: 10px;
}

div.text {
    font-size: 12px;
}

div.hr {
    margin: 0 0 10px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #7BAAD5;
}

div.hr hr {
    display: none;
}
