div#schoolSearchWidget {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #444;
}

    div#schoolSearchWidget input {
        color: #444;
    }

/* Tabs */

div.tabBar {
    position: relative;
    width: 100%;
    height: 37px;
}

    div.tabBar div {
        position: absolute;
        top: 0;
        padding: 10px 0;
        background-color: #ebebeb;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }

    div.tabBar div#mapTab {
        left: 0;
    }

    div.tabBar div#searchTab {
        right: 0;
    }

    div.tabBar div.selected {
        background-color: #fff;
        color: #333;
    }

/* Tab bodies */

div.tabBody {
    display: none;
    position: relative;
    padding: 10px 20px;
}

    div.tabBody.selected {
        display: block;
    }

    div#helpTabBody {
        padding: 3px 8px;
    }

/* Search Tab */

div#searchTabBody h2, div#schoolSearchWidget h3 {
    margin: 40px 0 13px 0;
    padding: 0;
    font: 22px/1 Georgia, serif;
    color: #d61;
}

div#searchTabBody h2.hasError {
    margin-top: 25px;
}

div#searchTabBody p {
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 13px;
    line-height: 15px;
}

div#searchTabBody p.warning {
    color: #c03;
}

div#searchTabBody form {
    margin: 0;
    padding: 0;
}

div#searchTabBody button.searchSubmit {
    position: relative;
    float: right;
    top: 3px;
    overflow: visible;
    font: bold 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px #444;
    color: #fff;
}

/* Map Tab */

div#mapTabBody {
    padding: 10px 5px;
}

    div#mapTabBody div.locationDescription {
        font-size: 12px;
    }

        div#mapTabBody div.locationDescription span {
            font-weight: bold;
            font-size: 13px;
        }

    div#mapTabBody div.help {
        position: absolute;
        right: 5px;
        top: 7px;
    }

    div#mapTabBody a img {
        border: 0;
    }

    div#mapTabBody ul {
        margin: 5px 0;
        padding: 0;
    }

    div#mapTabBody li {
        list-style-type: none;
        display: inline;
        font-size: 11px;
        margin-right: 8px;
    }

        div#mapTabBody li label {
            position: relative;
            top: -2px;
        }

    /* Map */

    div#mapTabBody div#map {
        border: 1px solid #CDCDCE;
    }

    div.schoolInfoWindow {
        position: relative;
        top: -5px;
    }

        div.schoolInfoWindow div.schoolName a, div.schoolInfoWindow div.schoolName a:hover {
            color: #2B91A2;
            text-decoration: underline;
            font-size: 13px;
            line-height: 15px;
            font-weight: bold;
        }

        div.schoolInfoWindow div.schoolRatings {
            position: absolute;
            left: 0;
            width: 92px;
            height: 65px;
            margin-top: 10px;
            padding-right: 5px;
            border-right: 1px solid #ccc;
        }

            div.schoolInfoWindow div.schoolRating img {
                float: left;
                margin-left: 5px;
            }

            div.schoolInfoWindow div.schoolRating div {
                font-size: 10px;
                float: left;
                width: 60px;
            }

        div.schoolInfoWindow div.parentRating {
            clear: left;
            text-align: left;
            padding-top: 6px;
        }

            div.schoolInfoWindow div.parentRating a img {
                position: relative;
                left: -6px;
            }

            div.schoolInfoWindow div.parentRating div {
                font-size: 10px;
            }

        div.schoolInfoWindow div.schoolInfo {
            position: absolute;
            right: -5px;
            margin-top: 10px;
            width: 130px;
        }

            div.schoolInfoWindow div.schoolInfo div.typeGrade {
                text-transform: capitalize;
            }

            div.schoolInfoWindow div.schoolInfo address {
                font-style: normal;
            }

            div.schoolInfoWindow div.schoolInfo p {
                margin: 0;
                padding: 0;
            }

div#helpTabBody p {
    font-size: 11px;
    line-height: 1.3;
    margin: 13px;
    color: #333;
}

    div#helpTabBody p a, div#helpTabBody p a:hover {
        color: #0066b8;
        text-decoration: none;
    }
    div#helpTabBody p a:hover {
        text-decoration: underline;
    }

div#helpTabBody p span.super {
    font-size: 9px;
    position: relative;
    top: -4px;
}

div#helpTabBody h3 {
    margin: 13px 0 13px 13px;
    padding: 0;
    position: relative;
}



    div#helpTabBody h3 .close {
        position: absolute;
        right: 0;
        top: -12px;
        cursor: pointer;
        font: 11px Arial, sans-serif;
        color: #666;
        text-decoration: none;
        padding-right: 15px;
        background: url("/res/img/widget/CloseX_bg.png") 100% 50% no-repeat;
    }
*+html div#helpTabBody h3 .close {
    top: -7px;
}
*html div#helpTabBody h3 .close {
    top: -7px;
    right: 5px;
}
    div#helpTabBody h3 .close:hover {
        text-decoration: underline;
    }

p#noQuery, p#noResults {
    display:none;
}

/*.sprite {
    display: inline-block;
    background-image: url(/res/img/sprites/iconSprite_2011-01-06.png);
}

.i-alert {
    width: 13px;
    height: 13px;
    background-position: -20px -160px;
}*/