.outline{
    outline:1px solid red;
}

.white_background{
    background-color:#fff;
}

.divider {
    border-bottom: 10px solid #fff;
}

.divider hr {
    display: none;
}

#leftcol ul {
    width:150px;
}
div#main{

    border-top: 15px solid #fff;
    padding: 0;
    width:902px;
    margin:0 auto;
}

#contentGS ul.linkList li{
    list-style:disc outside none;
    color:#d61;
    margin-left:10px;
}

body.ie7 #contentGS ul.linkList li, body.ie6 #contentGS ul.linkList li{
    margin-left:15px;
}

body.ie7 #contentGS ul.linkList li.nocontent, body.ie6 #contentGS ul.linkList li.nocontent{
    margin:0;
    font-size: 1px;
    line-height: 0;
}

#contentGS ul.linkList li.lastone, #contentGS ul.linkList li.nocontent{
    list-style:none outside none;
}

.contentGS ul.linkList li {
    font-family:Arial,Arial,sans-serif;
    font-size:12px;
    padding:5px 0 12px 0;
    width:170px;
}

.contentGS ul.linkList li a {
    font-weight:normal;
    letter-spacing:0;
    line-height:15px;    
}

.contentGS ul.linkList li a.more {
    text-decoration:underline;
    font-weight:bold;
}

.listTitle {
    font-weight:bold;
    padding:12px 0 10px 0;
}

ul.linkList li.break {
   padding:2px 0 5px 0;
}

ul.linkList hr {
    color:#DDEEEE;
    border-top:1px solid;
    border-bottom:0;
    border-left:0;
    border-right:0;
}

.findBox select {
    font-family:Arial,Arial,sans-serif;
    border:1px solid #999999;
    font-size:11px;
    padding:1px;
    color:#555555;
}

.findBox select {
    width:195px;
}

#compareBox, #achievementBox {
    position:relative;
    height:140px;
    width:275px;
}
#compareBox img, #achievementBox img{
    position:absolute;
    top:4px;
    left:0;
}

div.boxText {
    position:relative;
    top:0;
    left:10px;
    font-family:Arial,Arial,sans-serif;
    font-size:15px;
    width:195px;
}

#achievementContent div.boxText {
    left:0;
}

div.boxText span {
    color:#99CC67;
    font-weight:bold;
}

#achievementBox #achievementContent {
    position:absolute;
    top:0;
    left:15px;
}


#achievementContent select#achievementCities {
    position:relative;
    top:10px;
}

#achievementContent div#schools {
    position:relative;
    top:22px;
}

#achievementBox #goAchieve {
    position:relative;
    top:-10px;
    left:210px;
}

#compareBox div.boxText {
    top:1px;
    left:14px;
}

#compareBox select#compareCities {
    position:relative;
    top:10px;
    left:15px;
}

#compareBox select#compareLevels {
    position:relative;
    left:15px;
}

#compareBox input#goCompare {
    position:relative;
    left:30px;
    top:8px;
}

#schools {
    position:absolute;
    top:50px;
}

img#learnTitle {
    padding:1px 0 2px 0;
}

div#alert {
    font-family:Arial,Arial,sans-serif;
    margin: 0 0 5px 0;
    border-top:3px solid #DDEEEE;
    border-bottom:3px solid #DDEEEE;
    position:relative;
    height:56px;
}

div#alert img {
    position:absolute;
    top:14px;
    left:11px;
}

div#alert div {
    position:relative;
    width:550px;
    top:12px;
    left:50px;
    line-height:17px;
}

div#alert div span.alert1 {
    padding:0;
    margin:0;
    font-size:15px;
    display:block;
    color:#CC5566;
    font-weight:bold;
}


div#alert div span.alert2 {
    padding:0;
    margin:0;    
    font-size:12px;
    font-weight:normal;
    color:#666666;
}

div#learnBox {
    font-family:Arial,Arial,sans-serif;
    font-size:15px;
    color:#666666;
}

div#learnBox .infohead {
    color:#99CC67;
    font-size:15px;
    font-family:Arial,Arial,sans-serif;
    font-weight:bold;
    margin:0 0 15px 6px;
}

div#learnBox ul {
    width:250px;
    margin:0 0 10px 20px;
}

div#learnBox li {
    list-style-image:url(/res/img/bullet/pinkarrow.gif);
    padding:0 0 10px 0;
}

div#learnBox a {
    float:right;
    text-decoration:underline;
    font-size:12px;
    padding-right:20px;
}

div.updatesText .printName, div.updatesText .italicTitle {
    font-family:Arial,Arial,sans-serif;
    font-size:12px;    
}

td#editorPhoto {
    padding-right:0;
    margin-right:0;
}

td#editorPhoto .lisaDashedBorder {
    margin:0 6px 3px 0;
    *margin:0 0 3px 0;
}

div#alert {
    cursor: default; 
}