#leftcol ul {
    width:150px;
}

.contentGS ul.linkList li {
    padding:5px 0 12px 0;
    width:170px;
}

.contentGS ul.linkList li a {
    color:#3399AA;
    font-family:"Trebuchet MS",Arial,sans-serif;
    font-weight:bold;
    font-size:12px;
    letter-spacing:0;
    line-height:15px;    
}

.listTitle {
    font-weight:bold;
    padding:5px 0 6px 0;
}

ul.linkList hr {
    color:#DDEEEE;
    border-top:1px solid;
    border-bottom:0;
    border-left:0;
    border-right:0;
}

select {
    border:1px solid #808080;
    font-size:10px;
    padding:1px;
}

.findBox select {
    width:195px;
}

#compareBox, #achievementBox {
    position:relative;
    height:130px;
    width:275px;
}
#compareBox img, #achievementBox img{
    position:absolute;
    top:4px;
    left:0;
}

div.boxText {
    position:absolute;
    top:0;
    left:10px;
    font-family:"Trebuchet MS",Arial,sans-serif;
    font-size:15px;
}

#achievementContent div.boxText {
    position:relative;
    left:0;
}

div.boxText span {
    color:#99CC67;
    font-weight:bold;
}

#achievementBox #achievementContent {
    position:absolute;
    top:0;
    left:15px;
}


#achievementContent select#achievementCities {
    position:relative;
    top:10px;
}

#achievementContent div#schools {
    position:relative;
    top:27px;
}

#achievementBox #goAchieve {
    position:relative;
    top:-5px;
    left:210px;
}

#compareBox select#compareCities {
    position:absolute;
    top:30px;
    left:15px;
}

#compareBox select#compareLevels {
    position:absolute;
    top:65px;
    left:15px;
}

#compareBox input#goCompare {
    position:absolute;
    left:225px;
    top:52px;
}

#schools {
    position:absolute;
    top:50px;
}

img#learnTitle {
    padding:1px 0 2px 0;
}

div#alert {
    margin: 0 0 5px 0;
    border-top:3px solid #DDEEEE;
    border-bottom:3px solid #DDEEEE;
    position:relative;
    height:50px;

}

div#alert img {
    position:absolute;
    top:10px;
    left:11px;
}

div#alert div {
    position:relative;
    width:550px;
    top:10px;
    left:50px;
}

div#alert div span.alert1 {
    display:block;
    color:#CC5566;
    font-weight:bold;
}


div#alert div span.alert2 {
    font-size:12px;
    font-weight:normal;
    color:#555555;
}

div#learnBox .infohead {
    color:#99CC67;
    font-size:15px;
    font-family:"Trebuchet MS",Arial,sans-serif;
    font-weight:bold;
    margin:0 0 15px 0;
}

div#learnBox ul {
    width:250px;
    margin:0 0 10px 20px;
}

div#learnBox li {
    list-style-image:url(/res/img/bullet/pinkarrow.gif);
    padding:0 0 10px 0;
}

div#learnBox a {
    float:right;
    text-decoration:underline;
    color:#3399AA;
}

h1.sfooter {
    font-family:"Trebuchet MS",Arial,sans-serif;
    font-size:12px;
    color:#666666;
}