.js-overlay {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:#FFFFFF;;
    opacity: 0.0;
    filter: alpha(opacity = 0);
    zoom: 1;
    display: none;
    /*z-index: 4;*/
}

.horizon {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    /*z-index: 5;*/
}