html {
    margin:0;
    padding:0;
    border:0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside,  figure, footer, header,
hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.chooser-pb{
    page-break-after: always;
}

div.divFooter {
    font:normal 6pt Arial, Helvetica, sans-serif;
    color:#878787;
    position: running(divFooter);
}
div.divFooter .logo{
    width:90px;
    vertical-align: middle;
}
div.dateFooter {
    position: running(dateFooter);
}

@page {
@bottom-center{
        font:normal 7pt Arial, Helvetica, sans-serif;
        content: counter(page);
    }
@bottom-left{
        content:   element(dateFooter );
    }
@bottom-right{
        content:   element(divFooter );
    }
    }

body	{
    font:normal 7pt Arial, Helvetica, sans-serif ;
}

h1	{
    color:#0578AA;
    font-size: 12pt;
    font-weight:normal;
    line-height:120%;
    padding-bottom:10px;
}

h2	{
    color:#0578AA;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-top:1.5em;
    font-weight: bold;
}
h2.smallMargin { margin-top:.5em; }

p	{
    font-weight: normal;
    line-height:140%;
    margin:0 0 1em 0;
}

ul	{
    line-height:140%;
    margin:0;
    padding: 0;
    /*padding-left:12px;*/
    list-style-type:none;
}

.bd_column	{
    float:left;
    width:27%;
    margin-bottom:.5em;
    padding-right: 50px;
}


.fl	{ float:left; }
.fr	{ float:right; }

.strong	{ font-weight:bold; }
.uppercase	{ text-transform:uppercase; }
.capitalize { text-transform: capitalize; }

hr	{
    border:solid 1px #BBBBBB;
    margin:0 0 0 0;
    padding:0 0 0 0;
    clear:both;
}

hr.rulethin	{
    width:100%;
    border:solid 1px #EEEEEE;
    margin:0 0 0 0;
    padding:0 0 0 0;
    clear:both;
}

.mbm, .mvm {margin-bottom: 10px;}
.mtm, .mvm {margin-top: 10px;}

.pb15 {padding-bottom: 15px;}
.pvRatingSpacer{padding: 0px 30px 0 20px; }
.ptsRatingGS { padding:5px 0 0 0 ;font:normal 6pt Arial, Helvetica, sans-serif ; }

.tac { text-align:center; }
.plm { padding-left:10px; }
.dn {display:none;}

.header-left-width{ width:455px; }
.header-left-component{ width:160px; padding-right: 10px;}

.header-vertical-border-l { border-left: 1px solid #EEEEEE; }
.header-vertical-border-r { border-right: 1px solid #EEEEEE; }

/* **************** SPRITE ***************** */

.iconx60-orange {
    display: inline-block;
    background-image: url(/res/img/pdfChooser/x72/72x72_3x_badges_orange.png);
    background-size: 660px 60px;
    width: 60px;
    height: 60px;
}

.iconx60-orangePrivate {
    display: inline-block;
    background-image: url(/res/img/pdfChooser/x72/72x72_3x_badges_private_orange.png);
    background-size: 660px 60px;
    width: 60px;
    height: 60px;
}

.iconx60-RYG {
    display: inline-block;
    background-image: url(/res/img/pdfChooser/x72/72x72_3x_badges.png);
    background-size: 660px 60px;
    width: 60px;
    height: 60px;
}

.iconx60-RYGPrivate {
    display: inline-block;
    background-image: url(/res/img/pdfChooser/x72/72x72_3x_badges_private.png);
    background-size: 660px 60px;
    width: 60px;
    height: 60px;
}

.iconx60-preschool {
    display: inline-block;
    background-image: url(/res/img/pdfChooser/x72/72x72_3x_preschool.png);
    background-size: 660px 60px;
    width: 60px;
    height: 60px;
}

/* **************** VIEWPORT ***************** */

/* row 0 */

.i-60-1 {
    background-position: 0 0;
}

.i-60-2 {
    background-position: -60px 0;
}

.i-60-3 {
    background-position: -120px 0;
}

.i-60-4 {
    background-position: -180px 0;
}

.i-60-5 {
    background-position: -240px 0;
}

.i-60-6 {
    background-position: -300px 0;
}

.i-60-7 {
    background-position: -360px 0;
}

.i-60-8 {
    background-position: -420px 0;
}

.i-60-9{
    background-position: -480px 0;
}

.i-60-10{
    background-position: -540px 0;
}
.i-60-NR{
    background-position: -600px 0;
}


.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
    zoom: 1;
}