body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 13px;
}

#pageWrapper #main{
    float:left;
    width:650px;
}

#pageWrapper #contentRight{
    float:left;
    width:300px;
}

#intro{
    font-size: 13px;
    width:550px;
    border-left:1px solid #66CCCC;
    border-right:1px solid #66CCCC;
    border-bottom:1px solid #66CCCC;
}
#introTab{
    background-color:#66CCCC;
}

#introTab ul.horizontalList li {
    background-color:white;
    margin: 0 5px 0 5px;
    display: inline;
    font-size: 13px;
    font-weight:bold;
}

.introText{
    margin:0 15px 10px 15px;
    position:relative;
}

#intro h3{
    margin-top:8px;
    margin-bottom:6px;
    color:#D66671;
    font-size:18px;
}

.districtName{
    font-size: 25px;
    font-weight:bold;
    color:white;
    padding-left:20px;
}

div.introText ul.horizontalList{
    margin-top:10px;
    margin-bottom:10px;
}

div.introText ul.horizontalList li{
    display: inline;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;

}
.firstLink{
    border-right: 1px solid #888;
}

#intro div.introText a{
    text-decoration:underline;
}

 .transparent {
    display:none;
    position:absolute;
    border:1px solid #66CCCC;
    z-index: 9001;
}

#ratingAndInfo{
    height:100px;
    border: red solid medium;
}

#browseSchools{
}

#compareSchools{
    height:50px;
    border: red solid medium;
}
#parentReviews{
}

#ad{
    height:150px;
}

#houseAd{
    height:150px;
}



.outer {
background-image:url(/res/img/schoolChoice/schoolchoice_poll_top.gif);
background-position:left top;
background-repeat:no-repeat;
padding-top:6px;
}

.inner {
background-color:transparent;
background-image:url(/res/img/schoolChoice/schoolchoice_pol_sides.gif);
background-position:left top;
background-repeat:repeat-y;
padding:6px 16px;
}

#nearByDistricts,#citySnapShot {
background-image:url(/res/img/schoolChoice/schoolchoice_poll_bottom.gif);
background-position:left bottom;
background-repeat:no-repeat;
padding-bottom:6px;
}

/* BEGIN Recent Parent Reviews */
div.recentParentReviews {
    padding: 6px 0 0 0;
    margin: 10px 0 0 0;
    border-top: 1px solid #DDD;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

.recentParentReviews h2 {
    color:#FFFFFF;
    padding: 2px 0 2px 5px;
    background-color:#66CCCC;
    font-size: medium;
    font-weight: 700;
    text-align: left;
}

div.recentParentReviewsContent {
    margin: 0;
    padding: 0 5px;
}

div.recentParentReviews table tr td {
    padding: 0 0 3px 0;
}

.recentParentReviews h5 {
    font-size: 11px;
    font-style: italic;
    color: #999;
    background-image: url(/res/img/community/bell.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 17px;
}

.recentParentReviews .stars {
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
    padding-top: 3px;
}

.recentParentReviews h4 {
    padding-top: 5px;
    font-size: small;
}

.recentParentReviews p {
    font-size: small;
}

.dottedLineBottomBox {
    border: 0 solid #DDDDDD;
    padding-bottom:3px;
    border-bottom-width: 1px;
    margin-bottom: 3px;
}

/* END Recent Parent Reviews */

/* BEGIN google map */

div#mapHeader {
    background-color: #66CCCC;
    height: 25px;
    width: 551px;
}

div#mapHeader h3 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
}

div#map {
    height: 300px;                
    width: 551px;
}

/* END google map */