body{
    color: #666666;
    font-size: 12px;
}
#bodyContents {
    clear:both;
    margin: 20px auto 0;
    overflow:hidden;
    text-align:left;
    width:864px;
}
#main{
    float:left;
    width:550px;
    margin: 0;
}
#contentRight{
    float:left;
    width:300px;
    margin: 0 0 0 14px;
}


.headerTab{
    background-color:#8ACACA;
}

#contentRight #House_Ad_300x137 {
    margin-top: 10px;
}


/* BEGIN boilerplate module*/

#intro{
    font-size: 12px;
    border-left:1px solid #8ACACA;
    border-right:1px solid #8ACACA;
    border-bottom:1px solid #8ACACA;
}

#districtTabs table{
    /*margin-left:10px;*/
}

#districtTabs td a{
    font-size: 12px;
    font-weight:bold;
    position:relative;
    top:4px;
}

#districtTabs td a:hover{
    text-decoration:none;
}
#districtTabs table td {
    height: 29px;
}

#districtTabs .backgroundOn{
    background:url(/res/img/district/tabs_Right_on_02.gif) repeat-x;
}

#districtTabs .backgroundOn a{
    color:#666666;
    padding-left:6px;
    padding-right:6px;
}

#districtTabs .backgroundOff{
    background:url(/res/img/district/tabs_Right_off_02.gif) repeat-x;
    padding-left:5px;
    padding-right:5px;
}

#intro .introText{
    margin:0 15px 10px 12px;
    font-size: 13px;
}

#intro h3{
    margin-top:8px;
    margin-bottom:6px;
    color:#D66671;
    font-size:18px;
}

#intro h2{
    font: bold 25px Arial, sans-serif;
    color:white;
    padding-left:12px;
    padding-top:5px;
}

#intro div.headerNoTab{
    padding-bottom:8px;
    background-color:#8ACACA;
}


ul.horizontalList{
    margin-top:10px;
}

ul.horizontalList li{
    display: inline;
    font-size:12px;
}

div.introText ul.horizontalList li.borderedLink{
    border-left: 1px solid #666666;
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
}

#intro div.introText a{
    text-decoration:underline;
}

#innaccuracyLink{
    margin-top:10px;
}

.letUsKnow{
    font-style:italic;
}

div#keyTermDefinitions{
    margin-top:7px;
}
/* END boilerplate module*/

/* BEGIN Quickfacts*/

#ratingAndInfo{
    margin:10px 0 10px 0;
}
#rating{
    width:40%;
    padding: 0 7px 0 0;
}

#address{
    width:30%;
    padding: 0 7px 0 11px;
    line-height:15px;
    border-left: 1px solid #DDDDDD;
}

.noWrapping{
    white-space:nowrap;
}

#info{
    width:30%;
    padding: 0 0 0 12px;
    line-height:15px;
    border-left: 1px solid #DDDDDD;
    vertical-align:top;
}

#address {
    vertical-align: top;
}

#

/* END Quickfacts*/

#browseSchools{
    margin-top: 15px;
    margin-bottom: 15px;
}

#compareSchools{
    margin-top: 15px;
    margin-bottom: 15px;
}


#ad_top #AboveFold_300x250{
    border-top:none;
    margin-top: 0;
    padding-top:10px;
}

/* BEGIN Recent Parent Reviews */
div.recentParentReviews {
    padding: 6px 0 0 0;
    margin: 10px 0 0 0;
    font-family: Arial, Arial, sans-serif;
}

.recentParentReviews h2 {
    color:#FFFFFF;
    padding-left:11px;
    background-color:#8ACACA;
    font-size: medium;
    font-weight: 700;
    text-align: left;
    height:25px;
    font-family: Arial, sans-serif;
}

div.recentParentReviewsContent {
    margin: 0;
    padding: 0 5px;
}

div.recentParentReviews table tr td {
    padding: 0 0 3px 0;
}

.recentParentReviews h5 {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    color: #999;
    background-image: url(/res/img/community/bell.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 17px;
    margin: 0 0 6px;
}

.recentParentReviews .stars {
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
    padding-top: 3px;
}

.recentParentReviews h4 {
    padding-top: 5px;
    font-size: small;
    font-weight:bold;
    font-family: Arial, sans-serif;
    margin: 0;
}

.recentParentReviews p {
    font-size: small;
}

div.recentParentReviewsContent table{
    padding-bottom:6px;
    border-bottom: 1px solid #DDDDDD;

}

.dottedLineBottomBox {
    border-bottom: 1px dotted #DDDDDD;
    padding-bottom:7px;
}

/* END Recent Parent Reviews */

/* BEGIN google map */

div#mapHeader {
    background-color: #8ACACA;
    height: 25px;
}

#contentGS div#mapHeader h3{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding-left: 11px;
}

div#map {
    height: 300px;    
    border-left:1px solid #8ACACA;
    border-right:1px solid #8ACACA;
}

div#mapFooter {
    border-bottom: #8ACACA solid 1px;
    border-left:1px solid #8ACACA;
    border-right:1px solid #8ACACA;
    padding: 5px;
}

div#mapFooter li {
    display: inline;
    margin-right: 15px;
}

div#mapFooter li label {
    position: relative;
    top: -2px;
}

div#mapFooter input {
    margin: 3px;
}
div#mapFooter span#mapFooterKey {
    float: left;
    margin-right: 10px;
    font-size:13px;
}

* html div#mapFooter span#mapFooterKey {
    position:relative;
    top:4px;
}

* + html div#mapFooter span#mapFooterKey {
    position:relative;
    top:4px;
}

div#schoolBrowseLinks {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:13px;
}

div.schoolInfo address, div.schoolInfo p.schoolPhone {
    font-size: 11px;
}

/* END google map */

/* BEGIN compare schools */
div#compareSchoolsHeader {
    padding-bottom:3px;
}

#contentGS div#compareSchoolsHeader h3 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding-left: 11px;
}

div#compareSchools{
    position:relative;
}

div#compareSchools img{
    position:absolute;
    top:20px;
    left:500px;

}
form#compareSchoolsForm input {
    margin-top: 5px;
    margin-bottom: 5px;
}

form#compareSchoolsForm input {
    margin-right: 4px;
    margin-left: 4px;
}

form#compareSchoolsForm label {
    position: relative;
    top: -2px;
    margin-right: 15px;
}

* + html form#compareSchoolsForm label{
    top: -6px;
}

* html form#compareSchoolsForm label{
    top: -5px;
}

form#compareSchoolsForm input#compareSchoolsFormSubmit {
    position: relative;
    top: 7px;
}

* + html form#compareSchoolsForm input#compareSchoolsFormSubmit {
    top: 4px;
}

* html form#compareSchoolsForm input#compareSchoolsFormSubmit {
    top: 4px;
}
/* END compare schools */

/* BEGIN breadcrumbs */
#breadcrumbs {
	margin: 0 0 10px 1px;
}

#breadcrumbs ul li {
	font: 11px Arial, Arial, sans-serif;
	color: #888;
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

#breadcrumbs ul li a {
	text-decoration: underline;
	color: #888;
}
/* END breadcrumbs */


/* BEGIN top rated schools*/

#contentRight div.dottedLineBottomBox {
    padding-bottom: 4px;
    padding-top: 4px;
    border: 0 dotted #DDD;
    border-bottom-width: 1px;
    margin-bottom: 3px;
    width:268px;
}

#citySnapshotHeader h4{
    color:#999999;
    font-size:14px;
    font-weight:bold;
}


#nbTable .leftHeader{
    color:#999999;
    font-size:x-small;
    font-weight:bold;
    margin-bottom:8px;
    margin-top:10px;

}

.rightHeader{
    text-align:right;
    padding-left:7px;
    color:#999999;
    font-size:x-small;
    font-weight:bold;
    margin-bottom:8px;
    margin-top:10px;

}
#contentRight #nbTable .nameAndRating td {
    padding: 7px 0 4px;
    vertical-align: top;
}
#contentRight .name{
    font-size:13px;
    font-weight:bold;
    margin-right:5px;
}

#contentRight .rating{
    text-align: right;
    height: 18px;
}

/*#contentRight h3{
    margin-top:8px;
    margin-bottom:6px;
    color:#D66671;
    font-size:18px;
}*/

#citySnapShot {
    background:#fff url(/res/img/district/district_page_rightbox_bottom.gif) 0 100% no-repeat;
    padding-bottom:6px;
    margin-top:10px;
}
#citySnapshotHeader {
    background: #fff;
    width: 274px;
}
#contentRight #tpsTable th  {
    font: bold 10px/1 Arial, sans-serif;
    color: #999;
    padding: 7px 0 4px;
    text-align: right;
    vertical-align: top;

}
#contentRight #tpsTable th.col1 {
    text-align: left;
    width: 202px;
    background: #fff;
}
body.ie #contentRight #tpsTable, body.ie #contentRight #nbTable {
    width: 274px;
}
#contentRight #nbTable th.col1 {
    text-align: left;
    width: 192px;
    vertical-align: top;
}
#contentRight #tpsTable th.col2, #contentRight #nbTable th.col2 {
    width: 63px;
    padding-right: 5px;
    vertical-align: top;
}
#contentRight #tpsTable td {
    border-bottom: 1px dotted #ddd;
    padding: 7px 0 4px;
    vertical-align: top;
    font: bold 13px Arial, sans-serif;
    background: #fff;
}
#contentRight #tpsTable .rating {
    text-align: right;
    width: 58px;
    padding-right: 5px;
    float: none;
}
#citySnapshotHeader img{
    text-align:right;
}

.outer {
    background-image:url(/res/img/district/district_page_rightbox_top.gif);
    background-position:left top;
    background-repeat:no-repeat;
    padding-top:6px;
}

.inner {
    background-color:transparent;
    background-image:url(/res/img/district/district_page_rightbox_sides.gif);
    background-position:left top;
    background-repeat:repeat-y;
    padding:2px 0 6px 16px;
}

/* END top rated schools */

/* BEGIN nearby districts module*/

#nearbyDistricts{
    background-image:url(/res/img/district/district_page_rightbox_bottom.gif);
    background-position:left bottom;
    background-repeat:no-repeat;
    padding-bottom:6px;
    margin: 10px auto;
}

#nearbyDistricts div.nameAndRating{
    width:268px;
}
#nearbyDistrictsHeader{
    height:50px;
}

/* END nearby districts module*/

div#districtHomeFooter{
padding-top:20px;
margin-top:20px;
clear:both;
}


