#contentGS {
    position: relative;
}

#main {
    width: 638px;
    position: relative;
    margin-top: 2px;
    margin-bottom:2px;
}

#contentRight {
    width: 300px;
    position: absolute;
    right: 0;
    top: 2px;
}

#contentGS h3 {
    font-size: 18px;
    color: #D66671;
}

#contentGS .linksTextList {
    font-size: 13px;
}

.linksDivider {
    border-bottom: 2px dotted #CCCCCC;
    height: 0;
    margin: 6px 0;
}

.linksDivider hr {
    display: none;
}

.additionalLinks {
    font-size: 12px;
}

.underlineText{
    text-decoration:underline;
}
/* Start game plan module*/

#gamePlan {
    height: 366px;
    width: 638px;
    font-family: Arial;
    color: #FFF;
    font-size: 12px;
}

#contentGS #gamePlan a {
    color:#FFF;
}

#engagedTopImg {
    position: absolute;
    left: 0;
    top: 0;
}

#prepTopImg {
    position: absolute;
    left: 212px;
    top: 0;
}

#smartTopImg {
    position: absolute;
    left: 426px;
    top: 0;
}

div#engagedContent,div#smartContent,div#prepContent {
    background-color: #118CA6;
    position: absolute;
    top: 175px;
    height: 190px;
    padding-left: 8px;
    padding-right: 8px;
}

#engagedContent {
    left: 0;
    width: 194px;
    background:url("/res/img/backToSchool/b2s_gp_engage_bottom.jpg") no-repeat bottom;
}

#prepContent {
    width: 194px;
    left: 214px;
    background:url("/res/img/backToSchool/b2s_gp_prep_bottom.jpg") no-repeat bottom;
}

#almostHere{
 margin-top:10px;
}

div#smartContent {
    width: 193px;
    left: 428px;
    background:url("/res/img/backToSchool/b2s_gp_smart_bottom.jpg") no-repeat bottom #118CA6;
}

#engagedBottomImg {
    left: 0;
    position: absolute;
    bottom:0;
}

#prepBottomImg {
    left: 212px;
}

#smartBottomImg {
    left: 426px;
}

.smartText{
    position:absolute;
    top:10px;
    left:116px;
    font-weight: bold;
    font-size: 14px;
    width:80px;
}

#smartContent a.underlineText{
    text-decoration:underline;
    font-size: 12px;
    font-weight:normal;
}

#contentGS .shopText{
    font-weight: bold;
    font-size: 12px;
    margin-top:6px;
}


#shopSmartSponsor{
    position:absolute;
    left: 0;
    top:154px;
}

#contentGS .gamePlanBoldText {
    margin-top:6px;
    font-weight: bold;
    font-size: 14px;
}

#suppliesArticles {
    margin-top: 6px;
    color:#666666;
}

/* End game plan module*/

#tipOftheDay {
    width: 312px;
    height: 250px;
}

/*start Mom on fire*/

#momOnFire {
    width: 312px;
    height: 250px;
    position: absolute;
    right: 0;
    top: 388px;
    background: url( /res/img/backToSchool/bts_mom_on_fire_bg.jpg ) no-repeat;
    color: #FFF;
    font-family: Arial;
}

.momWrapper {
    padding: 14px 20px 20px 20px;
}

.blogHeader {
    font-size: 18px;
}

.blogTitle {
    font-family: "Georgia";
    font-size: 14px;
    margin-top: 10px;
}

.blogContent {
    font-size: 13px;
    width: 150px;
    margin-top: 10px;
}

.blogLink {
    font-size: 13px;
    margin-top: 10px;
}

#momOnFire div.blogLink a{
    color:white;
    text-decoration: underline;
}

#momSponsor{
    margin-top:10px;
    height:45px;
    text-align:left;
    width:97px;
    margin-left:0;
    padding-left:0;
}
/*end Mom on fire*/

#hotProducts {
    width: 638px;
    height: 227px;
    padding-top:14px;
}

#quiz {
    width: 312px;
    height: 250px;
}

/*start community */

#community {
    width: 312px;
    height: 250px;
    position: absolute;
    right: 0;
    top: 893px;
    background: url( /res/img/backToSchool/b2s_community_bg.jpg ) no-repeat;
    line-height:18px;
}

.communityWrapper {
    padding: 17px 20px 0 21px;
}

#contentGS #community ul {
    margin-top: 10px;
}

#community .additionalLinks {
    text-align: right;
}

/*end community */

#quiz {
    margin-top: 14px;
}

.divider {
    border-bottom: 2px dotted #CCCCCC;
    height: 0;
    margin: 10px 0;
}

.divider hr {
    display: none;
}

#pledge {
    width: 300px;
    height: 250px
}



