#contentGS h3 {
    font-size: 18px;
    color: #D66671;
}

#contentGS .linksTextList {
    font-size: 13px;
    color: #3399AA;
}

.linksDivider {
    border-bottom: 2px dotted #CCCCCC;
    height: 0;
    margin: 6px 0;
}

.linksDivider hr {
    display: none;
}

.additionalLinks {
    font-size: 12px;
    color: #3399AA;
}

/*Start popular artiicles*/

#popularArticles {
    margin-top: 14px;
    background: url( /res/img/backToSchool/b2s_most_popular_bg.jpg ) no-repeat;
    padding: 17px 20px 20px 18px;
    position: relative;
    line-height:18px;
    width:260px;
    height:215px;
}

.popularArticlesImage {
   float:left;
   border-right: 10px solid white;
}

.articles {
    margin-top: 10px;
}

#popularArticles .additionalLinks {
    text-align: right;
}

/*End popular artiicles*/
