/*Start popular artiicles*/

#popularArticles {
    margin-top: 20px;
    background: url( /res/img/backToSchool/b2s_most_popular_bg.jpg ) no-repeat;
    padding: 15px 20px 20px 20px;
    position: relative;
}

.popularArticlesImage {
    float: left;
    border-right: 10px solid white;
}

.articles {
    margin-top: 10px;
}

#popularArticles .additionalLinks {
    text-align: right;
}

/*End popular artiicles*/
