body {
    text-align: center;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

#coregHeader {
    background-color: #DDEEEE;
    padding: 5px 0 27px 0;
    /* GS-4620 */
    /*margin-bottom: 15px;*/
}

h1 {
    color: #3399AA;
    font-size: 21px;
    font-weight: 500;
    margin: 0 auto 0 auto;
    text-align: left;
    width: 708px;
}

#newslettersList {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    position: relative;
}

ul {
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
    color: #666666;
    padding: 0;
    margin: 0 0 5px 25px;
}

ul li {
    vertical-align: middle;
    width: 290px;
}

ul#rightNewsletterList {
    position: absolute;
    top: 0;
    left: 305px;
    list-style-position: inside;
}

ul#rightNewsletterList li {
    width: 270px;
}

#coregFooter {
    position: relative;
    width: 600px;
    height: 41px;
    margin: 0 auto 0 auto;
}

a, a:hover, a:visited, a:active {
    color: #3399AA;
    text-decoration: underline;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 12px;
    left: 25px;
}

img#logo {
    position: absolute;
    top: -4px;
    right: 75px;
}