#marginGS {
    margin:0;
    padding:0;
    width: 480px;
}

.header {
    height:135px;
    background-color: #DEE;
}

.header .left {
    float:left;
    color: #39A;
    font-size: 18px;
    line-height: 22px;
    font-weight:100;
    margin-top:80px;
    padding-left:8px;
}

.header .right {
    float:right;
    background-color: #FFF;
}

.subhead {
   font-size:13px;
   font-weight:bold;
   padding:0 0 15px 15px;
}

.smallLink {
    padding-left: 1em;
    font-size: 10px;
}

.bigLink {
    font-weight:bold;
    font-size:13px;
}

.promo h1 {
    font-size: 23px;
    line-height: 26px;
    color: #39A;
    font-weight:normal;
    margin-bottom:0;
}

.promo h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #39A;
}

#raveText {
    padding:0;
    margin:0 0 5px 0;
}

#raveText, .promo h3, h3#updates {
    margin-top: 10px;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
}

h3#updates {
    padding-bottom:0;
    margin-bottom:0;
}

#nonPrivateMsg {
    margin-bottom:6px;
    font-size:12px;
    font-weight:normal;
}

.promo h3.gradebygrade {
    margin:0 0 5px 0;
    padding:0 0 0 15px;
    font-size: 22px;
    line-height: 26px;
    color:#39A;
    font-weight: bold;
}

.privacy {
    font-size: smaller;
    margin-left: 11.5em;
    margin-top:0;
    clear:left;
}

.cbx {
    padding: 0.5em 0 0.5em 0;
}
.email {
    padding: 1em 0 1em 1em;
    position:relative;
    clear:both;
}

.email #email {
    height: 13px;
}

.quote {
    padding-top: 1em;
    padding-bottom:1em;
    font-size: 13px;
}

.quote .quotee {
    margin-left: 15em;
    margin-top: 0.5em;
}

.grayTop {
    border-top: dotted 2px #CCC;
}

#manage {
    margin: 10px 0 10px 26px;
}

.pLR div#sponsor {
    position: absolute;
    top: 15px;
    left: 30px;
    font-weight: bold;
}

#sponsor input {
    margin-right: 7px;
}

.pLR p {
    padding:0 0 0 0;
    margin:0 0 0 0;
    font-weight:bold;
}

#blockMessage {
    background-color: #DEE;
    height: 85px;
    margin-top:-14px;
    padding:10px;
}

#blockMessage h1{
    color: #39A;
    font-size: 18px;
    line-height: 22px;    
    font-style:normal;
    padding:0.5em;
    font-weight:500;
}

li {
    list-style-type:disc;
    list-style-position:inherit;
}

.error {
    color: #C56;
    margin-left: 12px;
}

.btnSignUp {
    margin-top:10px;
}

.centered {
    text-align:center;
}

.pLR {
    position: relative;
    padding: 3em 1em 0 1em;
}

.pTB {
    padding: 1em 0 1em 0;
}

.signMeUp {
    padding-top:2em;
}

div.signupText {
    padding:0 0 0 15px;
    font-size:15px;
    font-weight:bold;
}