#marginGS {
    margin:0;
    padding:0;
    font-family: Helvetica, Arial, sans-serif;
    font-size:12px;
    width: 480px;
    text-align:left;
    color:#666666;
}

.header {
    height:135px;
    background-color: #669ACC;
}
.header .left {
    float:left;
    color: #ffffff;
    font-size: 18px;
    font-weight:100;
    margin-top:80px;
    padding-left:8px;
}

.header .right {
    float:right;
    background-color: #ffffff;
    padding-left:10px;
}

.subhead {
   font-size:13px;
   font-weight:bold;
   color:#666666;
   padding:0 0 15px 15px;
}

a:link,
a:visited,
a:active {
    text-decoration: underline;
    color: #669acc;
    font-weight:bold;
}

.smallLink {
    padding-left: 1em;
    font-size: 10px;
}

.bigLink {
    font-weight:bold;
    font-size:12px;
}

.promo h1 {
    font-size: 23px;
    color: #0066cc;
    font-weight:normal;
    margin-bottom:0;
}

.promo h2 {
    font-size: 18px;
    font-weight: normal;
    color: #0066cc;
}

#raveText {
    padding:0;
    margin:0 0 5px 0;
}

#raveText, .promo h3, h3#updates {
    margin-top:0;
    font-size: 15px;
    font-weight: bold;
}

h3#updates {
    padding-bottom:0;
    margin-bottom:0;
}

#nonPrivateMsg {
    margin-bottom:10px;
    font-size:12px;
    font-weight:normal;
}

.promo h3.gradebygrade {
    margin:0 0 5px 0;
    padding:0 0 0 15px;
    font-size: 22px;
    color:#3399AA;
    font-weight: bold;
}

.privacy {
    font-size: smaller;
    margin-left: 11.5em;
    color: #666666;
    margin-top:0;
    clear:left;
}

.cbx {
    padding: 0.5em 0 0.5em 0;
}
.email {
    padding: 1em 0 1em 1em;
    position:relative;
    clear:both;
}

.quote {
    padding-top: 1em;
    padding-bottom:1em;
    font-size: 13px;
    color: #666666;
}

.quote .quotee {
    margin-left: 15em;
    margin-top: 0.5em;
}

.blueTop {
    border-top: dotted 2px #0066cc;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.grayTop {
    border-top: dotted 1px #666666;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

td {
    color:#666666;
}

.pLR p {
    padding:0 0 0 0;
    margin:0 0 0 0;
    font-weight:bold;
}

#blockMessage {
    background-color: #669ACC;
    height: 85px;
    margin-top:-14px;
    padding:10px;
}

#blockMessage h1{
    color: #ffffff;
    font-size: 18px;
    font-style:normal;
    padding:0.5em;
    font-weight:500;
}
li {
    list-style-type:disc;
    list-style-position:inherit;
}

.error {
    color:red;
    margin-left: 8em;
}

.btnSignUp {
    margin-top:10px;
}

.centered {
    text-align:center;
}

.pLR {
    padding: 0 1em 0 1em;
}

.pTB {
    padding: 1em 0 1em 0;
}

.signMeUp {
    padding-top:2em;
}

div.signupText {
    padding:0 0 0 15px;
    font-size:16px;
    font-weight:bold;
    color:#666666;
}

.greyText, input {
    color:#666666;
}