table#nthgraderfields{
   padding-left: 13px;
}

table#nthgraderfields td{
   padding:0 7px 8px 0;
   font-weight:bold;
}

table#nthgraderfields td#left, table#nthgraderfields td#right{
    padding:10px 0 10px 0;
}

table#nthgraderfields div#ldiv {
    padding:0 37px 10px 0;
    margin:0 20px 0 0;
    border-right:1px solid #AAAAAA;
}

table#nthgraderfields div#rdiv {
    padding:0 0 10px 20px;
}

.aquaText {
    font-weight: normal;
    color: #39a;
}