#navbar {
    margin: 0;
    padding: 0;
    height: 44px;
    z-index: 1000;
}
#navbar li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right; }
#navbar li a.topnav {
    display: block;
    float:right;
    width:44px;
    height: 44px;
    border-left: solid 1px #2092C4;
    border-right: solid 1px #79BEDC }
#navbar li a.topnav:hover{
    background-color: #79BEDC; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#2092C4), color-stop(10%,#79BEDC)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #2092C4 100%, #79BEDC 10%); /* Chrome10+,Safari5.1+ */
    background-image:    -moz-linear-gradient(top,  #2092C4 100%, #79BEDC 10%); /* FF3.6+ */
    background-image:     -ms-linear-gradient(top,  #2092C4 100%, #79BEDC 10%); /* IE10+ */
    background-image:      -o-linear-gradient(top,  #2092C4 100%, #79BEDC 10%); /* Opera 11.10+ */
    background-image:         linear-gradient(top,  #2092C4 100%, #79BEDC 10%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF2092C4', endColorstr='#FF79BEDC',GradientType=0 ); /* IE6-9 */ }
#navbar li ul {
    float: left;
    width:100%;
    display: none;
    border:solid 1px #79BEDC;}
#navbar li:hover ul, #navbar li.hover ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top:44px;
    left:0;
    z-index: 3;
}
#navbar li:hover li, #navbar li.hover li {
    float: none;
    background:#FFF;
    height: 44px;border-bottom:solid 1px #E2F1F7;}

#navbar li:hover  a li, #navbar li.hover  a li {
    padding-left: 10px; line-height: 44px; width: 100%}
#navbar li li a:hover {
}
#navbar li:hover li:hover, #navbar li.hover li.hover { }